:host { 
  display: contents; 
}
 
.recruiter-job-posted-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.recruiter-job-posted-recruiter-job-posted-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 112px;
  display: flex;
  padding: 24px;
  align-self: center;
  border-color: #E6E2E6;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.recruiter-job-posted-job-posted-text {
  width: 71px;
  height: 24px;
  display: flex;
  font-size: 13px;
  font-style: normal;
  text-align: center;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}
 
.recruiter-job-posted-number-of-job-posted-text {
  fill: #18191C;
  color: #18191C;
  width: 110px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-job-posted-fragment1 {
  display: contents;
}
 
.recruiter-job-posted-text1 {
  display: inline-block;
}
 
.recruiter-job-posted-fragment2 {
  display: contents;
}
 
.recruiter-job-posted-text2 {
  display: inline-block;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 991px) {
  .recruiter-job-posted-recruiter-job-posted-container {
    width: 200px;
  }
  .recruiter-job-posted-job-posted-text {
    font-size: 12px;
    justify-content: flex-start;
  }
  .recruiter-job-posted-number-of-job-posted-text {
    display: flex;
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }
}
 
@media(max-width: 767px) {
  .recruiter-job-posted-container {
    width: 100%;
  }
  .recruiter-job-posted-recruiter-job-posted-container {
    width: 100%;
  }
  .recruiter-job-posted-job-posted-text {
    font-size: 10px;
  }
  .recruiter-job-posted-number-of-job-posted-text {
    font-size: 12px;
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .recruiter-job-posted-container {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .recruiter-job-posted-recruiter-job-posted-container {
    width: 100%;
    align-items: center;
  }
  .recruiter-job-posted-job-posted-text {
    justify-content: center;
  }
  .recruiter-job-posted-number-of-job-posted-text {
    justify-content: center;
  }
}
