:host { 
  display: contents; 
}
 
.recruiter-profile1-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.recruiter-profile1-recruiter-profile-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 262px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 24px;
  border-color: #E6E2E6;
  border-width: 1px;
  padding-left: 24px;
  border-radius: 8px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.recruiter-profile1-recruiter-image {
  width: 104px;
  height: 104px;
  display: flex;
  align-self: center;
  object-fit: cover;
  border-color: #D9D9D9;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
}
 
.recruiter-profile1-details-container {
  gap: 3px;
  flex: 0 0 auto;
  width: 152px;
  height: 102px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-profile1-recruiter-name {
  fill: #18191C;
  color: #18191C;
  width: 128px;
  height: 24px;
  display: flex;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}
 
.recruiter-profile1-container2 {
  gap: 4px;
  flex: 0 0 auto;
  width: 76px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
 
.recruiter-profile1-company-image {
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  object-fit: cover;
  align-items: center;
}
 
.recruiter-profile1-company-name {
  width: 56px;
  height: 24px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 700;
  justify-content: flex-start;
}
 
.recruiter-profile1-job-role-of-recruiter {
  fill: #18191C;
  color: #18191C;
  width: 152px;
  height: 48px;
  display: flex;
  font-size: 14px;
  align-self: center;
  text-align: center;
  align-items: center;
  line-height: 20px;
  justify-content: center;
}
 
.recruiter-profile1-fragment1 {
  display: contents;
}
 
.recruiter-profile1-fragment2 {
  display: contents;
}
 
.recruiter-profile1-fragment3 {
  display: contents;
}
 
.recruiter-profile1root-class-name {
  height: auto;
}
 

 

 

 

 
@media(max-width: 991px) {
  .recruiter-profile1-recruiter-profile-container {
    width: 191px;
  }
  .recruiter-profile1-recruiter-image {
    width: 100px;
    height: 100px;
  }
  .recruiter-profile1-details-container {
    gap: 2px;
  }
  .recruiter-profile1-recruiter-name {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  .recruiter-profile1-container2 {
    width: auto;
    justify-content: center;
  }
  .recruiter-profile1-company-image {
    width: 14px;
    height: 14px;
  }
  .recruiter-profile1-company-name {
    width: auto;
    font-size: 14px;
  }
  .recruiter-profile1-job-role-of-recruiter {
    width: auto;
    font-size: 12px;
  }
}
 
@media(max-width: 767px) {
  .recruiter-profile1-recruiter-profile-container {
    width: 161px;
    height: 264px;
  }
  .recruiter-profile1-recruiter-image {
    width: 96px;
    height: 96px;
  }
  .recruiter-profile1-details-container {
    gap: 0px;
    align-items: center;
    justify-content: center;
  }
  .recruiter-profile1-recruiter-name {
    font-size: 12px;
  }
  .recruiter-profile1-company-image {
    width: 12px;
    height: 12px;
  }
  .recruiter-profile1-company-name {
    font-size: 12px;
  }
  .recruiter-profile1-job-role-of-recruiter {
    gap: var(--dl-space-space-halfunit);
    fill: #18191C;
    color: #18191C;
    width: auto;
    height: 48px;
    display: flex;
    font-size: 10px;
    align-self: center;
    text-align: center;
    align-items: center;
    line-height: 20px;
    justify-content: center;
  }
  .recruiter-profile1-text3 {
    color: rgb(24, 25, 28);
  }
}
