<div id="login-college" class="login-college-container">
  <div id="main-container" class="login-college-main-container">
    <login-page-navbar
      rootClassName="login-page-navbarroot-class-name1"
    ></login-page-navbar>
    <log-in-page rootClassName="log-in-pageroot-class-name1">
      <ng-template #text1>
        <div class="login-college-fragment1">
          <span class="login-college-text1">Email</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="login-college-fragment2">
          <span class="login-college-text2">Show</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="login-college-fragment3">
          <span class="login-college-text3">Don’t have an account?</span>
        </div>
      </ng-template>
      <ng-template #text4>
        <div class="login-college-fragment4">
          <span class="login-college-text4">Sign up</span>
        </div>
      </ng-template>
      <ng-template #button>
        <div class="login-college-fragment5">
          <span class="login-college-text5">Login</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="login-college-fragment6">
          <span class="login-college-text6">Password</span>
        </div>
      </ng-template>
      <ng-template #text71>
        <div class="login-college-fragment7">
          <span class="login-college-text7">invalid Email or Password</span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="login-college-fragment8">
          <span class="login-college-text8">Welcome to Flashyre</span>
        </div>
      </ng-template>
      <ng-template #forgotPassword>
        <div class="login-college-fragment9">
          <span class="login-college-text9">Forgot Password</span>
        </div>
      </ng-template>
    </log-in-page>
  </div>
</div>
