<div class="create-job-post2nd-page-container1">
  <div
    id="create-job-post-2nd-main-container"
    class="create-job-post2nd-page-create-job-post2nd-main-container"
  >
    <navbar-for-recruiter-view
      rootClassName="navbar-for-recruiter-viewroot-class-name5"
    >
      <ng-template #text>
        <div class="create-job-post2nd-page-fragment10">
          <span class="create-job-post2nd-page-text10">2</span>
        </div>
      </ng-template>
      <ng-template #link1>
        <div class="create-job-post2nd-page-fragment11">
          <span class="create-job-post2nd-page-text11">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="create-job-post2nd-page-fragment12">
          <span class="create-job-post2nd-page-text12">Job Posted</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="create-job-post2nd-page-fragment13">
          <span class="create-job-post2nd-page-text13">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="create-job-post2nd-page-fragment14">
          <span class="create-job-post2nd-page-text14">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="create-job-post2nd-page-fragment15">
          <span class="create-job-post2nd-page-text15">Settings</span>
        </div>
      </ng-template>
      <ng-template #text7>
        <div class="create-job-post2nd-page-fragment16">
          <span class="create-job-post2nd-page-text16">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="create-job-post2nd-page-fragment17">
          <span class="create-job-post2nd-page-text17">Notifications</span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="create-job-post2nd-page-fragment18">
          <span class="create-job-post2nd-page-text18">Jobs Posted</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="create-job-post2nd-page-fragment19">
          <span class="create-job-post2nd-page-text19">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="create-job-post2nd-page-fragment20">
          <span class="create-job-post2nd-page-text20">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="create-job-post2nd-page-fragment21">
          <span class="create-job-post2nd-page-text21">Logout</span>
        </div>
      </ng-template>
      <ng-template #text14>
        <div class="create-job-post2nd-page-fragment22">
          <span class="create-job-post2nd-page-text22">2</span>
        </div>
      </ng-template>
      <ng-template #text15>
        <div class="create-job-post2nd-page-fragment23">
          <span class="create-job-post2nd-page-text23">Leslie Alexander</span>
        </div>
      </ng-template>
      <ng-template #text16>
        <div class="create-job-post2nd-page-fragment24">
          <span class="create-job-post2nd-page-text24">Google</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="create-job-post2nd-page-fragment25">
          <span class="create-job-post2nd-page-text25">Logout</span>
        </div>
      </ng-template>
      <ng-template #text32>
        <div class="create-job-post2nd-page-fragment26">
          <span class="create-job-post2nd-page-text26">
            <span>Software Development</span>
            <br />
            <span>Mountain View, CA</span>
          </span>
        </div>
      </ng-template>
      <ng-template #text1411>
        <div class="create-job-post2nd-page-fragment27">
          <span class="create-job-post2nd-page-text30">2</span>
        </div>
      </ng-template>
    </navbar-for-recruiter-view>
    <div
      id="assessment-main-container"
      class="create-job-post2nd-page-assessment-main-container"
    >
      <div
        id="progress-bar-2-container"
        class="create-job-post2nd-page-progress-bar2-container"
      >
        <div class="create-job-post2nd-page-container2">
          <div class="create-job-post2nd-page-container3">
            <dangerous-html
              html="<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Responsive Progress Bar</title>
  <style>
    /* Container for the progress bar */
    .progress-bar {
      display: flex;
      overflow: visible;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      max-width: 600px;
      margin: 20px auto;
      font-family: Inter, sans-serif;
    }

    /* Style for each step */
    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      flex: 1;
    }

    /* Line between steps */
    .step:before {
      content: '';
      position: absolute;
      top: 30%;
      left: calc(-40% + 15px); /* Adjust position to align the line between circles */
      width: calc(80% - 30px); /* Width adjusted to match circle diameter */
      height: 2px;
      background-color: #ccc;
      z-index: 0;
    }

    /* Remove line before the first step */
    .step:first-child:before {
      display: none;
    }

    /* Circle for each step */
    .step-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #3AC14A;
      color: white;
      font-size: 1rem;
      z-index: 1;
    }

    /* Change background color for the last three step circles */
    .step:nth-last-child(-n+2) .step-circle {
      background-color: #747474;
      color: white;
      border: none;
    }

    /* Label under each circle */
    .step span {
      margin-top: 8px;
      font-size: 1rem;
      color: #18191C;
    }


     /* Media query for responsiveness */
    @media (max-width: 728px) {
      .progress-bar {
        width: 90%;
      }

      .step-circle {
        width: 32px;
        height: 32px;
        font-size: 0.8rem;
        font-weig: 400;
      }

      .step span {
        font-size: 0.8rem;
      }
    }

    @media (max-width: 478px) {

      .step-circle {
        width: 25px;
        height: 25px;
        font-size: 0.6rem;
      }

      .step span {
        font-size: 0.5rem;
      }
    }
  </style>
</head>
<body>
  <div class='progress-bar'>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Create Job Post</span>
    </div>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Assessment for Job</span>
    </div>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Interview process</span>
    </div>
  </div>
</body>
</html>
"
            ></dangerous-html>
          </div>
        </div>
      </div>
      <assessment-questions-main-container>
        <ng-template #marks>
          <div class="create-job-post2nd-page-fragment28">
            <span id="marks" class="create-job-post2nd-page-marks">
              <span class="create-job-post2nd-page-text31">2</span>
              <span> marks</span>
            </span>
          </div>
        </ng-template>
        <ng-template #option1>
          <div class="create-job-post2nd-page-fragment29">
            <span class="create-job-post2nd-page-text33">var x = 10;</span>
          </div>
        </ng-template>
        <ng-template #option2>
          <div class="create-job-post2nd-page-fragment30">
            <span class="create-job-post2nd-page-text34">var x = 10;</span>
          </div>
        </ng-template>
        <ng-template #option3>
          <div class="create-job-post2nd-page-fragment31">
            <span class="create-job-post2nd-page-text35">var x = 10;</span>
          </div>
        </ng-template>
        <ng-template #option4>
          <div class="create-job-post2nd-page-fragment32">
            <span class="create-job-post2nd-page-text36">var x = 10;</span>
          </div>
        </ng-template>
        <ng-template #easyText>
          <div class="create-job-post2nd-page-fragment33">
            <span class="create-job-post2nd-page-text37">Easy</span>
          </div>
        </ng-template>
        <ng-template #hardText>
          <div class="create-job-post2nd-page-fragment34">
            <span class="create-job-post2nd-page-text38">Hard</span>
          </div>
        </ng-template>
        <ng-template #question>
          <div class="create-job-post2nd-page-fragment35">
            <span class="create-job-post2nd-page-text39">
              What is the correct syntax to declare a variable in Java?
            </span>
          </div>
        </ng-template>
        <ng-template #mediumText>
          <div class="create-job-post2nd-page-fragment36">
            <span class="create-job-post2nd-page-text40">Medium</span>
          </div>
        </ng-template>
        <ng-template #uploadText>
          <div class="create-job-post2nd-page-fragment37">
            <span class="create-job-post2nd-page-text41">
              Upload
              <span [innerHTML]="rawpnhc"></span>
            </span>
          </div>
        </ng-template>
        <ng-template #shuffleText>
          <div class="create-job-post2nd-page-fragment38">
            <span class="create-job-post2nd-page-text42">Shuffle</span>
          </div>
        </ng-template>
        <ng-template #procteredText>
          <div class="create-job-post2nd-page-fragment39">
            <span class="create-job-post2nd-page-text43">Proctered</span>
          </div>
        </ng-template>
        <ng-template #selectAllText>
          <div class="create-job-post2nd-page-fragment40">
            <span class="create-job-post2nd-page-text44">Select All</span>
          </div>
        </ng-template>
        <ng-template #addSectionText>
          <div class="create-job-post2nd-page-fragment41">
            <span class="create-job-post2nd-page-text45">+ Add Section</span>
          </div>
        </ng-template>
        <ng-template #selectAllText1>
          <div class="create-job-post2nd-page-fragment42">
            <span class="create-job-post2nd-page-text46">Select All</span>
          </div>
        </ng-template>
        <ng-template #aiGeneratedText>
          <div class="create-job-post2nd-page-fragment43">
            <span class="create-job-post2nd-page-text47">AI Generated</span>
          </div>
        </ng-template>
        <ng-template #numSelectedText>
          <div class="create-job-post2nd-page-fragment44">
            <span
              id="num-selected-text"
              class="create-job-post2nd-page-num-selected-text"
            >
              <span class="create-job-post2nd-page-text48">10</span>
              <span>Selected</span>
            </span>
          </div>
        </ng-template>
        <ng-template #phoneAccessText>
          <div class="create-job-post2nd-page-fragment45">
            <span class="create-job-post2nd-page-text50">Phone Access</span>
          </div>
        </ng-template>
        <ng-template #sectionNameText>
          <div class="create-job-post2nd-page-fragment46">
            <span class="create-job-post2nd-page-text51">Java</span>
          </div>
        </ng-template>
        <ng-template #chooseSectionsText>
          <div class="create-job-post2nd-page-fragment47">
            <span class="create-job-post2nd-page-text52">Choose Sections</span>
          </div>
        </ng-template>
        <ng-template #totalQuestionsText>
          <div class="create-job-post2nd-page-fragment48">
            <span class="create-job-post2nd-page-text53">Total Questions</span>
          </div>
        </ng-template>
        <ng-template #uploadFileTypeText>
          <div class="create-job-post2nd-page-fragment49">
            <span class="create-job-post2nd-page-text54">
              Upload file (xlsx, xls)
            </span>
          </div>
        </ng-template>
        <ng-template #videoRecordingText>
          <div class="create-job-post2nd-page-fragment50">
            <span class="create-job-post2nd-page-text55">Video Recording</span>
          </div>
        </ng-template>
        <ng-template #uploadedQuestionsText>
          <div class="create-job-post2nd-page-fragment51">
            <span class="create-job-post2nd-page-text56">
              Uploaded Questions
            </span>
          </div>
        </ng-template>
        <ng-template #assessmentQuestionsText>
          <div class="create-job-post2nd-page-fragment52">
            <span class="create-job-post2nd-page-text57">
              Assessment Questions
            </span>
          </div>
        </ng-template>
      </assessment-questions-main-container>
      <div
        id="submit-cancel-buttons-container"
        class="create-job-post2nd-page-submit-cancel-buttons-container"
      >
        <button
          id="cancel-button"
          name="cancel-button"
          type="button"
          class="create-job-post2nd-page-cancel-button button"
        >
          <span id="cancel-text" class="create-job-post2nd-page-cancel-text">
            Previous
          </span>
        </button>
        <button
          id="submit-button"
          name="submit-button"
          type="button"
          class="create-job-post2nd-page-submit-button button"
        >
          <span id="submit-text" class="create-job-post2nd-page-submit-text">
            Next
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
