<div class="create-job-post2nd-page-container1">
  <div
    id="create-job-post-2nd-main-container"
    class="create-job-post2nd-page-create-job-post2nd-main-container"
  >
    <navbar-for-recruiter-view
      rootClassName="navbar-for-recruiter-viewroot-class-name5"
    >
      <ng-template #text>
        <div class="create-job-post2nd-page-fragment10">
          <span class="create-job-post2nd-page-text10">2</span>
        </div>
      </ng-template>
      <ng-template #link1>
        <div class="create-job-post2nd-page-fragment11">
          <span class="create-job-post2nd-page-text11">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="create-job-post2nd-page-fragment12">
          <span class="create-job-post2nd-page-text12">Job Posted</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="create-job-post2nd-page-fragment13">
          <span class="create-job-post2nd-page-text13">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="create-job-post2nd-page-fragment14">
          <span class="create-job-post2nd-page-text14">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="create-job-post2nd-page-fragment15">
          <span class="create-job-post2nd-page-text15">Settings</span>
        </div>
      </ng-template>
      <ng-template #text7>
        <div class="create-job-post2nd-page-fragment16">
          <span class="create-job-post2nd-page-text16">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="create-job-post2nd-page-fragment17">
          <span class="create-job-post2nd-page-text17">Notifications</span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="create-job-post2nd-page-fragment18">
          <span class="create-job-post2nd-page-text18">Jobs Posted</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="create-job-post2nd-page-fragment19">
          <span class="create-job-post2nd-page-text19">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="create-job-post2nd-page-fragment20">
          <span class="create-job-post2nd-page-text20">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="create-job-post2nd-page-fragment21">
          <span class="create-job-post2nd-page-text21">Logout</span>
        </div>
      </ng-template>
      <ng-template #text14>
        <div class="create-job-post2nd-page-fragment22">
          <span class="create-job-post2nd-page-text22">2</span>
        </div>
      </ng-template>
      <ng-template #text15>
        <div class="create-job-post2nd-page-fragment23">
          <span class="create-job-post2nd-page-text23">Leslie Alexander</span>
        </div>
      </ng-template>
      <ng-template #text16>
        <div class="create-job-post2nd-page-fragment24">
          <span class="create-job-post2nd-page-text24">Google</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="create-job-post2nd-page-fragment25">
          <span class="create-job-post2nd-page-text25">Logout</span>
        </div>
      </ng-template>
      <ng-template #text32>
        <div class="create-job-post2nd-page-fragment26">
          <span class="create-job-post2nd-page-text26">
            <span>Software Development</span>
            <br />
            <span>Mountain View, CA</span>
          </span>
        </div>
      </ng-template>
      <ng-template #text1411>
        <div class="create-job-post2nd-page-fragment27">
          <span class="create-job-post2nd-page-text30">2</span>
        </div>
      </ng-template>
    </navbar-for-recruiter-view>
    <div
      id="assessment-main-container"
      class="create-job-post2nd-page-assessment-main-container"
    >
      <div
        id="progress-bar-2-container"
        class="create-job-post2nd-page-progress-bar2-container"
      >
        <div class="create-job-post2nd-page-container2">
          <div class="create-job-post2nd-page-container3">
            

<body>
  <div class='progress-bar'>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Create Job Post</span>
    </div>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Assessment for Job</span>
    </div>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Interview process</span>
    </div>
  </div>
</body>
          </div>
        </div>
      </div>
      <div
        id="assessment-questions-main-container"
        class="create-job-post2nd-page-assessment-questions-main-container"
      >
        <div
          id="assessment-questions-container"
          class="create-job-post2nd-page-assessment-questions-container"
        >
          <span
            id="assessment-questions-text"
            class="create-job-post2nd-page-assessment-questions-text"
          >
            Assessment Questions
          </span>
          <div
            id="assessment-name-input-container"
            class="create-job-post2nd-page-assessment-name-input-container"
          >
            <input
              type="text"
              id="assessment-name-input"
              placeholder="Assessment Name"
              class="create-job-post2nd-page-assessment-name-input input"
            />
            <div
              id="upload-questions-container"
              class="create-job-post2nd-page-upload-questions-container"
            >
              <div
                id="upload-input-container"
                class="create-job-post2nd-page-upload-input-container"
              >
                <input
                  type="text"
                  id="upload-input-field"
                  placeholder="Upload Questions"
                  class="create-job-post2nd-page-upload-input-field input"
                />
                <div
                  id="upload-button-container"
                  class="create-job-post2nd-page-upload-button-container"
                >
                  <svg
                    id="upload-icon"
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                    class="create-job-post2nd-page-upload-icon"
                  >
                    <path
                      d="M11.678 20.271C7.275 21.318 4 25.277 4 30c0 5.523 4.477 10 10 10c.947 0 1.864-.132 2.733-.378m19.322-19.351c4.403 1.047 7.677 5.006 7.677 9.729c0 5.523-4.477 10-10 10c-.947 0-1.864-.132-2.732-.378M36 20c0-6.627-5.373-12-12-12s-12 5.373-12 12m5.065 7.881L24 20.924L31.132 28M24 38V24.462"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="4"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                  <span
                    id="upload-text"
                    class="create-job-post2nd-page-upload-text"
                  >
                    Upload
                    <span [innerHTML]="rawplt0"></span>
                  </span>
                </div>
              </div>
              <span
                id="upload-file-type-text"
                class="create-job-post2nd-page-upload-file-type-text"
              >
                Upload file (xlsx, xls)
              </span>
            </div>
          </div>
          <div
            id="select-container"
            class="create-job-post2nd-page-select-container"
          >
            <div
              id="select-all-container"
              class="create-job-post2nd-page-select-all-container1"
            >
              <input
                type="checkbox"
                id="select-all-checkbox"
                class="create-job-post2nd-page-select-all-checkbox1"
              />
              <span
                id="select-all-text"
                class="create-job-post2nd-page-select-all-text1"
              >
                Select All
              </span>
            </div>
            <span
              id="num-selected-text"
              class="create-job-post2nd-page-num-selected-text"
            >
              <span class="create-job-post2nd-page-text31">10</span>
              <span>Selected</span>
            </span>
            <div
              id="shuffle-container"
              class="create-job-post2nd-page-shuffle-container"
            >
              <input
                type="checkbox"
                id="shuffle-checkbox"
                class="create-job-post2nd-page-shuffle-checkbox"
              />
              <span
                id="shuffle-text"
                class="create-job-post2nd-page-shuffle-text"
              >
                Shuffle
              </span>
              <svg
                id="information-icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="create-job-post2nd-page-information-icon"
              >
                <path
                  d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </div>
          <div
            id="ai-generated-upload-questions-container"
            class="create-job-post2nd-page-ai-generated-upload-questions-container"
          >
            <span
              id="ai-generated-text"
              class="create-job-post2nd-page-ai-generated-text"
            >
              AI Generated
            </span>
            <span
              id="uploaded-questions-text"
              class="create-job-post2nd-page-uploaded-questions-text"
            >
              Uploaded Questions
            </span>
          </div>
          <div
            id="questions-container"
            class="create-job-post2nd-page-questions-container"
          >
            <div
              id="question-container"
              class="create-job-post2nd-page-question-container"
            >
              <div
                id="checkbox-container"
                class="create-job-post2nd-page-checkbox-container"
              >
                <input
                  type="checkbox"
                  id="question-select-checkbox"
                  class="create-job-post2nd-page-question-select-checkbox"
                />
              </div>
              <div
                id="que-container"
                class="create-job-post2nd-page-que-container"
              >
                <span id="question" class="create-job-post2nd-page-question">
                  What is the correct syntax to declare a variable in Java?
                </span>
                <div
                  id="option-1-container"
                  class="create-job-post2nd-page-option1-container"
                >
                  <input
                    type="radio"
                    id="option-1-radio"
                    name="option-1-radio"
                    class="create-job-post2nd-page-option1-radio"
                  />
                  <label id="option-1" class="create-job-post2nd-page-option1">
                    var x = 10;
                  </label>
                </div>
                <div
                  id="option-2-container"
                  class="create-job-post2nd-page-option2-container"
                >
                  <input
                    type="radio"
                    id="option-2-radio"
                    name="option-2-radio"
                    class="create-job-post2nd-page-option2-radio"
                  />
                  <label id="option-1" class="create-job-post2nd-page-option2">
                    var x = 10;
                  </label>
                </div>
                <div
                  id="option-3-container"
                  class="create-job-post2nd-page-option3-container"
                >
                  <input
                    type="radio"
                    id="option-3-radio"
                    name="option-3-radio"
                    class="create-job-post2nd-page-option3-radio"
                  />
                  <label
                    id="jt-label-permanent"
                    class="create-job-post2nd-page-option3"
                  >
                    var x = 10;
                  </label>
                </div>
                <div
                  id="option-4-container"
                  class="create-job-post2nd-page-option4-container"
                >
                  <input
                    type="radio"
                    id="option-4-radio"
                    name="option-4-radio"
                    class="create-job-post2nd-page-option4-radio"
                  />
                  <label id="option-4" class="create-job-post2nd-page-option4">
                    var x = 10;
                  </label>
                </div>
              </div>
              <div
                id="marks-difficulty-container"
                class="create-job-post2nd-page-marks-difficulty-container"
              >
                <span id="marks" class="create-job-post2nd-page-marks">
                  <span class="create-job-post2nd-page-text33">2</span>
                  <span> marks</span>
                </span>
                <span id="easy-text" class="create-job-post2nd-page-easy-text">
                  Easy
                </span>
                <span
                  id="medium-text"
                  class="create-job-post2nd-page-medium-text"
                >
                  Medium
                </span>
                <span id="hard-text" class="create-job-post2nd-page-hard-text">
                  Hard
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          id="assessment-questions-2nd-container"
          class="create-job-post2nd-page-assessment-questions2nd-container"
        >
          <div
            id="permissions-container"
            class="create-job-post2nd-page-permissions-container"
          >
            <div
              id="proctered-container"
              class="create-job-post2nd-page-proctered-container"
            >
              <span
                id="proctered-text"
                class="create-job-post2nd-page-proctered-text"
              >
                Proctered
              </span>
              <div class="create-job-post2nd-page-container4">
                <div class="create-job-post2nd-page-container5">
                  <style>
        .body {
            background-color: transperant; /* Dark background for contrast */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        /* Container for the switch */
        .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 30px;
        }

        /* Hide the default checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider (background of the switch) */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc; /* Gray for 'off' state */
            transition: .4s;
            border-radius: 30px; /* Oval shape */
        }

        /* The knob (circle inside the switch) */
        .slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            align-items: center;
            left: 8px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%; /* Circular knob */
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); /* Subtle glow effect */
        }

        /* When the switch is 'on' (checked) */
        input:checked + .slider {
            background-color: #05356C; /* Blue for 'on' state */
        }

        /* Move the knob to the right when 'on' */
        input:checked + .slider:before {
            transform: translateX(30px);
            content: '';
        }
    </style>

    <label class='switch'>
        <input type='checkbox' notchecked> <!-- Default 'on' state -->
        <span class='slider'></span>
    </label>

                </div>
              </div>
            </div>
            <div
              id="video-recording-container"
              class="create-job-post2nd-page-video-recording-container"
            >
              <span
                id="video-recording-text"
                class="create-job-post2nd-page-video-recording-text"
              >
                Video Recording
              </span>
              <div class="create-job-post2nd-page-container6">
                <div class="create-job-post2nd-page-container7">
                 <style>
        body {
            background-color: transperant; /* Dark background for contrast */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        /* Container for the switch */
        .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 30px;
        }

        /* Hide the default checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider (background of the switch) */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc; /* Gray for 'off' state */
            transition: .4s;
            border-radius: 30px; /* Oval shape */
        }

        /* The knob (circle inside the switch) */
        .slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            align-items: center;
            left: 8px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%; /* Circular knob */
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); /* Subtle glow effect */
        }

        /* When the switch is 'on' (checked) */
        input:checked + .slider {
            background-color: #05356C; /* Blue for 'on' state */
        }

        /* Move the knob to the right when 'on' */
        input:checked + .slider:before {
            transform: translateX(30px);
            content: '';
        }
    </style>

    <label class='switch'>
        <input type='checkbox' notchecked> <!-- Default 'on' state -->
        <span class='slider'></span>
    </label>

                </div>
              </div>
            </div>
            <div
              id="phone-access-container"
              class="create-job-post2nd-page-phone-access-container"
            >
              <span
                id="phone-access-text"
                class="create-job-post2nd-page-phone-access-text"
              >
                Phone Access
              </span>
              <div class="create-job-post2nd-page-container8">
                <div class="create-job-post2nd-page-container9">
                  <style>
        body {
            background-color: transperant; /* Dark background for contrast */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        /* Container for the switch */
        .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 30px;
        }

        /* Hide the default checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider (background of the switch) */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc; /* Gray for 'off' state */
            transition: .4s;
            border-radius: 30px; /* Oval shape */
        }

        /* The knob (circle inside the switch) */
        .slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            align-items: center;
            left: 8px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%; /* Circular knob */
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); /* Subtle glow effect */
        }

        /* When the switch is 'on' (checked) */
        input:checked + .slider {
            background-color: #05356C; /* Blue for 'on' state */
        }

        /* Move the knob to the right when 'on' */
        input:checked + .slider:before {
            transform: translateX(30px);
            content: '';
        }
    </style>

    <label class='switch'>
        <input type='checkbox' notchecked> <!-- Default 'on' state -->
        <span class='slider'></span>
    </label>

                </div>
              </div>
            </div>
          </div>
          <div
            id="choose-sections-container"
            class="create-job-post2nd-page-choose-sections-container"
          >
            <span
              id="choose-sections-text"
              class="create-job-post2nd-page-choose-sections-text"
            >
              Choose Sections
            </span>
            <div
              id="select-all-total-questions-container"
              class="create-job-post2nd-page-select-all-total-questions-container"
            >
              <div
                id="select-all-container"
                class="create-job-post2nd-page-select-all-container2"
              >
                <input
                  type="checkbox"
                  id="select-all-checkbox"
                  class="create-job-post2nd-page-select-all-checkbox2"
                />
                <span
                  id="select-all-text"
                  class="create-job-post2nd-page-select-all-text2"
                >
                  Select All
                </span>
              </div>
              <div
                id="total-questions-container"
                class="create-job-post2nd-page-total-questions-container"
              >
                <span
                  id="total-questions-text"
                  class="create-job-post2nd-page-total-questions-text"
                >
                  Total Questions
                </span>
                <input
                  type="text"
                  id="total-questions-input"
                  class="create-job-post2nd-page-total-questions-input input"
                />
              </div>
            </div>
            <div
              id="sections-container"
              class="create-job-post2nd-page-sections-container"
            >
              <div
                id="sections-sub-container"
                class="create-job-post2nd-page-sections-sub-container"
              >
                <div
                  id="section-1-container"
                  class="create-job-post2nd-page-section1-container"
                >
                  <div id="section-1" class="create-job-post2nd-page-section1">
                    <input
                      type="checkbox"
                      id="section-1-checkbox"
                      class="create-job-post2nd-page-section1-checkbox"
                    />
                    <span
                      id="section-name-text"
                      class="create-job-post2nd-page-section-name-text"
                    >
                      Java
                    </span>
                  </div>
                  <input
                    type="text"
                    id="num-of-questions-for-section"
                    class="create-job-post2nd-page-num-of-questions-for-section input"
                  />
                </div>
              </div>
              <span
                id="add-section-text"
                class="create-job-post2nd-page-add-section-text button"
              >
                + Add Section
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
