:host { 
  display: contents; 
}
 
.create-job-post2nd-page-container1 {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.create-job-post2nd-page-create-job-post2nd-main-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 1440px;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #F4F4F4;
}
 
.create-job-post2nd-page-fragment10 {
  display: contents;
}
 
.create-job-post2nd-page-text10 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.create-job-post2nd-page-fragment11 {
  display: contents;
}
 
.create-job-post2nd-page-text11 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
 
.create-job-post2nd-page-fragment12 {
  display: contents;
}
 
.create-job-post2nd-page-text12 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.create-job-post2nd-page-fragment13 {
  display: contents;
}
 
.create-job-post2nd-page-text13 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment14 {
  display: contents;
}
 
.create-job-post2nd-page-text14 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment15 {
  display: contents;
}
 
.create-job-post2nd-page-text15 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment16 {
  display: contents;
}
 
.create-job-post2nd-page-text16 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment17 {
  display: contents;
}
 
.create-job-post2nd-page-text17 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment18 {
  display: contents;
}
 
.create-job-post2nd-page-text18 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment19 {
  display: contents;
}
 
.create-job-post2nd-page-text19 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment20 {
  display: contents;
}
 
.create-job-post2nd-page-text20 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment21 {
  display: contents;
}
 
.create-job-post2nd-page-text21 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment22 {
  display: contents;
}
 
.create-job-post2nd-page-text22 {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
 
.create-job-post2nd-page-fragment23 {
  display: contents;
}
 
.create-job-post2nd-page-text23 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment24 {
  display: contents;
}
 
.create-job-post2nd-page-text24 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment25 {
  display: contents;
}
 
.create-job-post2nd-page-text25 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment26 {
  display: contents;
}
 
.create-job-post2nd-page-text26 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment27 {
  display: contents;
}
 
.create-job-post2nd-page-text30 {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
 
.create-job-post2nd-page-assessment-main-container {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  z-index: 999;
  margin-top: 100px;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.create-job-post2nd-page-progress-bar2-container {
  flex: 0 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}
 
.create-job-post2nd-page-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
 
.create-job-post2nd-page-container3 {
  display: contents;
}
 
.create-job-post2nd-page-fragment28 {
  display: contents;
}
 
.create-job-post2nd-page-marks {
  display: flex;
  align-items: center;
}
 
.create-job-post2nd-page-text31 {
  font-weight: 400;
}
 
.create-job-post2nd-page-fragment29 {
  display: contents;
}
 
.create-job-post2nd-page-text33 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment30 {
  display: contents;
}
 
.create-job-post2nd-page-text34 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment31 {
  display: contents;
}
 
.create-job-post2nd-page-text35 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment32 {
  display: contents;
}
 
.create-job-post2nd-page-text36 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment33 {
  display: contents;
}
 
.create-job-post2nd-page-text37 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment34 {
  display: contents;
}
 
.create-job-post2nd-page-text38 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment35 {
  display: contents;
}
 
.create-job-post2nd-page-text39 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment36 {
  display: contents;
}
 
.create-job-post2nd-page-text40 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment37 {
  display: contents;
}
 
.create-job-post2nd-page-text41 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment38 {
  display: contents;
}
 
.create-job-post2nd-page-text42 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment39 {
  display: contents;
}
 
.create-job-post2nd-page-text43 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment40 {
  display: contents;
}
 
.create-job-post2nd-page-text44 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment41 {
  display: contents;
}
 
.create-job-post2nd-page-text45 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment42 {
  display: contents;
}
 
.create-job-post2nd-page-text46 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment43 {
  display: contents;
}
 
.create-job-post2nd-page-text47 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment44 {
  display: contents;
}
 
.create-job-post2nd-page-num-selected-text {
  display: inline-block;
  font-size: 20px;
}
 
.create-job-post2nd-page-text48 {
  font-style: normal;
  font-weight: 500;
}
 
.create-job-post2nd-page-fragment45 {
  display: contents;
}
 
.create-job-post2nd-page-text50 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment46 {
  display: contents;
}
 
.create-job-post2nd-page-text51 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment47 {
  display: contents;
}
 
.create-job-post2nd-page-text52 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment48 {
  display: contents;
}
 
.create-job-post2nd-page-text53 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment49 {
  display: contents;
}
 
.create-job-post2nd-page-text54 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment50 {
  display: contents;
}
 
.create-job-post2nd-page-text55 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment51 {
  display: contents;
}
 
.create-job-post2nd-page-text56 {
  display: inline-block;
}
 
.create-job-post2nd-page-fragment52 {
  display: contents;
}
 
.create-job-post2nd-page-text57 {
  display: inline-block;
}
 
.create-job-post2nd-page-submit-cancel-buttons-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  justify-content: flex-end;
}
 
.create-job-post2nd-page-cancel-button {
  width: 86px;
  height: 40px;
  padding: 0px;
  transition: 0.3s;
  border-color: #05356C;
  background-color: #FFFFFF;
}
 
.create-job-post2nd-page-cancel-button:hover {
  color: #FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.create-job-post2nd-page-cancel-button:active {
  color: #FFFFFF;
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.create-job-post2nd-page-cancel-text {
  color: rgb(5, 53, 108);
}
 
.create-job-post2nd-page-submit-button {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 86px;
  height: 40px;
  transition: 0.3s;
  border-width: 0px;
  background-color: #05356C;
}
 
.create-job-post2nd-page-submit-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.create-job-post2nd-page-submit-button:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
@media(max-width: 1200px) {
  .create-job-post2nd-page-create-job-post2nd-main-container {
    width: 100%;
  }
}
 
@media(max-width: 991px) {
  .create-job-post2nd-page-text11 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .create-job-post2nd-page-text12 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .create-job-post2nd-page-assessment-main-container {
    gap: 20px;
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .create-job-post2nd-page-marks {
    font-size: 14px;
  }
  .create-job-post2nd-page-num-selected-text {
    font-size: 18px;
  }
  .create-job-post2nd-page-submit-cancel-buttons-container {
    height: auto;
  }
  .create-job-post2nd-page-cancel-button {
    height: 36px;
    font-size: 14px;
  }
  .create-job-post2nd-page-submit-button {
    height: 36px;
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .create-job-post2nd-page-text10 {
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
  }
  .create-job-post2nd-page-text15 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
  .create-job-post2nd-page-text16 {
    font-size: 12px;
  }
  .create-job-post2nd-page-text17 {
    font-size: 12px;
  }
  .create-job-post2nd-page-text18 {
    font-size: 12px;
  }
  .create-job-post2nd-page-text19 {
    font-size: 10px;
  }
  .create-job-post2nd-page-text20 {
    font-size: 10px;
  }
  .create-job-post2nd-page-text21 {
    font-size: 10px;
  }
  .create-job-post2nd-page-text23 {
    font-size: 16px;
  }
  .create-job-post2nd-page-text26 {
    color: rgb(24, 25, 28);
  }
  .create-job-post2nd-page-marks {
    font-size: 12px;
  }
  .create-job-post2nd-page-num-selected-text {
    font-size: 16px;
  }
  .create-job-post2nd-page-cancel-button {
    padding: 0px;
  }
  .create-job-post2nd-page-submit-button {
    padding: 0px;
  }
}
 
@media(max-width: 479px) {
  .create-job-post2nd-page-assessment-main-container {
    gap: 20px;
    height: 1792px;
    padding: var(--dl-layout-space-unit);
    align-items: center;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .create-job-post2nd-page-progress-bar2-container {
    width: 90%;
  }
  .create-job-post2nd-page-submit-cancel-buttons-container {
    width: 100%;
  }
  .create-job-post2nd-page-cancel-button {
    width: 70px;
    padding: 0px;
  }
  .create-job-post2nd-page-cancel-text {
    font-size: 14px;
  }
  .create-job-post2nd-page-submit-button {
    width: 70px;
  }
  .create-job-post2nd-page-submit-text {
    font-size: 14px;
  }
}
