:host { 
  display: contents; 
}
 
.buffer-name-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}
 
.buffer-name-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
 
.buffer-name-container3 {
  width: 719px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.buffer-name-container4 {
  display: contents;
}
 
@media(max-width: 1200px) {
  .buffer-name-container3 {
    width: 719px;
    height: auto;
  }
}
 
@media(max-width: 991px) {
  .buffer-name-container3 {
    width: 650px;
    height: auto;
  }
}
 
@media(max-width: 767px) {
  .buffer-name-container3 {
    width: 500px;
    height: auto;
  }
}
 
@media(max-width: 479px) {
  .buffer-name-container2 {
    width: 100%;
    justify-content: flex-start;
  }
  .buffer-name-container3 {
    width: 450px;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
}
