<div
  id="landing-page-article-card"
  class="landing-page-article-card-container1"
>
  <div id="article-card-container" class="landing-page-article-card-container2">
    <div
      id="landing-page-icon"
      class="landing-page-article-card-icon-container"
    >
      <svg
        id="icon"
        width="256"
        height="256"
        viewBox="0 0 256 256"
        class="landing-page-article-card-icon1"
      >
        <g fill="currentColor">
          <path
            d="M208 48H48a16 16 0 0 0-16 16v112a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16m-96 104V88l48 32Z"
            opacity=".2"
          ></path>
          <path
            d="M208 40H48a24 24 0 0 0-24 24v112a24 24 0 0 0 24 24h160a24 24 0 0 0 24-24V64a24 24 0 0 0-24-24m8 136a8 8 0 0 1-8 8H48a8 8 0 0 1-8-8V64a8 8 0 0 1 8-8h160a8 8 0 0 1 8 8Zm-48 48a8 8 0 0 1-8 8H96a8 8 0 0 1 0-16h64a8 8 0 0 1 8 8m-3.56-110.66l-48-32A8 8 0 0 0 104 88v64a8 8 0 0 0 12.44 6.66l48-32a8 8 0 0 0 0-13.32M120 137.05V103l25.58 17Z"
          ></path>
        </g>
      </svg>
    </div>
    <div
      id="description-container"
      class="landing-page-article-card-description-container"
    >
      <span
        id="article-name"
        class="landing-page-article-card-description-header"
      >
        <ng-container>
          <ng-template #defaultText>
            <div class="landing-page-article-card-fragment2">
              <span class="landing-page-article-card-text4">
                Using sound to model the world
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text ? text : defaultText"
          ></ng-container>
        </ng-container>
      </span>
      <span
        id="article-description"
        class="landing-page-article-card-description"
      >
        <ng-container>
          <ng-template #defaultText1>
            <div class="landing-page-article-card-fragment1">
              <span class="landing-page-article-card-text1">
                <span class="landing-page-article-card-text2">
                  In a laoreet purus. Integer turpis quam, laoreet id orci nec,
                  ultrices lacinia nunc. Aliquam erat voIn a laoreet purus.
                  Integer turpis quam, laoreet id orci nec, In a laoreet purus.
                  Integer turpis quam, laoreet id orci nec, ultrices lacinia
                  nunc.
                </span>
                <span><span [innerHTML]="rawvmm3 | safeHtml"></span></span>
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text1 ? text1 : defaultText1"
          ></ng-container>
        </ng-container>
      </span>
    </div>
  </div>
</div>
