<div class="create-job-post22-page-container">
  <div
    id="create-job-post-2.2-page-main-container"
    class="create-job-post22-page-create-job-post22-page-main-container"
  >
    <navbar-for-recruiter-view
      rootClassName="navbar-for-recruiter-viewroot-class-name10"
    >
      <ng-template #text>
        <div class="create-job-post22-page-fragment10">
          <span class="create-job-post22-page-text10">2</span>
        </div>
      </ng-template>
      <ng-template #link1>
        <div class="create-job-post22-page-fragment11">
          <span class="create-job-post22-page-text11">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="create-job-post22-page-fragment12">
          <span class="create-job-post22-page-text12">Job Posted</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="create-job-post22-page-fragment13">
          <span class="create-job-post22-page-text13">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="create-job-post22-page-fragment14">
          <span class="create-job-post22-page-text14">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="create-job-post22-page-fragment15">
          <span class="create-job-post22-page-text15">Settings</span>
        </div>
      </ng-template>
      <ng-template #text7>
        <div class="create-job-post22-page-fragment16">
          <span class="create-job-post22-page-text16">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="create-job-post22-page-fragment17">
          <span class="create-job-post22-page-text17">Notifications</span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="create-job-post22-page-fragment18">
          <span class="create-job-post22-page-text18">Jobs Posted</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="create-job-post22-page-fragment19">
          <span class="create-job-post22-page-text19">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="create-job-post22-page-fragment20">
          <span class="create-job-post22-page-text20">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="create-job-post22-page-fragment21">
          <span class="create-job-post22-page-text21">Logout</span>
        </div>
      </ng-template>
      <ng-template #text14>
        <div class="create-job-post22-page-fragment22">
          <span class="create-job-post22-page-text22">2</span>
        </div>
      </ng-template>
      <ng-template #text15>
        <div class="create-job-post22-page-fragment23">
          <span class="create-job-post22-page-text23">Leslie Alexander</span>
        </div>
      </ng-template>
      <ng-template #text16>
        <div class="create-job-post22-page-fragment24">
          <span class="create-job-post22-page-text24">Google</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="create-job-post22-page-fragment25">
          <span class="create-job-post22-page-text25">Logout</span>
        </div>
      </ng-template>
      <ng-template #text32>
        <div class="create-job-post22-page-fragment26">
          <span class="create-job-post22-page-text26">
            <span>Software Development</span>
            <br />
            <span>Mountain View, CA</span>
          </span>
        </div>
      </ng-template>
      <ng-template #text1411>
        <div class="create-job-post22-page-fragment27">
          <span class="create-job-post22-page-text30">2</span>
        </div>
      </ng-template>
    </navbar-for-recruiter-view>
    <div
      id="create-job-post-details-main-container"
      class="create-job-post22-page-create-job-post-details-main-container"
    >
      <div
        id="create-job-post-details-container"
        class="create-job-post22-page-create-job-post-details-container"
      >
        <div
          id="create-job-post-container"
          class="create-job-post22-page-create-job-post-container"
        >
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            class="create-job-post22-page-icon1"
          >
            <path
              d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16z"
              fill="currentColor"
            ></path>
          </svg>
          <span
            id="create-job-post-text"
            class="create-job-post22-page-create-job-post-text"
          >
            Create Job Post
          </span>
        </div>
        <div
          id="progress-bar-assessment-questions-main-container"
          class="create-job-post22-page-progress-bar-assessment-questions-main-container"
        >
          <progress-bar2-code
            rootClassName="progress-bar2-coderoot-class-name1"
          ></progress-bar2-code>
          <create-job-post22 rootClassName="create-job-post22root-class-name">
            <ng-template #text>
              <div class="create-job-post22-page-fragment28">
                <span class="create-job-post22-page-text31">
                  Assessment Name
                </span>
              </div>
            </ng-template>
            <ng-template #text2>
              <div class="create-job-post22-page-fragment29">
                <span class="create-job-post22-page-text32">
                  Shuffle questions for Candidate
                </span>
              </div>
            </ng-template>
            <ng-template #text3>
              <div class="create-job-post22-page-fragment30">
                <span class="create-job-post22-page-text33">
                  Choose difficulty level
                </span>
              </div>
            </ng-template>
            <ng-template #text4>
              <div class="create-job-post22-page-fragment31">
                <span class="create-job-post22-page-text34">
                  Set time limit
                </span>
              </div>
            </ng-template>
            <ng-template #text5>
              <div class="create-job-post22-page-fragment32">
                <span class="create-job-post22-page-text35">Questions</span>
              </div>
            </ng-template>
            <ng-template #text6>
              <div class="create-job-post22-page-fragment33">
                <span class="create-job-post22-page-text36">
                  (Selected 40/100)
                  <span [innerHTML]="rawp0sg"></span>
                </span>
              </div>
            </ng-template>
            <ng-template #text7>
              <div class="create-job-post22-page-fragment34">
                <span class="create-job-post22-page-text37">Upload </span>
              </div>
            </ng-template>
            <ng-template #text8>
              <div class="create-job-post22-page-fragment35">
                <span class="create-job-post22-page-text38">
                  AI Generated (5/30)
                </span>
              </div>
            </ng-template>
            <ng-template #text9>
              <div class="create-job-post22-page-fragment36">
                <span class="create-job-post22-page-text39">
                  Uploaded (29/40)
                </span>
              </div>
            </ng-template>
            <ng-template #text10>
              <div class="create-job-post22-page-fragment37">
                <span class="create-job-post22-page-text40">Java (5/40)</span>
              </div>
            </ng-template>
            <ng-template #text11>
              <div class="create-job-post22-page-fragment38">
                <span class="create-job-post22-page-text41">Python (5/40)</span>
              </div>
            </ng-template>
            <ng-template #text12>
              <div class="create-job-post22-page-fragment39">
                <span class="create-job-post22-page-text42">
                  Cloud Computing (13/40)
                </span>
              </div>
            </ng-template>
            <ng-template #text13>
              <div class="create-job-post22-page-fragment40">
                <span class="create-job-post22-page-text43">
                  Security Essentials (2/10)
                </span>
              </div>
            </ng-template>
            <ng-template #text14>
              <div class="create-job-post22-page-fragment41">
                <span class="create-job-post22-page-text44">
                  Select all (5)
                </span>
              </div>
            </ng-template>
            <ng-template #text15>
              <div class="create-job-post22-page-fragment42">
                <span class="create-job-post22-page-text45">
                  ✨ Which of the following is not a type of cloud server?
                </span>
              </div>
            </ng-template>
            <ng-template #text16>
              <div class="create-job-post22-page-fragment43">
                <span class="create-job-post22-page-text46">Onsite</span>
              </div>
            </ng-template>
            <ng-template #text17>
              <div class="create-job-post22-page-fragment44">
                <span class="create-job-post22-page-text47">2 marks</span>
              </div>
            </ng-template>
            <ng-template #text18>
              <div class="create-job-post22-page-fragment45">
                <span class="create-job-post22-page-text48">Easy</span>
              </div>
            </ng-template>
            <ng-template #text21>
              <div class="create-job-post22-page-fragment46">
                <span class="create-job-post22-page-text49">Proctored</span>
              </div>
            </ng-template>
            <ng-template #text30>
              <div class="create-job-post22-page-fragment47">
                <span class="create-job-post22-page-text50">
                  Additional Settings
                </span>
              </div>
            </ng-template>
            <ng-template #button1>
              <div class="create-job-post22-page-fragment48">
                <span class="create-job-post22-page-text51">
                  ✨Add Question with AI
                </span>
              </div>
            </ng-template>
            <ng-template #text161>
              <div class="create-job-post22-page-fragment49">
                <span class="create-job-post22-page-text52">Remote</span>
              </div>
            </ng-template>
            <ng-template #text162>
              <div class="create-job-post22-page-fragment50">
                <span class="create-job-post22-page-text53">Hybrid</span>
              </div>
            </ng-template>
            <ng-template #text181>
              <div class="create-job-post22-page-fragment51">
                <span class="create-job-post22-page-text54">Medium</span>
              </div>
            </ng-template>
            <ng-template #text211>
              <div class="create-job-post22-page-fragment52">
                <span class="create-job-post22-page-text55">
                  Allow Phone Access
                </span>
              </div>
            </ng-template>
            <ng-template #text2111>
              <div class="create-job-post22-page-fragment53">
                <span class="create-job-post22-page-text56">
                  Allow Video Recording
                </span>
              </div>
            </ng-template>
            <ng-template #text18111>
              <div class="create-job-post22-page-fragment54">
                <span class="create-job-post22-page-text57">Hard</span>
              </div>
            </ng-template>
            <ng-template #proctoredText>
              <div class="create-job-post22-page-fragment55">
                <span class="create-job-post22-page-text58">Proctored</span>
              </div>
            </ng-template>
            <ng-template #timeLimitText>
              <div class="create-job-post22-page-fragment56">
                <span class="create-job-post22-page-text59">
                  Set time limit
                </span>
              </div>
            </ng-template>
            <ng-template #difficultyLevelText>
              <div class="create-job-post22-page-fragment57">
                <span class="create-job-post22-page-text60">
                  Choose difficulty level
                </span>
              </div>
            </ng-template>
            <ng-template #allowPhoneAccessText>
              <div class="create-job-post22-page-fragment58">
                <span class="create-job-post22-page-text61">
                  Allow Phone Access
                </span>
              </div>
            </ng-template>
            <ng-template #shuffleQuestionsText>
              <div class="create-job-post22-page-fragment59">
                <span class="create-job-post22-page-text62">
                  Shuffle questions for Candidate
                </span>
              </div>
            </ng-template>
            <ng-template #allowVideoRecordingText>
              <div class="create-job-post22-page-fragment60">
                <span class="create-job-post22-page-text63">
                  Allow Video Recording
                </span>
              </div>
            </ng-template>
          </create-job-post22>
        </div>
      </div>
      <create-job-post-footer2
        rootClassName="create-job-post-footer2root-class-name2"
      >
        <ng-template #button>
          <div class="create-job-post22-page-fragment61">
            <span class="create-job-post22-page-text64">Cancel</span>
          </div>
        </ng-template>
        <ng-template #button1>
          <div class="create-job-post22-page-fragment62">
            <span class="create-job-post22-page-text65">Save Draft</span>
          </div>
        </ng-template>
        <ng-template #button2>
          <div class="create-job-post22-page-fragment63">
            <span class="create-job-post22-page-text66">Previous</span>
          </div>
        </ng-template>
        <ng-template #button11>
          <div class="create-job-post22-page-fragment64">
            <span class="create-job-post22-page-text67">
              Generate Assessment question
            </span>
          </div>
        </ng-template>
        <ng-template #button12>
          <div class="create-job-post22-page-fragment65">
            <span class="create-job-post22-page-text68">Skip</span>
          </div>
        </ng-template>
        <ng-template #button122>
          <div class="create-job-post22-page-fragment66">
            <span class="create-job-post22-page-text69">Next</span>
          </div>
        </ng-template>
      </create-job-post-footer2>
    </div>
  </div>
</div>
