:host { 
  display: contents; 
}

.ai-marker {
  /* Adds a little space between the emoji and the question text */
  margin-right: 4px; 
}
 
.admin-create-job-step3-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.admin-create-job-step3-create-job-post22-page-main-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 1440px;
  height: 1070px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24px;
}
 
.admin-create-job-step3-fragment10 {
  display: contents;
}
 
.admin-create-job-step3-text10 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.admin-create-job-step3-fragment11 {
  display: contents;
}
 
.admin-create-job-step3-text11 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
 
.admin-create-job-step3-fragment12 {
  display: contents;
}
 
.admin-create-job-step3-text12 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.admin-create-job-step3-fragment13 {
  display: contents;
}
 
.admin-create-job-step3-text13 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment14 {
  display: contents;
}
 
.admin-create-job-step3-text14 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment15 {
  display: contents;
}
 
.admin-create-job-step3-text15 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment16 {
  display: contents;
}
 
.admin-create-job-step3-text16 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment17 {
  display: contents;
}
 
.admin-create-job-step3-text17 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment18 {
  display: contents;
}
 
.admin-create-job-step3-text18 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment19 {
  display: contents;
}
 
.admin-create-job-step3-text19 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment20 {
  display: contents;
}
 
.admin-create-job-step3-text20 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment21 {
  display: contents;
}
 
.admin-create-job-step3-text21 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment22 {
  display: contents;
}
 
.admin-create-job-step3-text22 {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
 
.admin-create-job-step3-fragment23 {
  display: contents;
}
 
.admin-create-job-step3-text23 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment24 {
  display: contents;
}
 
.admin-create-job-step3-text24 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment25 {
  display: contents;
}
 
.admin-create-job-step3-text25 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment26 {
  display: contents;
}
 
.admin-create-job-step3-text26 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment27 {
  display: contents;
}
 
.admin-create-job-step3-text30 {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
 
.admin-create-job-step3-create-job-post-details-main-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 1124px;
  height: 949px;
  display: flex;
  padding: 24px;
  align-self: center;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.admin-create-job-step3-create-job-post-details-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 1076px;
  height: 837px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.admin-create-job-step3-create-job-post-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: flex-start;
}
 
.admin-create-job-step3-icon1 {
  width: 24px;
  height: 24px;
  align-self: center;
}
 
.admin-create-job-step3-create-job-post-text {
  height: 100%;
  display: flex;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
 
.admin-create-job-step3-progress-bar-assessment-questions-main-container {
  gap: 40px;
  flex: 0 0 auto;
  width: 100%;
  height: 781px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.admin-create-job-step3-fragment28 {
  display: contents;
}
 
.admin-create-job-step3-text31 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment29 {
  display: contents;
}
 
.admin-create-job-step3-text32 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment30 {
  display: contents;
}
 
.admin-create-job-step3-text33 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment31 {
  display: contents;
}
 
.admin-create-job-step3-text34 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment32 {
  display: contents;
}
 
.admin-create-job-step3-text35 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment33 {
  display: contents;
}
 
.admin-create-job-step3-text36 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment34 {
  display: contents;
}
 
.admin-create-job-step3-text37 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment35 {
  display: contents;
}
 
.admin-create-job-step3-text38 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment36 {
  display: contents;
}
 
.admin-create-job-step3-text39 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment37 {
  display: contents;
}
 
.admin-create-job-step3-text40 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment38 {
  display: contents;
}
 
.admin-create-job-step3-text41 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment39 {
  display: contents;
}
 
.admin-create-job-step3-text42 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment40 {
  display: contents;
}
 
.admin-create-job-step3-text43 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment41 {
  display: contents;
}
 
.admin-create-job-step3-text44 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment42 {
  display: contents;
}
 
.admin-create-job-step3-text45 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment43 {
  display: contents;
}
 
.admin-create-job-step3-text46 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment44 {
  display: contents;
}
 
.admin-create-job-step3-text47 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment45 {
  display: contents;
}
 
.admin-create-job-step3-text48 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment46 {
  display: contents;
}
 
.admin-create-job-step3-text49 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment47 {
  display: contents;
}
 
.admin-create-job-step3-text50 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment48 {
  display: contents;
}
 
.admin-create-job-step3-text51 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment49 {
  display: contents;
}
 
.admin-create-job-step3-text52 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment50 {
  display: contents;
}
 
.admin-create-job-step3-text53 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment51 {
  display: contents;
}
 
.admin-create-job-step3-text54 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment52 {
  display: contents;
}
 
.admin-create-job-step3-text55 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment53 {
  display: contents;
}
 
.admin-create-job-step3-text56 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment54 {
  display: contents;
}
 
.admin-create-job-step3-text57 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment55 {
  display: contents;
}
 
.admin-create-job-step3-text58 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment56 {
  display: contents;
}
 
.admin-create-job-step3-text59 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment57 {
  display: contents;
}
 
.admin-create-job-step3-text60 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment58 {
  display: contents;
}
 
.admin-create-job-step3-text61 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment59 {
  display: contents;
}
 
.admin-create-job-step3-text62 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment60 {
  display: contents;
}
 
.admin-create-job-step3-text63 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment61 {
  display: contents;
}
 
.admin-create-job-step3-text64 {
  color: #41327b;
  display: inline-block;
}
 
.admin-create-job-step3-fragment62 {
  display: contents;
}
 
.admin-create-job-step3-text65 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment63 {
  display: contents;
}
 
.admin-create-job-step3-text66 {
  color: rgb(65, 50, 123);
  display: inline-block;
}
 
.admin-create-job-step3-fragment64 {
  display: contents;
}
 
.admin-create-job-step3-text67 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment65 {
  display: contents;
}
 
.admin-create-job-step3-text68 {
  display: inline-block;
}
 
.admin-create-job-step3-fragment66 {
  display: contents;
}
 
.admin-create-job-step3-text69 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .admin-create-job-step3-create-job-post22-page-main-container {
    width: 100%;
  }
}
 
@media(max-width: 991px) {
  .admin-create-job-step3-create-job-post22-page-main-container {
    width: 100%;
  }
  .admin-create-job-step3-text11 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .admin-create-job-step3-text12 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .admin-create-job-step3-create-job-post-details-main-container {
    width: 100%;
  }
  .admin-create-job-step3-create-job-post-details-container {
    width: 100%;
  }
  .admin-create-job-step3-create-job-post-text {
    font-size: 22px;
  }
}
 
@media(max-width: 767px) {
  .admin-create-job-step3-text10 {
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
  }
  .admin-create-job-step3-text15 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
  .admin-create-job-step3-text16 {
    font-size: 12px;
  }
  .admin-create-job-step3-text17 {
    font-size: 12px;
  }
  .admin-create-job-step3-text18 {
    font-size: 12px;
  }
  .admin-create-job-step3-text19 {
    font-size: 10px;
  }
  .admin-create-job-step3-text20 {
    font-size: 10px;
  }
  .admin-create-job-step3-text21 {
    font-size: 10px;
  }
  .admin-create-job-step3-text23 {
    font-size: 16px;
  }
  .admin-create-job-step3-text26 {
    color: rgb(24, 25, 28);
  }
  .admin-create-job-step3-create-job-post-details-container {
    height: auto;
  }
  .admin-create-job-step3-create-job-post-text {
    font-size: 20px;
  }
  .admin-create-job-step3-progress-bar-assessment-questions-main-container {
    height: auto;
  }
}
 
@media(max-width: 479px) {
  .admin-create-job-step3-create-job-post22-page-main-container {
    height: 1302px;
  }
  .admin-create-job-step3-create-job-post-details-main-container {
    height: auto;
  }
}
