
<div class="create-job-post22-page-container">
  <div
    id="create-job-post-2.2-page-main-container"
    class="create-job-post22-page-create-job-post22-page-main-container"
    >
    <navbar-for-recruiter-view
      rootClassName="navbar-for-recruiter-viewroot-class-name10"
      >
      <ng-template #text>
        <div class="create-job-post22-page-fragment10">
          <span class="create-job-post22-page-text10">2</span>
        </div>
      </ng-template>
      <ng-template #link1>
        <div class="create-job-post22-page-fragment11">
          <span class="create-job-post22-page-text11">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="create-job-post22-page-fragment12">
          <span class="create-job-post22-page-text12">Job Posted</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="create-job-post22-page-fragment13">
          <span class="create-job-post22-page-text13">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="create-job-post22-page-fragment14">
          <span class="create-job-post22-page-text14">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="create-job-post22-page-fragment15">
          <span class="create-job-post22-page-text15">Settings</span>
        </div>
      </ng-template>
      <ng-template #text7>
        <div class="create-job-post22-page-fragment16">
          <span class="create-job-post22-page-text16">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="create-job-post22-page-fragment17">
          <span class="create-job-post22-page-text17">Notifications</span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="create-job-post22-page-fragment18">
          <span class="create-job-post22-page-text18">Jobs Posted</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="create-job-post22-page-fragment19">
          <span class="create-job-post22-page-text19">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="create-job-post22-page-fragment20">
          <span class="create-job-post22-page-text20">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="create-job-post22-page-fragment21">
          <span class="create-job-post22-page-text21">Logout</span>
        </div>
      </ng-template>
      <ng-template #text14>
        <div class="create-job-post22-page-fragment22">
          <span class="create-job-post22-page-text22">2</span>
        </div>
      </ng-template>
      <ng-template #text15>
        <div class="create-job-post22-page-fragment23">
          <span class="create-job-post22-page-text23">Leslie Alexander</span>
        </div>
      </ng-template>
      <ng-template #text16>
        <div class="create-job-post22-page-fragment24">
          <span class="create-job-post22-page-text24">Google</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="create-job-post22-page-fragment25">
          <span class="create-job-post22-page-text25">Logout</span>
        </div>
      </ng-template>
      <ng-template #text32>
        <div class="create-job-post22-page-fragment26">
          <span class="create-job-post22-page-text26">
            <span>Software Development</span>
            <br />
            <span>Mountain View, CA</span>
          </span>
        </div>
      </ng-template>
      <ng-template #text1411>
        <div class="create-job-post22-page-fragment27">
          <span class="create-job-post22-page-text30">2</span>
        </div>
      </ng-template>
    </navbar-for-recruiter-view>
    <div
      id="create-job-post-details-main-container"
      class="create-job-post22-page-create-job-post-details-main-container"
      >
      <div
        id="create-job-post-details-container"
        class="create-job-post22-page-create-job-post-details-container"
        >
        <div
          id="create-job-post-container"
          class="create-job-post22-page-create-job-post-container"
          >
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            class="create-job-post22-page-icon1"
            >
            <path
              d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16z"
              fill="currentColor"
            ></path>
          </svg>
          <span
            id="create-job-post-text"
            class="create-job-post22-page-create-job-post-text"
            >
            Create Job Post
          </span>
        </div>
        <!-- This is the new, simplified code for this section -->
        <div
          id="progress-bar-assessment-questions-main-container"
          class="create-job-post22-page-progress-bar-assessment-questions-main-container"
          >
          <progress-bar2-code
            rootClassName="progress-bar2-coderoot-class-name1"
          ></progress-bar2-code>

          <!-- ========================================================= -->
          <!-- === THIS IS THE REPLACEMENT ============================= -->
          <!-- ========================================================= -->

          <!-- Loading state indicator, shown while the component logic is fetching data -->
          @if (isLoading) {
            <div class="loading-indicator-style">
              <p>Loading assessment configuration...</p>
              <!-- You can add a material spinner or other loading indicator here -->
            </div>
          }

          <!-- The functional component is loaded here when not loading and the job ID is available -->
          @if (!isLoading && jobUniqueId) {
            <div>
              <create-job-post22 [jobUniqueId]="jobUniqueId"></create-job-post22>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
