:host { 
  display: contents; 
}
 
.recruiter-flow-large-card-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.recruiter-flow-large-card-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 751px;
  height: 128px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-flow-large-card-company-name-logo-container {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-flow-large-card-company-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
 
.recruiter-flow-large-card-company-name {
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recruiter-flow-large-card-job-role {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
}
 
.recruiter-flow-large-card-location-and-date-posted {
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.recruiter-flow-large-card-number-of-candidates-applied-container {
  gap: 8px;
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
 
.recruiter-flow-large-card-more-images-container {
  flex: 0 0 auto;
  width: 28px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.recruiter-flow-large-card-image1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%; /* Makes the images circular */
}
 
.recruiter-flow-large-card-image2 {
  top: 0px;
  left: 1px;
  width: 24px;
  height: 24px;
  position: absolute;
  object-fit: cover;
  border-color: #FFFFFF;
  border-width: 1px;
  border-radius: 50%; /* Makes the images circular */
}
 
.recruiter-flow-large-card-number-of-candidates-applied {
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recruiter-flow-large-card-fragment1 {
  display: contents;
}
 
.recruiter-flow-large-card-text1 {
  color: #6b6c6d;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
}
 
.recruiter-flow-large-card-fragment2 {
  display: contents;
}
 
.recruiter-flow-large-card-text2 {
  color: #18191c;
  display: inline-block;
  font-size: 24px;
}
 
.recruiter-flow-large-card-fragment3 {
  display: contents;
}
 
.recruiter-flow-large-card-text3 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.recruiter-flow-large-card-fragment4 {
  display: contents;
}
 
.recruiter-flow-large-card-text4 {
  color: rgb(71, 71, 72);
  display: inline-block;
}
 

 

 
@media(max-width: 991px) {
  .recruiter-flow-large-card-container2 {
    width: 100%;
  }
  .recruiter-flow-large-card-number-of-candidates-applied {
    justify-content: flex-start;
  }
  .recruiter-flow-large-card-text4 {
    color: rgb(71, 71, 72);
    font-size: 12px;
  }
  .recruiter-flow-large-cardroot-class-name {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .recruiter-flow-large-card-container2 {
    width: 95%;
  }
  .recruiter-flow-large-cardroot-class-name {
    width: 100%;
  }
  .recruiter-flow-large-cardroot-class-name1 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .recruiter-flow-large-card-container2 {
    width: 95%;
  }
}
