:host { 
  display: contents; 
}
 
.buffer-name-1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
 
.buffer-name-1-container2 {
  flex: 0 0 auto;
  width: 711px;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: center;
}
 
.buffer-name-1-container3 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 0px;
  justify-content: center;
}
 
.buffer-name-1-container4 {
  display: contents;
}
 
@media(max-width: 1200px) {
  .buffer-name-1-container3 {
    width: 100%;
    height: 100%;
    padding: 0%;
    align-items: center;
    justify-content: center;
  }
}

        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

        body {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
            overflow: hidden;
        }

        .loading-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 441px;
            height: 291px;
        }

        .loading-overlay img {
            position: relative;
            width: 28px;
            height: 28px;
            margin-right: 28px;
        }

        .circle-loader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;
        }

        .circle-loader img {
            position: relative;
            width: 28px;
            height: 28px;
            margin-right: 28px;
            animation: zoomInOut 2.5s infinite ease-in-out;
            transform-origin: center center;
        }

        .circle-loader img:nth-child(1) { animation-delay: 0s; }
        .circle-loader img:nth-child(2) { animation-delay: 0.1s; }
        .circle-loader img:nth-child(3) { animation-delay: 0.2s; }
        .circle-loader img:nth-child(4) { animation-delay: 0.3s; }
        .circle-loader img:nth-child(5) { animation-delay: 0.4s; }
        .circle-loader img:nth-child(6) { animation-delay: 0.5s; }
        .circle-loader img:nth-child(7) { animation-delay: 0.6s; }
        .circle-loader img:nth-child(8) { animation-delay: 0.7s; }

        @keyframes zoomInOut {
            0%, 40% {
                transform: scale(1);
                opacity: 1;
            }
            20% {
                transform: scale(2);
                opacity: 1;
            }
            80%, 100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        @media screen and (max-width: 1024px) {
            .loading-overlay {
                width: 90%;
                height: auto;
            }

            .circle-loader {
                width: 140px;
                height: 70px;
            }

            .circle-loader img {
                width: 24px;
                height: 24px;
                margin-right: 24px;
            }
        }

        @media screen and (max-width: 768px) {
            .loading-overlay {
                width: 80%;
                height: auto;
            }

            .circle-loader {
                width: 120px;
                height: 60px;
            }

            .circle-loader img {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }
        }

        @media screen and (max-width: 480px) {
            .loading-overlay {
                width: 100%;
                height: auto;
            }

            .circle-loader {
                width: 110px;
                height: 50px;
            }

            .circle-loader img {
                width: 18px;
                height: 18px;
                margin-right: 18px;
            }
        }
 
@media(max-width: 767px) {
  .buffer-name-1-container3 {
    display: block;
  }
}
