<div id="login-admin" class="login-admin-container">
  <div id="main-container" class="login-admin-main-container">
    <login-page-navbar
      rootClassName="login-page-navbarroot-class-name"
    ></login-page-navbar>
    <log-in-page 
      userType="admin"
      rootClassName="log-in-pageroot-class-name" 
      (loginSubmit)="onLoginSubmit($event)" 
      [errorMessage]="errorMessage"
    >
      <ng-template #text1>
        <div class="login-admin-fragment1">
          <span class="login-admin-text1">Email</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="login-admin-fragment2">
          <span class="login-admin-text2">Show</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="login-admin-fragment3">
          <span class="login-admin-text3">Don’t have an account?</span>
        </div>
      </ng-template>
      <ng-template #text4>
        <div class="login-admin-fragment4">
          <span class="login-admin-text4">Sign up</span>
        </div>
      </ng-template>
      <ng-template #button>
        <div class="login-admin-fragment5">
          <span class="login-admin-text5">Login</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="login-admin-fragment6">
          <span class="login-admin-text6">Password</span>
        </div>
      </ng-template>
      <ng-template #text71>
        <div class="login-admin-fragment7">
          <span class="login-admin-text7">invalid Email or Password</span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="login-admin-fragment8">
          <span class="login-admin-text8">Welcome to Flashyre</span>
        </div>
      </ng-template>
      <ng-template #forgotPassword>
        <div class="login-admin-fragment9">
          <span class="login-admin-text9">Forgot Password</span>
        </div>
      </ng-template>
    </log-in-page>
  </div>
</div>