:host { 
  display: contents; 
}
 
.assessment-taken-page3-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.assessment-taken-page3-cloud-architecture-main-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.assessment-taken-page3-fragment10 {
  display: contents;
}
 
.assessment-taken-page3-text10 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page3-fragment11 {
  display: contents;
}
 
.assessment-taken-page3-text11 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page3-fragment12 {
  display: contents;
}
 
.assessment-taken-page3-text12 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.assessment-taken-page3-fragment13 {
  display: contents;
}
 
.assessment-taken-page3-text13 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment14 {
  display: contents;
}
 
.assessment-taken-page3-text14 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment15 {
  display: contents;
}
 
.assessment-taken-page3-text15 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment16 {
  display: contents;
}
 
.assessment-taken-page3-text16 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment17 {
  display: contents;
}
 
.assessment-taken-page3-text17 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page3-fragment18 {
  display: contents;
}
 
.assessment-taken-page3-text18 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment19 {
  display: contents;
}
 
.assessment-taken-page3-text19 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment20 {
  display: contents;
}
 
.assessment-taken-page3-text20 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment21 {
  display: contents;
}
 
.assessment-taken-page3-text21 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment22 {
  display: contents;
}
 
.assessment-taken-page3-text22 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment23 {
  display: contents;
}
 
.assessment-taken-page3-text23 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment24 {
  display: contents;
}
 
.assessment-taken-page3-text24 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment25 {
  display: contents;
}
 
.assessment-taken-page3-text25 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment26 {
  display: contents;
}
 
.assessment-taken-page3-text29 {
  display: inline-block;
}
 
.assessment-taken-page3-fragment27 {
  display: contents;
}
 
.assessment-taken-page3-text30 {
  display: inline-block;
}
 
.assessment-taken-page3-cloud-architecture-details-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 1124px;
  height: auto;
  display: flex;
  padding: 24px;
  margin-top: 100px;
  align-items: center;
  border-color: #D9D9D9;
  border-width: 1px;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.assessment-taken-page3-text-id-attempts-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.assessment-taken-page3-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-cloud-architecture-text-container {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page3-back-icon {
  width: 24px;
  height: 24px;
}
 
.assessment-taken-page3-cloud-architecture-text {
  height: 32px;
  display: flex;
  font-size: 24px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page3-assessment-by-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.assessment-taken-page3-assessment-company-logo {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
 
.assessment-taken-page3-assessment-by-text {
  color: #474748;
  height: 18px;
  display: flex;
  font-size: 12px;
  font-style: normal;
  align-items: center;
  font-weight: 500;
}
 
.assessment-taken-page3-id-attempts-container {
  gap: 24px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-id-text {
  color: #6b6c6d;
}
 
.assessment-taken-page3-text31 {
  font-style: normal;
  font-weight: 700;
}
 
.assessment-taken-page3-re-attempt-container {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  width: 127px;
  height: 48px;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  background-color: rgb(5, 53, 108);
}
 
.assessment-taken-page3-re-attempt-container:hover {
  color: #FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  background-color: #0A4992;
}
 
.assessment-taken-page3-re-attempt-container:active {
  color: #FFFFFF;
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: #0A4992;
}
 
.assessment-taken-page3-re-attempt-container:disabled {
  opacity: 0.4;
}
 
.assessment-taken-page3-qa-details-container {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  height: 600px;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-qa-container1 {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-question-number-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text33 {
  height: 24px;
  font-style: normal;
  font-weight: 700;
}
 
.assessment-taken-page3-question-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text34 {
  height: 24px;
}
 
.assessment-taken-page3-options-container1 {
  gap: 24px;
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-option-container10 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton10 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container12 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text10 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text11 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container11 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton11 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container13 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text12 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text13 {
  fill: #F10400;
  color: #F10400;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container12 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton12 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container14 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text14 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text15 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container13 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton13 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container15 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text16 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text17 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-explianation-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-container16 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text35 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-option-text1 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text36 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-answer-explained-text1 {
  fill: #6B6C6D;
  color: rgb(107, 108, 109);
}
 
.assessment-taken-page3-qa-container2 {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-question-number-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text40 {
  height: 24px;
  font-style: normal;
  font-weight: 700;
}
 
.assessment-taken-page3-question-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text41 {
  height: 24px;
}
 
.assessment-taken-page3-options-container2 {
  gap: 24px;
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-option-container14 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton14 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container18 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text18 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text19 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container15 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton15 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container19 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text20 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text21 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container16 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton16 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container20 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text22 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text23 {
  fill: #F10400;
  color: #F10400;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container17 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton17 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container21 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text24 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text25 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-explianation-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-container22 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text42 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-option-text2 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-container23 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text43 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-answer-explained-text2 {
  fill: #6B6C6D;
  color: rgb(107, 108, 109);
}
 
.assessment-taken-page3-qa-container3 {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-question-number-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text47 {
  height: 24px;
  font-style: normal;
  font-weight: 700;
}
 
.assessment-taken-page3-question-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text48 {
  height: 24px;
}
 
.assessment-taken-page3-options-container3 {
  gap: 24px;
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-option-container18 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton18 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container24 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text26 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text27 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container19 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton19 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container25 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text28 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text29 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container20 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton20 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container26 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text30 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text31 {
  fill: #F10400;
  color: #F10400;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container21 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton21 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container27 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text32 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text33 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-explianation-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-container28 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text49 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-option-text3 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-container29 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text50 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-answer-explained-text3 {
  fill: #6B6C6D;
  color: rgb(107, 108, 109);
}
 
.assessment-taken-page3-qa-container4 {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-question-number-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text54 {
  height: 24px;
  font-style: normal;
  font-weight: 700;
}
 
.assessment-taken-page3-question-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text55 {
  height: 24px;
}
 
.assessment-taken-page3-options-container4 {
  gap: 24px;
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-option-container22 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton22 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container30 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text34 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text35 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container23 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton23 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container31 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text36 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text37 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container24 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton24 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container32 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text38 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text39 {
  fill: #F10400;
  color: #F10400;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container25 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton25 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container33 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text40 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text41 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-explianation-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-container34 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text56 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-option-text4 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-container35 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text57 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-answer-explained-text4 {
  fill: #6B6C6D;
  color: rgb(107, 108, 109);
}
 
.assessment-taken-page3-qa-container5 {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-question-number-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text61 {
  height: 24px;
  font-style: normal;
  font-weight: 700;
}
 
.assessment-taken-page3-question-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-text62 {
  height: 24px;
}
 
.assessment-taken-page3-options-container5 {
  gap: 24px;
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-option-container26 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton26 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container36 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text42 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text43 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container27 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton27 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container37 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text44 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text45 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container28 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton28 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container38 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text46 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text47 {
  fill: #F10400;
  color: #F10400;
  font-size: 13px;
}
 
.assessment-taken-page3-option-container29 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page3-radiobutton29 {
  width: 16px;
  height: 16px;
}
 
.assessment-taken-page3-container39 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-correct-incorrect-text48 {
  fill: #1F882B;
  color: #1F882B;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-correct-incorrect-text49 {
  fill: #F10400;
  color: #F10400;
  display: none;
  font-size: 13px;
}
 
.assessment-taken-page3-explianation-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page3-container40 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text63 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-option-text5 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-container41 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page3-text64 {
  fill: #6B6C6D;
  color: #6B6C6D;
}
 
.assessment-taken-page3-correct-answer-explained-text5 {
  fill: #6B6C6D;
  color: rgb(107, 108, 109);
}
 
@media(max-width: 991px) {
  .assessment-taken-page3-cloud-architecture-main-container {
    gap: 20px;
  }
  .assessment-taken-page3-text10 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page3-text11 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page3-text12 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page3-text17 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page3-cloud-architecture-details-container {
    width: 900px;
    margin-top: 80px;
  }
  .assessment-taken-page3-text-id-attempts-container {
    height: auto;
  }
  .assessment-taken-page3-cloud-architecture-text-container {
    width: auto;
  }
  .assessment-taken-page3-cloud-architecture-text {
    font-size: 22px;
  }
  .assessment-taken-page3-id-text {
    font-size: 14px;
  }
  .assessment-taken-page3-attempts-remaining-text {
    font-size: 14px;
  }
  .assessment-taken-page3-re-attempt-container {
    width: 110px;
    height: 40px;
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .assessment-taken-page3-cloud-architecture-main-container {
    gap: 16px;
    width: 100%;
  }
  .assessment-taken-page3-text15 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
  .assessment-taken-page3-text16 {
    font-size: 12px;
  }
  .assessment-taken-page3-text18 {
    font-size: 12px;
  }
  .assessment-taken-page3-text19 {
    font-size: 10px;
  }
  .assessment-taken-page3-text20 {
    font-size: 10px;
  }
  .assessment-taken-page3-text21 {
    font-size: 10px;
  }
  .assessment-taken-page3-text22 {
    font-size: 16px;
  }
  .assessment-taken-page3-text25 {
    color: rgb(24, 25, 28);
  }
  .assessment-taken-page3-text29 {
    font-size: 12px;
  }
  .assessment-taken-page3-text30 {
    font-size: 12px;
  }
  .assessment-taken-page3-cloud-architecture-details-container {
    gap: 16px;
    width: 700px;
    height: 330px;
  }
  .assessment-taken-page3-cloud-architecture-text-container {
    gap: 8px;
  }
  .assessment-taken-page3-cloud-architecture-text {
    display: flex;
    font-size: 20px;
  }
  .assessment-taken-page3-assessment-by-container {
    width: auto;
  }
  .assessment-taken-page3-assessment-by-text {
    height: auto;
  }
  .assessment-taken-page3-re-attempt-container {
    width: 100px;
    height: 36px;
  }
}
 
@media(max-width: 479px) {
  .assessment-taken-page3-cloud-architecture-main-container {
    width: 479px;
  }
  .assessment-taken-page3-cloud-architecture-details-container {
    gap: 16px;
    width: 470px;
    height: auto;
    padding: 12px;
  }
  .assessment-taken-page3-text-id-attempts-container {
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .assessment-taken-page3-container11 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .assessment-taken-page3-cloud-architecture-text-container {
    gap: 8px;
  }
  .assessment-taken-page3-cloud-architecture-text {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .assessment-taken-page3-id-attempts-container {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}