<div id="profile-last-page1" class="profile-last-page1-container">
    <div id="main-container" class="profile-last-page1-main-container">
      <navbar-for-candidate-view1
        rootClassName="navbar-for-candidate-view1root-class-name7"
      >
        <ng-template #text1>
          <div class="profile-last-page1-fragment10">
            <span class="profile-last-page1-text10">Profile</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="profile-last-page1-fragment11">
            <span class="profile-last-page1-text11">Preference</span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="profile-last-page1-fragment12">
            <span class="profile-last-page1-text12">Settings</span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="profile-last-page1-fragment13">
            <span class="profile-last-page1-text13">Kathryn Murphy</span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="profile-last-page1-fragment14">
            <span class="profile-last-page1-text14">
              ✅ 90% Profile Completion
            </span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="profile-last-page1-fragment15">
            <span class="profile-last-page1-text15">View &amp; edit profile</span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="profile-last-page1-fragment16">
            <span class="profile-last-page1-text16">Preference</span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="profile-last-page1-fragment17">
            <span class="profile-last-page1-text17">Settings</span>
          </div>
        </ng-template>
        <ng-template #text13>
          <div class="profile-last-page1-fragment18">
            <span class="profile-last-page1-text18">Logout</span>
          </div>
        </ng-template>
        <ng-template #text31>
          <div class="profile-last-page1-fragment19">
            <span class="profile-last-page1-text19">Logout</span>
          </div>
        </ng-template>
      </navbar-for-candidate-view1>
      <div
        id="certificate-main-container"
        class="profile-last-page1-certificate-container"
      >
        <progress-bar-step5
          rootClassName="progress-bar-step5root-class-name1"
        ></progress-bar-step5>
        <buffer-name rootClassName="buffer-nameroot-class-name"></buffer-name>
      </div>
    </div>
  </div>