:host { 
  display: contents; 
}
 
.admin-page1-container {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.admin-page1-admin-page-main-container {
  gap: 24px;
  width: 100%;
  height: 1949px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24px;
}
 
.admin-page1cv-upload-jd-upload-candidate-details-main-container {
  gap: 24px;
  width: 80%;
  height: auto;
  display: flex;
  padding: 24px;
  border-radius: 8px;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.admin-page1cvjd-upload-candidate-details-container {
  gap: 40px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
}
 
.admin-page1cvjd-upload-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 50%;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.admin-page1cv-upload-button-container {
  gap: 8px;
  flex: 0 0 auto;
  width: 48%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #A7A7A7;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  justify-content: center;
}
 
.admin-page1cv-upload-button-container:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.admin-page1cv-upload-button-container:active {
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: #D7DFE7;
}
 
.admin-page1cv-upload-text {
  color: #1819;
  width: auto;
  height: 24px;
  display: flex;
  font-size: 20px;
  align-items: center;
}
 
.admin-page1jd-upload-button-container {
  gap: 8px;
  flex: 0 0 auto;
  width: 48%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #A7A7A7;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  justify-content: center;
}
 
.admin-page1jd-upload-button-container:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.admin-page1jd-upload-button-container:active {
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: #D7DFE7;
}
 
.admin-page1jd-upload-text {
  fill: #1819;
  color: #1819;
  width: auto;
  height: 24px;
  display: flex;
  font-size: 20px;
  align-items: center;
}
 
.admin-page1-fragment10 {
  display: contents;
}
 
.admin-page1-text10 {
  display: inline-block;
}
 
.admin-page1-fragment11 {
  display: contents;
}
 
.admin-page1-text11 {
  display: inline-block;
}
 
.admin-page1-fragment12 {
  display: contents;
}
 
.admin-page1-text12 {
  display: inline-block;
}
 
.admin-page1-fragment13 {
  display: contents;
}
 
.admin-page1-text13 {
  display: inline-block;
}
 
.admin-page1-fragment14 {
  display: contents;
}
 
.admin-page1-text14 {
  display: inline-block;
}
 
.admin-page1-fragment15 {
  display: contents;
}
 
.admin-page1-text15 {
  display: inline-block;
}
 
.admin-page1-fragment16 {
  display: contents;
}
 
.admin-page1-text16 {
  display: inline-block;
}
 
.admin-page1-fragment17 {
  display: contents;
}
 
.admin-page1-text17 {
  display: inline-block;
}
 
.admin-page1-fragment18 {
  display: contents;
}
 
.admin-page1-text18 {
  display: inline-block;
}
 
.admin-page1-fragment19 {
  display: contents;
}
 
.admin-page1-text19 {
  display: inline-block;
}
 
.admin-page1-fragment20 {
  display: contents;
}
 
.admin-page1-text20 {
  display: inline-block;
}
 
.admin-page1-fragment21 {
  display: contents;
}
 
.admin-page1-text21 {
  display: inline-block;
}
 
.admin-page1-fragment22 {
  display: contents;
}
 
.admin-page1-text22 {
  display: inline-block;
}
 
.admin-page1-fragment23 {
  display: contents;
}
 
.admin-page1-text23 {
  display: inline-block;
}
 
.admin-page1-fragment24 {
  display: contents;
}
 
.admin-page1-text24 {
  display: inline-block;
}
 
.admin-page1-fragment25 {
  display: contents;
}
 
.admin-page1-text25 {
  display: inline-block;
}
 
.admin-page1-fragment26 {
  display: contents;
}
 
.admin-page1-text26 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .admin-page1-admin-page-main-container {
    width: 100%;
    height: auto;
  }
}
 
@media(max-width: 991px) {
  .admin-page1-admin-page-main-container {
    gap: 16;
    width: 100%;
  }
  .admin-page1cv-upload-jd-upload-candidate-details-main-container {
    width: 100%;
    padding: var(--dl-layout-space-unit);
  }
  .admin-page1cvjd-upload-container {
    width: 50%;
    height: 90px;
  }
  .admin-page1cv-upload-button-container {
    width: 48%;
    padding: 16px;
  }
  .admin-page1cv-upload-text {
    font-size: 14px;
  }
  .admin-page1jd-upload-button-container {
    width: 48%;
    padding: 16px;
  }
  .admin-page1jd-upload-text {
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .admin-page1-admin-page-main-container {
    width: 100%;
  }
  .admin-page1cv-upload-jd-upload-candidate-details-main-container {
    width: 100%;
  }
  .admin-page1cvjd-upload-container {
    height: 60px;
  }
  .admin-page1cv-upload-button-container {
    width: 47%;
  }
  .admin-page1cv-upload-text {
    font-size: 12px;
  }
  .admin-page1jd-upload-button-container {
    width: 47%;
  }
  .admin-page1jd-upload-text {
    font-size: 12px;
  }
}
 
@media(max-width: 479px) {
  .admin-page1-admin-page-main-container {
    gap: 8px;
  }
  .admin-page1cv-upload-jd-upload-candidate-details-main-container {
    padding: var(--dl-layout-space-halfunit);
  }
  .admin-page1cvjd-upload-container {
    width: 100%;
    align-self: flex-start;
  }
}