<div id="admin-page1" class="admin-page1-container">
  <div
    id="admin-page-main-container"
    class="admin-page1-admin-page-main-container"
  >
    <app-component1></app-component1>
    <div
      id="cv-upload-jd-upload-candidate-details-main-container"
      class="admin-page1cv-upload-jd-upload-candidate-details-main-container"
    >
      <div
        id="cv-jd-upload-candidate-details-container"
        class="admin-page1cvjd-upload-candidate-details-container"
      >
        <div
          id="cv-jd-upload-container"
          class="admin-page1cvjd-upload-container"
        >
           <div
            id="cv-upload-button-container"
            class="admin-page1cv-upload-button-container"
            (click)="triggerCvUpload()"
            [class.disabled]="isCvUploading"
          >
            <span id="cv-upload-text" class="admin-page1cv-upload-text">
              <span *ngIf="!isCvUploading">CV Bulk Upload</span>
              <span *ngIf="isCvUploading">Processing...</span>
            </span>
          </div>
          <!-- JD UPLOAD BUTTON (NEW) -->
  <div id="jd-upload-button-container" (click)="triggerJdUpload()" [class.disabled]="isJdUploading">
    <span id="jd-upload-text" class="admin-page1jd-upload-text">
      <span *ngIf="!isJdUploading">JD Upload</span>
      <span *ngIf="isJdUploading">Processing...</span>
    </span>
  </div>
</div>
           <!-- Add a message area for upload status -->
        <div *ngIf="uploadMessage" class="upload-status-message">
          {{ uploadMessage }}
        </div>
        <!-- Add hidden file input -->
      <input type="file" #cvFileInput hidden multiple (change)="onCvFilesSelected($event)" accept=".pdf,.doc,.docx"/>
        <input type="file" #jdFileInput hidden (change)="onJdFileSelected($event)" accept=".pdf,.doc,.docx"/>
        </div>
        <admin-page1-component
          rootClassName="admin-page1-componentroot-class-name"
        >
          <ng-template #text>
            <div class="admin-page1-fragment10">
              <span class="admin-page1-text10">Today</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="admin-page1-fragment11">
              <span class="admin-page1-text11">Today</span>
            </div>
          </ng-template>
          <ng-template #text2>
            <div class="admin-page1-fragment12">
              <span class="admin-page1-text12">05:00 PM</span>
            </div>
          </ng-template>
          <ng-template #text7>
            <div class="admin-page1-fragment13">
              <span class="admin-page1-text13">DD:MM:YY</span>
            </div>
          </ng-template>
          <ng-template #text8>
            <div class="admin-page1-fragment14">
              <span class="admin-page1-text14">HH:MM</span>
            </div>
          </ng-template>
          <ng-template #text9>
            <div class="admin-page1-fragment15">
              <span class="admin-page1-text15">Select All</span>
            </div>
          </ng-template>
          <ng-template #button>
            <div class="admin-page1-fragment16">
              <span class="admin-page1-text16">Start Process</span>
            </div>
          </ng-template>
          <ng-template #text10>
            <div class="admin-page1-fragment17">
              <span class="admin-page1-text17">Prashanth </span>
            </div>
          </ng-template>
          <ng-template #text11>
            <div class="admin-page1-fragment18">
              <span class="admin-page1-text18">View CV</span>
            </div>
          </ng-template>
          <ng-template #text28>
            <div class="admin-page1-fragment19">
              <span class="admin-page1-text19">05:00 PM</span>
            </div>
          </ng-template>
          <ng-template #button1>
            <div class="admin-page1-fragment20">
              <span class="admin-page1-text20">Remove</span>
            </div>
          </ng-template>
          <ng-template #text110>
            <div class="admin-page1-fragment21">
              <span class="admin-page1-text21">Yesterday</span>
            </div>
          </ng-template>
        </admin-page1-component>
        <admin-page2-component
          rootClassName="admin-page2-componentroot-class-name"
        ></admin-page2-component>
      </div>
    </div>
  </div>

