<div class="create-job-post-21-container1" [ngClass]="rootClassName">
  <div class="create-job-post-21-container2">
    <span class="create-job-post-21-text10">
      <ng-container>
        <ng-template #defaultText1>
          <div class="create-job-post-21-fragment4">
            <span class="create-job-post-21-text21">
              How do you want to Add your Questions to Assessment?
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text1 ? text1 : defaultText1"
        ></ng-container>
      </ng-container>
    </span>
    <div class="create-job-post-21-container3">
      <div class="create-job-post-21-container4">
        <span class="create-job-post-21-text11">
          <ng-container>
            <ng-template #defaultText2>
              <div class="create-job-post-21-fragment1">
                <span class="create-job-post-21-text14">
                  <span class="create-job-post-21-text15">
                    Generate with AI
                  </span>
                  <span><span [innerHTML]="rawwand | safeHtml"></span></span>
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text2 ? text2 : defaultText2"
            ></ng-container>
          </ng-container>
        </span>
        <span class="create-job-post-21-text12">
          <ng-container>
            <ng-template #defaultText3>
              <div class="create-job-post-21-fragment3">
                <span class="create-job-post-21-text20">✨</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text3 ? text3 : defaultText3"
            ></ng-container>
          </ng-container>
        </span>
      </div>
      <div class="create-job-post-21-container5">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="create-job-post-21-icon1"
        >
          <path
            d="M18.42 8.22a7 7 0 0 0-13.36 1.89A4 4 0 0 0 6 18a1 1 0 0 0 0-2a2 2 0 0 1 0-4a1 1 0 0 0 1-1a5 5 0 0 1 9.73-1.61a1 1 0 0 0 .78.67a3 3 0 0 1 .24 5.84a1 1 0 0 0 .5 1.94a5 5 0 0 0 .17-9.62m-5.71 2.07a1 1 0 0 0-.33-.21a1 1 0 0 0-.76 0a1 1 0 0 0-.33.21l-3 3a1 1 0 0 0 1.42 1.42l1.29-1.3V19a1 1 0 0 0 2 0v-5.59l1.29 1.3a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42Z"
            fill="currentColor"
          ></path>
        </svg>
        <span class="create-job-post-21-text13">
          <ng-container>
            <ng-template #defaultText21>
              <div class="create-job-post-21-fragment2">
                <span class="create-job-post-21-text17">
                  <span class="create-job-post-21-text18">
                    Generate with AI
                  </span>
                  <span><span [innerHTML]="rawu3wv | safeHtml"></span></span>
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text21 ? text21 : defaultText21"
            ></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>
