<div class="flashyre-assessment-rules-card-container">
  <flashyre-assessment-rules
    rootClassName="flashyre-assessment-rulesroot-class-name"
  >
    <ng-template #text2>
      <div class="flashyre-assessment-rules-card-fragment10">
        <span class="flashyre-assessment-rules-card-text10">Test Details:</span>
      </div>
    </ng-template>
    <ng-template #text311>
      <div class="flashyre-assessment-rules-card-fragment11">
        <span class="flashyre-assessment-rules-card-text11">
          <span>Each correct answer will be awarded 1 point.</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text1>
      <div class="flashyre-assessment-rules-card-fragment12">
        <span class="flashyre-assessment-rules-card-text14">
          Rules for the Corporate Skill-Based Assessment 
        </span>
      </div>
    </ng-template>
    <ng-template #text61>
      <div class="flashyre-assessment-rules-card-fragment13">
        <span class="flashyre-assessment-rules-card-text15">
          I have read and understood the assessment rules
        </span>
      </div>
    </ng-template>
    <ng-template #text9>
      <div class="flashyre-assessment-rules-card-fragment14">
        <span class="flashyre-assessment-rules-card-text16">
          2. This assessment session is being video recorded for monitoring and
          evaluation purpose.
        </span>
      </div>
    </ng-template>
    <ng-template #text211>
      <div class="flashyre-assessment-rules-card-fragment15">
        <span class="flashyre-assessment-rules-card-text17">
          <span>Scoring:</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text3111>
      <div class="flashyre-assessment-rules-card-fragment16">
        <span class="flashyre-assessment-rules-card-text20">
          The test will auto-submit after 10 minutes, regardless of whether you
          have answered all the questions or not.
        </span>
      </div>
    </ng-template>
    <ng-template #text412>
      <div class="flashyre-assessment-rules-card-fragment17">
        <span class="flashyre-assessment-rules-card-text21">
          <span>
            Once the 10-minute time limit is up, the test will automatically
            submit, even if you have not answered all the questions.
          </span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text>
      <div class="flashyre-assessment-rules-card-fragment18">
        <span class="flashyre-assessment-rules-card-text24">
          Corporate Skill-Based Assessment 
        </span>
      </div>
    </ng-template>
    <ng-template #text8>
      <div class="flashyre-assessment-rules-card-fragment19">
        <span class="flashyre-assessment-rules-card-text25">
          1. Switching tabs or move to different application will lead to
          auto-submittion of this assessment.
        </span>
      </div>
    </ng-template>
    <ng-template #text411>
      <div class="flashyre-assessment-rules-card-fragment20">
        <span class="flashyre-assessment-rules-card-text26">
          Your final score will be displayed at the end of the test.
        </span>
      </div>
    </ng-template>
    <ng-template #text41>
      <div class="flashyre-assessment-rules-card-fragment21">
        <span class="flashyre-assessment-rules-card-text27">
          <span>
            You can navigate between the questions and change your answers
            before submitting.
          </span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="flashyre-assessment-rules-card-fragment22">
        <span class="flashyre-assessment-rules-card-text30">
          The test consist of 5 multiple choice questions based on the
          Assessment skill.
        </span>
      </div>
    </ng-template>
    <ng-template #text21>
      <div class="flashyre-assessment-rules-card-fragment23">
        <span class="flashyre-assessment-rules-card-text31">Test Taking:</span>
      </div>
    </ng-template>
    <ng-template #text41112>
      <div class="flashyre-assessment-rules-card-fragment24">
        <span class="flashyre-assessment-rules-card-text32">
          No late submissions will be accepted.
        </span>
      </div>
    </ng-template>
    <ng-template #text7>
      <div class="flashyre-assessment-rules-card-fragment25">
        <span class="flashyre-assessment-rules-card-text33">Note:</span>
      </div>
    </ng-template>
    <ng-template #text5>
      <div class="flashyre-assessment-rules-card-fragment26">
        <span class="flashyre-assessment-rules-card-text34">Good luck!</span>
      </div>
    </ng-template>
    <ng-template #text31>
      <div class="flashyre-assessment-rules-card-fragment27">
        <span class="flashyre-assessment-rules-card-text35">
          You must answer all 5 questions within the 10-minute time limit.
        </span>
      </div>
    </ng-template>
    <ng-template #text2111>
      <div class="flashyre-assessment-rules-card-fragment28">
        <span class="flashyre-assessment-rules-card-text36">
          Important Notes:
        </span>
      </div>
    </ng-template>
    <ng-template #text4>
      <div class="flashyre-assessment-rules-card-fragment29">
        <span class="flashyre-assessment-rules-card-text37">
          The time limit for the test is 10 minutes.
        </span>
      </div>
    </ng-template>
    <ng-template #text4111>
      <div class="flashyre-assessment-rules-card-fragment30">
        <span class="flashyre-assessment-rules-card-text38">
          Make sure to review your answers carefully before the time runs out.
        </span>
      </div>
    </ng-template>
    <ng-template #button>
      <div class="flashyre-assessment-rules-card-fragment31" (click)="startAssessment()">
        <span class="flashyre-assessment-rules-card-text39">
          Start Assessment
        </span>
      </div>
    </ng-template>
  </flashyre-assessment-rules>

  <div *ngIf="showMessageOverlay" class="overlay">
      <div
      id="message-container"
      class="error-system-requirement-failed-message-container"
    >
      <span
        id="message-text"
        class="error-system-requirement-failed-message-text"
      >
        Message
      </span>
      <div
        id="message-main-container"
        class="error-system-requirement-failed-message-main-container"
      >
        <div
          id="message-first-container"
          class="error-system-requirement-failed-message-first-container"
        >
          <span
            id="navigate-to-text"
            class="error-system-requirement-failed-navigate-to-text"
          >
            Navigate to 
          </span>
          <div
            id="view-site-information-container"
            class="error-system-requirement-failed-view-site-information-container"
          >
            <svg
              id="view-site-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="error-system-requirement-failed-view-site-icon"
            >
              <g fill="none" stroke="currentColor" stroke-width="1.5">
                <rect
                  x="2.75"
                  y="2.75"
                  rx="6"
                  width="18.5"
                  height="18.5"
                ></rect>
                <path
                  d="M17.75 8.805h-1.437m-3.594 0H6.25m11.5 6.39h-6.469m-3.593 0H6.25m3.234 1.797a1.797 1.797 0 1 0 0-3.594a1.797 1.797 0 0 0 0 3.594m5.032-6.39a1.797 1.797 0 1 0 0-3.594a1.797 1.797 0 0 0 0 3.594"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
            <span
              id="view-site-information-text"
              class="error-system-requirement-failed-view-site-information-text"
            >
               &apos;view site information&apos; 
            </span>
          </div>
          <span
            id="remaining-text"
            class="error-system-requirement-failed-remaining-text"
          >
            <span class="error-system-requirement-failed-text1">
               enable audio &amp; video, then click 
            </span>
            <span class="error-system-requirement-failed-text2">&apos;</span>
            <span class="error-system-requirement-failed-text3">Retry</span>
            <span class="error-system-requirement-failed-text4">&apos;</span>
            <span class="error-system-requirement-failed-text5">.</span>
          </span>
        </div>
        <div
          id="two-buttons-container"
          class="error-system-requirement-failed-two-buttons-container"
        >
          <button
            id="go-back-button"
            type="button"
            class="error-system-requirement-failed-go-back-button button"
            (click)="onGoBack()"
          >
            Go Back
          </button>
          <button
            id="retry-button"
            type="button"
            class="error-system-requirement-failed-retry-button button"
            (click)="onRetry()"
          >
            Retry
          </button>
        </div>
      </div>
    </div>
    </div>
</div>
