:host { 
  display: contents; 
}
 
.flashyre-assessment-rules-card-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.flashyre-assessment-rules-card-fragment10 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text10 {
  display: inline-block;
  font-size: 18px;
}
 
.flashyre-assessment-rules-card-fragment11 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text11 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment12 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text14 {
  display: inline-block;
  font-size: 32px;
}
 
.flashyre-assessment-rules-card-fragment13 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text15 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment14 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text16 {
  color: rgb(241, 4, 0);
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment15 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text17 {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}
 
.flashyre-assessment-rules-card-fragment16 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text20 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment17 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text21 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment18 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text24 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment19 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text25 {
  color: rgb(241, 4, 0);
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment20 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text26 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment21 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text27 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment22 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text30 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment23 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text31 {
  display: inline-block;
  font-size: 18px;
}
 
.flashyre-assessment-rules-card-fragment24 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text32 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment25 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text33 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment26 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text34 {
  display: inline-block;
  font-size: 18px;
}
 
.flashyre-assessment-rules-card-fragment27 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text35 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment28 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text36 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
 
.flashyre-assessment-rules-card-fragment29 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text37 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment30 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text38 {
  display: inline-block;
}
 
.flashyre-assessment-rules-card-fragment31 {
  display: contents;
}
 
.flashyre-assessment-rules-card-text39 {
  color: #ffffff;
  display: inline-block;
}
