<div class="flashyre-assessment-rules-card-container">
  <flashyre-assessment-rules [assessmentData]="assessmentData"
    rootClassName="flashyre-assessment-rulesroot-class-name"
  >
    <ng-template #text2>
      <div class="flashyre-assessment-rules-card-fragment10">
        <span class="flashyre-assessment-rules-card-text10">Test Details:</span>
      </div>
    </ng-template>
    <ng-template #text311>
      <div class="flashyre-assessment-rules-card-fragment11">
        <span class="flashyre-assessment-rules-card-text11">
          <span>Each correct answer will be awarded 1 point.</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text1>
      <div class="flashyre-assessment-rules-card-fragment12">
        <span class="flashyre-assessment-rules-card-text14">
          Rules for the {{ assessmentData?.assessment_title || 'Corporate Skill-Based Assessment' }} 
        </span>
      </div>
    </ng-template>
    <ng-template #text61>
      <div class="flashyre-assessment-rules-card-fragment13">
        <span class="flashyre-assessment-rules-card-text15">
          I have read and understood the assessment rules
        </span>
      </div>
    </ng-template>
    <ng-template #text9>
      <div *ngIf="showVideoRecordingRule" class="flashyre-assessment-rules-card-fragment14">
        <span class="flashyre-assessment-rules-card-text16">
          {{ videoRecordingRuleNumber }}. This assessment session is being video recorded for monitoring and evaluation purpose.
        </span>
      </div>
    </ng-template>
    <ng-template #text211>
      <div class="flashyre-assessment-rules-card-fragment15">
        <span class="flashyre-assessment-rules-card-text17">
          <span>Scoring:</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text3111>
      <div class="flashyre-assessment-rules-card-fragment16">
        <span class="flashyre-assessment-rules-card-text20">
          The test will auto-submit after {{ assessmentData?.total_duration || 'Unknown' }} minutes, regardless of whether you
          have answered all the questions or not.
        </span>
      </div>
    </ng-template>
    <ng-template #text412>
      <div class="flashyre-assessment-rules-card-fragment17">
        <span class="flashyre-assessment-rules-card-text21">
          <span>
            Once the {{ assessmentData?.total_duration || 'Unknown' }}-minute time limit is up, the test will automatically
            submit, even if you have not answered all the questions.
          </span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text>
      <div class="flashyre-assessment-rules-card-fragment18">
        <span class="flashyre-assessment-rules-card-text24">
          {{ assessmentData?.assessment_title || 'Corporate Skill-Based Assessment' }} 
        </span>
      </div>
    </ng-template>
    <ng-template #text8>
      <div *ngIf="showProctoredRule" class="flashyre-assessment-rules-card-fragment19">
        <span class="flashyre-assessment-rules-card-text25">
          {{ proctoredRuleNumber }}. Switching tabs or move to different application will lead to auto-submission of this assessment.
        </span>
      </div>
    </ng-template>
    <ng-template #text411>
      <div class="flashyre-assessment-rules-card-fragment20">
        <span class="flashyre-assessment-rules-card-text26">
          Your final score will be displayed at the end of the test.
        </span>
      </div>
    </ng-template>
    <ng-template #text41>
      <div class="flashyre-assessment-rules-card-fragment21">
        <span class="flashyre-assessment-rules-card-text27">
          <span>
            You can navigate between the questions and change your answers
            before submitting.
          </span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="flashyre-assessment-rules-card-fragment22">
        <span class="flashyre-assessment-rules-card-text30">
          The test consist of {{ assessmentData?.total_questions }} multiple choice questions based on the
          Assessment skill.
        </span>
      </div>
    </ng-template>
    <ng-template #text21>
      <div class="flashyre-assessment-rules-card-fragment23">
        <span class="flashyre-assessment-rules-card-text31">Test Taking:</span>
      </div>
    </ng-template>
    <ng-template #text41112>
      <div class="flashyre-assessment-rules-card-fragment24">
        <span class="flashyre-assessment-rules-card-text32">
          No late submissions will be accepted.
        </span>
      </div>
    </ng-template>
    <ng-template #text7>
      <div class="flashyre-assessment-rules-card-fragment25">
        <span class="flashyre-assessment-rules-card-text33">Note:</span>
      </div>
    </ng-template>
    <ng-template #text5>
      <div class="flashyre-assessment-rules-card-fragment26">
        <span class="flashyre-assessment-rules-card-text34">Good luck!</span>
      </div>
    </ng-template>
    <ng-template #text31>
      <div class="flashyre-assessment-rules-card-fragment27">
        <span class="flashyre-assessment-rules-card-text35">
          You must answer all {{ assessmentData?.total_questions }} questions within the {{ assessmentData?.total_duration || 'Unknown' }}-minute time limit.
        </span>
      </div>
    </ng-template>
    <ng-template #text2111>
      <div class="flashyre-assessment-rules-card-fragment28">
        <span class="flashyre-assessment-rules-card-text36">
          Important Notes:
        </span>
      </div>
    </ng-template>
    <ng-template #text4>
      <div class="flashyre-assessment-rules-card-fragment29">
        <span class="flashyre-assessment-rules-card-text37">
          The time limit for the test is {{ assessmentData?.total_duration || 'Unknown' }} minutes.
        </span>
      </div>
    </ng-template>
    <ng-template #text4111>
      <div class="flashyre-assessment-rules-card-fragment30">
        <span class="flashyre-assessment-rules-card-text38">
          Make sure to review your answers carefully before the time runs out.
        </span>
      </div>
    </ng-template>
    <ng-template #button>
      <div class="flashyre-assessment-rules-card-fragment31" (click)="startAssessment()">
        <span class="flashyre-assessment-rules-card-text39">
          Start Assessment
        </span>
      </div>
    </ng-template>
  </flashyre-assessment-rules>
</div>