<div
  id="search-navbar-main-container"
  class="navbar-for-candidate-view-86072-1-container1"
  [ngClass]="rootClassName"
>
  <header
    id="search-navbar-container"
    class="navbar-for-candidate-view-86072-1-container2"
  >
    <header
      data-thq="thq-navbar"
      class="navbar-for-candidate-view-86072-1-navbar-interactive"
    >
      <div
        data-thq="thq-navbar-nav"
        class="navbar-for-candidate-view-86072-1-desktop-menu"
      >
        <nav
          id="job-location-experience-container"
          class="navbar-for-candidate-view-86072-1-links1"
        >
          <div
            id="job-loc-exp-container"
            class="navbar-for-candidate-view-86072-1-container3"
          >
            <div
              id="search-job-title-container"
              class="navbar-for-candidate-view-86072-1-job-title-container1"
            >
              <svg
                id="search-icon"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                class="navbar-for-candidate-view-86072-1-search-icon1"
              >
                <path
                  d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9"
                  fill="currentColor"
                ></path>
              </svg>
              <span
                id="search-job-title-input"
                class="navbar-for-candidate-view-86072-1-job-title-text1"
              >
                <ng-container>
                  <ng-template #defaultText2>
                    <div class="navbar-for-candidate-view-86072-1-fragment15">
                      <span class="navbar-for-candidate-view-86072-1-text15">
                        Job tittle, Keyword...
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text2 ? text2 : defaultText2"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div
              id="location-container"
              class="navbar-for-candidate-view-86072-1-location-container1"
            >
              <svg
                id="location-icon"
                width="1024"
                height="1024"
                viewBox="0 0 1024 1024"
                class="navbar-for-candidate-view-86072-1-location-icon1"
              >
                <path
                  d="M800 416a288 288 0 1 0-576 0c0 118.144 94.528 272.128 288 456.576C705.472 688.128 800 534.144 800 416M512 960C277.312 746.688 160 565.312 160 416a352 352 0 0 1 704 0c0 149.312-117.312 330.688-352 544"
                  fill="currentColor"
                ></path>
                <path
                  d="M512 512a96 96 0 1 0 0-192a96 96 0 0 0 0 192m0 64a160 160 0 1 1 0-320a160 160 0 0 1 0 320"
                  fill="currentColor"
                ></path>
              </svg>
              <span
                id="search-location-input"
                class="navbar-for-candidate-view-86072-1-your-location-text1"
              >
                <ng-container>
                  <ng-template #defaultText12>
                    <div class="navbar-for-candidate-view-86072-1-fragment19">
                      <span class="navbar-for-candidate-view-86072-1-text19">
                        Your Location
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text12 ? text12 : defaultText12"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div
              id="experience-search-container"
              class="navbar-for-candidate-view-86072-1-experience-container1"
            >
              <svg
                id="briefcase-icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20 6c.58 0 1.05.2 1.42.59c.38.41.58.86.58 1.41v11c0 .55-.2 1-.58 1.41c-.37.39-.84.59-1.42.59H4c-.58 0-1.05-.2-1.42-.59C2.2 20 2 19.55 2 19V8c0-.55.2-1 .58-1.41C2.95 6.2 3.42 6 4 6h4V4c0-.58.2-1.05.58-1.42C8.95 2.2 9.42 2 10 2h4c.58 0 1.05.2 1.42.58c.38.37.58.84.58 1.42v2zM4 8v11h16V8zm10-2V4h-4v2z"
                  fill="currentColor"
                ></path>
              </svg>
              <span
                id="search-experience-input"
                class="navbar-for-candidate-view-86072-1-experience-text1"
              >
                <ng-container>
                  <ng-template #defaultText111>
                    <div class="navbar-for-candidate-view-86072-1-fragment12">
                      <span class="navbar-for-candidate-view-86072-1-text12">
                        Experience
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text111 ? text111 : defaultText111"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
          </div>
        </nav>
        <svg
          id="filter-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="navbar-for-candidate-view-86072-1-filter-icon1"
        >
          <path
            d="M3 7h3M3 17h6m9 0h3M15 7h6M6 7c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C7.602 4 8.068 4 9 4s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C12 5.602 12 6.068 12 7s0 1.398-.152 1.765a2 2 0 0 1-1.083 1.083C10.398 10 9.932 10 9 10s-1.398 0-1.765-.152a2 2 0 0 1-1.083-1.083C6 8.398 6 7.932 6 7m6 10c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C13.602 14 14.068 14 15 14s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C18 15.602 18 16.068 18 17s0 1.398-.152 1.765a2 2 0 0 1-1.083 1.083C16.398 20 15.932 20 15 20s-1.398 0-1.765-.152a2 2 0 0 1-1.083-1.083C12 18.398 12 17.932 12 17"
            fill="none"
            color="currentColor"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
        <div
          id="button-conatiner"
          class="navbar-for-candidate-view-86072-1-buttons1"
        >
          <button
            id="search-button"
            type="button"
            class="navbar-for-candidate-view-86072-1-search-button1 button"
          >
            <span
              id="search-text"
              class="navbar-for-candidate-view-86072-1-search-text1"
            >
              <ng-container>
                <ng-template #defaultButton>
                  <div class="navbar-for-candidate-view-86072-1-fragment17">
                    <span class="navbar-for-candidate-view-86072-1-text17">
                      Search
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="button ? button : defaultButton"
                ></ng-container>
              </ng-container>
            </span>
          </button>
        </div>
      </div>
      <div
        data-thq="thq-burger-menu"
        class="navbar-for-candidate-view-86072-1-burger-menu"
      >
        <span
          id="job-title-input"
          class="navbar-for-candidate-view-86072-1-job-title-text2"
        >
          <ng-container>
            <ng-template #defaultText3>
              <div class="navbar-for-candidate-view-86072-1-fragment11">
                <span class="navbar-for-candidate-view-86072-1-text11">
                  Job title, skills...
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text3 ? text3 : defaultText3"
            ></ng-container>
          </ng-container>
        </span>
        <svg
          id="job-search-icon-navbar"
          viewBox="0 0 32 32"
          class="navbar-for-candidate-view-86072-1-search-icon2"
        >
          <path
            d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9"
            fill="currentColor"
          ></path>
        </svg>
      </div>
      <div
        data-thq="thq-mobile-menu"
        class="navbar-for-candidate-view-86072-1-mobile-menu"
      >
        <div
          id="mobile-popup-container"
          class="navbar-for-candidate-view-86072-1-nav"
        >
          <div id="top" class="navbar-for-candidate-view-86072-1-top">
            <div
              data-thq="thq-close-menu"
              class="navbar-for-candidate-view-86072-1-close-menu"
            >
              <svg
                viewBox="0 0 1024 1024"
                class="navbar-for-candidate-view-86072-1-close-icon"
              >
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            id="job-title-loc-exp-container"
            class="navbar-for-candidate-view-86072-1-links2"
          >
            <div
              id="job-title-container"
              class="navbar-for-candidate-view-86072-1-job-title-container2"
            >
              <svg
                id="job-title-search-icon"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                class="navbar-for-candidate-view-86072-1-search-icon3"
              >
                <path
                  d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9"
                  fill="currentColor"
                ></path>
              </svg>
              <span
                id="search-job-title-input-navbar"
                class="navbar-for-candidate-view-86072-1-job-title-text3"
              >
                <ng-container>
                  <ng-template #defaultText4>
                    <div class="navbar-for-candidate-view-86072-1-fragment13">
                      <span class="navbar-for-candidate-view-86072-1-text13">
                        Job tittle, Keyword...
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text4 ? text4 : defaultText4"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div
              id="experience-container"
              class="navbar-for-candidate-view-86072-1-experience-container2"
            >
              <svg
                id="briefcase-icon-navbar"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="navbar-for-candidate-view-86072-1-briefcase-icon2"
              >
                <path
                  d="M20 6c.58 0 1.05.2 1.42.59c.38.41.58.86.58 1.41v11c0 .55-.2 1-.58 1.41c-.37.39-.84.59-1.42.59H4c-.58 0-1.05-.2-1.42-.59C2.2 20 2 19.55 2 19V8c0-.55.2-1 .58-1.41C2.95 6.2 3.42 6 4 6h4V4c0-.58.2-1.05.58-1.42C8.95 2.2 9.42 2 10 2h4c.58 0 1.05.2 1.42.58c.38.37.58.84.58 1.42v2zM4 8v11h16V8zm10-2V4h-4v2z"
                  fill="currentColor"
                ></path>
              </svg>
              <span
                id="search-experience-input-navbar"
                class="navbar-for-candidate-view-86072-1-experience-text2"
              >
                <ng-container>
                  <ng-template #defaultText112>
                    <div class="navbar-for-candidate-view-86072-1-fragment10">
                      <span class="navbar-for-candidate-view-86072-1-text10">
                        Experience
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text112 ? text112 : defaultText112"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div
              id="location-container-navbar-conatiner"
              class="navbar-for-candidate-view-86072-1-location-container2"
            >
              <svg
                id="location-icon-navbar"
                width="1024"
                height="1024"
                viewBox="0 0 1024 1024"
                class="navbar-for-candidate-view-86072-1-location-icon2"
              >
                <path
                  d="M800 416a288 288 0 1 0-576 0c0 118.144 94.528 272.128 288 456.576C705.472 688.128 800 534.144 800 416M512 960C277.312 746.688 160 565.312 160 416a352 352 0 0 1 704 0c0 149.312-117.312 330.688-352 544"
                  fill="currentColor"
                ></path>
                <path
                  d="M512 512a96 96 0 1 0 0-192a96 96 0 0 0 0 192m0 64a160 160 0 1 1 0-320a160 160 0 0 1 0 320"
                  fill="currentColor"
                ></path>
              </svg>
              <span
                id="search-location-input-navbar"
                class="navbar-for-candidate-view-86072-1-your-location-text2"
              >
                <ng-container>
                  <ng-template #defaultText13>
                    <div class="navbar-for-candidate-view-86072-1-fragment16">
                      <span class="navbar-for-candidate-view-86072-1-text16">
                        Your Location
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text13 ? text13 : defaultText13"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
          </nav>
          <div
            id="buttons-container"
            class="navbar-for-candidate-view-86072-1-buttons2"
          >
            <svg
              id="job-filter-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="navbar-for-candidate-view-86072-1-filter-icon2"
            >
              <path
                d="M3 7h3M3 17h6m9 0h3M15 7h6M6 7c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C7.602 4 8.068 4 9 4s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C12 5.602 12 6.068 12 7s0 1.398-.152 1.765a2 2 0 0 1-1.083 1.083C10.398 10 9.932 10 9 10s-1.398 0-1.765-.152a2 2 0 0 1-1.083-1.083C6 8.398 6 7.932 6 7m6 10c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C13.602 14 14.068 14 15 14s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C18 15.602 18 16.068 18 17s0 1.398-.152 1.765a2 2 0 0 1-1.083 1.083C16.398 20 15.932 20 15 20s-1.398 0-1.765-.152a2 2 0 0 1-1.083-1.083C12 18.398 12 17.932 12 17"
                fill="none"
                color="currentColor"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
            <button
              id="search-button-navbar"
              type="button"
              class="navbar-for-candidate-view-86072-1-search-button2 button"
            >
              <span
                id="search-text-navbar"
                class="navbar-for-candidate-view-86072-1-search-text2"
              >
                <ng-container>
                  <ng-template #defaultButton2>
                    <div class="navbar-for-candidate-view-86072-1-fragment18">
                      <span class="navbar-for-candidate-view-86072-1-text18">
                        Search
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="button2 ? button2 : defaultButton2"
                  ></ng-container>
                </ng-container>
              </span>
            </button>
            <button
              id="preference-button-navbar"
              type="button"
              class="navbar-for-candidate-view-86072-1-preference-button button"
            >
              <span
                id="preference-text-navbar"
                class="navbar-for-candidate-view-86072-1-preference-text"
              >
                <ng-container>
                  <ng-template #defaultButton11>
                    <div class="navbar-for-candidate-view-86072-1-fragment14">
                      <span class="navbar-for-candidate-view-86072-1-text14">
                        Preference
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="button11 ? button11 : defaultButton11"
                  ></ng-container>
                </ng-container>
              </span>
            </button>
          </div>
        </div>
      </div>
    </header>
  </header>
</div>
