:host { 
  display: contents; 
}
 
.buffer-screen-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.buffer-screen-container2 {
  width: 100%;
  height: auto;
  display: flex;
}
 
.buffer-screen-container3 {
  width: 100%;
  height: auto;
}
 
.buffer-screen-container4 {
  display: contents;
}
 
.buffer-screenroot-class-name {
  width: 441px;
  height: 291px;
  opacity: 0.1;
}
 
@media(max-width: 1200px) {
  .buffer-screen-container2 {
    width: 100%;
    height: auto;
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .buffer-screen-container2 {
    width: 100%;
    height: auto;
  }
}
