<div class="date-selector2-duplicate-date-selector">
  <div class="date-selector2-duplicate-container1">
    <div class="date-selector2-duplicate-container2">
      <span class="date-selector2-duplicate-text10">
        <ng-container>
          <ng-template #defaultText11>
            <div class="date-selector2-duplicate-fragment3">
              <span class="date-selector2-duplicate-text16">
                <span>Start Date</span>
                <br />
                <br />
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text11 ? text11 : defaultText11"
          ></ng-container>
        </ng-container>
      </span>
      <div class="date-selector2-duplicate-container3">
        <form class="date-selector2-duplicate-form1 input">
          <span class="date-selector2-duplicate-text11">
            <ng-container>
              <ng-template #defaultText31>
                <div class="date-selector2-duplicate-fragment4">
                  <span class="date-selector2-duplicate-text20">Select</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text31 ? text31 : defaultText31"
              ></ng-container>
            </ng-container>
          </span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 32 32"
            class="date-selector2-duplicate-icon1"
          >
            <path
              d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
              fill="currentColor"
            ></path>
          </svg>
        </form>
      </div>
    </div>
  </div>
  <div class="date-selector2-duplicate-container4">
    <div class="date-selector2-duplicate-container5">
      <span class="date-selector2-duplicate-text12">
        <ng-container>
          <ng-template #defaultText1>
            <div class="date-selector2-duplicate-fragment1">
              <span class="date-selector2-duplicate-text14">End Date</span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text1 ? text1 : defaultText1"
          ></ng-container>
        </ng-container>
      </span>
      <div class="date-selector2-duplicate-container6">
        <form class="date-selector2-duplicate-form2 input">
          <span class="date-selector2-duplicate-text13">
            <ng-container>
              <ng-template #defaultText3>
                <div class="date-selector2-duplicate-fragment2">
                  <span class="date-selector2-duplicate-text15">Select</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text3 ? text3 : defaultText3"
              ></ng-container>
            </ng-container>
          </span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 32 32"
            class="date-selector2-duplicate-icon3"
          >
            <path
              d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
              fill="currentColor"
            ></path>
          </svg>
        </form>
      </div>
    </div>
  </div>
</div>
