:host { 
  display: contents; 
}
 
.date-selector2-duplicate-date-selector {
  width: 672px;
  height: 76px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.date-selector2-duplicate-container1 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.date-selector2-duplicate-container2 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.date-selector2-duplicate-text10 {
  width: 324px;
  height: 24px;
}
 
.date-selector2-duplicate-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.date-selector2-duplicate-form1 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.date-selector2-duplicate-text11 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.date-selector2-duplicate-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.date-selector2-duplicate-container4 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
 
.date-selector2-duplicate-container5 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.date-selector2-duplicate-text12 {
  width: 324px;
  height: 24px;
}
 
.date-selector2-duplicate-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.date-selector2-duplicate-form2 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.date-selector2-duplicate-text13 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.date-selector2-duplicate-icon3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.date-selector2-duplicate-fragment1 {
  display: contents;
}
 
.date-selector2-duplicate-text14 {
  display: inline-block;
}
 
.date-selector2-duplicate-fragment2 {
  display: contents;
}
 
.date-selector2-duplicate-text15 {
  display: inline-block;
}
 
.date-selector2-duplicate-fragment3 {
  display: contents;
}
 
.date-selector2-duplicate-text16 {
  display: inline-block;
}
 
.date-selector2-duplicate-fragment4 {
  display: contents;
}
 
.date-selector2-duplicate-text20 {
  display: inline-block;
}
