<div class="verify-email-sms-popup-container1">
  <div class="verify-email-sms-popup-container2">
    <div class="verify-email-sms-popup-container3">
      <span class="verify-email-sms-popup-text1">
        <ng-container>
          <ng-template #defaultText>
            <div class="verify-email-sms-popup-fragment3">
              <span class="verify-email-sms-popup-text6">
                <span>Email OTP</span>
                <br />
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text ? text : defaultText"
          ></ng-container>
        </ng-container>
      </span>
      <svg width="36" height="36" viewBox="0 0 24 24">
        <path
          d="M3 19V5h11.562q-.043.25-.052.49t.013.51H4.308L12 11l3.573-2.333q.177.171.359.332t.382.297L12 12.116L4 6.885v10.5q0 .269.173.442t.443.173h14.769q.269 0 .442-.173t.173-.443V10.15q.287-.067.527-.158q.24-.09.473-.223V19zM4 6v12zm15 2.27q-1.038 0-1.77-.731t-.73-1.77T17.23 4T19 3.27t1.77.73t.73 1.77t-.73 1.769t-1.77.73"
          fill="currentColor"
        ></path>
      </svg>
      <input
        type="text"
        [attr.placeholder]="textinputPlaceholder"
        class="verify-email-sms-popup-textinput1 input"
      />
    </div>
    <div class="verify-email-sms-popup-container4"></div>
    <div class="verify-email-sms-popup-container5">
      <span class="verify-email-sms-popup-text2">
        <ng-container>
          <ng-template #defaultText1>
            <div class="verify-email-sms-popup-fragment1">
              <span class="verify-email-sms-popup-text4">Mobile Number</span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text1 ? text1 : defaultText1"
          ></ng-container>
        </ng-container>
      </span>
      <svg width="36" height="36" viewBox="0 0 24 24">
        <path
          d="m6.077 17l-1.704 1.704q-.379.379-.876.174T3 18.133V4.616q0-.691.463-1.153T4.616 3h14.769q.69 0 1.153.463T21 4.616v10.769q0 .69-.462 1.153T19.385 17zm-.427-1h13.735q.23 0 .423-.192t.192-.423V4.615q0-.23-.192-.423T19.385 4H4.615q-.23 0-.423.192T4 4.615v13.03zM4 16V4zm4-5.23q.31 0 .54-.23t.23-.54t-.23-.54T8 9.23t-.54.23t-.23.54t.23.54t.54.23m4 0q.31 0 .54-.23t.23-.54t-.23-.54t-.54-.23t-.54.23t-.23.54t.23.54t.54.23m4 0q.31 0 .54-.23t.23-.54t-.23-.54t-.54-.23t-.54.23t-.23.54t.23.54t.54.23"
          fill="currentColor"
        ></path>
      </svg>
      <input
        type="text"
        [attr.placeholder]="textinputPlaceholder1"
        class="verify-email-sms-popup-textinput2 input"
      />
    </div>
    <div class="verify-email-sms-popup-container6">
      <button type="button" class="verify-email-sms-popup-button button">
        <span class="verify-email-sms-popup-text3">
          <ng-container>
            <ng-template #defaultButton>
              <div class="verify-email-sms-popup-fragment2">
                <span class="verify-email-sms-popup-text5">Verify</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="button ? button : defaultButton"
            ></ng-container>
          </ng-container>
        </span>
      </button>
    </div>
  </div>
</div>
