:host { 
  display: contents; 
}
 
.progress-bar-2-code-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  background-color: #ffffff;
  align-items: center;
}
 
.progress-bar-2-code-container2 {
  width: 100%;
  height: 86px;
  /*padding-left: 250px;*/
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.progress-bar{
  background-color: #ffffff;
}
 
.progress-bar-2-code-container3 {
  display: contents;
  width: 100%;
}
 

 

 
@media(max-width: 991px) {
  .progress-bar-2-code-container2 {
    align-self: center;
  }
}