:host { 
  display: contents; 
}
 
.progress-bar-2-code-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
 
.progress-bar-2-code-container2 {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  
}
 
.progress-bar-2-code-container3 {
  display: contents;
}
 

 

 
@media(max-width: 991px) {
  .progress-bar-2-code-container2 {
    align-self: center;
  }
}
