<div id="signup-page" class="signup-candidate1-container" [ngClass]="rootClassName">
  <div id="signup-container" class="signup-candidate1-signup-container">
    <h2 id="heading" class="signup-candidate1-welcome-to-flashyre">
      <span>Welcome to Flashyre</span>
    </h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div id="details" class="signup-candidate1-details-container">
        <!-- First Name -->
        <div id="first-name-container" class="signup-candidate1-first-name-container">
          <span class="signup-candidate1-first-name-text">First Name</span>
          <input
            type="text"
            id="signup-first-name-input"
            placeholder="Enter First Name"
            formControlName="first_name"
            class="signup-candidate1-first-name-input input"
          />
          <div *ngIf="signupForm.get('first_name').invalid && signupForm.get('first_name').touched" class="error-text">
            <span *ngIf="signupForm.get('first_name').errors?.required">First name is required.</span>
            <span *ngIf="signupForm.get('first_name').errors?.pattern">Only letters and spaces are allowed.</span>
            <span *ngIf="signupForm.get('first_name').errors?.minlength">First name must be at least 3 characters long.</span>
            <span *ngIf="signupForm.get('first_name').errors?.maxlength">First name cannot exceed 10 characters.</span>
          </div>
        </div>

        <!-- Last Name -->
        <div id="last-name-container" class="signup-candidate1-last-name-container1">
          <span class="signup-candidate1-last-name-text1">Last Name</span>
          <input
            type="text"
            id="signup-last-name-input"
            placeholder="Enter Last Name"
            formControlName="last_name"
            class="signup-candidate1-last-name-input1 input"
          />
          <div *ngIf="signupForm.get('last_name').invalid && signupForm.get('last_name').touched" class="error-text">
            <span *ngIf="signupForm.get('last_name').errors?.required">Last name is required.</span>
            <span *ngIf="signupForm.get('last_name').errors?.pattern">Only letters and spaces are allowed.</span>
            <span *ngIf="signupForm.get('last_name').errors?.minlength">Last name must be at least 3 characters long.</span>
            <span *ngIf="signupForm.get('last_name').errors?.maxlength">Last name cannot exceed 10 characters.</span>
          </div>
        </div>

        <!-- Phone Number -->
        <div id="phone-container" class="signup-candidate1-last-name-container2">
          <span class="signup-candidate1-last-name-text2">Phone Number</span>
          <input
            type="text"
            id="signup-phone-number-input"
            placeholder="Enter Phone Number"
            formControlName="phone_number"
            class="signup-candidate1-last-name-input2 input"
            maxlength="10"
            (input)="sanitizePhoneNumber($event)"
          />
          <div *ngIf="signupForm.get('phone_number').invalid && signupForm.get('phone_number').touched" class="error-text">
            <span *ngIf="signupForm.get('phone_number').errors?.required">Phone number is required.</span>
            <span *ngIf="signupForm.get('phone_number').errors?.pattern">Phone number must be exactly 10 digits.</span>
          </div>
          <div *ngIf="signupForm.get('phone_number').errors?.phoneExists" class="error-text">
            Phone number already exists.
          </div>
        </div>

        <!-- Email -->
        <div id="email-container" class="signup-candidate1-email-container">
          <span class="signup-candidate1-email-text">Email Id</span>
          <input
            type="email"
            id="signup-email-input"
            placeholder="Enter Email Id"
            formControlName="email"
            class="signup-candidate1-email-input input"
          />
          <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched" class="error-text">
            <span *ngIf="signupForm.get('email').errors?.required">Email is required.</span>
            <span *ngIf="signupForm.get('email').errors?.email">Please enter a valid email.</span>
          </div>
          <div *ngIf="signupForm.get('email').errors?.emailExists" class="error-text">
            Email already exists.
          </div>
        </div>

        <!-- Password -->
        <div id="password-container" class="signup-candidate1-password-container1">
          <div class="signup-candidate1-password1">
            <span class="signup-candidate1-password-text1">Password</span>
            <span
              class="signup-candidate1-show-text1 button"
              (click)="togglePasswordVisibility()"
            >
              {{ passwordType === 'password' ? 'Show' : 'Hide' }}
            </span>
            <input
              [type]="passwordType"
              id="signup-password-input"
              placeholder="Enter Password"
              formControlName="password"
              class="signup-candidate1-password-input1 input"
            />
            
          </div>
          <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched" class="error-text">
              <span *ngIf="signupForm.get('password').errors?.required">Password is required.</span>
              <span *ngIf="signupForm.get('password').errors?.minlength">Password must be at least 8 characters.</span>
              <span *ngIf="signupForm.get('password').errors?.maxlength">Password cannot exceed 15 characters.</span>
              <span *ngIf="signupForm.get('password').errors?.uppercase">Password must include at least one uppercase letter.</span>
              <span *ngIf="signupForm.get('password').errors?.lowercase">Password must include at least one lowercase letter.</span>
              <span *ngIf="signupForm.get('password').errors?.number">Password must include at least one number.</span>
              <span *ngIf="signupForm.get('password').errors?.specialChar">Password must include at least one special character.</span>
              <span *ngIf="signupForm.get('password').errors?.alphabet">Password must include at least one alphabet.</span>
            </div>
        </div>

        <!-- Confirm Password -->
        <div id="password-container" class="signup-candidate1-password-container2">
          <div class="signup-candidate1-password2">
            <span class="signup-candidate1-password-text2">Confirm Password</span>
            <span
              class="signup-candidate1-show-text2 button"
              (click)="toggleConfirmPasswordVisibility()"
            >
              {{ confirmPasswordType === 'password' ? 'Show' : 'Hide' }}
            </span>
            <input
              [type]="confirmPasswordType"
              id="signup-confirm-password-input"
              placeholder="Confirm Password"
              formControlName="confirm_password"
              class="signup-candidate1-password-input2 input"
            />
            
          </div>
          <div *ngIf="signupForm.hasError('mismatch') && signupForm.get('confirm_password').touched" class="error-text">
              Passwords do not match.
            </div>
        </div>

        <!-- Signup Button and Error Message -->
        <div class="signup-candidate1-signup-and-signin-container">
          <button
            id="signup-button"
            type="submit"
            [disabled]="signupForm.invalid"
            class="signup-candidate1-signup-button button"
          >
            Sign Up
          </button>
          <div *ngIf="errorMessage" class="signup-candidate1-error-signup-container">
            <span class="signup-candidate1-error-message-signup">{{ errorMessage }}</span>
          </div>

          <!-- Add this after the error message div -->
          <div *ngIf="successMessage" class="signup-candidate1-success-signup-container">
          <span class="signup-candidate1-success-message-signup">{{ successMessage }}</span>
          </div>

          <!-- Sign In Link -->
          <div class="signup-candidate1-signin-container">
            <span class="signup-candidate1-already-have-an-account-text">
              Already have an account?
            </span>
            <span class="signup-candidate1-signin-text button" routerLink="/login-candidate">
              Sign In
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>