:host { 
  display: contents; 
}
 
.landing-page-artical-preview-card-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.landing-page-artical-preview-card-container2 {
  gap: 16px;
  flex: 0 0 auto;
  width: 348px;
  height: 192px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: #F0F0F0;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.landing-page-artical-preview-card-header-image {
  width: 100%;
  height: 8px;
  object-fit: cover;
}
 
.landing-page-artical-preview-card-artical-description-container {
  gap: 8px;
  flex: 0 0 auto;
  width: 348px;
  height: 168px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.landing-page-artical-preview-card-article-header-text {
  width: auto;
  height: 64px;
  display: flex;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
}
 
.landing-page-artical-preview-card-article-description-text {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.landing-page-artical-preview-card-read-more-button {
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.landing-page-artical-preview-card-read-more-button:hover {
  cursor: pointer;
  border-width: 0px;
}
 
.landing-page-artical-preview-card-fragment1 {
  display: contents;
}
 
.landing-page-artical-preview-card-text1 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.landing-page-artical-preview-card-fragment2 {
  display: contents;
}
 
.landing-page-artical-preview-card-text2 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
 
.landing-page-artical-preview-card-fragment3 {
  display: contents;
}
 
.landing-page-artical-preview-card-text3 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
@media(max-width: 991px) {
  .landing-page-artical-preview-card-container2 {
    gap: 12px;
    width: 306px;
    height: auto;
  }
  .landing-page-artical-preview-card-artical-description-container {
    width: 100%;
    height: 143px;
  }
  .landing-page-artical-preview-card-article-header-text {
    width: 100%;
    height: 61px;
    font-size: 18px;
  }
  .landing-page-artical-preview-card-article-description-text {
    width: 100%;
    height: auto;
    font-size: 14px;
    align-items: flex-start;
  }
  .landing-page-artical-preview-card-read-more-button {
    font-size: 14px;
    align-items: center;
  }
  .landing-page-artical-preview-card-text1 {
    color: rgb(24, 25, 28);
    font-size: 14px;
  }
  .landing-page-artical-preview-card-text2 {
    color: rgb(5, 53, 108);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .landing-page-artical-preview-card-text3 {
    color: rgb(24, 25, 28);
    line-height: 1.15;
  }
}
 
@media(max-width: 767px) {
  .landing-page-artical-preview-card-container2 {
    width: 263px;
    height: 164px;
  }
  .landing-page-artical-preview-card-artical-description-container {
    width: 100%;
    height: 143px;
  }
  .landing-page-artical-preview-card-article-header-text {
    font-size: 16px;
    align-self: flex-start;
    justify-content: center;
  }
  .landing-page-artical-preview-card-article-description-text {
    font-size: 12px;
  }
  .landing-page-artical-preview-card-read-more-button {
    font-size: 12px;
  }
  .landing-page-artical-preview-card-text1 {
    color: rgb(24, 25, 28);
  }
  .landing-page-artical-preview-card-text2 {
    color: rgb(5, 53, 108);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }
  .landing-page-artical-preview-card-text3 {
    color: rgb(24, 25, 28);
  }
}
 
@media(max-width: 479px) {
  .landing-page-artical-preview-card-container2 {
    width: 290px;
    height: auto;
  }
  .landing-page-artical-preview-card-artical-description-container {
    width: 292px;
    height: 133px;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .landing-page-artical-preview-card-article-header-text {
    width: 267px;
    align-self: flex-end;
    align-items: center;
  }
  .landing-page-artical-preview-card-article-description-text {
    align-items: flex-start;
    justify-content: center;
  }
  .landing-page-artical-preview-card-read-more-button {
    padding-left: 0px;
    padding-right: 0px;
  }
}
