<div
  id="landing-page-article-preview-card"
  class="landing-page-artical-preview-card-container1"
>
  <div
    id="landing-page-recent-article"
    class="landing-page-artical-preview-card-container2"
  >
    <img
      id="image"
      [attr.alt]="imageAlt"
      [attr.src]="imageSrc"
      class="landing-page-artical-preview-card-header-image"
    />
    <div
      id="article-description-container"
      class="landing-page-artical-preview-card-artical-description-container"
    >
      <span
        id="article-name"
        class="landing-page-artical-preview-card-article-header-text"
      >
        <ng-container>
          <ng-template #defaultText>
            <div class="landing-page-artical-preview-card-fragment3">
              <span class="landing-page-artical-preview-card-text3">
                Problem-solver | Data Operations Management
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text ? text : defaultText"
          ></ng-container>
        </ng-container>
      </span>
      <span
        id="article-description"
        class="landing-page-artical-preview-card-article-description-text"
      >
        <ng-container>
          <ng-template #defaultText1>
            <div class="landing-page-artical-preview-card-fragment1">
              <span class="landing-page-artical-preview-card-text1">
                In a laoreet purus. Integer turpis quam, laoreet id orci nec,
                ultrices
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text1 ? text1 : defaultText1"
          ></ng-container>
        </ng-container>
      </span>
      <span
        id="read-more-button"
        class="landing-page-artical-preview-card-read-more-button button"
      >
        <ng-container>
          <ng-template #defaultText2>
            <div class="landing-page-artical-preview-card-fragment2">
              <span class="landing-page-artical-preview-card-text2">
                Read More
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text2 ? text2 : defaultText2"
          ></ng-container>
        </ng-container>
      </span>
    </div>
  </div>
</div>
