<div class="flashyre-assessments-container1">
  <div class="flashyre-assessments-container2">
    <div
      id="assessment-container"
      class="flashyre-assessments-assessment-container"
    >
      <div id="header-container" class="flashyre-assessments-header-container">
        <img
          id="Logo"
          alt="image"
          src="0c8f97b8-327a-4581-a7f0-ef5451eb4bc2"
          class="flashyre-assessments-logo"
        />
        <span id="timer" class="flashyre-assessments-timer">{{ timer | number }}</span>
        <button
          id="end-test-button"
          type="button"
          class="flashyre-assessments-end-test-button button"
        >
          <span id="end-test-text" class="flashyre-assessments-end-test-text" (click)="terminateTest()">
            End Test
          </span>
        </button>
      </div>
      <div
        id="question-answer-container"
        class="flashyre-assessments-question-answer-container"
      >
        <div id="q-a-s-container" class="flashyre-assessments-qas-container">
          <div id="section-a-b" class="flashyre-assessments-section-ab">
            <div *ngFor="let section of sections" class="flashyre-assessments-section" (click)="selectSection(section)">
              <span class="flashyre-assessments-section-text">{{ section.name }}</span>
            </div>
          </div>
          <div id="q-and-a" class="flashyre-assessments-q-and-a">
            <div
              id="question-container"
              class="flashyre-assessments-question-container"
            >
              <h1
                id="question-heading"
                class="flashyre-assessments-question-heading"
              >
                Question
              </h1>
              <div id="question" class="flashyre-assessments-question">
                <span
                  id="question-text"
                  class="flashyre-assessments-question-text"
                >
                {{ questions[currentQuestionIndex].text }}
                {{ currentQuestions[currentQuestionIndex].text }}
                  <br class="flashyre-assessments-text14" />
                  <br />
                  <br />
                </span>
              </div>
              <div
                id="previous-next-container"
                class="flashyre-assessments-previous-next-container"
              >
                <button
                  id="previous-button-container"
                  type="button"
                  class="flashyre-assessments-previous-button button"
                >
                  <span
                    id="previous-button"
                    class="flashyre-assessments-previous-text button"
                    (click)="navigateToQuestion(currentQuestionIndex - 1)"
                  >
                    &lt;- Previous
                  </span>
                </button>
                <button
                  id="next-button"
                  type="button"
                  class="flashyre-assessments-next-button button"
                >
                  <span id="next-text" class="flashyre-assessments-next-text"
                  (click)="navigateToQuestion(currentQuestionIndex + 1)">
                    Next -&gt;
                  </span>
                </button>
              </div>
            </div>

            
            <div
              id="options-container"
              class="flashyre-assessments-options-container"
            >
              <h1
                id="options-heading"
                class="flashyre-assessments-options-heading"
              >
                Options
              </h1>
              <div id="options" class="flashyre-assessments-options">
                <div *ngFor="let option of currentQuestions[currentQuestionIndex].options; let i = index" class="flashyre-assessments-option">
                  <input
                    type="checkbox"
                    id="option-{{ i }}"
                    [attr.checked]="false"
                    class="flashyre-assessments-option-checkbox"
                  />
                  <span
                    id="option-{{ i }}-text"
                    class="flashyre-assessments-option-text"
                  >
                    {{ option }}
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div id="que-num-video" class="flashyre-assessments-que-num-video">
          <div
            id="video-container"
            class="flashyre-assessments-video-container"
          ></div>
          <div
          id="question-numbers"
          class="flashyre-assessments-question-numbers"
        >
          <span
          *ngFor="let question of currentQuestions; let i = index"
            class="flashyre-assessments-question-number"
            [ngClass]="{
              'answered': question.answered,
              'unanswered': !question.answered
            }"
            (click)="navigateToQuestion(i)"
          >
            {{ i + 1 }}
          </span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
