<div class="flashyre-assessments-container1">
  <div class="flashyre-assessments-container2">
    <div
      id="assessment-container"
      class="flashyre-assessments-assessment-container"
    >
      <div id="header-container" class="flashyre-assessments-header-container">
        <img
          id="Logo"
          alt="image"
          src="0c8f97b8-327a-4581-a7f0-ef5451eb4bc2"
          class="flashyre-assessments-logo"
        />
        <span id="timer" class="flashyre-assessments-timer">00:00</span>
        <button
          id="end-test-button"
          type="button"
          class="flashyre-assessments-end-test-button button"
        >
          <span id="end-test-text" class="flashyre-assessments-end-test-text">
            End Test
          </span>
        </button>
      </div>
      <div
        id="question-answer-container"
        class="flashyre-assessments-question-answer-container"
      >
        <div id="q-a-s-container" class="flashyre-assessments-qas-container">
          <div id="section-a-b" class="flashyre-assessments-section-ab">
            <div id="section-a" class="flashyre-assessments-section-a">
              <span
                id="section-a-text"
                class="flashyre-assessments-section-a-text"
              >
                Section A
              </span>
            </div>
            <div id="section-b" class="flashyre-assessments-section-b">
              <span
                id="section-b-text"
                class="flashyre-assessments-section-b-text"
              >
                Section B
              </span>
            </div>
          </div>
          <div id="q-and-a" class="flashyre-assessments-q-and-a">
            <div
              id="question-container"
              class="flashyre-assessments-question-container"
            >
              <h1
                id="question-heading"
                class="flashyre-assessments-question-heading"
              >
                Question
              </h1>
              <div id="question" class="flashyre-assessments-question">
                <span
                  id="question-text"
                  class="flashyre-assessments-question-text"
                >
                  <span>
                    1. What happens when no argument is happens when no argument
                    is supplied to reset() functi
                  </span>
                  <br />
                  <span>India</span>
                  <span>
                    ength of its &apos;Made in India&apos; initiative, marking a
                    significant milestone in the nation&apos;s defence sector.
                    In a landmark move, India has confirmed a deal to export
                    Brahmos missiles, valued at approximately Rs 3800 crore (USD
                    450 million), to Indonesia, News18 reported. This agreement
                    highlights India&apos;s growing self-reliance and
                    capabilities in defence manufacturing.India has once again
                    demonstrated the strength of its &apos;Made in India&apos;
                    initiative, marking a significant milestone in the
                    nation&apos;s defence sector. In a landmark move, India has
                    confirmed a deal to export Brahmos missiles, valued at
                    approximately Rs 3800 crore (USD 450 million), to Indonesia,
                    News18 reported. This agreement highlights India&apos;s
                    growing self-reliance and capabilities in defence
                    manufacturing.India has once again demonstrated the strength
                    of its &apos;Made in India&apos; initiative, marking a
                    significant milestone in the nation&apos;s defence sector.
                    In a landmark move, India has confirmed a deal to export
                    Brahmos missiles, valued at approximately Rs 3800 crore (USD
                    450 million), to Indonesia, News18 reported. This agreement
                    highlights India&apos;s growing self-reliance and
                    capabilities in defence manufacturing.vIndia has once again
                    demonstrated the strength of its &apos;Made in India&apos;
                    initiative, marking a significant milestone in the
                    nation&apos;s defence sector. In a landmark move, India has
                    confirmed a deal to export Brahmos missiles, valued at
                    approximately Rs 3800 crore (USD 450 million), to Indonesia,
                    News18 reported. This agreement highlights India&apos;s
                    growing self-reliance and capabilities in defence
                    manufacturing.vvvIndia has once again demonstrated the
                    strength of its &apos;Made in India&apos; initiative,
                    marking a significant milestone in the nation&apos;s defence
                    sector. In a landmark move, India has confirmed a deal to
                    export Brahmos missiles, valued at approximately Rs 3800
                    crore (USD 450 million), to Indonesia, News18 reported. This
                    agreement highlights India&apos;s growing self-reliance and
                    capabilities in defence manufacturing.India has once again
                    demonstrated the strength of its &apos;Made in India&apos;
                    initiative, marking a significant milestone in the
                    nation&apos;s defence sector. In a landmark move, India has
                    confirmed a deal to export Brahmos missiles, valued at
                    approximately Rs 3800 crore (USD 450 million), to Indonesia,
                    News18 reported. This agreement highlights India&apos;s
                    growing self-reliance and capabilities in defence
                    manufacturing.India has once again demonstrated the strength
                    of its &apos;Made in India&apos; initiative, marking a
                    significant milestone in the nation&apos;s defence sector.
                    In a landmark move, India has confirmed a deal to export
                    Brahmos missiles, valued at approximately Rs 3800 crore (USD
                    450 million), to Indonesia, News18 reported. This agreement
                    highlights India&apos;s growing self-reliance and
                    capabilities in defence manufacturing.India has once again
                    demonstrated the strength of its &apos;Made in India&apos;
                    initiative, marking a significant milestone in the
                    nation&apos;s defence sector. In a landmark move, India has
                    confirmed a deal to export Brahmos missiles, valued at
                    approximately Rs 3800 crore (USD 450 million), to Indonesia,
                    News18 reported. This agreement highlights India&apos;s
                    growing self-reliance and capabilities in defence
                    manufacturing.
                  </span>
                  <br class="flashyre-assessments-text14" />
                  <br />
                  <br />
                </span>
              </div>
              <div
                id="previous-next-container"
                class="flashyre-assessments-previous-next-container"
              >
                <button
                  id="previous-button-container"
                  type="button"
                  class="flashyre-assessments-previous-button button"
                >
                  <span
                    id="previous-button"
                    class="flashyre-assessments-previous-text button"
                  >
                    &lt;- Previous
                  </span>
                </button>
                <button
                  id="next-button"
                  type="button"
                  class="flashyre-assessments-next-button button"
                >
                  <span id="next-text" class="flashyre-assessments-next-text">
                    Next -&gt;
                  </span>
                </button>
              </div>
            </div>
            <div
              id="options-container"
              class="flashyre-assessments-options-container"
            >
              <h1
                id="options-heading"
                class="flashyre-assessments-options-heading"
              >
                Options
              </h1>
              <div id="options" class="flashyre-assessments-opitons">
                <div id="option1" class="flashyre-assessments-option1">
                  <input
                    type="checkbox"
                    id="option1-checkbox"
                    [attr.checked]="false"
                    class="flashyre-assessments-option1-heckbox"
                  />
                  <span
                    id="option1-text"
                    class="flashyre-assessments-option1-text"
                  >
                    <span>All bits are set to 1 in a bitset </span>
                    <br />
                  </span>
                </div>
                <div id="option2" class="flashyre-assessments-option2">
                  <input
                    type="checkbox"
                    id="option2-checkbox"
                    [attr.checked]="false"
                    class="flashyre-assessments-option2-checkbox"
                  />
                  <span
                    id="option2-text"
                    class="flashyre-assessments-option2-text"
                  >
                    <span>All bits are set to 1 in a bitset </span>
                    <br />
                  </span>
                </div>
                <div id="option3" class="flashyre-assessments-option3">
                  <input
                    type="checkbox"
                    id="option3-checkbox"
                    [attr.checked]="false"
                    [attr.required]="false"
                    [attr.defaultChecked]="false"
                    class="flashyre-assessments-option3-checkbox"
                  />
                  <span
                    id="option3-text"
                    class="flashyre-assessments-option3-text"
                  >
                    <span>All bits are set to 1 in a bitset </span>
                    <br />
                  </span>
                </div>
                <div id="option4" class="flashyre-assessments-option4">
                  <input
                    type="checkbox"
                    id="option4-checkbox"
                    [attr.checked]="false"
                    class="flashyre-assessments-option4-checkbox"
                  />
                  <span
                    id="option4-text"
                    class="flashyre-assessments-option4-text"
                  >
                    <span>All bits are set to 1 in a bitset</span>
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="que-num-video" class="flashyre-assessments-que-num-video">
          <div
            id="video-container"
            class="flashyre-assessments-video-container"
          ></div>
          <div
            id="question-numbers"
            class="flashyre-assessments-question-numbers"
          >
            <span class="flashyre-assessments-text25">1</span>
            <span class="flashyre-assessments-text26">2</span>
            <span class="flashyre-assessments-text27">3</span>
            <span class="flashyre-assessments-text28">4</span>
            <span class="flashyre-assessments-text29">5</span>
            <span class="flashyre-assessments-text30">6</span>
            <span class="flashyre-assessments-text31">7</span>
            <span class="flashyre-assessments-text32">8</span>
            <span class="flashyre-assessments-text33">9</span>
            <span class="flashyre-assessments-text34">10</span>
            <span class="flashyre-assessments-text35">11</span>
            <span class="flashyre-assessments-text36">12</span>
            <span class="flashyre-assessments-text37">13</span>
            <span class="flashyre-assessments-text38">14</span>
            <span class="flashyre-assessments-text39">15</span>
            <span class="flashyre-assessments-text40">16</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
