:host { 
  display: contents; 
}
 
.signup-admin-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.signup-admin-main-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.signup-admin-fragment10 {
  display: contents;
}
 
.signup-admin-text10 {
  display: inline-block;
}
 
.signup-admin-fragment11 {
  display: contents;
}
 
.signup-admin-text11 {
  display: inline-block;
}
 
.signup-admin-fragment12 {
  display: contents;
}
 
.signup-admin-text12 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.signup-admin-fragment13 {
  display: contents;
}
 
.signup-admin-text13 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 500;
}
 
.signup-admin-fragment14 {
  display: contents;
}
 
.signup-admin-text14 {
  display: inline-block;
}
 
.signup-admin-fragment15 {
  display: contents;
}
 
.signup-admin-text15 {
  display: inline-block;
}
 
.signup-admin-fragment16 {
  display: contents;
}
 
.signup-admin-text16 {
  display: inline-block;
}
 
.signup-admin-fragment17 {
  display: contents;
}
 
.signup-admin-text17 {
  display: inline-block;
}
 
.signup-admin-fragment18 {
  display: contents;
}
 
.signup-admin-text18 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.signup-admin-fragment19 {
  display: contents;
}
 
.signup-admin-text19 {
  color: #ffffff;
  display: inline-block;
  background-color: rgb(246, 94, 92);
}
 
.signup-admin-fragment20 {
  display: contents;
}
 
.signup-admin-text20 {
  color: #18191c;
  display: inline-block;
}
 
.signup-admin-fragment21 {
  display: contents;
}
 
.signup-admin-text21 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.signup-admin-fragment22 {
  display: contents;
}
 
.signup-admin-text22 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
