<div id="signup-admin" class="signup-admin-container">
  <div id="main-container" class="signup-admin-main-container">
    <signup-page-navbar
      rootClassName="signup-page-navbarroot-class-name3"
    ></signup-page-navbar>
    <signup-admin1 rootClassName="signup-candidate1root-class-name">
      <ng-template #text>
        <div class="signup-admin-fragment10">
          <span class="signup-admin-text10">First Name</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="signup-admin-fragment11">
          <span class="signup-admin-text11">Last Name</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="signup-admin-fragment12">
          <span class="signup-admin-text12">Show</span>
        </div>
      </ng-template>
      <ng-template #text5>
        <div class="signup-admin-fragment13">
          <span class="signup-admin-text13">Sign In</span>
        </div>
      </ng-template>
      <ng-template #text6>
        <div class="signup-admin-fragment14">
          <span class="signup-admin-text14">Already have an account?</span>
        </div>
      </ng-template>
      <ng-template #button>
        <div class="signup-admin-fragment15">
          <span class="signup-admin-text15">Sign Up</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="signup-admin-fragment16">
          <span class="signup-admin-text16">Email Id</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="signup-admin-fragment17">
          <span class="signup-admin-text17">Phone Number</span>
        </div>
      </ng-template>
      <ng-template #text21>
        <div class="signup-admin-fragment18">
          <span class="signup-admin-text18">Show</span>
        </div>
      </ng-template>
      <ng-template #text71>
        <div class="signup-admin-fragment19">
          <span class="signup-admin-text19">
            Email or Phone Number already exists!
          </span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="signup-admin-fragment20">
          <span class="signup-admin-text20">Welcome to Flashyre</span>
        </div>
      </ng-template>
      <ng-template #text111>
        <div class="signup-admin-fragment21">
          <span class="signup-admin-text21">Password</span>
        </div>
      </ng-template>
      <ng-template #text1111>
        <div class="signup-admin-fragment22">
          <span class="signup-admin-text22">Confirm Password</span>
        </div>
      </ng-template>
    </signup-admin1>
  </div>
</div>
