:host { 
  display: contents; 
}
 
.recruiter-view5th-page-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.recruiter-view5th-page-container11 {
  flex: 0 0 auto;
  width: 1440px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-container12 {
  gap: 24px;
  width: 1440px;
  height: 1031px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-container13 {
  width: 1440px;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.recruiter-view5th-page-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recruiter-view5th-page-navbar-interactive {
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #FFFFFF;
}
 
.recruiter-view5th-page-flashyre-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
 
.recruiter-view5th-page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.recruiter-view5th-page-links {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 385px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-end;
}
 
.recruiter-view5th-page-dashboard-link {
  fill: #05356C;
  color: rgb(5, 53, 108);
  display: flex;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 
.recruiter-view5th-page-dashboard-link:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.recruiter-view5th-page-dashboard-link:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.recruiter-view5th-page-jobs-for-you-link {
  color: rgb(5, 53, 108);
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
 
.recruiter-view5th-page-jobs-for-you-link:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.recruiter-view5th-page-jobs-for-you-link:active {
  transform: scale(1.05);
  transition: all 0.7s;
  text-decoration-line: underline;
}
 
.recruiter-view5th-page-container15 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.recruiter-view5th-page-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
 
.recruiter-view5th-page-icon10:hover {
  cursor: pointer;
}
 
.recruiter-view5th-page-container16 {
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #F10400;
  grid-template-columns: 1fr 1fr;
}
 
.recruiter-view5th-page-text10 {
  color: #ffffff;
  width: 8px;
  height: 10px;
  font-size: 12px;
}
 
.recruiter-view5th-page-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.recruiter-view5th-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.recruiter-view5th-page-user-image1 {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
 
.recruiter-view5th-page-dropdown-arrow {
  transition: 0.3s;
}
 
.recruiter-view5th-page-drop-down-icon {
  width: 32px;
  height: 32px;
  display: flex;
  transition: 0.3s;
  justify-content: center;
}
 
.recruiter-view5th-page-drop-down-icon:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.recruiter-view5th-page-drop-down-icon:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.recruiter-view5th-page-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
 
.recruiter-view5th-page-profile1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.recruiter-view5th-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.recruiter-view5th-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.recruiter-view5th-page-profile2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.recruiter-view5th-page-preference1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.recruiter-view5th-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.recruiter-view5th-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.recruiter-view5th-page-preference2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.recruiter-view5th-page-settings1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.recruiter-view5th-page-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.recruiter-view5th-page-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.recruiter-view5th-page-settings2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.recruiter-view5th-page-logout1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.recruiter-view5th-page-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.recruiter-view5th-page-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.recruiter-view5th-page-logout2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.recruiter-view5th-page-burger-menu {
  display: none;
}
 
.recruiter-view5th-page-burger-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.recruiter-view5th-page-number-of-notification {
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #F10400;
  grid-template-columns: 1fr 1fr;
}
 
.recruiter-view5th-page-text11 {
  color: #ffffff;
  width: 8px;
  height: 10px;
  font-size: 12px;
}
 
.recruiter-view5th-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.recruiter-view5th-page-popup-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-close-icon {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.recruiter-view5th-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recruiter-view5th-page-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.recruiter-view5th-page-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-container18 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-view5th-page-user-image2 {
  width: 200px;
  object-fit: cover;
}
 
.recruiter-view5th-page-container19 {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 390px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-fragment10 {
  display: contents;
}
 
.recruiter-view5th-page-text12 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment11 {
  display: contents;
}
 
.recruiter-view5th-page-text13 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment12 {
  display: contents;
}
 
.recruiter-view5th-page-text14 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment13 {
  display: contents;
}
 
.recruiter-view5th-page-text18 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment14 {
  display: contents;
}
 
.recruiter-view5th-page-text19 {
  display: inline-block;
}
 
.recruiter-view5th-page-details-container {
  gap: 3px;
  flex: 0 0 auto;
  width: 152px;
  height: 102px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-recruiter-name {
  fill: #18191C;
  color: #18191C;
  width: 128px;
  height: 24px;
  display: flex;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}
 
.recruiter-view5th-page-container20 {
  gap: 4px;
  flex: 0 0 auto;
  width: 76px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
 
.recruiter-view5th-page-company-image {
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  object-fit: cover;
  align-items: center;
}
 
.recruiter-view5th-page-company-name {
  width: 56px;
  height: 24px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 700;
  justify-content: flex-start;
}
 
.recruiter-view5th-page-job-role-of-recruiter {
  fill: #18191C;
  color: #18191C;
  width: 152px;
  height: 48px;
  display: flex;
  font-size: 14px;
  align-self: center;
  text-align: center;
  align-items: center;
  line-height: 20px;
  justify-content: center;
}
 
.recruiter-view5th-page-container21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-dashboard-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.recruiter-view5th-page-jobs-for-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.recruiter-view5th-page-notification-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.recruiter-view5th-page-container22 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.recruiter-view5th-page-icon20 {
  width: 24px;
  height: 24px;
}
 
.recruiter-view5th-page-container23 {
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #F10400;
  grid-template-columns: 1fr 1fr;
}
 
.recruiter-view5th-page-text23 {
  color: #ffffff;
  width: 8px;
  height: 10px;
  font-size: 12px;
}
 
.recruiter-view5th-page-container24 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-preference-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.recruiter-view5th-page-settings-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.recruiter-view5th-page-logout-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.recruiter-view5th-page-container25 {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 390px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-fragment15 {
  display: contents;
}
 
.recruiter-view5th-page-text24 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment16 {
  display: contents;
}
 
.recruiter-view5th-page-text25 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment17 {
  display: contents;
}
 
.recruiter-view5th-page-text26 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment18 {
  display: contents;
}
 
.recruiter-view5th-page-text30 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment19 {
  display: contents;
}
 
.recruiter-view5th-page-text31 {
  display: inline-block;
}
 
.recruiter-view5th-page-container26 {
  gap: 24px;
  width: 1124px;
  height: 934px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
 
.recruiter-view5th-page-container27 {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 323px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-fragment20 {
  display: contents;
}
 
.recruiter-view5th-page-text32 {
  color: rgb(24, 25, 28);
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.recruiter-view5th-page-fragment21 {
  display: contents;
}
 
.recruiter-view5th-page-text33 {
  color: #18191c;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
 
.recruiter-view5th-page-container28 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.recruiter-view5th-page-container29 {
  flex: 0 0 auto;
  width: 240px;
  height: 72px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: #E6E2E6;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: #FFFFFF;
}
 
.recruiter-view5th-page-text37 {
  color: #18191c;
  width: auto;
  height: 24px;
  display: flex;
  font-size: 13px;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}
 
.recruiter-view5th-page-container30 {
  gap: 16px;
  flex: 0 0 auto;
  width: 860px;
  height: 784px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-view5th-page-fragment22 {
  display: contents;
}
 
.recruiter-view5th-page-text38 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.recruiter-view5th-page-fragment23 {
  display: contents;
}
 
.recruiter-view5th-page-text39 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment24 {
  display: contents;
}
 
.recruiter-view5th-page-text40 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment25 {
  display: contents;
}
 
.recruiter-view5th-page-text41 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment26 {
  display: contents;
}
 
.recruiter-view5th-page-text42 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.recruiter-view5th-page-fragment27 {
  display: contents;
}
 
.recruiter-view5th-page-text43 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.recruiter-view5th-page-fragment28 {
  display: contents;
}
 
.recruiter-view5th-page-text44 {
  display: inline-block;
}
 
.recruiter-view5th-page-fragment29 {
  display: contents;
}
 
.recruiter-view5th-page-text45 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.recruiter-view5th-page-fragment30 {
  display: contents;
}
 
.recruiter-view5th-page-text46 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.recruiter-view5th-page-fragment31 {
  display: contents;
}
 
.recruiter-view5th-page-text47 {
  color: #05356c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-container31 {
  gap: 8px;
  flex: 0 0 auto;
  width: 860px;
  height: auto;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.recruiter-view5th-page-text48 {
  width: 812px;
  height: 24px;
  display: flex;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
 
.recruiter-view5th-page-container32 {
  gap: 8px;
  flex: 0 0 auto;
  width: 812px;
  height: 148px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-view5th-page-fragment32 {
  display: contents;
}
 
.recruiter-view5th-page-text49 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment33 {
  display: contents;
}
 
.recruiter-view5th-page-text50 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment34 {
  display: contents;
}
 
.recruiter-view5th-page-text51 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment35 {
  display: contents;
}
 
.recruiter-view5th-page-text52 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment36 {
  display: contents;
}
 
.recruiter-view5th-page-text53 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-fragment37 {
  display: contents;
}
 
.recruiter-view5th-page-text54 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment38 {
  display: contents;
}
 
.recruiter-view5th-page-text55 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment39 {
  display: contents;
}
 
.recruiter-view5th-page-text56 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment40 {
  display: contents;
}
 
.recruiter-view5th-page-text57 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment41 {
  display: contents;
}
 
.recruiter-view5th-page-text58 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-container33 {
  gap: 8px;
  flex: 0 0 auto;
  width: 812px;
  height: 148px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-view5th-page-fragment42 {
  display: contents;
}
 
.recruiter-view5th-page-text59 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment43 {
  display: contents;
}
 
.recruiter-view5th-page-text60 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment44 {
  display: contents;
}
 
.recruiter-view5th-page-text61 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment45 {
  display: contents;
}
 
.recruiter-view5th-page-text62 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment46 {
  display: contents;
}
 
.recruiter-view5th-page-text63 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-fragment47 {
  display: contents;
}
 
.recruiter-view5th-page-text64 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment48 {
  display: contents;
}
 
.recruiter-view5th-page-text65 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment49 {
  display: contents;
}
 
.recruiter-view5th-page-text66 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment50 {
  display: contents;
}
 
.recruiter-view5th-page-text67 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment51 {
  display: contents;
}
 
.recruiter-view5th-page-text68 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-container34 {
  gap: 8px;
  flex: 0 0 auto;
  width: 812px;
  height: 148px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-view5th-page-fragment52 {
  display: contents;
}
 
.recruiter-view5th-page-text69 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment53 {
  display: contents;
}
 
.recruiter-view5th-page-text70 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment54 {
  display: contents;
}
 
.recruiter-view5th-page-text71 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment55 {
  display: contents;
}
 
.recruiter-view5th-page-text72 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment56 {
  display: contents;
}
 
.recruiter-view5th-page-text73 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-fragment57 {
  display: contents;
}
 
.recruiter-view5th-page-text74 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment58 {
  display: contents;
}
 
.recruiter-view5th-page-text75 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment59 {
  display: contents;
}
 
.recruiter-view5th-page-text76 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment60 {
  display: contents;
}
 
.recruiter-view5th-page-text77 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment61 {
  display: contents;
}
 
.recruiter-view5th-page-text78 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-container35 {
  gap: 8px;
  flex: 0 0 auto;
  width: 812px;
  height: 148px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-view5th-page-fragment62 {
  display: contents;
}
 
.recruiter-view5th-page-text79 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment63 {
  display: contents;
}
 
.recruiter-view5th-page-text80 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment64 {
  display: contents;
}
 
.recruiter-view5th-page-text81 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment65 {
  display: contents;
}
 
.recruiter-view5th-page-text82 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment66 {
  display: contents;
}
 
.recruiter-view5th-page-text83 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-fragment67 {
  display: contents;
}
 
.recruiter-view5th-page-text84 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment68 {
  display: contents;
}
 
.recruiter-view5th-page-text85 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment69 {
  display: contents;
}
 
.recruiter-view5th-page-text86 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment70 {
  display: contents;
}
 
.recruiter-view5th-page-text87 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment71 {
  display: contents;
}
 
.recruiter-view5th-page-text88 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-container36 {
  gap: 8px;
  flex: 0 0 auto;
  width: 812px;
  height: 148px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-view5th-page-fragment72 {
  display: contents;
}
 
.recruiter-view5th-page-text89 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment73 {
  display: contents;
}
 
.recruiter-view5th-page-text90 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment74 {
  display: contents;
}
 
.recruiter-view5th-page-text91 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment75 {
  display: contents;
}
 
.recruiter-view5th-page-text92 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment76 {
  display: contents;
}
 
.recruiter-view5th-page-text93 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-view5th-page-fragment77 {
  display: contents;
}
 
.recruiter-view5th-page-text94 {
  display: inline-block;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment78 {
  display: contents;
}
 
.recruiter-view5th-page-text95 {
  color: #1f882b;
  display: inline-block;
  font-size: 12px;
}
 
.recruiter-view5th-page-fragment79 {
  display: contents;
}
 
.recruiter-view5th-page-text96 {
  color: #747474;
  display: inline-block;
}
 
.recruiter-view5th-page-fragment80 {
  display: contents;
}
 
.recruiter-view5th-page-text97 {
  color: #18191c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-view5th-page-fragment81 {
  display: contents;
}
 
.recruiter-view5th-page-text98 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
@media(max-width: 1200px) {
  .recruiter-view5th-page-container11 {
    width: 100%;
  }
  .recruiter-view5th-page-container12 {
    width: 100%;
  }
  .recruiter-view5th-page-container13 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .recruiter-view5th-page-container14 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .recruiter-view5th-page-navbar-interactive {
    width: 1199px;
    position: relative;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: center;
  }
  .recruiter-view5th-page-mobile-menu {
    justify-content: space-between;
  }
}
 
@media(max-width: 991px) {
  .recruiter-view5th-page-navbar-interactive {
    width: 990px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .recruiter-view5th-page-links {
    gap: var(--dl-space-space-halfunit);
  }
  .recruiter-view5th-page-dashboard-link {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .recruiter-view5th-page-jobs-for-you-link {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .recruiter-view5th-page-container15 {
    width: 30px;
    height: 30px;
  }
  .recruiter-view5th-page-user-image1 {
    width: 35px;
    height: 35px;
  }
  .recruiter-view5th-page-drop-down-icon {
    width: 28px;
    height: 28px;
  }
  .recruiter-view5th-page-container19 {
    width: auto;
  }
  .recruiter-view5th-page-details-container {
    gap: 2px;
  }
  .recruiter-view5th-page-recruiter-name {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  .recruiter-view5th-page-container20 {
    width: auto;
    justify-content: center;
  }
  .recruiter-view5th-page-company-image {
    width: 14px;
    height: 14px;
  }
  .recruiter-view5th-page-company-name {
    width: auto;
    font-size: 14px;
  }
  .recruiter-view5th-page-job-role-of-recruiter {
    width: auto;
    font-size: 12px;
  }
  .recruiter-view5th-page-container25 {
    width: auto;
  }
  .recruiter-view5th-page-container26 {
    width: 100%;
  }
  .recruiter-view5th-page-container30 {
    width: auto;
  }
  .recruiter-view5th-page-text39 {
    color: rgb(116, 116, 116);
    font-size: 14px;
  }
  .recruiter-view5th-page-text40 {
    color: rgb(116, 116, 116);
  }
  .recruiter-view5th-page-container31 {
    width: 711px;
  }
  .recruiter-view5th-page-text48 {
    width: 100%;
  }
  .recruiter-view5th-page-container32 {
    width: auto;
  }
  .recruiter-view5th-page-container33 {
    width: auto;
  }
  .recruiter-view5th-page-container34 {
    width: auto;
  }
  .recruiter-view5th-page-container35 {
    width: auto;
  }
  .recruiter-view5th-page-container36 {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .recruiter-view5th-page-container11 {
    width: 95%;
    height: 1439px;
  }
  .recruiter-view5th-page-container12 {
    height: 100%;
  }
  .recruiter-view5th-page-container13 {
    background-color: transparent;
  }
  .recruiter-view5th-page-container14 {
    width: 100%;
  }
  .recruiter-view5th-page-navbar-interactive {
    width: 100%;
    height: 72px;
    align-self: flex-start;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: #FFFFFF;
  }
  .recruiter-view5th-page-flashyre-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .recruiter-view5th-page-desktop-menu {
    display: none;
  }
  .recruiter-view5th-page-text10 {
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
  }
  .recruiter-view5th-page-dropdown-toggle1 {
    display: none;
  }
  .recruiter-view5th-page-dropdown-list {
    display: none;
  }
  .recruiter-view5th-page-settings2 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
  .recruiter-view5th-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .recruiter-view5th-page-burger-icon {
    width: 30px;
    height: 30px;
  }
  .recruiter-view5th-page-number-of-notification {
    top: 0px;
    right: 0px;
    width: 14px;
    bottom: 0px;
    height: 14px;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }
  .recruiter-view5th-page-mobile-menu {
    right: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    max-height: auto;
    visibility: hidden;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: flex-end;
    background-color: rgba(190, 190, 190, 0.06);
  }
  .recruiter-view5th-page-popup-container {
    gap: var(--dl-space-space-halfunit);
    width: 293px;
    height: 845px;
    opacity: 1;
    padding: var(--dl-space-space-unit);
    background-color: #FFFFFF;
  }
  .recruiter-view5th-page-close-icon {
    height: 100%;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .recruiter-view5th-page-icon16 {
    width: 24px;
    height: 24px;
  }
  .recruiter-view5th-page-container17 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #FFFFFF;
  }
  .recruiter-view5th-page-container18 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .recruiter-view5th-page-user-image2 {
    width: 60px;
    height: 60px;
    border-radius: var(--dl-radius-radius-round);
  }
  .recruiter-view5th-page-container19 {
    display: none;
  }
  .recruiter-view5th-page-text14 {
    color: rgb(24, 25, 28);
  }
  .recruiter-view5th-page-details-container {
    gap: 0px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .recruiter-view5th-page-recruiter-name {
    font-size: 16px;
  }
  .recruiter-view5th-page-company-image {
    width: 12px;
    height: 12px;
  }
  .recruiter-view5th-page-company-name {
    font-size: 12px;
  }
  .recruiter-view5th-page-job-role-of-recruiter {
    color: rgb(24, 25, 28);
  }
  .recruiter-view5th-page-container21 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 149px;
    border-width: 0px;
  }
  .recruiter-view5th-page-dashboard-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .recruiter-view5th-page-dashboard-icon {
    width: 20px;
    height: 20px;
  }
  .recruiter-view5th-page-dashboard-text {
    font-size: 12px;
  }
  .recruiter-view5th-page-jobs-for-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .recruiter-view5th-page-briefcase-icon {
    width: 20px;
    height: 20px;
  }
  .recruiter-view5th-page-jobs-for-you-text {
    font-size: 12px;
  }
  .recruiter-view5th-page-notification-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .recruiter-view5th-page-container22 {
    width: 20px;
    height: 20px;
  }
  .recruiter-view5th-page-icon20 {
    width: 20px;
    height: 20px;
  }
  .recruiter-view5th-page-container23 {
    width: 10px;
    height: 12px;
    align-items: flex-start;
    justify-content: center;
  }
  .recruiter-view5th-page-notification {
    font-size: 12px;
  }
  .recruiter-view5th-page-container24 {
    gap: 2px;
    width: 50%;
    display: flex;
    align-self: center;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 4px;
    padding-right: var(--dl-space-space-halfunit);
  }
  .recruiter-view5th-page-preference-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
  }
  .recruiter-view5th-page-preference-icon {
    width: 16px;
    height: 16px;
  }
  .recruiter-view5th-page-preference-text {
    font-size: 10px;
  }
  .recruiter-view5th-page-settings-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
  }
  .recruiter-view5th-page-settings-icon {
    width: 16px;
    height: 16px;
  }
  .recruiter-view5th-page-settings-text {
    font-size: 10px;
  }
  .recruiter-view5th-page-logout-container {
    gap: var(--dl-space-space-unit);
    width: 123px;
    padding: 0px;
    align-items: center;
    border-width: 0px;
    background-color: #FFFFFF;
  }
  .recruiter-view5th-page-logout-icon {
    width: 16px;
    height: 16px;
  }
  .recruiter-view5th-page-logout-text {
    font-size: 10px;
  }
  .recruiter-view5th-page-container25 {
    display: none;
  }
  .recruiter-view5th-page-text26 {
    color: rgb(24, 25, 28);
  }
  .recruiter-view5th-page-container26 {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .recruiter-view5th-page-container27 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .recruiter-view5th-page-container28 {
    width: 202px;
    height: 100%;
  }
  .recruiter-view5th-page-container29 {
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .recruiter-view5th-page-text37 {
    color: rgb(24, 25, 28);
    font-size: 13px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 500;
  }
  .recruiter-view5th-page-container30 {
    gap: var(--dl-space-space-halfunit);
  }
  .recruiter-view5th-page-text39 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .recruiter-view5th-page-text40 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .recruiter-view5th-page-text43 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .recruiter-view5th-page-text46 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .recruiter-view5th-page-text47 {
    color: #05356c;
    font-style: normal;
    font-weight: 600;
  }
}
 
@media(max-width: 479px) {
  .recruiter-view5th-page-container11 {
    height: 2125px;
  }
  .recruiter-view5th-page-container13 {
    width: 100%;
  }
  .recruiter-view5th-page-navbar-interactive {
    width: 100%;
    padding: var(--dl-space-space-unit);
    margin-right: 0px;
    padding-right: 16px;
  }
  .recruiter-view5th-page-number-of-notification {
    width: 12px;
    height: 12px;
  }
  .recruiter-view5th-page-popup-container {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
  }
  .recruiter-view5th-page-container21 {
    height: 259px;
  }
  .recruiter-view5th-page-logout-container {
    border-width: 0px;
    background-color: #FFFFFF;
  }
  .recruiter-view5th-page-container29 {
    height: 100%;
  }
  .recruiter-view5th-page-container30 {
    width: 100%;
  }
  .recruiter-view5th-page-text39 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .recruiter-view5th-page-container31 {
    width: 100%;
    height: 1293px;
  }
  .recruiter-view5th-page-container32 {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .recruiter-view5th-page-container33 {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .recruiter-view5th-page-container34 {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .recruiter-view5th-page-container35 {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .recruiter-view5th-page-container36 {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
