<div class="recruiter-view5th-page-container10">
  <div class="recruiter-view5th-page-container11">
    <div class="recruiter-view5th-page-container12">
      <header
        id="recruiter-view-navbar-main-container"
        class="recruiter-view5th-page-container13"
      >
        <div
          id="navbar-recruiter-view-container"
          class="recruiter-view5th-page-container14"
        >
          <header
            data-thq="thq-navbar"
            class="recruiter-view5th-page-navbar-interactive"
          >
            <img
              id="flashyre-logo"
              alt="image"
              src="/assets/main-logo/logo%20-%20flashyre(1500px)-200h.png"
              class="recruiter-view5th-page-flashyre-image"
            />
            <div
              data-thq="thq-navbar-nav"
              class="recruiter-view5th-page-desktop-menu"
            >
              <nav
                id="desktop-links-container"
                class="recruiter-view5th-page-links"
              >
                <a
                  href="https://www.teleporthq.io"
                  id="recruiter-dashboard-link"
                  class="recruiter-view5th-page-dashboard-link thq-body-small button"
                >
                  Dashboard
                </a>
                <a
                  href="https://www.teleporthq.io"
                  id="recruiter-jobs-posted-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="recruiter-view5th-page-jobs-for-you-link thq-body-small button"
                >
                  Job Posted
                </a>
                <div
                  id="notification-container"
                  class="recruiter-view5th-page-container15"
                >
                  <svg
                    id="recruiter-notification-icon-navbar"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="recruiter-view5th-page-icon10"
                  >
                    <g
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M12.721 5.003L11.255 5c-3.344-.008-6.247 2.709-6.27 6v3.79c0 .79-.1 1.561-.531 2.218l-.287.438C3.73 18.11 4.2 19 4.985 19h14.03c.785 0 1.254-.89.818-1.554l-.287-.438c-.43-.657-.531-1.429-.531-2.219v-3.788c-.04-3.292-2.95-5.99-6.294-5.998M15 19a3 3 0 1 1-6 0"
                      ></path>
                      <path d="M12 2a2 2 0 0 1 2 2v1h-4V4a2 2 0 0 1 2-2"></path>
                    </g>
                  </svg>
                  <div
                    id="number-of-notification"
                    class="recruiter-view5th-page-container16"
                  >
                    <span
                      id="notification-numbers"
                      class="recruiter-view5th-page-text10"
                    >
                      2
                    </span>
                  </div>
                </div>
              </nav>
            </div>
            <div
              data-thq="thq-dropdown"
              class="recruiter-view5th-page-thq-dropdown list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="recruiter-view5th-page-dropdown-toggle1"
              >
                <img
                  id="recruiter-profile-picture"
                  alt="https://s3-alpha-sig.figma.com/img/b74a/bea4/ebc9cfc1a53c3f5e2e37843d60bf6944?Expires=1735516800&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=UtDDP8Rm~420kFe31N8K6pTrPW-xtuqVOImSKApZE7ywdUrTITMSOZ5YVZetsjvZG3k1b1D~td9StRjiaFaGCcKEVBhGFGUHmAwrtXb18YIkOHegCnmo7cBAz3IG2ww4B9DjG9nOaniCMSDG6uKAJpelvB2woG54Yj6dLQLjmRZK8wSIUOr1OJ17LOYjMQgP~QCmOL0gu8oXwIstaAQXvKjI7IGAfGbN8cjVs9JCBD7MEXCOmKgqHXu4Jn-XavYyVpMBTJLhLwkw4OeORgEeBzdYIUtAs3ClpYTmJ7VI0aDxw6cXBL4WobVlcuzTKqr6XJSeU5fYc8efbLynD~v-7g__"
                  src="https://s3-alpha-sig.figma.com/img/b74a/bea4/ebc9cfc1a53c3f5e2e37843d60bf6944?Expires=1735516800&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=UtDDP8Rm~420kFe31N8K6pTrPW-xtuqVOImSKApZE7ywdUrTITMSOZ5YVZetsjvZG3k1b1D~td9StRjiaFaGCcKEVBhGFGUHmAwrtXb18YIkOHegCnmo7cBAz3IG2ww4B9DjG9nOaniCMSDG6uKAJpelvB2woG54Yj6dLQLjmRZK8wSIUOr1OJ17LOYjMQgP~QCmOL0gu8oXwIstaAQXvKjI7IGAfGbN8cjVs9JCBD7MEXCOmKgqHXu4Jn-XavYyVpMBTJLhLwkw4OeORgEeBzdYIUtAs3ClpYTmJ7VI0aDxw6cXBL4WobVlcuzTKqr6XJSeU5fYc8efbLynD~v-7g__"
                  class="recruiter-view5th-page-user-image1"
                />
                <div
                  data-thq="thq-dropdown-arrow"
                  class="recruiter-view5th-page-dropdown-arrow"
                >
                  <svg
                    id="Dropdown"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    class="recruiter-view5th-page-drop-down-icon"
                  >
                    <path
                      d="m16 28l-7-7l1.4-1.4l5.6 5.6l5.6-5.6L23 21z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <ul
                data-thq="thq-dropdown-list"
                class="recruiter-view5th-page-dropdown-list"
              >
                <li
                  data-thq="thq-dropdown"
                  class="recruiter-view5th-page-profile1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view5th-page-dropdown-toggle2"
                  >
                    <span
                      id="Recruiter-profile-Button"
                      class="recruiter-view5th-page-profile2"
                    >
                      Profile
                    </span>
                  </div>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="recruiter-view5th-page-preference1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view5th-page-dropdown-toggle3"
                  >
                    <span
                      id="Recruiter-preference-button"
                      class="recruiter-view5th-page-preference2"
                    >
                      Preference
                    </span>
                  </div>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="recruiter-view5th-page-settings1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view5th-page-dropdown-toggle4"
                  >
                    <span
                      id="Recruiter-settings-Button"
                      class="recruiter-view5th-page-settings2"
                    >
                      Settings
                    </span>
                  </div>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="recruiter-view5th-page-logout1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view5th-page-dropdown-toggle5"
                  >
                    <span
                      id="recruiter-logout-Button"
                      class="recruiter-view5th-page-logout2"
                    >
                      Logout
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div
              data-thq="thq-burger-menu"
              class="recruiter-view5th-page-burger-menu"
            >
              <svg
                id="hamburger-icon"
                viewBox="0 0 1024 1024"
                class="recruiter-view5th-page-burger-icon"
              >
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
              <div
                id="number-of-notifications"
                class="recruiter-view5th-page-number-of-notification"
              >
                <span class="recruiter-view5th-page-text11">2</span>
              </div>
            </div>
            <div
              data-thq="thq-mobile-menu"
              class="recruiter-view5th-page-mobile-menu"
            >
              <div class="recruiter-view5th-page-popup-container">
                <div class="recruiter-view5th-page-close-icon">
                  <div
                    data-thq="thq-close-menu"
                    class="recruiter-view5th-page-close-menu"
                  >
                    <svg
                      viewBox="0 0 1024 1024"
                      class="recruiter-view5th-page-icon16"
                    >
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="recruiter-view5th-page-container17">
                  <div class="recruiter-view5th-page-container18">
                    <img
                      id="Candidate-Profile-Picture"
                      alt="image"
                      src="https://s3-alpha-sig.figma.com/img/7583/57be/ae9594f1160471db992db1cf36ca3f46?Expires=1738540800&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=JE7txqF-B6mlyS6vVm8jDQNtPmNVIGVkOwGQawWSQEp6~GRMYRWAujE~YfsPMSJxrYRZ8aQLddL-FDlDZ81lzmRF~Ne94jCeoFq-yaK6oGmYbn-fajTwG672CtQraNnyKi8xBDKSzTynf2LH824kvvVOz~wnWqsPrNvZhjcbGoL1HOvN2J3CcCPFr54hAh~kpQWX0U3VAtHwDCZiIVxMdxYlQdAFGXUL7y36B4Ce7P91cvdiAO~iwKAT63Faez7KXBjp~IIB1J~UZLE8S3cMQJcIiD5M-mnL9IwJxqFst5lgJGikKxP1oa8MqkBlGx3Yg3MQkRmhYnIskawUWWFVcA__"
                      class="recruiter-view5th-page-user-image2"
                    />
                    <div class="recruiter-view5th-page-container19">
                      <recruiter-profile
                        rootClassName="recruiter-profileroot-class-name8"
                      >
                        <ng-template #text>
                          <div class="recruiter-view5th-page-fragment10">
                            <span class="recruiter-view5th-page-text12">
                              Leslie Alexander
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text1>
                          <div class="recruiter-view5th-page-fragment11">
                            <span class="recruiter-view5th-page-text13">
                              Google
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text3>
                          <div class="recruiter-view5th-page-fragment12">
                            <span class="recruiter-view5th-page-text14">
                              <span>Software Development</span>
                              <br />
                              <span>Mountain View, CA</span>
                            </span>
                          </div>
                        </ng-template>
                      </recruiter-profile>
                      <recruiter-job-posted1
                        rootClassName="recruiter-job-posted1root-class-name9"
                      >
                        <ng-template #text>
                          <div class="recruiter-view5th-page-fragment13">
                            <span class="recruiter-view5th-page-text18">
                              Job Posted
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text3>
                          <div class="recruiter-view5th-page-fragment14">
                            <span class="recruiter-view5th-page-text19">
                              2 Jobs Posted
                            </span>
                          </div>
                        </ng-template>
                      </recruiter-job-posted1>
                    </div>
                    <div
                      id="recruiter-details"
                      class="recruiter-view5th-page-details-container"
                    >
                      <span
                        id="recruiter-name"
                        class="recruiter-view5th-page-recruiter-name"
                      >
                        Leslie Alexander
                      </span>
                      <div
                        id="recruiter-company-logo-and-name"
                        class="recruiter-view5th-page-container20"
                      >
                        <img
                          id="recruiter-company-image"
                          alt="image"
                          src="https://s3-alpha-sig.figma.com/img/cb33/d035/72e938963245d419674c3c2e71065794?Expires=1737331200&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=AWePlF-pHGfkDpvAxQkVOEKn6ei0wCQlVYu2oyaio65v32g8ylOmVbTs0muKAqz~iUBe-CPQTwUxEliMP5iFCiNMWlvaUDmnDaQ-9hL50Y2Rj~XfChKWsk1VhZQeHfMHDKP3KjN5DqeJBjU3k3Y3mOBUO9Fti0wsO9NNgpx1w4Kzu2hgpAP4Tf-EvspJzKotE8oB5AZzw1Qq6A~Vf6j1~AUW5vncBp6~E1xz7xUg0j59ZNm-wCSegvZWTPmBQ0fffJ95NegzQoPhltiUTwYrUPuIYjMEMcWOY3Poet~fqbTxf8bLNC1SRF3brHyO894K9GtoUm~V7HPmDgnR9J4qTg__"
                          class="recruiter-view5th-page-company-image"
                        />
                        <span
                          id="recruiter-company-name"
                          class="recruiter-view5th-page-company-name"
                        >
                          Google
                        </span>
                      </div>
                      <span
                        id="recruiter-role"
                        class="recruiter-view5th-page-job-role-of-recruiter"
                      >
                        <span>Software Development</span>
                        <br />
                        <span>Mountain View, CA</span>
                      </span>
                    </div>
                  </div>
                  <div
                    id="mobile-popup-container"
                    class="recruiter-view5th-page-container21"
                  >
                    <div
                      id="dashboard-container"
                      class="recruiter-view5th-page-dashboard-container"
                    >
                      <svg
                        id="dashboard-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="recruiter-view5th-page-dashboard-icon"
                      >
                        <path
                          d="M21 16V4H3v12zm0-14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-7v2h2v2H8v-2h2v-2H3a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2zM5 6h9v5H5zm10 0h4v2h-4zm4 3v5h-4V9zM5 12h4v2H5zm5 0h4v2h-4z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="dashboard-button"
                        class="recruiter-view5th-page-dashboard-text"
                      >
                        Dashboard
                      </span>
                    </div>
                    <div
                      id="jobs-posted-container"
                      class="recruiter-view5th-page-jobs-for-container"
                    >
                      <svg
                        id="briefcase-icon"
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        class="recruiter-view5th-page-briefcase-icon"
                      >
                        <path
                          d="M2 6h5V3h1V2h6v1h1v3h5v1h1v12h-1v1H2v-1H1V7h1zm7 0h4V4H9zm10 2H3v10h16z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="jobs-posted-button"
                        class="recruiter-view5th-page-jobs-for-you-text"
                      >
                        Jobs Posted
                      </span>
                    </div>
                    <div
                      id="recruiter-notification-container"
                      class="recruiter-view5th-page-notification-container"
                    >
                      <div
                        id="notification-icon"
                        class="recruiter-view5th-page-container22"
                      >
                        <svg
                          id="recruiter-notification-icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          class="recruiter-view5th-page-icon20"
                        >
                          <g
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path
                              d="M12.721 5.003L11.255 5c-3.344-.008-6.247 2.709-6.27 6v3.79c0 .79-.1 1.561-.531 2.218l-.287.438C3.73 18.11 4.2 19 4.985 19h14.03c.785 0 1.254-.89.818-1.554l-.287-.438c-.43-.657-.531-1.429-.531-2.219v-3.788c-.04-3.292-2.95-5.99-6.294-5.998M15 19a3 3 0 1 1-6 0"
                            ></path>
                            <path
                              d="M12 2a2 2 0 0 1 2 2v1h-4V4a2 2 0 0 1 2-2"
                            ></path>
                          </g>
                        </svg>
                        <div
                          id="numbers-container"
                          class="recruiter-view5th-page-container23"
                        >
                          <span
                            id="Number of notifications"
                            class="recruiter-view5th-page-text23"
                          >
                            2
                          </span>
                        </div>
                      </div>
                      <span
                        id="notification-button"
                        class="recruiter-view5th-page-notification"
                      >
                        Notifications
                      </span>
                    </div>
                    <div
                      id="profile-popup-container"
                      class="recruiter-view5th-page-container24"
                    >
                      <div
                        id="preference-container"
                        class="recruiter-view5th-page-preference-container"
                      >
                        <svg
                          id="preference-icon"
                          width="48"
                          height="48"
                          viewBox="0 0 48 48"
                          class="recruiter-view5th-page-preference-icon"
                        >
                          <g fill="currentColor">
                            <path
                              d="M23 22.922c0-.526.474-.922 1-.922s1 .396 1 .922V41a1 1 0 1 1-2 0z"
                            ></path>
                            <path
                              d="M20 16a4 4 0 0 1 3-3.874V7a1 1 0 1 1 2 0v5.126A4.002 4.002 0 0 1 24 20a4 4 0 0 1-4-4m4 2a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-8 14a4 4 0 1 1-4.992-3.876A1 1 0 0 1 11 28V7a1 1 0 1 1 2 0v21q0 .063-.008.124A4 4 0 0 1 16 32m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                            <path
                              d="M36 42a1 1 0 0 1-1-1v-7.078c0-.526.474-.922 1-.922s1 .396 1 .922V41a1 1 0 0 1-1 1"
                            ></path>
                            <path
                              d="M36 6a1 1 0 0 0-1 1v16.126A4.002 4.002 0 0 0 36 31a4 4 0 0 0 1-7.874V7a1 1 0 0 0-1-1m0 19a2 2 0 1 0 0 4a2 2 0 0 0 0-4"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                            <path
                              d="M11 41a1 1 0 1 0 2 0v-2.078c0-.526-.474-.922-1-.922s-1 .396-1 .922z"
                            ></path>
                          </g>
                        </svg>
                        <span
                          id="recruiter-preference-button"
                          class="recruiter-view5th-page-preference-text"
                        >
                          Preference
                        </span>
                      </div>
                      <div
                        id="settings-container"
                        class="recruiter-view5th-page-settings-container"
                      >
                        <svg
                          id="settings-icon"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          class="recruiter-view5th-page-settings-icon"
                        >
                          <path
                            d="M27 16.76v-1.53l1.92-1.68A2 2 0 0 0 29.3 11l-2.36-4a2 2 0 0 0-1.73-1a2 2 0 0 0-.64.1l-2.43.82a11 11 0 0 0-1.31-.75l-.51-2.52a2 2 0 0 0-2-1.61h-4.68a2 2 0 0 0-2 1.61l-.51 2.52a11.5 11.5 0 0 0-1.32.75l-2.38-.86A2 2 0 0 0 6.79 6a2 2 0 0 0-1.73 1L2.7 11a2 2 0 0 0 .41 2.51L5 15.24v1.53l-1.89 1.68A2 2 0 0 0 2.7 21l2.36 4a2 2 0 0 0 1.73 1a2 2 0 0 0 .64-.1l2.43-.82a11 11 0 0 0 1.31.75l.51 2.52a2 2 0 0 0 2 1.61h4.72a2 2 0 0 0 2-1.61l.51-2.52a11.5 11.5 0 0 0 1.32-.75l2.42.82a2 2 0 0 0 .64.1a2 2 0 0 0 1.73-1l2.28-4a2 2 0 0 0-.41-2.51ZM25.21 24l-3.43-1.16a8.9 8.9 0 0 1-2.71 1.57L18.36 28h-4.72l-.71-3.55a9.4 9.4 0 0 1-2.7-1.57L6.79 24l-2.36-4l2.72-2.4a8.9 8.9 0 0 1 0-3.13L4.43 12l2.36-4l3.43 1.16a8.9 8.9 0 0 1 2.71-1.57L13.64 4h4.72l.71 3.55a9.4 9.4 0 0 1 2.7 1.57L25.21 8l2.36 4l-2.72 2.4a8.9 8.9 0 0 1 0 3.13L27.57 20Z"
                            fill="currentColor"
                          ></path>
                          <path
                            d="M16 22a6 6 0 1 1 6-6a5.94 5.94 0 0 1-6 6m0-10a3.91 3.91 0 0 0-4 4a3.91 3.91 0 0 0 4 4a3.91 3.91 0 0 0 4-4a3.91 3.91 0 0 0-4-4"
                            fill="currentColor"
                          ></path>
                        </svg>
                        <span
                          id="recruiter-settings-button"
                          class="recruiter-view5th-page-settings-text"
                        >
                          Settings
                        </span>
                      </div>
                      <div
                        id="logout-container"
                        class="recruiter-view5th-page-logout-container button"
                      >
                        <svg
                          id="logout-icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          class="recruiter-view5th-page-logout-icon"
                        >
                          <g fill="none">
                            <path
                              d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                            ></path>
                            <path
                              d="M12 3a1 1 0 0 1 .117 1.993L12 5H7a1 1 0 0 0-.993.883L6 6v12a1 1 0 0 0 .883.993L7 19h4.5a1 1 0 0 1 .117 1.993L11.5 21H7a3 3 0 0 1-2.995-2.824L4 18V6a3 3 0 0 1 2.824-2.995L7 3zm5.707 5.464l2.828 2.829a1 1 0 0 1 0 1.414l-2.828 2.829a1 1 0 1 1-1.414-1.415L17.414 13H12a1 1 0 1 1 0-2h5.414l-1.121-1.121a1 1 0 0 1 1.414-1.415"
                              fill="currentColor"
                            ></path>
                          </g>
                        </svg>
                        <span
                          id="recruiter-logout-button"
                          class="recruiter-view5th-page-logout-text"
                        >
                          Logout
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="recruiter-view5th-page-container25">
                    <recruiter-profile
                      rootClassName="recruiter-profileroot-class-name7"
                    >
                      <ng-template #text>
                        <div class="recruiter-view5th-page-fragment15">
                          <span class="recruiter-view5th-page-text24">
                            Leslie Alexander
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text1>
                        <div class="recruiter-view5th-page-fragment16">
                          <span class="recruiter-view5th-page-text25">
                            Google
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text3>
                        <div class="recruiter-view5th-page-fragment17">
                          <span class="recruiter-view5th-page-text26">
                            <span>Software Development</span>
                            <br />
                            <span>Mountain View, CA</span>
                          </span>
                        </div>
                      </ng-template>
                    </recruiter-profile>
                    <recruiter-job-posted1
                      rootClassName="recruiter-job-posted1root-class-name8"
                    >
                      <ng-template #text>
                        <div class="recruiter-view5th-page-fragment18">
                          <span class="recruiter-view5th-page-text30">
                            Job Posted
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text3>
                        <div class="recruiter-view5th-page-fragment19">
                          <span class="recruiter-view5th-page-text31">
                            2 Jobs Posted
                          </span>
                        </div>
                      </ng-template>
                    </recruiter-job-posted1>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      </header>
      <div class="recruiter-view5th-page-container26">
        <div class="recruiter-view5th-page-container27">
          <recruiter-company-job-card
            rootClassName="recruiter-company-job-cardroot-class-name"
          >
            <ng-template #text>
              <div class="recruiter-view5th-page-fragment20">
                <span class="recruiter-view5th-page-text32">Google</span>
              </div>
            </ng-template>
            <ng-template #text1>
              <div class="recruiter-view5th-page-fragment21">
                <span class="recruiter-view5th-page-text33">
                  <span>Software Development</span>
                  <br />
                  <span>Mountain View, CA</span>
                </span>
              </div>
            </ng-template>
          </recruiter-company-job-card>
          <div class="recruiter-view5th-page-container28">
            <div class="recruiter-view5th-page-container29">
              <span class="recruiter-view5th-page-text37">Job Applied</span>
            </div>
          </div>
        </div>
        <div class="recruiter-view5th-page-container30">
          <navbar-for-candidate-view860721
            rootClassName="navbar-for-candidate-view860721root-class-name"
          >
            <ng-template #text2>
              <div class="recruiter-view5th-page-fragment22">
                <span class="recruiter-view5th-page-text38">
                  Job tittle, Keyword...
                </span>
              </div>
            </ng-template>
            <ng-template #text3>
              <div class="recruiter-view5th-page-fragment23">
                <span class="recruiter-view5th-page-text39">
                  Job title, skills...
                </span>
              </div>
            </ng-template>
            <ng-template #text4>
              <div class="recruiter-view5th-page-fragment24">
                <span class="recruiter-view5th-page-text40">
                  Job tittle, Keyword...
                </span>
              </div>
            </ng-template>
            <ng-template #button>
              <div class="recruiter-view5th-page-fragment25">
                <span class="recruiter-view5th-page-text41">Search</span>
              </div>
            </ng-template>
            <ng-template #text12>
              <div class="recruiter-view5th-page-fragment26">
                <span class="recruiter-view5th-page-text42">Your Location</span>
              </div>
            </ng-template>
            <ng-template #text13>
              <div class="recruiter-view5th-page-fragment27">
                <span class="recruiter-view5th-page-text43">Your Location</span>
              </div>
            </ng-template>
            <ng-template #button2>
              <div class="recruiter-view5th-page-fragment28">
                <span class="recruiter-view5th-page-text44">Search</span>
              </div>
            </ng-template>
            <ng-template #text111>
              <div class="recruiter-view5th-page-fragment29">
                <span class="recruiter-view5th-page-text45">Experience</span>
              </div>
            </ng-template>
            <ng-template #text112>
              <div class="recruiter-view5th-page-fragment30">
                <span class="recruiter-view5th-page-text46">Experience</span>
              </div>
            </ng-template>
            <ng-template #button11>
              <div class="recruiter-view5th-page-fragment31">
                <span class="recruiter-view5th-page-text47">Preference</span>
              </div>
            </ng-template>
          </navbar-for-candidate-view860721>
          <div class="recruiter-view5th-page-container31">
            <span class="recruiter-view5th-page-text48">--</span>
            <div class="recruiter-view5th-page-container32">
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment32">
                    <span class="recruiter-view5th-page-text49">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment33">
                    <span class="recruiter-view5th-page-text50">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment34">
                    <span class="recruiter-view5th-page-text51">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment35">
                    <span class="recruiter-view5th-page-text52">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment36">
                    <span class="recruiter-view5th-page-text53">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name1"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment37">
                    <span class="recruiter-view5th-page-text54">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment38">
                    <span class="recruiter-view5th-page-text55">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment39">
                    <span class="recruiter-view5th-page-text56">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment40">
                    <span class="recruiter-view5th-page-text57">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment41">
                    <span class="recruiter-view5th-page-text58">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
            </div>
            <div class="recruiter-view5th-page-container33">
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name2"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment42">
                    <span class="recruiter-view5th-page-text59">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment43">
                    <span class="recruiter-view5th-page-text60">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment44">
                    <span class="recruiter-view5th-page-text61">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment45">
                    <span class="recruiter-view5th-page-text62">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment46">
                    <span class="recruiter-view5th-page-text63">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name3"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment47">
                    <span class="recruiter-view5th-page-text64">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment48">
                    <span class="recruiter-view5th-page-text65">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment49">
                    <span class="recruiter-view5th-page-text66">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment50">
                    <span class="recruiter-view5th-page-text67">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment51">
                    <span class="recruiter-view5th-page-text68">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
            </div>
            <div class="recruiter-view5th-page-container34">
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name4"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment52">
                    <span class="recruiter-view5th-page-text69">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment53">
                    <span class="recruiter-view5th-page-text70">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment54">
                    <span class="recruiter-view5th-page-text71">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment55">
                    <span class="recruiter-view5th-page-text72">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment56">
                    <span class="recruiter-view5th-page-text73">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name5"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment57">
                    <span class="recruiter-view5th-page-text74">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment58">
                    <span class="recruiter-view5th-page-text75">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment59">
                    <span class="recruiter-view5th-page-text76">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment60">
                    <span class="recruiter-view5th-page-text77">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment61">
                    <span class="recruiter-view5th-page-text78">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
            </div>
            <div class="recruiter-view5th-page-container35">
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name6"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment62">
                    <span class="recruiter-view5th-page-text79">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment63">
                    <span class="recruiter-view5th-page-text80">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment64">
                    <span class="recruiter-view5th-page-text81">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment65">
                    <span class="recruiter-view5th-page-text82">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment66">
                    <span class="recruiter-view5th-page-text83">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name7"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment67">
                    <span class="recruiter-view5th-page-text84">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment68">
                    <span class="recruiter-view5th-page-text85">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment69">
                    <span class="recruiter-view5th-page-text86">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment70">
                    <span class="recruiter-view5th-page-text87">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment71">
                    <span class="recruiter-view5th-page-text88">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
            </div>
            <div class="recruiter-view5th-page-container36">
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name8"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment72">
                    <span class="recruiter-view5th-page-text89">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment73">
                    <span class="recruiter-view5th-page-text90">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment74">
                    <span class="recruiter-view5th-page-text91">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment75">
                    <span class="recruiter-view5th-page-text92">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment76">
                    <span class="recruiter-view5th-page-text93">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
              <recruiter-view-candidate-profile
                rootClassName="recruiter-view-candidate-profileroot-class-name9"
              >
                <ng-template #text>
                  <div class="recruiter-view5th-page-fragment77">
                    <span class="recruiter-view5th-page-text94">
                      Kathryn Murphy
                    </span>
                  </div>
                </ng-template>
                <ng-template #text1>
                  <div class="recruiter-view5th-page-fragment78">
                    <span class="recruiter-view5th-page-text95">
                      Open to Work
                    </span>
                  </div>
                </ng-template>
                <ng-template #text2>
                  <div class="recruiter-view5th-page-fragment79">
                    <span class="recruiter-view5th-page-text96">
                      Active 2 days ago
                    </span>
                  </div>
                </ng-template>
                <ng-template #text3>
                  <div class="recruiter-view5th-page-fragment80">
                    <span class="recruiter-view5th-page-text97">
                      Senior Software Engineer &#64; Microsoft
                    </span>
                  </div>
                </ng-template>
                <ng-template #text4>
                  <div class="recruiter-view5th-page-fragment81">
                    <span class="recruiter-view5th-page-text98">
                      6-8 Years · Bengaluru, India (On-site)
                    </span>
                  </div>
                </ng-template>
              </recruiter-view-candidate-profile>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
