@if (showAlert) {
  <app-alert-message
    [message]="alertMessage"
    [buttons]="alertButtons"
    (buttonClicked)="onAlertButtonClicked($event)"
    (close)="showAlert = false">
  </app-alert-message>
}

<div
  id="candidate-job-details"
  class="candidate-job-details-container1"
  [ngClass]="rootClassName"
  >
  <!-- Display a message if no job is selected -->
  @if (!job && !errorMessage && !loading) {
    <div class="no-job-selected-message">
      <span>No jobs are available at the moment.</span>
    </div>
  }

  <!-- Display error or success messages -->
  @if (errorMessage) {
    <div class="candidate-job-details-error">
      <span>{{ errorMessage }}</span>
    </div>
  }
  @if (successMessage) {
    <div class="candidate-job-detailss-success">
      <span>{{ successMessage }}</span>
    </div>
  }

  <!-- Main loading state for the entire job details pane -->
  @if (loading && job) {
    <div class="candidate-job-details-loading-pane">
      <p>Loading job details...</p>
    </div>
  }

  <!-- Main container for job details, shown when data is loaded -->
  @if (job && !errorMessage && !loading) {
    <div
      id="job-details-main-container"
      class="candidate-job-details-job-details-main-container"
      >
      <div class="candidate-job-details-job-details-container">
        <!-- Company, Role, and Location Details -->
        <div
          id="company-name-role-location-container"
          class="candidate-job-details-company-name-role-location-container"
          >
          <div
            id="company-image-name-container"
            class="candidate-job-details-company-image-name-container"
            >
            <div id="image-container" class="candidate-job-details-image-container">
              @if (job.logo) {
                <img
                  id="Image"
                  [attr.alt]="job.company_name + ' logo'"
                  [attr.src]="job.logo"
                  class="candidate-job-details-image"
                  />
              } @else {
                <div class="avatar-icon">
                  {{ job.initials }}
                </div>
              }
            </div>
            <span id="company-name-text" class="candidate-job-details-company-name-text" [title]="job.company_name">
              <ng-container>
                <ng-template #defaultText>
                  <div class="candidate-job-details-fragment3">
                    <span class="candidate-job-details-text12">{{ job.company_name }}</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text ? text : defaultText"></ng-container>
              </ng-container>
            </span>
            <div id="progress-bar-container" class="candidate-job-details-progress-bar-container">
              @if (isMobile) {
                <div class="progress-container mobile">
                  <div class="progress">
                    <div #mobileBar class="bar" [style.width.%]="progress" [style.backgroundColor]="fillColor"></div>
                  </div>
                  <span class="score">{{ progress | number:'1.0-0' }}%</span>
                </div>
              }
            </div>
          </div>
          <div id="job-role-container" class="candidate-job-details-job-role-container">
            <span id="job-role-text" class="candidate-job-details-job-role-text">
              <ng-container>
                <ng-template #defaultText1>
                  <div class="candidate-job-details-fragment5">
                    <span class="candidate-job-details-text14">{{ job.title }}</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text1 ? text1 : defaultText1"></ng-container>
              </ng-container>
            </span>
          </div>
          <span id="location-text" class="candidate-job-details-location-text">
            <ng-container>
              <ng-template #defaultText2>
                <div class="candidate-job-details-fragment4">
                  <span class="candidate-job-details-text13">
                    {{ job.location }} ({{ job.job_type }})
                    <!-- This container will only render if displayDate has a value (i.e., not null) -->
                    @if (displayDate) {
                      | {{ dateLabel }} {{ displayDate | date: 'shortDate' }}
                    }
                  </span>
                </div>
              </ng-template>
              <ng-container *ngTemplateOutlet="text2 ? text2 : defaultText2"></ng-container>
            </ng-container>
          </span>
        </div>
        <!-- Action Buttons: Apply, Revoke, Take Assessment, Save, Dislike -->
        <div
          id="apply-take-assessment-button-container"
          class="candidate-job-details-apply-take-assessment-button-container"
          >
          <!-- Apply Button -->
          @if (activeTab !== 'applied') {
            <button
              [disabled]="isProcessing || isApplied"
              [ngClass]="{'apply-button': true, 'applying': isProcessing, 'applied': isApplied}"
              (click)="applyForJob()"
              >
              @if (!isProcessing && !isApplied) {
                <span>Apply</span>
              }
              @if (isProcessing && !isApplied) {
                <span>Applying...</span>
              }
              @if (isApplied) {
                <span>
                  <span class="tick-mark">✓</span> Applied Successfully
                </span>
              }
            </button>
          }
          <!-- Revoke Button -->
          @if (activeTab === 'applied') {
            <button
              class="apply-button revoke-button"
              [disabled]="isProcessing"
              (click)="revokeApplication()"
              >
              @if (!isProcessing) {
                <span>Revoke</span>
              }
              @if (isProcessing) {
                <span>Revoking...</span>
              }
            </button>
          }
          <!-- Take Assessment Button -->
          @if (job.assessment != null) {
            <button
              id="take-assessment-button"
              type="button"
              class="candidate-job-details-take-assessment-button button"
              [disabled]="(job.attempts_remaining || 0) <= 0"
              [ngClass]="{'disabled': (job.attempts_remaining || 0) <= 0}"
              (click)="(job.attempts_remaining || 0) > 0 && navigateToAssessment(job.assessment)"
              [title]="(job.attempts_remaining || 0) + ' ' + (job.attempts_remaining === 1 ? 'attempt' : 'attempts') + ' remaining'"
              >
              <span id="take-assessment-text" class="candidate-job-details-take-assessment-text">
                <ng-container>
                  <ng-template #defaultButton1>
                    <div class="candidate-job-details-fragment2">
                      <span class="candidate-job-details-text11">Take Assessment</span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="button1 ? button1 : defaultButton1"></ng-container>
                </ng-container>
              </span>
            </button>
          }
          <!-- Dislike Icon -->
          @if (activeTab !== 'applied') {
            <div class="icon-wrapper">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="candidate-job-for-you-card-icon14"
                [class.filled]="isDisliked"
                [class.disabled]="isSaved || isProcessingDislike || isProcessingSave"
                (click)="onDislike($event)"
                >
                <path d="M19 2H6.27a3 3 0 0 0-2.95 2.46l-1.27 7A3 3 0 0 0 5 15h4.56L9 16.43A4.13 4.13 0 0 0 12.89 22a1 1 0 0 0 .91-.59L16.65 15H19a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3m-4 11.79l-2.72 6.12a2.13 2.13 0 0 1-1.38-2.78l.53-1.43A2 2 0 0 0 9.56 13H5a1 1 0 0 1-.77-.36a1 1 0 0 1-.23-.82l1.27-7a1 1 0 0 1 1-.82H15ZM20 12a1 1 0 0 1-1 1h-2V4h2a1 1 0 0 1 1 1Z" fill="currentColor"></path>
              </svg>
              <span class="tooltip-text">{{ isSaved ? 'You cannot dislike a saved job' : (isDisliked ? 'Remove dislike' : 'Dislike the job') }}</span>
            </div>
          }
          <!-- Save Icon -->
          @if (activeTab !== 'applied') {
            <div class="icon-wrapper">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="candidate-job-for-you-card-icon16"
                [class.filled]="isSaved"
                [class.disabled]="isDisliked || isProcessingSave || isProcessingDislike"
                (click)="onSave($event)"
                >
                <g fill="none" fill-rule="evenodd">
                  <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"></path>
                  <path d="M4 5a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v16.028c0 1.22-1.38 1.93-2.372 1.221L12 18.229l-5.628 4.02c-.993.71-2.372 0-2.372-1.22zm3-1a1 1 0 0 0-1 1v15.057l5.128-3.663a1.5 1.5 0 0 1 1.744 0L18 20.057V5a1 1 0 0 0-1-1z" fill="currentColor"></path>
                </g>
              </svg>
              <span class="tooltip-text">{{ isDisliked ? 'You cannot save a disliked job' : (isSaved ? 'Unsave the job' : 'Save the job') }}</span>
            </div>
          }
        </div>
      </div>
      <!-- Job Matching Score -->
      @if (matchingScore >= 0) {
        <div
          id="job-matching-score-container"
          class="candidate-job-details-job-matching-score-container"
          >
          <div class="candidate-job-details-container4">
            <div class="candidate-job-details-container5">
              @if (isMobile) {
                <div class="progress-container mobile">
                  <div class="progress">
                    <div #mobileMatchingBar class="bar" [style.width.%]="matchingScore" [style.backgroundColor]="matchingScoreFillColor"></div>
                  </div>
                  <span class="score">{{ matchingScore | number:'1.0-0' }}%</span>
                </div>
              }
              @if (!isMobile) {
                <div class="progress-container desktop">
                  <svg viewBox="0 0.5 10 8">
                    <path d="M2 8 A 4 4 0 1 1 8 8" fill="none" stroke-width="0.3" stroke="#E8F6FD"></path>
                    <path #desktopMatchingLoader class="loader" d="M2 8 A 4 4 0 1 1 8 8" fill="none" stroke-width="0.3" [style.stroke]="matchingScoreFillColor" [style.strokeDasharray]="matchingScoreStrokeDasharray"></path>
                  </svg>
                  <div class="progress-content">
                    <img
                      [src]="userProfile.profile_picture_url ? userProfile.profile_picture_url : defaultProfilePicture"
                      alt="User Profile"
                      class="progress-icon"
                      (error)="handleImageError($event)"
                      />
                      <div class="progress-label">{{ matchingScore | number:'1.0-0' }}%</div>
                    </div>
                    <div class="progress-description">Job matching score</div>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </div>
    }

    <!-- Job Description and Details -->
    <span
      id="about-the-job-text"
      class="candidate-job-details-about-the-job-text"
      >
      <ng-container>
        <ng-template #defaultText3>
          <div class="candidate-job-details-fragment6">
            <span class="candidate-job-details-text15">
              <span class="candidate-job-details-text16">About the job</span>
              <br class="candidate-job-details-text17" />
              <br />
              <div class="candidate-job-details-text19" [innerHTML]="safeJobDescription"></div>
              <br class="candidate-job-details-text20" />
              <br />
              <!-- <span class="minimum-qualifiation">Minimum qualifications:</span> -->
              <!-- <br /> -->
              <!-- <span>{{ job.requirements }}</span> -->
              <!-- <br /> -->
              <span>Salary: {{ job.salary }}</span>
              <br />
              @if (job.experience_required) {
                <span>Experience Required: {{ job.experience_required }} years</span>
              }
              @if (job.experience_required) {
                <br />
              }
              @if (job.source) {
                <span>Source: {{ job.source }}</span>
              }
              @if (job.source) {
                <br />
              }
              @if (job.tag) {
                <span>Tags: {{ job.tag }}</span>
              }
              @if (job.tag) {
                <br />
              }
              @if (job.contract_time) {
                <span>Contract Time: {{ job.contract_time }}</span>
              }
              @if (job.contract_time) {
                <br />
              }
              @if (job.contract_type) {
                <span>Contract Type: {{ job.contract_type }}</span>
              }
              @if (job.contract_type) {
                <br />
              }
              @if (job.external_id) {
                <span>External ID: {{ job.external_id }}</span>
              }
            </span>
          </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="text3 ? text3 : defaultText3"></ng-container>
      </ng-container>
    </span>

  </div>