<div
  id="recruiter-job-posted"
  class="recruiter-job-posted1-container"
  [ngClass]="rootClassName"
>
  <div
    id="Job-post-container"
    class="recruiter-job-posted1-recruiter-job-posted-container"
  >
    <span id="Job-posted" class="recruiter-job-posted1-job-posted-text">
      <ng-container>
        <ng-template #defaultText>
          <div class="recruiter-job-posted1-fragment2">
            <span>Job Posted</span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    <span
      id="number-of-job-posted"
      class="recruiter-job-posted1-number-of-job-posted-text"
    >
      <ng-container>
        <ng-template #defaultText3>
          <div class="recruiter-job-posted1-fragment1">
            <span>2 Jobs Posted</span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text3 ? text3 : defaultText3"
        ></ng-container>
      </ng-container>
    </span>
  </div>
</div>
