:host { 
  display: contents; 
}
 
.landing-page-footer-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.landing-page-footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.landing-page-footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.landing-page-footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
 
.landing-page-footer-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.landing-page-footer-image1 {
  height: 2rem;
}
 
.landing-page-footer-content-title1 {
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
 
.landing-page-footer-text11 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
 
.landing-page-footer-text12 {
  text-transform: capitalize;
}
 
.landing-page-footer-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.landing-page-footer-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.landing-page-footer-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.landing-page-footer-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.landing-page-footer-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.landing-page-footer-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.landing-page-footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.landing-page-footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.landing-page-footer-footer-links3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.landing-page-footer-fragment10 {
  display: contents;
}
 
.landing-page-footer-text17 {
  display: inline-block;
}
 
.landing-page-footer-fragment11 {
  display: contents;
}
 
.landing-page-footer-text18 {
  display: inline-block;
}
 
.landing-page-footer-fragment12 {
  display: contents;
}
 
.landing-page-footer-text19 {
  display: inline-block;
}
 
.landing-page-footer-fragment13 {
  display: contents;
}
 
.landing-page-footer-text20 {
  display: inline-block;
}
 
.landing-page-footer-fragment14 {
  display: contents;
}
 
.landing-page-footer-text21 {
  display: inline-block;
}
 
.landing-page-footer-fragment15 {
  display: contents;
}
 
.landing-page-footer-text22 {
  display: inline-block;
}
 
.landing-page-footer-fragment16 {
  display: contents;
}
 
.landing-page-footer-text23 {
  display: inline-block;
}
 
.landing-page-footer-fragment17 {
  display: contents;
}
 
.landing-page-footer-text24 {
  display: inline-block;
}
 
.landing-page-footer-fragment18 {
  display: contents;
}
 
.landing-page-footer-text25 {
  display: inline-block;
}
 
.landing-page-footer-fragment19 {
  display: contents;
}
 
.landing-page-footer-text26 {
  display: inline-block;
}
 
.landing-page-footer-fragment20 {
  display: contents;
}
 
.landing-page-footer-text27 {
  display: inline-block;
}
 
.landing-page-footer-fragment21 {
  display: contents;
}
 
.landing-page-footer-text28 {
  display: inline-block;
}
 
.landing-page-footer-fragment22 {
  display: contents;
}
 
.landing-page-footer-text29 {
  display: inline-block;
}
 
.landing-page-footer-fragment23 {
  display: contents;
}
 
.landing-page-footer-text30 {
  display: inline-block;
}
 
.landing-page-footer-fragment24 {
  display: contents;
}
 
.landing-page-footer-text31 {
  display: inline-block;
}
 
.landing-page-footer-fragment25 {
  display: contents;
}
 
.landing-page-footer-text32 {
  display: inline-block;
}
 
.landing-page-footer-fragment26 {
  display: contents;
}
 
.landing-page-footer-text33 {
  display: inline-block;
}
 

 
@media(max-width: 1200px) {
  .landing-page-footer-content {
    border-color: #747474;
  }
}
 
@media(max-width: 991px) {
  .landing-page-footer-newsletter {
    width: 300px;
  }
}
 
@media(max-width: 767px) {
  .landing-page-footer-content {
    flex-direction: column;
  }
  .landing-page-footer-newsletter {
    width: 100%;
  }
  .landing-page-footer-social-links {
    align-self: flex-start;
  }
  .landing-page-footer-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .landing-page-footer-column1 {
    align-items: center;
  }
  .landing-page-footer-column1-title {
    text-align: center;
  }
  .landing-page-footer-footer-links1 {
    align-self: center;
  }
  .landing-page-footer-column2 {
    align-items: center;
  }
  .landing-page-footer-column2-title {
    text-align: center;
  }
  .landing-page-footer-footer-links2 {
    align-self: center;
  }
  .landing-page-footer-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .landing-page-footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .landing-page-footer-links {
    flex-direction: column;
  }
  .landing-page-footer-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .landing-page-footer-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .landing-page-footer-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .landing-page-footer-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .landing-page-footer-credits {
    gap: 0;
  }
  .landing-page-footer-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .landing-page-footer-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
