<div class="first-name-and-last-name-component-container1">
  <div class="first-name-and-last-name-component-container2">
    <span class="first-name-and-last-name-component-text1">
      <ng-container>
        <ng-template #defaultText>
          <div class="first-name-and-last-name-component-fragment1">
            <span class="first-name-and-last-name-component-text3">
              <span>First Name</span>
              <br />
              <br />
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    <input
      type="text"
      [attr.placeholder]="textinputPlaceholder"
      class="first-name-and-last-name-component-textinput1 input"
    />
  </div>
  <div class="first-name-and-last-name-component-container3">
    <span class="first-name-and-last-name-component-text2">
      <ng-container>
        <ng-template #defaultText1>
          <div class="first-name-and-last-name-component-fragment2">
            <span class="first-name-and-last-name-component-text7">
              Last Name
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text1 ? text1 : defaultText1"
        ></ng-container>
      </ng-container>
    </span>
    <input
      type="text"
      [attr.placeholder]="textinputPlaceholder1"
      class="first-name-and-last-name-component-textinput2 input"
    />
  </div>
</div>
