:host { 
  display: contents; 
}
 
.signup-page-navbar-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
 
.signup-page-navbar-signup-page-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #FFFFFF;
}
 
.signup-page-navbar-flashyre-image {
  width: auto;
  height: 100%;
  align-self: center;
  object-fit: cover;
}

.signup-page-navbar-flashyre-image:hover {
  cursor: pointer;
}
 
.signup-page-navbarroot-class-name {
  height: auto;
  position: fixed;
}
 

 

 
.signup-page-navbarroot-class-name3 {
  height: 100px;
  z-index: 1000;
  position: fixed;
}
 
.signup-page-navbarroot-class-name4 {
  position: fixed;
}
 
.signup-page-navbarroot-class-name5 {
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 1000;
  position: fixed;
  align-self: center;
}
 
@media(max-width: 1200px) {
  .signup-page-navbar-signup-page-container {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .signup-page-navbar-container {
    background-color: transparent;
  }
  .signup-page-navbar-signup-page-container {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .signup-page-navbar-flashyre-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
