<div id="candidate-home" class="assessment-violation-message-container10">
  <div id="main-container" class="assessment-violation-message-main-container">
    <navbar-for-candidate-view></navbar-for-candidate-view>
    <div
      id="message-container"
      class="assessment-violation-message-message-container"
    >
      <span id="message-text" class="assessment-violation-message-message-text">
        Message
      </span>
      <div
        id="message-main-container"
        class="assessment-violation-message-message-main-container"
      >
        <div id="message" class="assessment-violation-message-message">
          <span
            id="message-in-text"
            class="assessment-violation-message-message-in-text"
          >
            A violation of the assessment rules has been detected, and your
            answers have been automatically saved.
          </span>
        </div>
        <div
          id="button-container"
          class="assessment-violation-message-button-container"
        >
          <button
  id="close-button"
  type="button"
  class="assessment-violation-message-close-button button"
  (click)="onCloseClick()"
>
  Close
</button>
        </div>
      </div>
    </div>
  </div>
</div>
