.results-container {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results-content {
  margin-top: 10px;
}
.minimized .results-content {
  display: none;
}
button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #218838;
}