<div id="signup-college" class="signup-college-container">
  <div id="main-container" class="signup-college-main-container">
    <signup-page-navbar
      rootClassName="signup-page-navbarroot-class-name4"
    ></signup-page-navbar>
    <signup-college1 rootClassName="signup-college1root-class-name">
      <ng-template #text>
        <div class="signup-college-fragment10">
          <span class="signup-college-text10">First Name</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="signup-college-fragment11">
          <span class="signup-college-text11">Last Name</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="signup-college-fragment12">
          <span class="signup-college-text12">Show</span>
        </div>
      </ng-template>
      <ng-template #text5>
        <div class="signup-college-fragment13">
          <span class="signup-college-text13">Sign In</span>
        </div>
      </ng-template>
      <ng-template #text6>
        <div class="signup-college-fragment14">
          <span class="signup-college-text14">Already have an account?</span>
        </div>
      </ng-template>
      <ng-template #button>
        <div class="signup-college-fragment15">
          <span class="signup-college-text15">Sign Up</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="signup-college-fragment16">
          <span class="signup-college-text16">University/College ID</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="signup-college-fragment17">
          <span class="signup-college-text17">Phone Number</span>
        </div>
      </ng-template>
      <ng-template #text21>
        <div class="signup-college-fragment18">
          <span class="signup-college-text18">Show</span>
        </div>
      </ng-template>
      <ng-template #text22>
        <div class="signup-college-fragment19">
          <span class="signup-college-text19">Select</span>
        </div>
      </ng-template>
      <ng-template #text71>
        <div class="signup-college-fragment20">
          <span class="signup-college-text20">
            Email or Phone Number already exists!
          </span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="signup-college-fragment21">
          <span class="signup-college-text21">Welcome to Flashyre</span>
        </div>
      </ng-template>
      <ng-template #text111>
        <div class="signup-college-fragment22">
          <span class="signup-college-text22">Password</span>
        </div>
      </ng-template>
      <ng-template #text112>
        <div class="signup-college-fragment23">
          <span class="signup-college-text23">Email Id</span>
        </div>
      </ng-template>
      <ng-template #text121>
        <div class="signup-college-fragment24">
          <span class="signup-college-text24">
            Select your University/College
          </span>
        </div>
      </ng-template>
      <ng-template #text1111>
        <div class="signup-college-fragment25">
          <span class="signup-college-text25">Confirm Password</span>
        </div>
      </ng-template>
    </signup-college1>
  </div>
</div>
