<div id="profile-employment-page" class="profile-employment-page-container">
  <div id="main-container" class="profile-employment-page-main-container">
    <navbar-for-candidate-view1
      rootClassName="navbar-for-candidate-view1root-class-name"
    >
      <ng-template #text1>
        <div class="profile-employment-page-fragment10">
          <span class="profile-employment-page-text10">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="profile-employment-page-fragment11">
          <span class="profile-employment-page-text11">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="profile-employment-page-fragment12">
          <span class="profile-employment-page-text12">Settings</span>
        </div>
      </ng-template>
      <ng-template #text4>
        <div class="profile-employment-page-fragment13">
          <span class="profile-employment-page-text13">Kathryn Murphy</span>
        </div>
      </ng-template>
      <ng-template #text5>
        <div class="profile-employment-page-fragment14">
          <span class="profile-employment-page-text14">
            ✅ 90% Profile Completion
          </span>
        </div>
      </ng-template>
      <ng-template #text6>
        <div class="profile-employment-page-fragment15">
          <span class="profile-employment-page-text15">
            View & edit profile
          </span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="profile-employment-page-fragment16">
          <span class="profile-employment-page-text16">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="profile-employment-page-fragment17">
          <span class="profile-employment-page-text17">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="profile-employment-page-fragment18">
          <span class="profile-employment-page-text18">Logout</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="profile-employment-page-fragment19">
          <span class="profile-employment-page-text19">Logout</span>
        </div>
      </ng-template>
    </navbar-for-candidate-view1>
    <div
      id="employment-container"
      class="profile-employment-page-employment-container"
    >
      <progress-bar-step2
        rootClassName="progress-bar-step2root-class-name1"
      ></progress-bar-step2>
      <profile-employment-component
        rootClassName="profile-employment-componentroot-class-name1"
        #employmentComponent
      >
        <ng-template #text>
          <div class="profile-employment-page-fragment20">
            <span class="profile-employment-page-text20">Employment</span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="profile-employment-page-fragment21">
            <span class="profile-employment-page-text21">Select</span>
          </div>
        </ng-template>
        <ng-template #text7>
          <div class="profile-employment-page-fragment22">
            <span class="profile-employment-page-text22">+ Add Position</span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="profile-employment-page-fragment23">
            <span class="profile-employment-page-text23">End Date</span>
          </div>
        </ng-template>
        <ng-template #text71>
          <div class="profile-employment-page-fragment24">
            <span class="profile-employment-page-text24">
              - Remove Position
            </span>
          </div>
        </ng-template>
        <ng-template #text111>
          <div class="profile-employment-page-fragment25">
            <span class="profile-employment-page-text25">
              <span>Start Date</span>
              <br />
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #text311>
          <div class="profile-employment-page-fragment26">
            <span class="profile-employment-page-text29">Select</span>
          </div>
        </ng-template>
      </profile-employment-component>
      <profile-creation-navigation2
        rootClassName="profile-creation-navigation2root-class-name4"
      >
        <ng-template #text>
          <div class="profile-employment-page-fragment27">
            <span class="profile-employment-page-text30" (click)="goToPrevious()">
              <span class="profile-employment-page-text31"><- Previous</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #button>
          <div class="profile-employment-page-fragment28">
            <span class="profile-employment-page-text33" (click)="skip()">Skip</span>
          </div>
        </ng-template>
        <ng-template #button1>
          <div class="profile-employment-page-fragment29">
            <span class="profile-employment-page-text34" (click)="saveAndNext()">
              Save & Next ->
            </span>
          </div>
        </ng-template>
      </profile-creation-navigation2>
    </div>
  </div>
</div>