<div
  id="candidate-profile-short"
  class="candidate-profile-short-container1"
  [ngClass]="rootClassName"
>
  <div id="candidate-profile-card" class="candidate-profile-short-container2">
    <img
      *ngIf="userProfile.profile_picture_url; else showInitials"
      id="candidate-profile-picture"
      [src]="userProfile.profile_picture_url ? userProfile.profile_picture_url : defaultProfilePicture"
      [attr.alt]="placeholderImageAlt"
      class="candidate-profile-short-candidate-image thq-img-ratio-1-1 thq-img-round"
    />
    <ng-template #showInitials>
      <div class="avatar-icon thq-img-ratio-1-1 thq-img-round" [style.background-color]="avatarBgColor">
        {{ userProfile.initials }}
      </div>
    </ng-template>
    <div
      id="candidate-details-container"
      class="candidate-profile-short-candidate-details-container"
    >
      <div class="candidate-profile-short-container3">
        <span
          id="candidate-name"
          class="candidate-profile-short-name-of-the-candidate"
        >
          <ng-container>
            <ng-template #defaultText>
              <div class="candidate-profile-short-fragment1">
                <span class="candidate-profile-short-text1">
                  Kathryn Murphy
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text ? text : defaultText"
            ></ng-container>
          </ng-container>
        </span>
        <span
          id="candidate-job-role"
          class="candidate-profile-short-role-of-the-candidate"
        >
          <ng-container>
            <ng-template #defaultText1>
              <div class="candidate-profile-short-fragment3">
                <span class="candidate-profile-short-text3">
                  <span class="candidate-profile-short-text4">
                    Senior Software Engineer @Microsoft
                  </span>
                  <br />
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text1 ? text1 : defaultText1"
            ></ng-container>
          </ng-container>
        </span>
        <div class="candidate-profile-short-container4">
          <svg
            id="green-tik-mark"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            class="candidate-profile-short-green-tick-icon"
          >
            <g fill="none">
              <path
                d="M2 6a4 4 0 0 1 4-4h20a4 4 0 0 1 4 4v20a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4z"
                fill="#00D26A"
              ></path>
              <path
                d="M13.242 23c-.383 0-.766-.143-1.059-.43l-5.744-5.642a1.453 1.453 0 0 1 0-2.08a1.517 1.517 0 0 1 2.118 0l4.685 4.601L23.443 9.431a1.517 1.517 0 0 1 2.118 0a1.45 1.45 0 0 1 0 2.08l-11.26 11.058a1.5 1.5 0 0 1-1.059.431"
                fill="#F4F4F4"
              ></path>
            </g>
          </svg>
          <span
            id="candidate-profile-completion"
            class="candidate-profile-short-profile-completion"
          >
            90% Profile Completion
          </span>
        </div>
      </div>
    </div>
    <button
      id="complete-profile-button"
      type="button"
      class="candidate-profile-short-complete-profile-button button"
    >
      <span
        id="candidate-complete-profile-text"
        class="candidate-profile-short-complete-profile-text"
      >
        <ng-container>
          <ng-template #defaultButton>
            <div class="candidate-profile-short-fragment2">
              <span class="candidate-profile-short-text2">
                Complete Profile
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="button ? button : defaultButton"
          ></ng-container>
        </ng-container>
      </span>
    </button>
  </div>
</div>