:host { 
  display: contents; 
}
 
.candidate-profile-short-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.candidate-profile-short-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 240px;
  height: 322px;
  display: flex;
  align-items: center;
  padding-top: 24px;
  border-color: #E6E2E6;
  border-width: 1px;
  padding-left: 24px;
  border-radius: var(--dl-radius-radius-imageradius);
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 16px;
  background-color: #FFFFFF;
}
 
.candidate-profile-short-candidate-image {
  width: 104px;
  height: 104px;
}

.avatar-icon {
  width: 104px;
  height: 104px;
  /*background-color: #6c757d;  or any preferred color */
  color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

 
.candidate-profile-short-candidate-details-container {
  gap: 3px;
  flex: 0 0 auto;
  width: 168px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.candidate-profile-short-container3 {
  gap: 0;
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.candidate-profile-short-name-of-the-candidate {
  fill: #18191C;
  color: #18191C;
  width: 140px;
  height: 24px;
  display: flex;
  align-self: center;
  font-style: normal;
  text-align: center;
  align-items: center;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius2);
  justify-content: center;
}
 
.candidate-profile-short-role-of-the-candidate {
  fill: #18191C;
  color: #18191C;
  width: 168px;
  height: 48px;
  display: flex;
  align-self: center;
  text-align: center;
  align-items: center;
  margin-left: 0px;
  justify-content: center;
}
 
.candidate-profile-short-container4 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  height: 15px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.candidate-profile-short-profile-completion {
  fill: #18191C;
  color: rgb(24, 25, 28);
  width: 100%;
  display: flex;
  font-size: 12px;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 
.candidate-profile-short-complete-profile-button {
  width: 161px;
  height: 40px;
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 12px;
  background-color: transparent;
}
 
.candidate-profile-short-complete-profile-button:hover {
  color: FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.candidate-profile-short-complete-profile-button:active {
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: #D7DFE7;
}
 
.candidate-profile-short-fragment1 {
  display: contents;
}
 
.candidate-profile-short-text1 {
  display: inline-block;
  font-size: 16px;
}
 
.candidate-profile-short-fragment2 {
  display: contents;
}
 
.candidate-profile-short-text2 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.candidate-profile-short-fragment3 {
  display: contents;
}
 
.candidate-profile-short-text3 {
  display: inline-block;
}
 
.candidate-profile-short-text4 {
  font-style: normal;
  font-weight: 400;
}
 

 
@media(max-width: 1200px) {
  .candidate-profile-short-name-of-the-candidate {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 991px) {
  .candidate-profile-short-container2 {
    width: 199px;
    height: 296px;
  }
  .candidate-profile-short-candidate-image {
    width: 94px;
    height: 94px;
  }
  .avatar-icon {
  width: 94px;
  height: 94px;
  font-size: 20px;
  }
  .candidate-profile-short-name-of-the-candidate {
    font-size: 14px;
  }
  .candidate-profile-short-role-of-the-candidate {
    font-size: 14px;
  }
  .candidate-profile-short-green-tick-icon {
    width: 14px;
  }
  .candidate-profile-short-profile-completion {
    font-size: 10px;
  }
  .candidate-profile-short-complete-profile-button {
    width: auto;
    height: 31px;
  }
  .candidate-profile-short-complete-profile-text {
    width: auto;
    font-size: 14px;
  }
  .candidate-profile-short-text1 {
    font-size: 14px;
  }
  .candidate-profile-short-text2 {
    color: rgb(5, 53, 108);
  }
  .candidate-profile-short-text4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
 
@media(max-width: 767px) {
  .candidate-profile-short-candidate-image {
    width: 74px;
    height: 74px;
  }
  .avatar-icon {
  width: 74px;
  height: 74px;
  font-size: 18px;
  }
  .candidate-profile-short-name-of-the-candidate {
    font-size: 12px;
  }
  .candidate-profile-short-role-of-the-candidate {
    font-size: 12px;
  }
  .candidate-profile-short-green-tick-icon {
    width: 12px;
  }
  .candidate-profile-short-profile-completion {
    font-size: 8px;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .candidate-profile-short-complete-profile-text {
    font-size: 12px;
  }
  .candidate-profile-short-text1 {
    font-size: 12px;
  }
  .candidate-profile-short-text2 {
    color: rgb(5, 53, 108);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }
  .candidate-profile-short-text3 {
    font-size: 12px;
  }
}
 
@media(max-width: 479px) {
  .candidate-profile-short-container2 {
    width: 100%;
    height: 276px;
  }
  .candidate-profile-short-text1 {
    font-size: 12px;
  }
  .candidate-profile-short-text2 {
    color: rgb(5, 53, 108);
  }
  .candidate-profile-short-text3 {
    font-size: 12px;
  }
  .candidate-profile-short-text4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .candidate-profile-shortroot-class-name1 {
    width: 100%;
  }
}
