:host { 
  display: contents; 
}
 
.progress-bar-step-3-container1 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.progress-bar-step-3-container2 {
  flex: 0 0 auto;
  width: 728px;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
 
.progress-bar-step-3-container3 {
  width: 720px;
  height: 100px;
}
 
.progress-bar-step-3-container4 {
  display: contents;
}
 
.progress-bar-step-3root-class-name {
  width: 728px;
}
 
.progress-bar-step-3root-class-name1 {
  width: 720px;
}
 
.progress-bar-step-3root-class-name2 {
  width: auto;
  align-self: center;
}
 
.progress-bar-step-3root-class-name3 {
  width: auto;
  align-self: center;
}

@media(max-width: 1200px) {
  .progress-bar-step-3root-class-name1 {
    align-self: center;
  }
}

 
@media(max-width: 767px) {
  .progress-bar-step-3-container2 {
    height: 90px;
    width: 90%;
  }
}
 
@media(max-width: 479px) {
  .progress-bar-step-3-container1 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .progress-bar-step-3-container2 {
    width: 90%;
    height: 90px;
  }
  .progress-bar-step-3-container3 {
    height: auto;
  }
  .progress-bar-step-3root-class-name2 {
    width: 100%;
    height: auto;
    overflow: visible;
  }
  .progress-bar-step-3root-class-name3 {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}