:host { 
  display: contents; 
}
 
.navbar-for-candidate-view-86072-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #E4E5E8;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-container2 {
  width: 860px;
  height: 72px;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-for-candidate-view-86072-navbar-interactive {
  gap: 12px;
  width: 860px;
  height: 72px;
  display: flex;
  padding: 12px;
  align-items: center;
  border-color: #E4E5E8;
  border-width: 1px;
  border-radius: 8px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.navbar-for-candidate-view-86072-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar-for-candidate-view-86072-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 546px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-container3 {
  gap: var(--dl-space-space-unit);
  width: 564px;
  height: 56px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
 
.navbar-for-candidate-view-86072-job-title-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 192px;
  height: 56px;
  display: flex;
  align-items: center;
  border-color: #E4E5E8;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.navbar-for-candidate-view-86072-search-icon1 {
  width: 24px;
  height: 24px;
  align-self: center;
}
 
.navbar-for-candidate-view-86072-job-title-text1 {
  width: 156px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-location-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 192px;
  height: 56px;
  display: flex;
  align-items: center;
  border-color: #E4E5E8;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.navbar-for-candidate-view-86072-location-icon1 {
  width: 24px;
  height: 24px;
}
 
.navbar-for-candidate-view-86072-your-location-text1 {
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-86072-experience-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 118px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 0px;
}
 
.navbar-for-candidate-view-86072-experience-text1 {
  width: 84px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-86072-filter-icon1 {
  width: 24px;
  height: 24px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  justify-content: center;
  background-color: #F7F7F8;
}
 
.navbar-for-candidate-view-86072-filter-icon1:hover {
  cursor: pointer;
}
 
.navbar-for-candidate-view-86072-buttons1 {
  gap: var(--dl-space-space-halfunit);
  width: 232px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-search-button1 {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 79px;
  height: 40px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: 4px;
  justify-content: center;
  background-color: #05356C;
}
 
.navbar-for-candidate-view-86072-search-button1:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.navbar-for-candidate-view-86072-search-button1:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.navbar-for-candidate-view-86072-search-text1 {
  width: 55px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-preference-button1 {
  width: 117px;
  height: 40px;
  transition: 0.3s;
  border-color: #05356C;
  background-color: #FFFFFF;
}
 
.navbar-for-candidate-view-86072-preference-button1:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-86072-preference-button1:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-86072-preference-text1 {
  width: 85px;
}
 
.navbar-for-candidate-view-86072-burger-menu {
  display: none;
}
 
.navbar-for-candidate-view-86072-search-icon2 {
  width: 24px;
  height: 24px;
  align-self: center;
}
 
.navbar-for-candidate-view-86072-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-for-candidate-view-86072-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-86072-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar-for-candidate-view-86072-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-close-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-for-candidate-view-86072-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-86072-job-title-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 188px;
  height: 56px;
  display: flex;
  align-items: center;
  border-color: #E4E5E8;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.navbar-for-candidate-view-86072-search-icon3 {
  width: 24px;
  height: 24px;
  align-self: center;
}
 
.navbar-for-candidate-view-86072-job-title-text3 {
  width: 156px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-experience-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 118px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 0px;
}
 
.navbar-for-candidate-view-86072-experience-text2 {
  width: 84px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-86072-location-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 188px;
  height: 56px;
  display: flex;
  align-items: center;
  border-color: #E4E5E8;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
 
.navbar-for-candidate-view-86072-location-icon2 {
  width: 24px;
  height: 24px;
}
 
.navbar-for-candidate-view-86072-your-location-text2 {
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-86072-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar-for-candidate-view-86072-filter-icon2 {
  width: 24px;
  height: 24px;
  display: flex;
  background-color: #F7F7F8;
}
 
.navbar-for-candidate-view-86072-search-button2 {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 79px;
  height: 40px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: 4px;
  justify-content: center;
  background-color: #05356C;
}
 
.navbar-for-candidate-view-86072-search-button2:hover {
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.navbar-for-candidate-view-86072-search-button2:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.navbar-for-candidate-view-86072-search-text2 {
  width: 55px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-candidate-view-86072-preference-button2 {
  width: 117px;
  height: 40px;
  transition: 0.3s;
  border-color: #05356C;
  background-color: #FFFFFF;
}
 
.navbar-for-candidate-view-86072-preference-button2:hover {
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-86072-preference-button2:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-86072-preference-text2 {
  width: 85px;
}
 
.navbar-for-candidate-view-86072-fragment10 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text10 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment11 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text11 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment12 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text12 {
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment13 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text13 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment14 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text14 {
  color: #05356c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.navbar-for-candidate-view-86072-fragment15 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text15 {
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment16 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text16 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment17 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text17 {
  color: rgb(116, 116, 116);
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment18 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text18 {
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment19 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text19 {
  color: #747474;
  display: inline-block;
}
 
.navbar-for-candidate-view-86072-fragment20 {
  display: contents;
}
 
.navbar-for-candidate-view-86072-text20 {
  color: #05356c;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 

 
@media(max-width: 1200px) {
  .navbar-for-candidate-view-86072-job-title-container1 {
    width: 192px;
  }
}
 
@media(max-width: 991px) {
  .navbar-for-candidate-view-86072-container1 {
    width: 100%;
    height: auto;
    border-color: null;
    border-width: 0px;
  }
  .navbar-for-candidate-view-86072-container2 {
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  .navbar-for-candidate-view-86072-navbar-interactive {
    width: 100%;
    height: auto;
    padding: 0px;
    align-self: center;
    border-color: null;
    border-width: 0px;
    justify-content: center;
    background-color: transparent;
  }
  .navbar-for-candidate-view-86072-desktop-menu {
    display: none;
  }
  .navbar-for-candidate-view-86072-burger-menu {
    width: 100%;
    height: 48px;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 8px;
  }
  .navbar-for-candidate-view-86072-job-title-text2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    border-color: #E4E5E8;
    border-width: 1px;
    padding-left: var(--dl-space-space-unit);
    border-radius: 8px;
    justify-content: flex-start;
    background-color: #FFFFFF;
  }
  .navbar-for-candidate-view-86072-search-icon2 {
    top: 10px;
    right: 25px;
    margin: 0px;
    position: absolute;
    align-self: center;
  }
  .navbar-for-candidate-view-86072-mobile-menu {
    height: auto;
    padding-top: var(--dl-space-space-unit);
    background-color: null;
  }
  .navbar-for-candidate-view-86072-nav {
    gap: var(--dl-space-space-unit);
    padding: 0px;
    position: relative;
  }
  .navbar-for-candidate-view-86072-top {
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .navbar-for-candidate-view-86072-close-icon {
    width: 24px;
    height: 24px;
  }
  .navbar-for-candidate-view-86072-links2 {
    width: 100%;
  }
  .navbar-for-candidate-view-86072-job-title-container2 {
    width: 100%;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-experience-container2 {
    width: 100%;
    border-color: #E4E5E8;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-location-container2 {
    width: 100%;
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-buttons2 {
    width: 100%;
    align-self: flex-start;
    margin-top: 0px;
    justify-content: flex-end;
  }
  .navbar-for-candidate-view-86072-filter-icon2 {
    gap: var(--dl-space-space-halfunit);
    align-self: center;
    padding-bottom: 1px;
  }
  .navbar-for-candidate-view-86072-search-button2 {
    width: 70px;
    height: 35px;
  }
  .navbar-for-candidate-view-86072-preference-button2 {
    width: 110px;
    height: 35px;
  }
  .navbar-for-candidate-view-86072-text18 {
    color: rgb(116, 116, 116);
    font-size: 14px;
  }
  .navbar-for-candidate-view-86072-text19 {
    color: rgb(116, 116, 116);
  }
  .navbar-for-candidate-view-86072root-class-name1 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .navbar-for-candidate-view-86072-container1 {
    width: 100%;
    border-color: #E0E0E0;
    border-radius: 8px;
  }
  .navbar-for-candidate-view-86072-container2 {
    width: 100%;
  }
  .navbar-for-candidate-view-86072-navbar-interactive {
    width: 100%;
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .navbar-for-candidate-view-86072-desktop-menu {
    width: auto;
  }
  .navbar-for-candidate-view-86072-container3 {
    gap: var(--dl-space-space-halfunit);
    width: 517px;
  }
  .navbar-for-candidate-view-86072-search-button1 {
    padding: 0px;
  }
  .navbar-for-candidate-view-86072-preference-button1 {
    padding-top: 0px;
    border-color: #05356C;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .navbar-for-candidate-view-86072-burger-menu {
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
  }
  .navbar-for-candidate-view-86072-job-title-text2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-self: center;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .navbar-for-candidate-view-86072-search-icon2 {
    top: 7px;
    right: 24px;
    margin: auto;
  }
  .navbar-for-candidate-view-86072-mobile-menu {
    padding-top: var(--dl-space-space-unit);
  }
  .navbar-for-candidate-view-86072-nav {
    gap: var(--dl-space-space-halfunit);
    padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .navbar-for-candidate-view-86072-top {
    align-self: flex-start;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .navbar-for-candidate-view-86072-close-icon {
    width: 24px;
    height: 24px;
  }
  .navbar-for-candidate-view-86072-links2 {
    width: 100%;
  }
  .navbar-for-candidate-view-86072-job-title-container2 {
    width: 100%;
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-search-icon3 {
    width: 20px;
    height: 20x;
  }
  .navbar-for-candidate-view-86072-job-title-text3 {
    text-align: left;
    justify-content: flex-start;
  }
  .navbar-for-candidate-view-86072-experience-container2 {
    width: 100%;
    border-color: #E4E5E8;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-briefcase-icon2 {
    width: 20px;
    height: 20px;
  }
  .navbar-for-candidate-view-86072-location-container2 {
    width: 100%;
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-location-icon2 {
    width: 20px;
    height: 20px;
  }
  .navbar-for-candidate-view-86072-buttons2 {
    align-self: flex-end;
    margin-top: 0px;
  }
  .navbar-for-candidate-view-86072-search-button2 {
    width: 65px;
    height: 30px;
    padding: 0px;
  }
  .navbar-for-candidate-view-86072-preference-button2 {
    width: 100px;
    height: 30px;
    padding-top: 0px;
    border-color: #05356C;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .navbar-for-candidate-view-86072-text11 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .navbar-for-candidate-view-86072-text13 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .navbar-for-candidate-view-86072-text14 {
    color: #05356c;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-for-candidate-view-86072-text18 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .navbar-for-candidate-view-86072-text19 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .navbar-for-candidate-view-86072-text20 {
    color: #05356c;
    font-style: normal;
    font-weight: 600;
  }
  .navbar-for-candidate-view-86072root-class-name1 {
    width: 95%;
  }
}
 
@media(max-width: 479px) {
  .navbar-for-candidate-view-86072-container1 {
    position: static;
  }
  .navbar-for-candidate-view-86072-container2 {
    width: 100%;
  }
  .navbar-for-candidate-view-86072-navbar-interactive {
    width: 100%;
    padding: 0px;
    position: relative;
  }
  .navbar-for-candidate-view-86072-container3 {
    gap: var(--dl-space-space-halfunit);
    width: 202px;
    height: 81px;
    flex-direction: column;
  }
  .navbar-for-candidate-view-86072-job-title-container1 {
    height: auto;
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-location-container1 {
    width: auto;
    height: auto;
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-experience-container1 {
    height: auto;
    border-color: #E4E5E8;
    border-width: 0px;
  }
  .navbar-for-candidate-view-86072-filter-icon1 {
    width: var(--dl-size-size-small);
  }
  .navbar-for-candidate-view-86072-job-title-text2 {
    width: 100%;
  }
  .navbar-for-candidate-view-86072-search-icon2 {
    top: 7px;
    right: 17px;
    width: auto24px;
  }
  .navbar-for-candidate-view-86072-mobile-menu {
    top: 3px;
    left: -5px;
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-unit);
    position: absolute;
  }
  .navbar-for-candidate-view-86072-links2 {
    width: 393px;
  }
  .navbar-for-candidate-view-86072-job-title-container2 {
    height: auto;
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-job-title-text3 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .navbar-for-candidate-view-86072-experience-container2 {
    height: auto;
    border-color: #E4E5E8;
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-experience-text2 {
    font-size: 12px;
  }
  .navbar-for-candidate-view-86072-location-container2 {
    width: 100%;
    height: auto;
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .navbar-for-candidate-view-86072-buttons2 {
    position: relative;
  }
  .navbar-for-candidate-view-86072-filter-icon2 {
    width: 24px;
  }
  .navbar-for-candidate-view-86072-text18 {
    color: rgb(116, 116, 116);
    font-size: 12px;
  }
  .navbar-for-candidate-view-86072root-class-name1 {
    width: 100%;
  }
}
