<div class="trial-component-container1">
  <div class="trial-component-pricing23 thq-section-padding">
    <div class="trial-component-max-width thq-section-max-width">
      <div class="trial-component-section-title">
        <span class="trial-component-text10 thq-body-small">
          <ng-container>
            <ng-template #defaultContent1>
              <div class="trial-component-fragment10">
                <span class="trial-component-text45">
                  Browse through a wide range of artistic creations from various
                  genres and styles.
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="content1 ? content1 : defaultContent1"
            ></ng-container>
          </ng-container>
        </span>
        <div class="trial-component-content">
          <h2 class="trial-component-text11 thq-heading-2">
            <ng-container>
              <ng-template #defaultHeading1>
                <div class="trial-component-fragment14">
                  <span class="trial-component-text49">
                    Explore Our Diverse Gallery
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="heading1 ? heading1 : defaultHeading1"
              ></ng-container>
            </ng-container>
          </h2>
          <p class="trial-component-text12 thq-body-large">
            <ng-container>
              <ng-template #defaultContent2>
                <div class="trial-component-fragment26">
                  <span class="trial-component-text61">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      <span [innerHTML]="rawt0ih"></span>
                    </span>
                    <span><span [innerHTML]="rawzqmf"></span></span>
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="content2 ? content2 : defaultContent2"
              ></ng-container>
            </ng-container>
          </p>
        </div>
      </div>
      <div class="trial-component-tabs">
        <button class="trial-component-button1 thq-button-filled">
          <span class="thq-body-small">Monthly</span>
        </button>
        <button class="trial-component-button2 thq-button-outline">
          <span class="thq-body-small">Monthly</span>
        </button>
        <button class="trial-component-button3 thq-button-filled">
          <span class="thq-body-small">Yearly</span>
        </button>
        <button class="trial-component-button4 thq-button-outline">
          <span class="thq-body-small">Yearly</span>
        </button>
      </div>
      <div class="trial-component-container2">
        <div class="trial-component-column1 thq-card">
          <div class="trial-component-price1">
            <div class="trial-component-price2">
              <p class="trial-component-text17 thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan1>
                    <div class="trial-component-fragment39">
                      <span class="trial-component-text76">Basic Plan</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan1 ? plan1 : defaultPlan1"
                  ></ng-container>
                </ng-container>
              </p>
              <h3 class="trial-component-text18 thq-heading-3">
                <ng-container>
                  <ng-template #defaultPlan1Price>
                    <div class="trial-component-fragment38">
                      <span class="trial-component-text75">$9.99/month</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan1Price ? plan1Price : defaultPlan1Price"
                  ></ng-container>
                </ng-container>
              </h3>
              <p class="thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan1Yearly>
                    <div class="trial-component-fragment22">
                      <span class="trial-component-text57">$99.99/year</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan1Yearly ? plan1Yearly : defaultPlan1Yearly"
                  ></ng-container>
                </ng-container>
              </p>
            </div>
            <div class="trial-component-list1">
              <div class="trial-component-list-item10">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan1Feature1>
                      <div class="trial-component-fragment40">
                        <span class="trial-component-text77">
                          Feature 1 included
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan1Feature1 ? plan1Feature1 : defaultPlan1Feature1"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item11">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan1Feature2>
                      <div class="trial-component-fragment13">
                        <span class="trial-component-text48">
                          Feature 2 included
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan1Feature2 ? plan1Feature2 : defaultPlan1Feature2"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item12">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan1Feature3>
                      <div class="trial-component-fragment28">
                        <span class="trial-component-text65">
                          Feature 3 included
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan1Feature3 ? plan1Feature3 : defaultPlan1Feature3"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
          <button class="trial-component-button5 thq-button-outline">
            <span class="thq-body-small">
              <ng-container>
                <ng-template #defaultPlan1Action>
                  <div class="trial-component-fragment11">
                    <span class="trial-component-text46">Sign Up Now</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="plan1Action ? plan1Action : defaultPlan1Action"
                ></ng-container>
              </ng-container>
            </span>
          </button>
        </div>
        <div class="trial-component-column2 thq-card">
          <div class="trial-component-price3">
            <div class="trial-component-price4">
              <p class="trial-component-text24 thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan2>
                    <div class="trial-component-fragment37">
                      <span class="trial-component-text74">Premium Plan</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan2 ? plan2 : defaultPlan2"
                  ></ng-container>
                </ng-container>
              </p>
              <h3 class="trial-component-text25 thq-heading-3">
                <ng-container>
                  <ng-template #defaultPlan2Price>
                    <div class="trial-component-fragment16">
                      <span class="trial-component-text51">$19.99/month</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan2Price ? plan2Price : defaultPlan2Price"
                  ></ng-container>
                </ng-container>
              </h3>
              <p class="thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan2Yearly>
                    <div class="trial-component-fragment18">
                      <span class="trial-component-text53">$199.99/year</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan2Yearly ? plan2Yearly : defaultPlan2Yearly"
                  ></ng-container>
                </ng-container>
              </p>
            </div>
            <div class="trial-component-list2">
              <div class="trial-component-list-item13">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan2Feature1>
                      <div class="trial-component-fragment29">
                        <span class="trial-component-text66">
                          All features from Basic Plan
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan2Feature1 ? plan2Feature1 : defaultPlan2Feature1"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item14">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan2Feature2>
                      <div class="trial-component-fragment27">
                        <span class="trial-component-text64">
                          Additional feature 1 included
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan2Feature2 ? plan2Feature2 : defaultPlan2Feature2"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item15">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan2Feature3>
                      <div class="trial-component-fragment19">
                        <span class="trial-component-text54">
                          Additional feature 2 included
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan2Feature3 ? plan2Feature3 : defaultPlan2Feature3"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
          <button class="trial-component-button6 thq-button-filled">
            <span class="thq-body-small">
              <ng-container>
                <ng-template #defaultPlan2Action>
                  <div class="trial-component-fragment34">
                    <span class="trial-component-text71">Get Started</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="plan2Action ? plan2Action : defaultPlan2Action"
                ></ng-container>
              </ng-container>
            </span>
          </button>
        </div>
      </div>
      <div class="trial-component-container3">
        <div class="trial-component-column3">
          <div class="trial-component-price5">
            <div class="trial-component-price6">
              <span class="trial-component-text31 thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan11>
                    <div class="trial-component-fragment15">
                      <span class="trial-component-text50">Basic plan</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan11 ? plan11 : defaultPlan11"
                  ></ng-container>
                </ng-container>
              </span>
              <h3 class="trial-component-text32 thq-heading-3">
                <ng-container>
                  <ng-template #defaultPlan1Price1>
                    <div class="trial-component-fragment21">
                      <span class="trial-component-text56">$200/year</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan1Price1 ? plan1Price1 : defaultPlan1Price1"
                  ></ng-container>
                </ng-container>
              </h3>
              <span class="thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan1Yearly1>
                    <div class="trial-component-fragment20">
                      <span class="trial-component-text55">or $20 monthly</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan1Yearly1 ? plan1Yearly1 : defaultPlan1Yearly1"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div class="trial-component-list3">
              <div class="trial-component-list-item16">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan1Feature11>
                      <div class="trial-component-fragment36">
                        <span class="trial-component-text73">
                          Feature text goes here
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan1Feature11 ? plan1Feature11 : defaultPlan1Feature11"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item17">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan1Feature21>
                      <div class="trial-component-fragment32">
                        <span class="trial-component-text69">
                          Feature text goes here
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan1Feature21 ? plan1Feature21 : defaultPlan1Feature21"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item18">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan1Feature31>
                      <div class="trial-component-fragment33">
                        <span class="trial-component-text70">
                          Feature text goes here
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan1Feature31 ? plan1Feature31 : defaultPlan1Feature31"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
          <button class="trial-component-button7 thq-button-outline">
            <span class="thq-body-small">
              <ng-container>
                <ng-template #defaultPlan1Action1>
                  <div class="trial-component-fragment31">
                    <span class="trial-component-text68">Get started</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="plan1Action1 ? plan1Action1 : defaultPlan1Action1"
                ></ng-container>
              </ng-container>
            </span>
          </button>
        </div>
        <div class="trial-component-column4">
          <div class="trial-component-price7">
            <div class="trial-component-price8">
              <span class="trial-component-text38 thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan21>
                    <div class="trial-component-fragment25">
                      <span class="trial-component-text60">Business plan</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan21 ? plan21 : defaultPlan21"
                  ></ng-container>
                </ng-container>
              </span>
              <h3 class="trial-component-text39 thq-heading-3">
                <ng-container>
                  <ng-template #defaultPlan2Price1>
                    <div class="trial-component-fragment24">
                      <span class="trial-component-text59">$299/year</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan2Price1 ? plan2Price1 : defaultPlan2Price1"
                  ></ng-container>
                </ng-container>
              </h3>
              <span class="thq-body-large">
                <ng-container>
                  <ng-template #defaultPlan2Monthly2>
                    <div class="trial-component-fragment17">
                      <span class="trial-component-text52">or $29 monthly</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="plan2Monthly2 ? plan2Monthly2 : defaultPlan2Monthly2"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div class="trial-component-list4">
              <div class="trial-component-list-item19">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan2Feature11>
                      <div class="trial-component-fragment30">
                        <span class="trial-component-text67">
                          Feature text goes here
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan2Feature11 ? plan2Feature11 : defaultPlan2Feature11"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item20">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan2Feature21>
                      <div class="trial-component-fragment35">
                        <span class="trial-component-text72">
                          Feature text goes here
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan2Feature21 ? plan2Feature21 : defaultPlan2Feature21"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="trial-component-list-item21">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultPlan2Feature31>
                      <div class="trial-component-fragment12">
                        <span class="trial-component-text47">
                          Feature text goes here
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="plan2Feature31 ? plan2Feature31 : defaultPlan2Feature31"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
          <button class="trial-component-button8 thq-button-filled">
            <span class="thq-body-small">
              <ng-container>
                <ng-template #defaultPlan2Action1>
                  <div class="trial-component-fragment23">
                    <span class="trial-component-text58">Get started</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="plan2Action1 ? plan2Action1 : defaultPlan2Action1"
                ></ng-container>
              </ng-container>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
