<div
  class="admin-page2-component-admin-page2-component"
  [ngClass]="rootClassName"
>
  <div class="admin-page2-component-container">
    <button type="button" class="admin-page2-component-button button">
      <span class="admin-page2-component-text10">
        <ng-container>
          <ng-template #defaultButton>
            <div class="admin-page2-component-fragment32">
              <span class="admin-page2-component-text37">JD Extracted</span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="button ? button : defaultButton"
          ></ng-container>
        </ng-container>
      </span>
    </button>
    <div
      data-thq="thq-dropdown"
      class="admin-page2-component-thq-dropdown list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="admin-page2-component-dropdown-toggle1"
      >
        <span class="admin-page2-component-text11">
          <ng-container>
            <ng-template #defaultText>
              <div class="admin-page2-component-fragment31">
                <span class="admin-page2-component-text36">
                  Candidate Sourced
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text ? text : defaultText"
            ></ng-container>
          </ng-container>
        </span>
        <div
          data-thq="thq-dropdown-arrow"
          class="admin-page2-component-dropdown-arrow"
        >
          <svg viewBox="0 0 1024 1024" class="admin-page2-component-icon1">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul
        data-thq="thq-dropdown-list"
        class="admin-page2-component-dropdown-list"
      >
        <li
          data-thq="thq-dropdown"
          class="admin-page2-component-dropdown1 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="admin-page2-component-dropdown-toggle2"
          >
            <span class="admin-page2-component-text12">
              <ng-container>
                <ng-template #defaultText1>
                  <div class="admin-page2-component-fragment33">
                    <span class="admin-page2-component-text38">
                      Sub-menu Item
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text1 ? text1 : defaultText1"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="admin-page2-component-dropdown2 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="admin-page2-component-dropdown-toggle3"
          >
            <span class="admin-page2-component-text13">
              <ng-container>
                <ng-template #defaultText2>
                  <div class="admin-page2-component-fragment30">
                    <span class="admin-page2-component-text35">
                      Sub-menu Item
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text2 ? text2 : defaultText2"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="admin-page2-component-dropdown3 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="admin-page2-component-dropdown-toggle4"
          >
            <span class="admin-page2-component-text14">
              <ng-container>
                <ng-template #defaultText3>
                  <div class="admin-page2-component-fragment34">
                    <span class="admin-page2-component-text39">
                      Sub-menu Item
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text3 ? text3 : defaultText3"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <admin-jd-extended-component
    rootClassName="admin-jd-extended-componentroot-class-name"
  >
    <ng-template #roleText>
      <div class="admin-page2-component-fragment10">
        <span class="admin-page2-component-text15">Role</span>
      </div>
    </ng-template>
    <ng-template #skillText>
      <div class="admin-page2-component-fragment11">
        <span class="admin-page2-component-text16">Skills</span>
      </div>
    </ng-template>
    <ng-template #locationText>
      <div class="admin-page2-component-fragment12">
        <span class="admin-page2-component-text17">Location</span>
      </div>
    </ng-template>
    <ng-template #roleStarText>
      <div class="admin-page2-component-fragment13">
        <span class="admin-page2-component-text18">*</span>
      </div>
    </ng-template>
    <ng-template #skillStarText>
      <div class="admin-page2-component-fragment14">
        <span class="admin-page2-component-text19">*</span>
      </div>
    </ng-template>
    <ng-template #locationStarText>
      <div class="admin-page2-component-fragment15">
        <span class="admin-page2-component-text20">*</span>
      </div>
    </ng-template>
    <ng-template #totalExperienceText>
      <div class="admin-page2-component-fragment16">
        <span class="admin-page2-component-text21">Total Experience</span>
      </div>
    </ng-template>
    <ng-template #noticePeriodStarText>
      <div class="admin-page2-component-fragment17">
        <span class="admin-page2-component-text22">*</span>
      </div>
    </ng-template>
    <ng-template #relevantExperienceText>
      <div class="admin-page2-component-fragment18">
        <span class="admin-page2-component-text23">Relevant Experience</span>
      </div>
    </ng-template>
    <ng-template #universityInstituteText>
      <div class="admin-page2-component-fragment19">
        <span class="admin-page2-component-text24">Notice Period</span>
      </div>
    </ng-template>
  </admin-jd-extended-component>
  <admin-candidate-sourced-component
    rootClassName="admin-candidate-sourced-componentroot-class-name"
  >
    <ng-template #text4>
      <div class="admin-page2-component-fragment20">
        <span class="admin-page2-component-text25">Download Zip</span>
      </div>
    </ng-template>
    <ng-template #text5>
      <div class="admin-page2-component-fragment21">
        <span class="admin-page2-component-text26">Prashanth </span>
      </div>
    </ng-template>
    <ng-template #text6>
      <div class="admin-page2-component-fragment22">
        <span class="admin-page2-component-text27">Title 1</span>
      </div>
    </ng-template>
    <ng-template #text7>
      <div class="admin-page2-component-fragment23">
        <span class="admin-page2-component-text28">View CV</span>
      </div>
    </ng-template>
    <ng-template #text32>
      <div class="admin-page2-component-fragment24">
        <span class="admin-page2-component-text29">Sort</span>
      </div>
    </ng-template>
    <ng-template #text33>
      <div class="admin-page2-component-fragment25">
        <span class="admin-page2-component-text30">Sub-menu Item</span>
      </div>
    </ng-template>
    <ng-template #text34>
      <div class="admin-page2-component-fragment26">
        <span class="admin-page2-component-text31">Sub-menu Item</span>
      </div>
    </ng-template>
    <ng-template #text35>
      <div class="admin-page2-component-fragment27">
        <span class="admin-page2-component-text32">Sub-menu Item</span>
      </div>
    </ng-template>
    <ng-template #selectAllText>
      <div class="admin-page2-component-fragment28">
        <span class="admin-page2-component-text33">Select All</span>
      </div>
    </ng-template>
    <ng-template #startProcessText>
      <div class="admin-page2-component-fragment29">
        <span class="admin-page2-component-text34">Filtered By</span>
      </div>
    </ng-template>
  </admin-candidate-sourced-component>
</div>
