<div class="page-container1">
  <navbar-for-candidate-view
    rootClassName="navbar-for-candidate-viewroot-class-name3"
  >
    <ng-template #link1>
      <div class="page-fragment10">
        <span class="page-text10">Dashboard</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="page-fragment11">
        <span class="page-text11">Upskill</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="page-fragment12">
        <span class="page-text12">Assessment</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="page-fragment13">
        <span class="page-text13">Jobs for you</span>
      </div>
    </ng-template>
    <ng-template #text1>
      <div class="page-fragment14">
        <span class="page-text14">Profile</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="page-fragment15">
        <span class="page-text15">Preference</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="page-fragment16">
        <span class="page-text16">Settings</span>
      </div>
    </ng-template>
    <ng-template #text4>
      <div class="page-fragment17">
        <span class="page-text17">Kathryn Murphy</span>
      </div>
    </ng-template>
    <ng-template #text5>
      <div class="page-fragment18">
        <span class="page-text18">✅ 90% Profile Completion</span>
      </div>
    </ng-template>
    <ng-template #text6>
      <div class="page-fragment19">
        <span class="page-text19">View &amp; edit profile</span>
      </div>
    </ng-template>
    <ng-template #text7>
      <div class="page-fragment20">
        <span class="page-text20">Dashboard</span>
      </div>
    </ng-template>
    <ng-template #text8>
      <div class="page-fragment21">
        <span class="page-text21">Upskill</span>
      </div>
    </ng-template>
    <ng-template #text9>
      <div class="page-fragment22">
        <span class="page-text22">Assessment</span>
      </div>
    </ng-template>
    <ng-template #text10>
      <div class="page-fragment23">
        <span class="page-text23">Jobs for you</span>
      </div>
    </ng-template>
    <ng-template #text11>
      <div class="page-fragment24">
        <span class="page-text24">Preference</span>
      </div>
    </ng-template>
    <ng-template #text12>
      <div class="page-fragment25">
        <span class="page-text25">Settings</span>
      </div>
    </ng-template>
    <ng-template #text13>
      <div class="page-fragment26"><span class="page-text26">Logout</span></div>
    </ng-template>
    <ng-template #text31>
      <div class="page-fragment27"><span class="page-text27">Logout</span></div>
    </ng-template>
  </navbar-for-candidate-view>
  <div class="page-container2">
    <span class="page-text28">Job Details</span>
    <textarea
      id="Onboarding-employment-Job Details"
      placeholder="Type here"
      class="page-textarea textarea"
    ></textarea>
  </div>
</div>
