:host { 
  display: contents; 
}
 
.page-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.page-fragment10 {
  display: contents;
}
 
.page-text10 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.page-fragment11 {
  display: contents;
}
 
.page-text11 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.page-fragment12 {
  display: contents;
}
 
.page-text12 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.page-fragment13 {
  display: contents;
}
 
.page-text13 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.page-fragment14 {
  display: contents;
}
 
.page-text14 {
  display: inline-block;
}
 
.page-fragment15 {
  display: contents;
}
 
.page-text15 {
  display: inline-block;
}
 
.page-fragment16 {
  display: contents;
}
 
.page-text16 {
  display: inline-block;
}
 
.page-fragment17 {
  display: contents;
}
 
.page-text17 {
  display: inline-block;
}
 
.page-fragment18 {
  display: contents;
}
 
.page-text18 {
  display: inline-block;
}
 
.page-fragment19 {
  display: contents;
}
 
.page-text19 {
  display: inline-block;
}
 
.page-fragment20 {
  display: contents;
}
 
.page-text20 {
  display: inline-block;
}
 
.page-fragment21 {
  display: contents;
}
 
.page-text21 {
  display: inline-block;
}
 
.page-fragment22 {
  display: contents;
}
 
.page-text22 {
  display: inline-block;
}
 
.page-fragment23 {
  display: contents;
}
 
.page-text23 {
  display: inline-block;
}
 
.page-fragment24 {
  display: contents;
}
 
.page-text24 {
  display: inline-block;
}
 
.page-fragment25 {
  display: contents;
}
 
.page-text25 {
  display: inline-block;
}
 
.page-fragment26 {
  display: contents;
}
 
.page-text26 {
  display: inline-block;
}
 
.page-fragment27 {
  display: contents;
}
 
.page-text27 {
  display: inline-block;
}
 
.page-container2 {
  flex: 0 0 auto;
  width: 672px;
  height: 99px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-text28 {
  fill: #18191c;
  color: #18191c;
  width: 672px;
  height: 24px;
}
 
.page-textarea {
  width: 672px;
  height: 71px;
  border-color: #A7A7A7;
  border-radius: 5px;
  background-color: #FFFFFF;
}
 
@media(max-width: 767px) {
  .page-text17 {
    font-size: 16px;
    font-weight: 500;
  }
  .page-text18 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .page-text19 {
    color: #05356c;
    font-size: 14px;
  }
  .page-text20 {
    font-size: 12px;
  }
  .page-text21 {
    font-size: 12px;
  }
  .page-text22 {
    font-size: 12px;
  }
  .page-text23 {
    font-size: 12px;
  }
  .page-text24 {
    font-size: 10px;
  }
  .page-text25 {
    font-size: 10px;
  }
  .page-text26 {
    font-size: 10px;
  }
}
