:host { 
  display: contents; 
}
 
.profile-creation-navigation2-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
}
 
.profile-creation-navigation2-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 720px;
  height: 48px;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
}
 
.profile-creation-navigation2-skip-button {
  color: #05356c;
  width: 66px;
  height: 48px;
  padding: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  padding-top: 0px;
  border-color: #05356C;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
 
.profile-creation-navigation2-skip-button:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.profile-creation-navigation2-skip-button:active {
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: #D7DFE7;
}
 
.profile-creation-navigation2-skip-text {
  font-style: normal;
  font-weight: 600;
}
 
.profile-creation-navigation2-container3 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 638px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.profile-creation-navigation2-previous-button {
  width: 128px;
  align-self: stretch;
  transition: 0.3s;
  padding-top: 0px;
  border-color: #CEE0F5;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
 
.profile-creation-navigation2-previous-button:hover {
  color: FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  background-color: A5B6CA;
}
 
.profile-creation-navigation2-previous-button:active {
  color: FFFFFF;
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: 0A4992;
}
 
.profile-creation-navigation2-previous-text {
  color: #05356c;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  background-color: transparent;
}
 
.profile-creation-navigation2-previous-text:hover {
  color: FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.profile-creation-navigation2-previous-text:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.profile-creation-navigation2-save-next-button {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 153px;
  align-self: stretch;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: #05356C;
}
 
.profile-creation-navigation2-save-next-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.profile-creation-navigation2-save-next-button:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.profile-creation-navigation2-fragment1 {
  display: contents;
}
 
.profile-creation-navigation2-text1 {
  color: #05356c;
  display: inline-block;
}
 
.profile-creation-navigation2-fragment2 {
  display: contents;
}
 
.profile-creation-navigation2-text4 {
  display: inline-block;
}
 
.profile-creation-navigation2-fragment3 {
  display: contents;
}
 
.profile-creation-navigation2-text5 {
  display: inline-block;
}
 

 

 

 

 
.profile-creation-navigation2root-class-name4 {
  align-self: center;
}
 

 
.profile-creation-navigation2root-class-name6 {
  align-self: center;
}
 

 
@media(max-width: 991px) {
  .profile-creation-navigation2-container1 {
    height: 40px;
  }
  .profile-creation-navigation2-skip-button {
    height: 40px;
    align-self: center;
  }
  .profile-creation-navigation2-container3 {
    height: 40px;
    align-self: center;
  }
  .profile-creation-navigation2-previous-button {
    height: 40px;
  }
  .profile-creation-navigation2-save-next-button {
    height: 40px;
  }
}
 
@media(max-width: 767px) {
  .profile-creation-navigation2-container1 {
    height: 36px;
  }
  .profile-creation-navigation2-container2 {
    height: 36px;
    align-items: center;
    justify-content: center;
  }
  .profile-creation-navigation2-skip-button {
    height: 40px;
    align-self: center;
  }
  .profile-creation-navigation2-container3 {
    height: 40px;
    align-self: center;
  }
  .profile-creation-navigation2-previous-button {
    height: 40px;
    align-self: center;
  }
  .profile-creation-navigation2-save-next-button {
    height: 40px;
    align-self: center;
  }
  .profile-creation-navigation2root-class-name6 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .profile-creation-navigation2-container1 {
    width: 100%;
    height: 40px;
    justify-content: center;
  }
  .profile-creation-navigation2-container2 {
    gap: 0;
    flex: 1;
    width: 90%;
    justify-content: space-between;
  }
  .profile-creation-navigation2-skip-button {
    width: 48px;
  }
  .profile-creation-navigation2-container3 {
    width: auto;
  }
  .profile-creation-navigation2-previous-button {
    width: 97px;
  }
  .profile-creation-navigation2-previous-text {
    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: transparent;
  }
  .profile-creation-navigation2-save-next-button {
    width: 110px;
  }
  .profile-creation-navigation2-text1 {
    color: rgb(5, 53, 108);
  }
  .profile-creation-navigation2-text2 {
    font-size: 14px;
  }
  .profile-creation-navigation2-text4 {
    font-size: 14px;
  }
  .profile-creation-navigation2-text5 {
    font-size: 14px;
  }
  .profile-creation-navigation2root-class-name4 {
    width: 95%;
  }
  .profile-creation-navigation2root-class-name5 {
    width: 95%;
    align-self: center;
  }
  .profile-creation-navigation2root-class-name6 {
    width: 95%;
    height: 40px;
  }
  .profile-creation-navigation2root-class-name7 {
    width: 95%;
    align-self: center;
  }
}
