<div class="profile-education-component-container1" [ngClass]="rootClassName">
  <div id="profile-education-container" class="profile-education-component-profile-education-container">
    <span id="education-header" class="profile-education-component-education-text1">
      <ng-container>
        <ng-template #defaultText>
          <div class="profile-education-component-fragment19">
            <span class="profile-education-component-text23">Education</span>
          </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="text ? text : defaultText"></ng-container>
      </ng-container>
    </span>

    <!-- Error message display -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Loading spinner -->
    <div *ngIf="isLoading" class="loading-spinner">
      Loading education data...
    </div>

    <!-- Scrollable container for dynamic education forms -->
    <div class="profile-education-container">
      <div *ngFor="let form of educationForms; let i = index" class="education-form-instance" #educationFormInstance>
        <form [formGroup]="form">
          <div id="duration-container-{{i}}" class="profile-education-component-duration-container1">
            <div id="duration-{{i}}" class="profile-education-component-duration-container2">
              <span id="duration-text-{{i}}" class="profile-education-component-duration-text">
                <!-- Label changed from "Duration" to "Graduation Date" -->
                Graduation Date
              </span>
              <div class="profile-education-dates-container">
                <!-- The "Start Date" input has been completely removed. -->
                <div class="date-input-wrapper">
                  <div class="profile-education-component-form2 input">
                    <input
                      type="date"
                      formControlName="endDate"
                      class="profile-education-component-select"
                      [max]="todayDate"
                    />
                  </div>
                  <div *ngIf="form.get('endDate')?.invalid && form.get('endDate')?.touched" class="error-message">
                    Graduation date is mandatory.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="university-institute-education-container-{{i}}" class="profile-education-component-university-institute-education-container">
            <div id="university-input-container-{{i}}" class="profile-education-component-university-institute-container">
              <span id="university-institute-text-{{i}}" class="profile-education-component-university-institute-text">
                <ng-container>
                  <ng-template #defaultText111>
                    <div class="profile-education-component-fragment14">
                      <span class="profile-education-component-text16">University/Institute</span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text111 ? text111 : defaultText111"></ng-container>
                </ng-container>
              </span>
              <div class="profile-education-component-form3 input">
                <select formControlName="university" class="profile-education-component-select">
                  <option value="" disabled selected>Select</option>
                  <option *ngFor="let uni of universities" [value]="uni.id">{{ uni.name }}</option>
                </select>
  
              </div>
            <div *ngIf="form.get('university')?.invalid && form.get('university')?.touched" class="error-message">
    University is mandatory.
  </div>
            </div>
            <div id="education-input-container-{{i}}" class="profile-education-component-education-container">
              <span id="education-text-{{i}}" class="profile-education-component-education-text2">
                <ng-container>
                  <ng-template #defaultText112>
                    <div class="profile-education-component-fragment15">
                      <span class="profile-education-component-text19">Education</span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text112 ? text112 : defaultText112"></ng-container>
                </ng-container>
              </span>
              <div class="profile-education-component-form4 input">
                <select formControlName="educationLevel" class="profile-education-component-select">
                  <option value="" disabled selected>Select</option>
                  <option *ngFor="let level of educationLevels" [value]="level.id">{{ level.name }}</option>
                </select> 
              </div>
                              <div *ngIf="form.get('educationLevel')?.invalid && form.get('educationLevel')?.touched" class="error-message">
    Education level is mandatory.
  </div>
            </div>
          </div>

          <div class="profile-education-component-container3">
            <div id="education-course-container-{{i}}" class="profile-education-component-course-container">
              <span id="education-course-{{i}}" class="profile-education-component-course-text">
                <ng-container>
                  <ng-template #defaultText1111>
                    <div class="profile-education-component-fragment20">
                      <span class="profile-education-component-text24">Course</span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text1111 ? text1111 : defaultText1111"></ng-container>
                </ng-container>
              </span>
              <div class="profile-education-component-form5 input">
                <select formControlName="course" class="profile-education-component-select">
                  <option value="" disabled selected>Select</option>
                  <option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</option>
                </select>
              </div>
                            <div *ngIf="form.get('course')?.invalid && form.get('course')?.touched" class="error-message">
    Course is mandatory.
  </div>
            </div>
            <div id="education-specialisation-container-{{i}}" class="profile-education-component-specialisation-container">
              <span id="education-specialization-dropdown-{{i}}" class="profile-education-component-specialisation-text">
                <ng-container>
                  <ng-template #defaultText1112>
                    <div class="profile-education-component-fragment13">
                      <span class="profile-education-component-text13">Specialization</span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text1112 ? text1112 : defaultText1112"></ng-container>
                </ng-container>
              </span>
              <div class="profile-education-component-form6 input">
                <select formControlName="specialization" class="profile-education-component-select">
                  <option value="" disabled selected>Select</option>
                  <option *ngFor="let spec of specializations" [value]="spec.id">{{ spec.name }}</option>
                </select>
              </div>
               <div *ngIf="form.get('specialization')?.invalid && form.get('specialization')?.touched" class="error-message">
    Specialization is mandatory.
  </div>
            </div>
          </div>

          <!-- Conditionally display Remove button only when there are multiple forms -->
          <button *ngIf="educationForms.length > 1" class="remove-button" (click)="promptRemoveForm(i)">- Remove Education</button>
        </form>
        <!-- Add a horizontal line between positions, except after the last one -->
        <hr *ngIf="i < educationForms.length - 1" class="position-divider" />
      </div>
    </div>

    <!-- Add Education Button outside the scrollable container -->
    <span id="add-education-button" class="profile-education-component-add-education-text button" (click)="addNewForm()">
      <ng-container>
        <ng-template #defaultText1>
          <div class="profile-education-component-fragment22">
            <span class="profile-education-component-text28">+ Add Education</span>
          </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="text1 ? text1 : defaultText1"></ng-container>
      </ng-container>
    </span>
  </div>
 <app-alert-message
    *ngIf="showRemoveConfirmation"
    [message]="'Are you sure you want to remove this education?'"
    [buttons]="['Cancel', 'Remove']"
    (buttonClicked)="handleRemoveConfirmation($event)"
    (close)="closeRemoveConfirmationModal()"
  ></app-alert-message>
</div>