<div class="profile-education-component-container" [ngClass]="rootClassName">
  <div class="profile-education-component-scrollable-container">
    <div *ngFor="let education of educations; let i = index; let last = last" class="profile-education-component-profile-education-container">
      <span class="profile-education-component-education-container-text">
        <ng-container>
          <ng-template #defaultText>
            <div class="profile-education-component-fragment16">
              <span class="profile-education-component-text20">Education</span>
            </div>
          </ng-template>
          <ng-container *ngTemplateOutlet="text ? text : defaultText"></ng-container>
        </ng-container>
      </span>

      <!-- Education Details Section -->
      <div class="profile-education-component-details-container">
        <!-- Duration -->
        <div class="profile-education-component-duration-container">
          <div class="profile-education-component-select-date-container">
            <span class="profile-education-component-select-start-date">
              <ng-container>
                <ng-template #defaultText2>
                  <div class="profile-education-component-fragment19">
                    <span class="profile-education-component-text25">Duration</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text2 ? text2 : defaultText2"></ng-container>
              </ng-container>
            </span>
            <input type="date" 
                   [(ngModel)]="education.startDate"
                   class="profile-education-component-selecting-date-calendar input">
          </div>
          <input type="date" 
                 [(ngModel)]="education.endDate"
                 class="profile-education-component-select-end-date input">
        </div>
      
        <!-- University and Education Level -->
        <div class="profile-education-component-university-institute-education-container">
          <div class="profile-education-component-university-institute-container">
            <span class="profile-education-component-university-institute-text">
              <ng-container>
                <ng-template #defaultText111>
                  <div class="profile-education-component-fragment13">
                    <span class="profile-education-component-text15">University/Institute</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text111 ? text111 : defaultText111"></ng-container>
              </ng-container>
            </span>
            <div class="profile-education-component-university-input-container1">
              <input type="text" 
                     [(ngModel)]="education.university"
                     placeholder="University/Institute"
                     class="profile-education-component-input input">
            </div>
          </div>
      
          <div class="profile-education-component-education-container">
            <span class="profile-education-component-education-text">
              <ng-container>
                <ng-template #defaultText112>
                  <div class="profile-education-component-fragment14">
                    <span class="profile-education-component-text18">Education</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text112 ? text112 : defaultText112"></ng-container>
              </ng-container>
            </span>
            <div class="profile-education-component-education-select-container">
              <select [(ngModel)]="education.level" class="profile-education-component-form input">
                <option value="">Select</option>
                <option value="Bachelors">Bachelors</option>
                <option value="Masters">Masters</option>
                <option value="PhD">PhD</option>

              </select>
            </div>
          </div>
        </div>
      
        <!-- Course and Specialization -->
        <div class="profile-education-component-course-specialization-container">
          <div class="profile-education-component-course-container">
            <span class="profile-education-component-course-text">
              <ng-container>
                <ng-template #defaultText1111>
                  <div class="profile-education-component-fragment18">
                    <span class="profile-education-component-text22">Course</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text1111 ? text1111 : defaultText1111"></ng-container>
              </ng-container>
            </span>
            <div class="profile-education-component-select-container1">
              <input type="text" 
                     [(ngModel)]="education.course"
                     placeholder="Enter Course"
                     class="profile-education-component-textinput1 input">
            </div>
          </div>
      
          <div class="profile-education-component-specialisation-container">
            <span class="profile-education-component-specialisation-text">
              <ng-container>
                <ng-template #defaultText1112>
                  <div class="profile-education-component-fragment12">
                    <span class="profile-education-component-text12">Specialization</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text1112 ? text1112 : defaultText1112"></ng-container>
              </ng-container>
            </span>
            <div class="profile-education-component-select-container2">
              <input type="text" 
                     [(ngModel)]="education.specialization"
                     placeholder="Enter Specialization"
                     class="profile-education-component-textinput2 input">
            </div>
          </div>
        </div>
      </div>

      <!-- Add/Remove Buttons with Fixed Positioning -->
      <div class="profile-education-component-add-remove-education-container">
        <span *ngIf="last" 
              (click)="addEducation()" 
              class="profile-education-component-add-education-text button">
          <ng-container>
            <ng-template #defaultText1>
              <div class="profile-education-component-fragment20">
                <span class="profile-education-component-text26">+ Add Education</span>
              </div>
            </ng-template>
            <ng-container *ngTemplateOutlet="text1 ? text1 : defaultText1"></ng-container>
          </ng-container>
        </span>
        <span *ngIf="educations.length > 1" 
              (click)="removeEducation(i)"
              class="profile-education-component-remove-education-text button">
          <ng-container>
            <ng-template #defaultText12>
              <div class="profile-education-component-fragment17">
                <span class="profile-education-component-text21">- Remove Education</span>
              </div>
            </ng-template>
            <ng-container *ngTemplateOutlet="text12 ? text12 : defaultText12"></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>