<div
  id="landing-page-job-search-hero"
  class="landing-page-job-search-hero-container1"
  [ngClass]="rootClassName"
>
  <div class="landing-page-job-search-hero-container2">
    <div class="landing-page-job-search-hero-container3">
      <h1 id="job-search-header" class="landing-page-job-search-hero-heading">
        <ng-container>
          <ng-template #defaultHeading>
            <div class="landing-page-job-search-hero-fragment2">
              <span class="landing-page-job-search-hero-text2">
                Find a job that suits your interest &amp; skills.
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="heading ? heading : defaultHeading"
          ></ng-container>
        </ng-container>
      </h1>
    </div>
    <div
      id="search-bar-container"
      class="landing-page-job-search-hero-search-container"
    >
      <div
        id="job-search-container"
        class="landing-page-job-search-hero-container4"
      >
        <div
          id="job-title-container"
          class="landing-page-job-search-hero-container5"
        >
          <svg
            id="search-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="landing-page-job-search-hero-search-icon"
          >
            <path
              d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14"
              fill="currentColor"
            ></path>
          </svg>
          <input
            type="text"
            id="search-job-title-input"
            placeholder="Job title, Keyword..."
            class="landing-page-job-search-hero-job-title-input input"
          />
        </div>
        <div
          id="location-container"
          class="landing-page-job-search-hero-container6"
        >
          <svg
            id="location-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="landing-page-job-search-hero-location-icon"
          >
            <g
              fill="none"
              color="currentColor"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M15.5 11a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0"></path>
              <path
                d="M12 2c4.87 0 9 4.033 9 8.926c0 4.97-4.197 8.459-8.073 10.83a1.89 1.89 0 0 1-1.854 0C7.203 19.363 3 15.915 3 10.927C3 6.033 7.13 2 12 2"
              ></path>
            </g>
          </svg>
          <input
            type="text"
            id="search-location-input"
            placeholder="Your Location"
            class="landing-page-job-search-hero-location-input input"
          />
        </div>
        <div
          id="experience-container"
          class="landing-page-job-search-hero-container7"
        >
          <svg
            id="briefcase-icon"
            width="256"
            height="256"
            viewBox="0 0 256 256"
            class="landing-page-job-search-hero-briefcase-icon"
          >
            <path
              d="M216 58h-42V48a22 22 0 0 0-22-22h-48a22 22 0 0 0-22 22v10H40a14 14 0 0 0-14 14v128a14 14 0 0 0 14 14h176a14 14 0 0 0 14-14V72a14 14 0 0 0-14-14M94 48a10 10 0 0 1 10-10h48a10 10 0 0 1 10 10v10H94ZM40 70h176a2 2 0 0 1 2 2v74H38V72a2 2 0 0 1 2-2m176 132H40a2 2 0 0 1-2-2v-42h180v42a2 2 0 0 1-2 2"
              fill="currentColor"
            ></path>
          </svg>
          <input
            type="text"
            id="search-experience"
            placeholder="Experience"
            class="landing-page-job-search-hero-experience-input input"
          />
        </div>
      </div>
      <button
        id="search-button"
        type="button"
        class="landing-page-job-search-hero-search-button button"
      >
        <span id="search-text">
          <ng-container>
            <ng-template #defaultButton>
              <div class="landing-page-job-search-hero-fragment1">
                <span class="landing-page-job-search-hero-text1">Search</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="button ? button : defaultButton"
            ></ng-container>
          </ng-container>
        </span>
      </button>
    </div>
  </div>
</div>
