<div
  id="profile-basic-information-main-container"
  class="profile-basicinformation-component-container"
  [ngClass]="rootClassName"
>
  <div
    id="profile-basic-information-container"
    class="profile-basicinformation-component-profile-basic-information-container"
  >
    <span
      id="profile-basic-information-header"
      class="profile-basicinformation-component-basic-information-header"
    >
      <ng-container>
        <ng-template #defaultText1>
          <div class="profile-basicinformation-component-fragment5">
            <span class="profile-basicinformation-component-text17">
              Basic Information
            </span>
          </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="text1 ? text1 : defaultText1"></ng-container>
      </ng-container>
    </span>
    <form [formGroup]="profileForm" (ngSubmit)="onSaveAndNext()">
      <div
        id="profile-details-container"
        class="profile-basicinformation-component-profile-details-container"
      >
        <!-- Profile Picture -->
        <div
          id="profile-picture-container"
          class="profile-basicinformation-component-profile-picture-container"
        >
          <span
            id="profile-picture-text"
            class="profile-basicinformation-component-profile-picturure-text"
          >
            <ng-container>
              <ng-template #defaultText2>
                <div class="profile-basicinformation-component-fragment1">
                  <span class="profile-basicinformation-component-text13">
                    Profile Picture
                  </span>
                </div>
              </ng-template>
              <ng-container *ngTemplateOutlet="text2 ? text2 : defaultText2"></ng-container>
            </ng-container>
          </span>
          <img
            id="candidate-profile-picture"
            [attr.alt]="imageAlt"
            [src]="imageSrc"
            class="profile-basicinformation-component-user-image"
          />
          <input
            type="file"
            id="profile-picture-input"
            (change)="onProfilePictureSelected($event)"
            accept="image/*"
          />
        </div>

        <!-- Other Fields -->
        <div
          id="candidate-details-container"
          class="profile-basicinformation-component-information-container"
        >
          <!-- Resume -->
          <div
            id="resume-container"
            class="profile-basicinformation-component-resume-container"
          >
            <span
              id="resume-text"
              class="profile-basicinformation-component-resume-text"
            >
              <ng-container>
                <ng-template #defaultText>
                  <div class="profile-basicinformation-component-fragment6">
                    <span class="profile-basicinformation-component-text18">
                      Resume
                    </span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text ? text : defaultText"></ng-container>
              </ng-container>
            </span>
            <div
              id="upload-resume-container"
              class="profile-basicinformation-component-upload-resume-container"
            >
              <input
                type="file"
                id="upload-resume-input"
                (change)="onResumeSelected($event)"
                accept=".pdf,.doc,.docx"
                class="profile-basicinformation-component-upload-resume-input"
              />
              <button
                id="resume-upload-button"
                type="button"
                class="profile-basicinformation-component-upload-button button"
                disabled
              >
                <span id="upload-text">
                  <ng-container>
                    <ng-template #defaultButton>
                      <div class="profile-basicinformation-component-fragment3">
                        <span class="profile-basicinformation-component-text15">
                          Upload
                        </span>
                      </div>
                    </ng-template>
                    <ng-container *ngTemplateOutlet="button ? button : defaultButton"></ng-container>
                  </ng-container>
                </span>
              </button>
            </div>
          </div>

          <!-- First Name and Last Name -->
          <div
            id="first-last-name-container"
            class="profile-basicinformation-component-first-last-name-container"
          >
            <div
              id="first-name-container"
              class="profile-basicinformation-component-first-name-container"
            >
              <span
                id="first-name"
                class="profile-basicinformation-component-first-name-text"
              >
                <ng-container>
                  <ng-template #defaultText6>
                    <div class="profile-basicinformation-component-fragment2">
                      <span class="profile-basicinformation-component-text14">
                        First Name
                      </span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text6 ? text6 : defaultText6"></ng-container>
                </ng-container>
              </span>
              <input
                type="text"
                id="basic-information-first-name-input"
                formControlName="first_name"
                [placeholder]="textinputPlaceholder4"
                class="profile-basicinformation-component-first-name-input input"
              />
            </div>
            <div
              id="last-name-container"
              class="profile-basicinformation-component-last-name-container"
            >
              <span
                id="last-name"
                class="profile-basicinformation-component-text10"
              >
                <ng-container>
                  <ng-template #defaultText5>
                    <div class="profile-basicinformation-component-fragment8">
                      <span class="profile-basicinformation-component-text20">
                        Last Name
                      </span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text5 ? text5 : defaultText5"></ng-container>
                </ng-container>
              </span>
              <input
                type="text"
                id="basic-information-last-name-input"
                formControlName="last_name"
                [placeholder]="textinputPlaceholder3"
                class="profile-basicinformation-component-textinput1 input"
              />
            </div>
          </div>

          <!-- Email and Phone Number -->
          <div
            id="email-mob-num-container"
            class="profile-basicinformation-component-email-mob-num-container"
          >
            <div
              id="email-container"
              class="profile-basicinformation-component-email-container"
            >
              <span id="email" class="profile-basicinformation-component-text11">
                <ng-container>
                  <ng-template #defaultText52>
                    <div class="profile-basicinformation-component-fragment4">
                      <span class="profile-basicinformation-component-text16">
                        Email
                      </span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text52 ? text52 : defaultText52"></ng-container>
                </ng-container>
              </span>
              <input
                type="email"
                id="basic-information-email-input"
                formControlName="email"
                [placeholder]="textinputPlaceholder32"
                class="profile-basicinformation-component-textinput2 input"
              />
            </div>
            <div
              id="mobile-number-container"
              class="profile-basicinformation-component-mobile-number-container"
            >
              <span
                id="mobile-number"
                class="profile-basicinformation-component-text12"
              >
                <ng-container>
                  <ng-template #defaultText51>
                    <div class="profile-basicinformation-component-fragment7">
                      <span class="profile-basicinformation-component-text19">
                        Mobile Number
                      </span>
                    </div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="text51 ? text51 : defaultText51"></ng-container>
                </ng-container>
              </span>
              <input
                type="text"
                id="basic-Information-mobile-number-input"
                formControlName="phone_number"
                [placeholder]="textinputPlaceholder31"
                class="profile-basicinformation-component-textinput3 input"
              />
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="profile-basicinformation-component-buttons-container">
          <button
            type="button"
            class="profile-basicinformation-component-skip-button button"
            (click)="onSkip()"
          >
            Skip
          </button>
          <button
            type="submit"
            class="profile-basicinformation-component-save-next-button button"
          >
            Save and Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div>