<div class="create-job-post1st-page-container10">
  <div
    id="create-job-post-main-container"
    class="create-job-post1st-page-create-job-post-main-container"
  >
    <navbar-for-recruiter-view
      rootClassName="navbar-for-recruiter-viewroot-class-name3"
    >
      <ng-template #text>
        <div class="create-job-post1st-page-fragment10">
          <span class="create-job-post1st-page-text10">2</span>
        </div>
      </ng-template>
      <ng-template #link1>
        <div class="create-job-post1st-page-fragment11">
          <span class="create-job-post1st-page-text11">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="create-job-post1st-page-fragment12">
          <span class="create-job-post1st-page-text12">Job Posted</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="create-job-post1st-page-fragment13">
          <span class="create-job-post1st-page-text13">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="create-job-post1st-page-fragment14">
          <span class="create-job-post1st-page-text14">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="create-job-post1st-page-fragment15">
          <span class="create-job-post1st-page-text15">Settings</span>
        </div>
      </ng-template>
      <ng-template #text7>
        <div class="create-job-post1st-page-fragment16">
          <span class="create-job-post1st-page-text16">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="create-job-post1st-page-fragment17">
          <span class="create-job-post1st-page-text17">Notifications</span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="create-job-post1st-page-fragment18">
          <span class="create-job-post1st-page-text18">Jobs Posted</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="create-job-post1st-page-fragment19">
          <span class="create-job-post1st-page-text19">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="create-job-post1st-page-fragment20">
          <span class="create-job-post1st-page-text20">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="create-job-post1st-page-fragment21">
          <span class="create-job-post1st-page-text21">Logout</span>
        </div>
      </ng-template>
      <ng-template #text14>
        <div class="create-job-post1st-page-fragment22">
          <span class="create-job-post1st-page-text22">2</span>
        </div>
      </ng-template>
      <ng-template #text15>
        <div class="create-job-post1st-page-fragment23">
          <span class="create-job-post1st-page-text23">Leslie Alexander</span>
        </div>
      </ng-template>
      <ng-template #text16>
        <div class="create-job-post1st-page-fragment24">
          <span class="create-job-post1st-page-text24">Google</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="create-job-post1st-page-fragment25">
          <span class="create-job-post1st-page-text25">Logout</span>
        </div>
      </ng-template>
      <ng-template #text32>
        <div class="create-job-post1st-page-fragment26">
          <span class="create-job-post1st-page-text26">
            <span>Software Development</span>
            <br />
            <span>Mountain View, CA</span>
          </span>
        </div>
      </ng-template>
      <ng-template #text1411>
        <div class="create-job-post1st-page-fragment27">
          <span class="create-job-post1st-page-text30">2</span>
        </div>
      </ng-template>
    </navbar-for-recruiter-view>
    <div
      id="create-job-post-container"
      class="create-job-post1st-page-create-job-post-container"
    >
      <div
        id="progress-bar-1-container"
        class="create-job-post1st-page-progress-bar1-container"
      >
        <div class="create-job-post1st-page-container11">
          <div class="create-job-post1st-page-container12">
            
<body>
  <div class='progress-bar'>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Create Job Post</span>
    </div>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Assessment for Job</span>
    </div>
    <div class='step'>
      <div class='step-circle'>&#10003;</div>
      <span>Interview process</span>
    </div>
  </div>
</body>            
          </div>
        </div>
      </div>
      <span
        id="create-job-post-text"
        class="create-job-post1st-page-create-job-post-text"
      >
        Create Job Post
      </span>
      <div
        id="jd-main-container"
        class="create-job-post1st-page-jd-main-container"
      >
        <span
          id="upload-attachment-text"
          class="create-job-post1st-page-upload-attachment-text"
        >
          Upload the attachment from this device
        </span>
        <div
          id="upload-file-container"
          class="create-job-post1st-page-upload-file-container"
        >
          <input
            type="file"
            placeholder="Select file"
            id="upload-file-input"
            class="create-job-post1st-page-upload-file-input input"
            (change)="onFileSelected($event)"
            accept=".pdf,.docx,.doc"
          />
          <div
            id="upload-file-button-container"
            class="create-job-post1st-page-upload-file-button-container"
            (click)="uploadFile()"
          >
            <svg
              width="48"
              height="48"
              viewBox="0 0 48 48"
              class="create-job-post1st-page-icon1"
            >
              <path
                d="M11.678 20.271C7.275 21.318 4 25.277 4 30c0 5.523 4.477 10 10 10c.947 0 1.864-.132 2.733-.378m19.322-19.351c4.403 1.047 7.677 5.006 7.677 9.729c0 5.523-4.477 10-10 10c-.947 0-1.864-.132-2.732-.378M36 20c0-6.627-5.373-12-12-12s-12 5.373-12 12m5.065 7.881L24 20.924L31.132 28M24 38V24.462"
                fill="none"
                stroke="currentColor"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
            <span class="create-job-post1st-page-text31">Upload File</span>
          </div>
        </div>
        <span id="note-for-file" class="create-job-post1st-page-note-for-file">
          Note: Lorem ipsum dolor sit amet consectetuer adipiscing elit sed
        </span>
      </div>
      <div
        id="enter-manually-text-container"
        class="create-job-post1st-page-enter-manually-text-container"
      >
        <span
          id="enter-manually-text"
          class="create-job-post1st-page-enter-manually-text"
        >
          Enter Manually
        </span>
      </div>
      <div
        id="Role-Location-Container"
        class="create-job-post1st-page-role-location-container"
      >
        <div id="role-container" class="create-job-post1st-page-role-container">
          <div
            id="role-text-container"
            class="create-job-post1st-page-role-text-container"
          >
            <span id="role-text" class="create-job-post1st-page-role-text">
              Role
            </span>
            <span
              id="role-star-text"
              class="create-job-post1st-page-role-star-text"
            >
              *
            </span>
          </div>
          <div
            id="role-input-container"
            class="create-job-post1st-page-role-input-container"
          >
            <input
              type="text"
              id="Role-Input-Field"
              placeholder="Enter Role"
              class="create-job-post1st-page-role-input-field input"
            />
          </div>
        </div>
        <div
          id="location-container"
          class="create-job-post1st-page-location-container"
        >
          <div
            id="location-text-container"
            class="create-job-post1st-page-location-text-container"
          >
            <span
              id="location-text"
              class="create-job-post1st-page-location-text"
            >
              Location
            </span>
            <span
              id="location-star-text"
              class="create-job-post1st-page-location-star-text"
            >
              *
            </span>
          </div>
          <div
            id="location-input-container"
            class="create-job-post1st-page-location-input-container"
          >
            <div class="create-job-post1st-page-container13">
              <div class="create-job-post1st-page-container14">
              
  <div class='container'>
    <form class='location-form'>
      <div class='input-wrapper'>
        <input
          type='text'
          id='location'
          class='location-input'
          placeholder='Enter your location'
          autocomplete='off'
        />
        <div class='loading' id='loading'></div>
        <svg class='location-icon' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'>
          <path d='M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z'></path>
          <circle cx='12' cy='10' r='3'></circle>
        </svg>
      </div>
      <div class='suggestions' id='suggestions'></div>
    </form>
  </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="jobtype-workplace-container"
        class="create-job-post1st-page-jobtype-workplace-container"
      >
        <div
          id="job-type-container"
          class="create-job-post1st-page-job-type-container"
        >
          <span
            id="job-type-text"
            class="create-job-post1st-page-job-type-text"
          >
            Job Type
          </span>
          <div id="job-types-container" class="create-job-post1st-page-job-types-container">
  <div id="permanent-container" class="create-job-post1st-page-permanent-container">
    <input type="radio" id="permanent-radio" name="job_type" value="Permanent" class="create-job-post1st-page-permanent-radio" />
    <label id="permanent-label" class="create-job-post1st-page-permanent-label">Permanent</label>
  </div>
  <div id="contract-container" class="create-job-post1st-page-contract-container">
    <input type="radio" id="contract-radio" name="job_type" value="Contract" class="create-job-post1st-page-contract-radio" />
    <span id="contract-text" class="create-job-post1st-page-contract-text">Contract</span>
  </div>
  <div id="part-time-container" class="create-job-post1st-page-part-time-container">
    <input type="radio" id="part-time-radio" name="job_type" value="Part-time" class="create-job-post1st-page-part-time-radio" />
    <span id="part-time-text" class="create-job-post1st-page-part-time-text">Part-time</span>
  </div>
  <div id="internship-text-container" class="create-job-post1st-page-internship-text-container">
    <input type="radio" id="internship-radio" name="job_type" value="Internship" class="create-job-post1st-page-internship-radio" />
    <span id="internship-text" class="create-job-post1st-page-internship-text">Internship</span>
  </div>
</div>
        </div>
        <div
          id="workplace-container"
          class="create-job-post1st-page-workplace-container"
        >
          <span
            id="workplace-text"
            class="create-job-post1st-page-workplace-text"
          >
            Workplace Type
          </span>
          <div id="workplaces-container" class="create-job-post1st-page-workplaces-container">
  <div id="onsite-container" class="create-job-post1st-page-onsite-container">
    <input type="radio" id="onsite-radio" name="workplace_type" value="Onsite" class="create-job-post1st-page-onsite-radio" />
    <label id="onsite-label" class="create-job-post1st-page-onsite-label">Onsite</label>
  </div>
  <div id="hybrid-container" class="create-job-post1st-page-hybrid-container">
    <input type="radio" id="hybrid-radio" name="workplace_type" value="Hybrid" class="create-job-post1st-page-hybrid-radio" />
    <span id="hybrid-text" class="create-job-post1st-page-hybrid-text">Hybrid</span>
  </div>
  <div id="remote-container" class="create-job-post1st-page-remote-container">
    <input type="radio" id="remote-radio" name="workplace_type" value="Remote" class="create-job-post1st-page-remote-radio" />
    <span id="remote-text" class="create-job-post1st-page-remote-text">Remote</span>
  </div>
</div>
        </div>
      </div>
      <div
        id="total-and-relevant-experience-container"
        class="create-job-post1st-page-total-and-relevant-experience-container"
      >
        <div
          id="total-experience-container"
          class="create-job-post1st-page-total-experience-container"
        >
          <div
            id="total-experience-text-container"
            class="create-job-post1st-page-total-experience-text-container"
          >
            <span
              id="total-experience-text"
              class="create-job-post1st-page-total-experience-text"
            >
              Total Experience (In Years)
            </span>
          </div>
          <div
            id="total-experience-code-container"
            class="create-job-post1st-page-total-experience-code-container"
          >
            <div class="create-job-post1st-page-container15">
              <div class="create-job-post1st-page-container16">
                
    <style>
        .range-indicator {
            position: relative;
            width: 90%;
            height: 100%;
            background-color: transparent;
        }

        .line {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #E4E5E8;
        }

        .filled-segment {
            position: absolute;
            top: 20px;
            height: 5px;
            background-color: #05356C;
        }

        .marker {
            position: absolute;
            top: 17px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border-width: 2px;
            border-color: #05356C;
            background-color: #FFFFFF;
            cursor: pointer;
            z-index: 2;
        }

        .label {
            position: absolute;
            top: 0;
            color: #6B7280;
            font-family: sans-serif;
            font-size: 12px;
            transform: translateX(-50%);
        }
    </style>

<div class='range-indicator' id='total_rangeIndicator'>
  <div class='line'></div>
  <div class='filled-segment' id='total_filledSegment'></div>
  <div class='marker' id='total_markerLeft' style='left: 0px;'></div>
  <div class='marker' id='total_markerRight' style='left: 100%;'></div>
  <div class='label' id='total_labelLeft' style='left: 5px;'>0yrs</div>
  <div class='label' id='total_labelRight' style='left: calc(100% + 5px);'>30yrs</div>
</div>

    <script>
        const rangeIndicator = document.getElementById('total_rangeIndicator');
        const markerLeft = document.getElementById('total_markerLeft');
        const markerRight = document.getElementById('total_markerRight');
        const labelLeft = document.getElementById('total_labelLeft');
        const labelRight = document.getElementById('total_labelRight');
        const filledSegment = document.getElementById('filledSegment');

        let isDragging = false;
        let currentMarker = null;

        function updateFilledSegment() {
            const leftPos = parseInt(markerLeft.style.left);
            const rightPos = parseInt(markerRight.style.left);
            filledSegment.style.left = `${leftPos + 5}px`;
            filledSegment.style.width = `${rightPos - leftPos}px`;
        }

        function updateLabelPosition(marker, label) {
            const markerPos = parseInt(marker.style.left);
            label.style.left = `${markerPos + 5}px`;
        }

        function onMouseMove(e) {
            if (!isDragging) return;

            const rect = rangeIndicator.getBoundingClientRect();
            let newLeft = e.clientX - rect.left - 5;

            const minLeft = 0;
            const maxLeft = rect.width - 10;

            if (currentMarker === markerLeft) {
                newLeft = Math.max(minLeft, Math.min(newLeft, parseInt(markerRight.style.left) - 10));
            } else if (currentMarker === markerRight) {
                newLeft = Math.min(maxLeft, Math.max(newLeft, parseInt(markerLeft.style.left) + 10));
            }

            currentMarker.style.left = `${newLeft}px`;
            updateFilledSegment();
            updateLabelPosition(currentMarker, currentMarker === markerLeft ? labelLeft : labelRight);
        }

        function onMouseUp() {
            isDragging = false;
            document.removeEventListener('mousemove', onMouseMove);
            document.removeEventListener('mouseup', onMouseUp);
        }

        function onMouseDown(e) {
            isDragging = true;
            currentMarker = e.target;
            document.addEventListener('mousemove', onMouseMove);
            document.addEventListener('mouseup', onMouseUp);
        }

        markerLeft.addEventListener('mousedown', onMouseDown);
        markerRight.addEventListener('mousedown', onMouseDown);

        // Initial setup
        updateFilledSegment();
    </script>
                
              </div>
            </div>
          </div>
        </div>
        <div
          id="relevant-experience-container"
          class="create-job-post1st-page-relevant-experience-container"
        >
          <div
            id="relevant-experience-text-container"
            class="create-job-post1st-page-relevant-experience-text-container"
          >
            <span
              id="relevant-experience-text"
              class="create-job-post1st-page-relevant-experience-text"
            >
              Relevant Experience (In Years)
            </span>
          </div>
          <div
            id="relevant-experience-code-container"
            class="create-job-post1st-page-relevant-experience-code-container"
          >
            <div class="create-job-post1st-page-container17">
              <div class="create-job-post1st-page-container18">
                
    <style>
        .range-indicator {
            position: relative;
            width: 90%;
            height: 100%;
            background-color: transparent;
        }

        .line {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #E4E5E8;
        }

        .filled-segment {
            position: absolute;
            top: 20px;
            height: 5px;
            background-color: #05356C;
        }

        .marker {
            position: absolute;
            top: 17px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border-width: 2px;
            border-color: #05356C;
            background-color: #FFFFFF;
            cursor: pointer;
            z-index: 2;
        }

        .label {
            position: absolute;
            top: 0;
            color: #6B7280;
            font-family: sans-serif;
            font-size: 12px;
            transform: translateX(-50%);
        }
    </style>

<div class='range-indicator' id='relevant_rangeIndicator'>
  <div class='line'></div>
  <div class='filled-segment' id='relevant_filledSegment'></div>
  <div class='marker' id='relevant_markerLeft' style='left: 0px;'></div>
  <div class='marker' id='relevant_markerRight' style='left: 100%;'></div>
  <div class='label' id='relevant_labelLeft' style='left: 5px;'>0yrs</div>
  <div class='label' id='relevant_labelRight' style='left: calc(100% + 5px);'>30yrs</div>
</div>
    <script>
        const rangeIndicator = document.getElementById('relevant_rangeIndicator');
        const markerLeft = document.getElementById('relevant_markerLeft');
        const markerRight = document.getElementById('relevant_markerRight');
        const labelLeft = document.getElementById('relevant_labelLeft');
        const labelRight = document.getElementById('relevant_labelRight');
        const filledSegment = document.getElementById('filledSegment');

        let isDragging = false;
        let currentMarker = null;

        function updateFilledSegment() {
            const leftPos = parseInt(markerLeft.style.left);
            const rightPos = parseInt(markerRight.style.left);
            filledSegment.style.left = `${leftPos + 5}px`;
            filledSegment.style.width = `${rightPos - leftPos}px`;
        }

        function updateLabelPosition(marker, label) {
            const markerPos = parseInt(marker.style.left);
            label.style.left = `${markerPos + 5}px`;
        }

        function onMouseMove(e) {
            if (!isDragging) return;

            const rect = rangeIndicator.getBoundingClientRect();
            let newLeft = e.clientX - rect.left - 5;

            const minLeft = 0;
            const maxLeft = rect.width - 10;

            if (currentMarker === markerLeft) {
                newLeft = Math.max(minLeft, Math.min(newLeft, parseInt(markerRight.style.left) - 10));
            } else if (currentMarker === markerRight) {
                newLeft = Math.min(maxLeft, Math.max(newLeft, parseInt(markerLeft.style.left) + 10));
            }

            currentMarker.style.left = `${newLeft}px`;
            updateFilledSegment();
            updateLabelPosition(currentMarker, currentMarker === markerLeft ? labelLeft : labelRight);
        }

        function onMouseUp() {
            isDragging = false;
            document.removeEventListener('mousemove', onMouseMove);
            document.removeEventListener('mouseup', onMouseUp);
        }

        function onMouseDown(e) {
            isDragging = true;
            currentMarker = e.target;
            document.addEventListener('mousemove', onMouseMove);
            document.addEventListener('mouseup', onMouseUp);
        }

        markerLeft.addEventListener('mousedown', onMouseDown);
        markerRight.addEventListener('mousedown', onMouseDown);

        // Initial setup
        updateFilledSegment();
    </script>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="budget-container"
        class="create-job-post1st-page-budget-container"
      >
        <span id="budget-text" class="create-job-post1st-page-budget-text">
          Budget
        </span>
        <div id="budgets-container" class="create-job-post1st-page-budgets-container">
  <div id="weekly-container" class="create-job-post1st-page-weekly-container">
    <input type="radio" id="weekly-radio" name="budget_type" value="Weekly" class="create-job-post1st-page-weekly-radio" />
    <label id="weekly-label" class="create-job-post1st-page-weekly-label">Weekly</label>
  </div>
  <div id="monthly-container" class="create-job-post1st-page-monthly-container">
    <input type="radio" id="monthly-radio" name="budget_type" value="Monthly" class="create-job-post1st-page-monthly-radio" />
    <span id="monthly-text" class="create-job-post1st-page-monthly-text">Monthly</span>
  </div>
  <div id="annually-container" class="create-job-post1st-page-annually-container">
    <input type="radio" id="annually-radio" name="budget_type" value="Annually" class="create-job-post1st-page-annually-radio" />
    <span id="annually-text" class="create-job-post1st-page-annually-text">Annually</span>
  </div>
</div>
      </div>
      <div
        id="min-max-budget-container"
        class="create-job-post1st-page-min-max-budget-container"
      >
        <div
          id="min-budget-container"
          class="create-job-post1st-page-min-budget-container"
        >
          <div
            id="min-budget-text-container"
            class="create-job-post1st-page-min-budget-text-container"
          >
            <span
              id="min-budget-text"
              class="create-job-post1st-page-min-budget-text"
            >
              Min Budget
            </span>
          </div>
          <div
            id="min-budget-input-container"
            class="create-job-post1st-page-min-budget-input-container"
          >
            <form
              id="min-budget-form"
              class="create-job-post1st-page-min-budget-form input"
            >
            
              <span id="inr-min" class="create-job-post1st-page-inr-min">
                INR
              </span>
              <svg
                width="24"
                height="24"
                viewBox="0 0 32 32"
                id="drop-down-icon-min"
                class="create-job-post1st-page-drop-down-icon-min"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
            <input
              type="text"
              id="min-budget-input-field"
              placeholder="Min"
              class="create-job-post1st-page-min-budget-input-field input"
            />
          </div>
        </div>
        <div
          id="max-budget-container"
          class="create-job-post1st-page-max-budget-container"
        >
          <div
            id="max-budget-text-container"
            class="create-job-post1st-page-max-budget-text-container"
          >
            <span
              id="max-budget-text"
              class="create-job-post1st-page-max-budget-text"
            >
              Max Budget
            </span>
          </div>
          <div
            id="max-budget-input-container"
            class="create-job-post1st-page-max-budget-input-container"
          >
            <form
              id="max-budget-form"
              class="create-job-post1st-page-max-budget-form input"
            >
              <span id="inr-max" class="create-job-post1st-page-inr-max">
                INR
              </span>
              <svg
                width="24"
                height="24"
                viewBox="0 0 32 32"
                id="drop-down-icon-max"
                class="create-job-post1st-page-drop-down-icon-max"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
            <input
              type="text"
              id="max-budget-input"
              placeholder="Max"
              class="create-job-post1st-page-max-budget-input input"
            />
          </div>
        </div>
      </div>
      <div
        id="notice-period-container"
        class="create-job-post1st-page-notice-period-container"
      >
        <div
          id="notice-period-text-container"
          class="create-job-post1st-page-notice-period-text-container"
        >
          <span
            id="university-institute-text"
            class="create-job-post1st-page-university-institute-text"
          >
            Notice Period
          </span>
          <span
            id="notice-period-star-text"
            class="create-job-post1st-page-notice-period-star-text"
          >
            *
          </span>
        </div>
        <div
          id="notice-period-input-container"
          class="create-job-post1st-page-notice-period-input-container"
        >
          <input
            type="text"
            id="notice-period-input-filed"
            placeholder="Enter Notice Period"
            class="create-job-post1st-page-notice-period-input-filed input"
          />
        </div>
      </div>
      <div
        id="skills-container"
        class="create-job-post1st-page-skills-container"
      >
        <div
          id="skill-text-container"
          class="create-job-post1st-page-skill-text-container"
        >
          <span id="skill-text" class="create-job-post1st-page-skill-text">
            Skills
          </span>
          <span
            id="skill-star-text"
            class="create-job-post1st-page-skill-star-text"
          >
            *
          </span>
        </div>
        <div
          id="skills-input-container"
          class="create-job-post1st-page-skills-input-container"
        >
          <div class="create-job-post1st-page-container19">
            <div class="create-job-post1st-page-container20">
              
    <style>
        body {
            font-family: Arial, sans-serif;
            width: 100%;
            height: 100%;
        }

        .tag-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 8px;
            border: 1px solid #A7A7A7;
            border-radius: 4px;
            height: 100%;
            scroll-behavior: smooth;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: none;
        }

        .tag {
            display: inline-flex;
            align-items: center;
            background-color: #e1f5fe;
            color: #0288d1;
            padding: 6px;
            border-radius: 16px;
            margin: 4px;
            font-size: 16px;
        }

        .tag span {
            margin-right: 6px;
        }

        .tag button {
            background: none;
            border: none;
            color: #0288d1;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }

        .tag-input {
            flex: 1;
            border: none;
            outline: none;
            padding: 8px;
            font-size: 16px;
            width: 100%;
            height: 100%;
            line-height: 1.5;

        }

        .suggestions {
            position: absolute;
            border: 1px solid #ccc;
            border-top: none;
            border-radius: 0 0 4px 4px;
            background-color: white;
            max-height: 200px;
            overflow-y: auto;
            width: calc(100% - 40px);
            max-width: 600px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: none;
            z-index: 10;
        }

        .suggestion-item {
            padding: 8px 12px;
            cursor: pointer;
        }

        .suggestion-item:hover {  
            background-color: #f5f5f5;
        }

        .active-suggestion {
            background-color: #e1f5fe;
        }


    </style>



    <div class='tag-container' id='tagContainer'>
        <input type='text' class='tag-input' id='tagInput' placeholder='Type to add Skills...'>
    </div>
    <div class='suggestions' id='suggestions'></div>

    <script>
        // Sample tags for demonstration
        const availableTags = [
            'JavaScript', 'HTML', 'CSS', 'React', 'Vue', 'Angular', 
            'Node.js', 'TypeScript', 'Python', 'Java', 'PHP', 'Ruby',
            'Swift', 'Kotlin', 'Go', 'Rust', 'C#', 'C++', 'MongoDB',
            'MySQL', 'PostgreSQL', 'Redis', 'GraphQL', 'REST API'
        ];

        const tagContainer = document.getElementById('tagContainer');
        const tagInput = document.getElementById('tagInput');
        const suggestions = document.getElementById('suggestions');
        
        let selectedTags = [];
        let activeSuggestionIndex = -1;

        // Filter suggestions based on input
        function filterSuggestions(input) {
            if (!input) return [];
            
            const inputLower = input.toLowerCase();
            return availableTags.filter(tag => 
                tag.toLowerCase().includes(inputLower) && 
                !selectedTags.includes(tag)
            );
        }

        // Display suggestions
        function showSuggestions(filteredSuggestions) {
            suggestions.innerHTML = '';
            
            if (filteredSuggestions.length === 0) {
                suggestions.style.display = 'none';
                return;
            }

            filteredSuggestions.forEach((suggestion, index) => {
                const item = document.createElement('div');
                item.className = 'suggestion-item';
                item.textContent = suggestion;
                
                item.addEventListener('click', () => {
                    addTag(suggestion);
                    tagInput.value = '';
                    suggestions.style.display = 'none';
                    tagInput.focus();
                });

                suggestions.appendChild(item);
            });

            suggestions.style.display = 'block';
            activeSuggestionIndex = -1;
        }

        // Add a new tag
        function addTag(text) {
            if (!text || selectedTags.includes(text)) return;
            
            selectedTags.push(text);
            
            const tag = document.createElement('div');
            tag.className = 'tag';
            
            const tagText = document.createElement('span');
            tagText.textContent = text;
            tag.appendChild(tagText);
            
            const removeBtn = document.createElement('button');
            removeBtn.textContent = '×';
            removeBtn.addEventListener('click', () => {
                tag.remove();
                selectedTags = selectedTags.filter(t => t !== text);
            });
            
            tag.appendChild(removeBtn);
            tagContainer.insertBefore(tag, tagInput);
        }

        // Handle navigation through suggestions with keyboard
        function navigateSuggestions(direction) {
            const items = suggestions.querySelectorAll('.suggestion-item');
            if (items.length === 0) return;
            
            // Remove active class from current selection
            if (activeSuggestionIndex >= 0 && activeSuggestionIndex < items.length) {
                items[activeSuggestionIndex].classList.remove('active-suggestion');
            }
            
            // Update index
            if (direction === 'down') {
                activeSuggestionIndex = (activeSuggestionIndex + 1) % items.length;
            } else {
                activeSuggestionIndex = activeSuggestionIndex <= 0 ? items.length - 1 : activeSuggestionIndex - 1;
            }
            
            // Add active class to new selection
            items[activeSuggestionIndex].classList.add('active-suggestion');
            items[activeSuggestionIndex].scrollIntoView({ block: 'nearest' });
        }

        // Event listeners
        tagInput.addEventListener('input', () => {
            const filteredSuggestions = filterSuggestions(tagInput.value);
            showSuggestions(filteredSuggestions);
        });

        tagInput.addEventListener('keydown', (e) => {
            // Enter key - add tag from input or selected suggestion
            if (e.key === 'Enter') {
                e.preventDefault();
                const items = suggestions.querySelectorAll('.suggestion-item');
                if (activeSuggestionIndex >= 0 && activeSuggestionIndex < items.length) {
                    addTag(items[activeSuggestionIndex].textContent);
                } else if (tagInput.value) {
                    addTag(tagInput.value);
                }
                tagInput.value = '';
                suggestions.style.display = 'none';
            }
            // Arrow down - navigate down
            else if (e.key === 'ArrowDown') {
                e.preventDefault();
                navigateSuggestions('down');
            }
            // Arrow up - navigate up
            else if (e.key === 'ArrowUp') {
                e.preventDefault();
                navigateSuggestions('up');
            }
            // Backspace - remove last tag if input is empty
            else if (e.key === 'Backspace' && !tagInput.value) {
                const lastIndex = selectedTags.length - 1;
                if (lastIndex >= 0) {
                    const lastTag = selectedTags[lastIndex];
                    selectedTags.pop();
                    // Remove the last tag element
                    const tags = tagContainer.querySelectorAll('.tag');
                    tags[tags.length - 1].remove();
                }
            }
            // Escape - close suggestions
            else if (e.key === 'Escape') {
                suggestions.style.display = 'none';
            }
        });

        // Close suggestions when clicking outside
        document.addEventListener('click', (e) => {
            if (!tagContainer.contains(e.target) && !suggestions.contains(e.target)) {
                suggestions.style.display = 'none';
            }
        });

        // Focus input when clicking on container
        tagContainer.addEventListener('click', (e) => {
            if (e.target === tagContainer) {
                tagInput.focus();
            }
        });
    </script>


              
            </div>
          </div>
        </div>
      </div>
      <div
        id="job-description-container"
        class="create-job-post1st-page-job-description-container"
      >
        <div class="create-job-post1st-page-container21">
          <div class="create-job-post1st-page-container22">
            
              <style>
                * {
                    box-sizing: border-box;
                    font-family: Arial, sans-serif;
                }
                
                body {
                    margin: 0;
                    background-color: #f9f9f9;
                }
                
                .container {
                    max-width: 100%;
                    margin: 0 auto;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    overflow: hidden;
                }
                
                .job-title {
                    padding: 15px;
                    font-size: 20px;
                    color: #333;
                    border-bottom: 1px solid #eee;
                }
                
                .required {
                    color: #e74c3c;
                    margin-left: 5px;
                }
                
                .toolbar {
                    display: flex;
                    padding: 10px;
                    background-color: #f5f5f5;
                    border-bottom: 1px solid #ddd;
                    align-items: center;
                }
                
                .format-btn {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    border: none;
                    border-radius: 4px;
                    font-size: 18px;
                    cursor: pointer;
                    color: #333;
                }
                
                .format-btn:hover {
                    background-color: #e9e9e9;
                }
                
                .format-btn.active {
                    background-color: #ddd;
                }
                
                #highlight-btn {
                    background-color: #fff3cd;
                    border: 1px solid #ffeeba;
                    margin-left: 10px;
                }
                
                #highlight-btn:hover {
                    background-color: #ffeeba;
                }
            
                .separator1{
                    width: 1px;
                    height: 35px;
                    background-color: #ACACAD;
                    margin: 0 0;
                }
                
                .separator2 {
                    width: 1px;
                    height: 35px;
                    background-color: #ACACAD;
                    margin: 0 0;
                }
                
                .editor-content {
                    padding: 0px;
                    background-color: #fff;
                    
                }
                
                .editable-area {
                    border: 1px solid #ddd;
                    height: 200px;
                    max-height: 200px;
                    padding: 15px;
                    border-radius: 4px;
                    color: #333;
                    font-size: 16px;
                    line-height: 1.5;
                    scroll-behavior: smooth;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    word-break: break-all;
                    overflow-wrap: break-word;
                }
                
                .editable-area:focus {
                    outline: none;
                    border-color: #4a89dc;
                }
                
                .editable-area[data-empty='true']::before {
                    content: attr(data-placeholder);
                    color: #999;
                }
            </style>
            
            <div class="container">
                <div class="job-title">
                    Job description <span></span>
                </div>
                
                <div class="toolbar">
                    <button (click)="formatText('bold')" id="bold-btn" class="format-btn" title="Bold">B</button>
                    <button (click)="formatText('italic')" id="italic-btn" class="format-btn" title="Italic"><i>I</i></button>
                    <button (click)="formatText('underline')" id="underline-btn" class="format-btn" title="Underline"><u>U</u></button>
                    <button (click)="formatText('list')" id="list-btn" class="format-btn" title="List">≡</button>
                    
                    <div class="separator1"></div>
            
                    <button (click)="formatText('highlight')" id="highlight-btn" class="format-btn" title="Highlight">H</button>
                    
                    <div class="separator2"></div>
                </div>
                
                <div class="editor-content">
                    <div id="editor" class="editable-area" contenteditable="true" data-placeholder="Enter your text here..." data-empty="true"></div>
                </div>
            </div>
            
            
                <script>
    document.addEventListener('DOMContentLoaded', function() {
    const editor = document.getElementById('editor');
    if (editor) {
        checkEmpty('editor');
        editor.addEventListener('input', function() {
            checkEmpty('editor');
        });
        editor.addEventListener('blur', function() {
            checkEmpty('editor');
        });
        editor.addEventListener('focus', function() {
            checkEmpty('editor');
        });
    }
});

    function checkEmpty(id) {
    const element = document.getElementById(id);
    if (!element) return;
    
    const isEmpty = element.textContent.trim() === '';
    element.setAttribute('data-empty', isEmpty ? 'true' : 'false');
    console.log('checkEmpty:', {
        textContent: element.textContent.trim(),
        isEmpty: isEmpty,
        dataEmpty: element.getAttribute('data-empty')
    });
} 

    function formatText(type) {
    const editor = document.getElementById('editor');
    editor.focus();
    const selection = window.getSelection();
    if (selection.rangeCount === 0) return;
    if (type === 'list' || selection.toString().length > 0) {
        switch(type) {
            case 'bold': document.execCommand('bold', false, null); break;
            case 'italic': document.execCommand('italic', false, null); break;
            case 'underline': document.execCommand('underline', false, null); break;
            case 'list': document.execCommand('insertUnorderedList', false, null); break;
            case 'highlight': document.execCommand('backColor', false, '#fff3cd'); break;
        }
    }
}

    document.addEventListener('keydown', function(e) {
        if (e.ctrlKey || e.metaKey) {
            if (e.key === 'b') {
                e.preventDefault();
                formatText('bold');
            } else if (e.key === 'i') {
                e.preventDefault();
                formatText('italic');
            } else if (e.key === 'u') {
                e.preventDefault();
                formatText('underline');
            }
        }
    });
</script>
        
          </div>
        </div>
        <!-- <button (click)="testExperienceRange(0, 20, 3, 7)">Test Experience Range with Zeros</button> -->
      </div>
      <div
        id="submit-cancel-buttons-container"
        class="create-job-post1st-page-submit-cancel-buttons-container"
      >
        <button
          type="button"
          id="cancel-button"
          name="cancel-button"
          class="create-job-post1st-page-cancel-button button"
        >
          <span id="cancel-text" class="create-job-post1st-page-cancel-text">
            Cancel
          </span>
        </button>
        <button
          type="button"
          id="submit-button"
          name="submit-button"
          class="create-job-post1st-page-submit-button button"
        >
          <span id="submit-text" class="create-job-post1st-page-submit-text">
            Submit
          </span>
        </button>
      </div>
    </div>
  </div>
</div>