<div id="recruiter-view-3rd-page" class="recruiter-view3rd-page1-container10">

  <app-alert-message
  *ngIf="showAlert"
  [message]="alertMessage"
  [buttons]="alertButtons"
  (buttonClicked)="onAlertButtonClicked($event)"
  (close)="showAlert = false">
</app-alert-message>

<div class="alert" *ngIf="showPopup" [ngClass]="{'success': popupType === 'success', 'error': popupType === 'error'}">
    <span *ngIf="popupType === 'success'" class="tick">✔</span>
    {{ popupMessage }}
    <span class="closebtn" (click)="closePopup()"> × </span>
</div>

  <div 
    *ngIf="showMoreFilters" 
    [@popupAnimation] 
    [ngStyle]="{
      position: 'absolute',
      top: filterPosition.top + 'px',
      left: filterPosition.left + 'px',
      zIndex: 1002
    }"
    class="filter-popup-wrapper"
    (click)="$event.stopPropagation()"
  >
    <more-filters-and-preference-component 
      [callerType]="'recruiter'"
      (closeEvent)="showMoreFilters = false"
      (applyFiltersEvent)="onApplyFilters($event)"
      (savePreferenceEvent)="onSavePreference($event)"
      [initialTab]="initialFilterTab"
    ></more-filters-and-preference-component>
  </div>

  <!-- Backdrop -->
  <div 
    *ngIf="showMoreFilters" 
    class="filter-backdrop"
    [@popupAnimation]
    (click)="showMoreFilters = false"
  ></div>

  <div
    id="recruiter-view-3rd-page1-main-container"
    class="recruiter-view3rd-page1-recruiter-view3rd-page1-main-container"
  >
    <div
      id="recruiter-view-3rd-page1-first-container"
      class="recruiter-view3rd-page1-recruiter-view3rd-page1-first-container"
    >
      <header
        id="recruiter-view-navbar-1st-container"
        class="recruiter-view3rd-page1-recruiter-view-navbar1st-container"
      >
        <div
          id="recruiter-view-navbar-container"
          class="recruiter-view3rd-page1-recruiter-view-navbar-container"
        >
          <header
            data-thq="thq-navbar"
            class="recruiter-view3rd-page1-navbar-interactive1"
          >
            <img
              id="flashyre-logo"
              alt="image"
              src="/assets/main-logo/logo%20-%20flashyre(1500px)-200h.png"
              class="recruiter-view3rd-page1-flashyre-image"
              [routerLink]="['/recruiter-view-3rd-page1']"
            />
            <div
              data-thq="thq-navbar-nav"
              class="recruiter-view3rd-page1-desktop-menu1"
            >
              <nav
                id="desktop-links-container"
                class="recruiter-view3rd-page1-links1"
              >
                <a
                  [routerLink]="['/recruiter-view-3rd-page1']"
                  id="recruiter-dashboard-link"
                  class="recruiter-view3rd-page1-dashboard-link thq-body-small button"
                >
                  Home
                </a>
                <a
                  *ngIf="isAdmin"
                  [routerLink]="['/admin-page1']"
                  id="recruiter-invite-link"
                  class="recruiter-view3rd-page1-jobs-for-you-link thq-body-small button"
                >
                  Invite
                </a>
                <div
                  id="notification-container"
                  class="recruiter-view3rd-page1-container11"
                >
                  <svg
                    id="recruiter-notification-icon-navbar"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="recruiter-view3rd-page1-icon10"
                  >
                    <g
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M12.721 5.003L11.255 5c-3.344-.008-6.247 2.709-6.27 6v3.79c0 .79-.1 1.561-.531 2.218l-.287.438C3.73 18.11 4.2 19 4.985 19h14.03c.785 0 1.254-.89.818-1.554l-.287-.438c-.43-.657-.531-1.429-.531-2.219v-3.788c-.04-3.292-2.95-5.99-6.294-5.998M15 19a3 3 0 1 1-6 0"
                      ></path>
                      <path d="M12 2a2 2 0 0 1 2 2v1h-4V4a2 2 0 0 1 2-2"></path>
                    </g>
                  </svg>
                  <div
                    id="number-of-notification"
                    class="recruiter-view3rd-page1-container12"
                  >
                    <span
                      id="notification-numbers"
                      class="recruiter-view3rd-page1-text10"
                    >
                      2
                    </span>
                  </div>
                </div>
              </nav>
            </div>
            <div
              data-thq="thq-dropdown"
              class="recruiter-view3rd-page1-thq-dropdown list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="recruiter-view3rd-page1-dropdown-toggle1"
              >
                <!--<svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="recruiter-view3rd-page1-icon14"
                >
                  <path
                    d="M18.685 19.097A9.72 9.72 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.72 9.72 0 0 0 3.065 7.097A9.72 9.72 0 0 0 12 21.75a9.72 9.72 0 0 0 6.685-2.653m-12.54-1.285A7.49 7.49 0 0 1 12 15a7.49 7.49 0 0 1 5.855 2.812A8.22 8.22 0 0 1 12 20.25a8.22 8.22 0 0 1-5.855-2.438M15.75 9a3.75 3.75 0 1 1-7.5 0a3.75 3.75 0 0 1 7.5 0"
                    fill="currentColor"
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                  ></path>
                </svg>-->

                <img
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                *ngIf="recruiterProfile.profile_picture_url; else showInitials"
                id="user-image"
                [src]="recruiterProfile.profile_picture_url ? recruiterProfile.profile_picture_url : defaultProfilePicture"

                class="navbar-for-candidate-view-user-image1"
              />
                  <ng-template #showInitials>
                    <div class="avatar-icon navbar-for-candidate-view-user-image1">
                      {{ recruiterProfile.initials }}
                    </div>
                  </ng-template>
                <div
                  data-thq="thq-dropdown-arrow"
                  class="recruiter-view3rd-page1-dropdown-arrow"
                >
                  <svg
                    id="Dropdown"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    class="recruiter-view3rd-page1-drop-down-icon"
                  >
                    <path
                      d="m16 28l-7-7l1.4-1.4l5.6 5.6l5.6-5.6L23 21z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <ul
                data-thq="thq-dropdown-list"
                class="recruiter-view3rd-page1-dropdown-list"
              >
                <li
                  data-thq="thq-dropdown"
                  class="recruiter-view3rd-page1-profile1 list-item"
                  [routerLink]="['/profile-overview-page']"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view3rd-page1-dropdown-toggle2"
                  >
                    <span
                      id="Recruiter-profile-Button"
                      
                      class="recruiter-view3rd-page1-profile2"
                    >
                      Profile
                    </span>
                  </div>
                </li>
                <!--<li
                  data-thq="thq-dropdown"
                  class="recruiter-view3rd-page1-preference1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view3rd-page1-dropdown-toggle3"
                  >
                    <span
                      id="Recruiter-preference-button"
                      class="recruiter-view3rd-page1-preference2"
                    >
                      Preference
                    </span>
                  </div>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="recruiter-view3rd-page1-settings1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view3rd-page1-dropdown-toggle4"
                  >
                    <span
                      id="Recruiter-settings-Button"
                      class="recruiter-view3rd-page1-settings2"
                    >
                      Settings
                    </span>
                  </div>
                </li> -->
                <li
                  data-thq="thq-dropdown"
                  class="recruiter-view3rd-page1-logout1 list-item"
                  (click)="onLogoutClick()"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="recruiter-view3rd-page1-dropdown-toggle5"
                  >
                    <span
                      id="recruiter-logout-Button"
                      class="recruiter-view3rd-page1-logout2"
                      
                    >
                      Logout
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div
              data-thq="thq-burger-menu"
              class="recruiter-view3rd-page1-burger-menu1"
            >
              <svg
                id="hamburger-icon"
                viewBox="0 0 1024 1024"
                class="recruiter-view3rd-page1-burger-icon"
              >
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
              <div
                id="number-of-notifications"
                class="recruiter-view3rd-page1-number-of-notification"
              >
                <span class="recruiter-view3rd-page1-text11">2</span>
              </div>
            </div>
            <div
              data-thq="thq-mobile-menu"
              class="recruiter-view3rd-page1-mobile-menu1"
            >
              <div class="recruiter-view3rd-page1-popup-container">
                <div class="recruiter-view3rd-page1-close-icon1">
                  <div
                    data-thq="thq-close-menu"
                    class="recruiter-view3rd-page1-close-menu1"
                  >
                    <svg
                      viewBox="0 0 1024 1024"
                      class="recruiter-view3rd-page1-icon18"
                    >
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="recruiter-view3rd-page1-container13">
                  <div class="recruiter-view3rd-page1-container14">
                    <img 
                      *ngIf="recruiterProfile.profile_picture_url; else initialsAvatar"
                      id="recruiter-profile-picture"
                      [src]="recruiterProfile.profile_picture_url ? recruiterProfile.profile_picture_url : defaultProfilePicture"
                      class="recruiter-view3rd-page1-user-image"
                    />
                    <ng-template #initialsAvatar>
                      <div class="initials-avatar recruiter-view3rd-page1-user-image">
                        {{ recruiterProfile.initials }}
                      </div>
                    </ng-template>
                    <div class="recruiter-view3rd-page1-container15">
                      <recruiter-profile
                        rootClassName="recruiter-profileroot-class-name27"
                      >
                        <ng-template #text>
                          <div class="recruiter-view3rd-page1-fragment10">
                            <span class="recruiter-view3rd-page1-text12">
                              Leslie Alexander
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text1>
                          <div class="recruiter-view3rd-page1-fragment11">
                            <span class="recruiter-view3rd-page1-text13">
                              Google
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text3>
                          <div class="recruiter-view3rd-page1-fragment12">
                            <span class="recruiter-view3rd-page1-text14">
                              <span>Software Development</span>
                              <br />
                              <span>Mountain View, CA</span>
                            </span>
                          </div>
                        </ng-template>
                      </recruiter-profile>
                      <recruiter-job-posted1
                        rootClassName="recruiter-job-posted1root-class-name31"
                      >
                        <ng-template #text>
                          <div class="recruiter-view3rd-page1-fragment13">
                            <span class="recruiter-view3rd-page1-text18">
                              Job Posted
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text3>
                          <div class="recruiter-view3rd-page1-fragment14">
                            <span class="recruiter-view3rd-page1-text19">
                              2 Jobs Posted
                            </span>
                          </div>
                        </ng-template>
                      </recruiter-job-posted1>
                    </div>
                    <div
                      id="recruiter-details"
                      class="recruiter-view3rd-page1-details-container1"
                    >
                      <span
                        id="recruiter-name"
                        class="recruiter-view3rd-page1-recruiter-name"
                      >
                        Leslie Alexander
                      </span>
                      <div
                        id="recruiter-company-logo-and-name"
                        class="recruiter-view3rd-page1-container16"
                      >
                        <img
                          id="recruiter-company-image"
                          alt="image"
                          src="https://s3-alpha-sig.figma.com/img/cb33/d035/72e938963245d419674c3c2e71065794?Expires=1737331200&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=AWePlF-pHGfkDpvAxQkVOEKn6ei0wCQlVYu2oyaio65v32g8ylOmVbTs0muKAqz~iUBe-CPQTwUxEliMP5iFCiNMWlvaUDmnDaQ-9hL50Y2Rj~XfChKWsk1VhZQeHfMHDKP3KjN5DqeJBjU3k3Y3mOBUO9Fti0wsO9NNgpx1w4Kzu2hgpAP4Tf-EvspJzKotE8oB5AZzw1Qq6A~Vf6j1~AUW5vncBp6~E1xz7xUg0j59ZNm-wCSegvZWTPmBQ0fffJ95NegzQoPhltiUTwYrUPuIYjMEMcWOY3Poet~fqbTxf8bLNC1SRF3brHyO894K9GtoUm~V7HPmDgnR9J4qTg__"
                          class="recruiter-view3rd-page1-company-image1"
                        />
                        <span
                          id="recruiter-company-name"
                          class="recruiter-view3rd-page1-company-name"
                        >
                          Google
                        </span>
                      </div>
                      <span
                        id="recruiter-role"
                        class="recruiter-view3rd-page1-job-role-of-recruiter"
                      >
                        <span>Software Development</span>
                        <br />
                        <span>Mountain View, CA</span>
                      </span>
                    </div>
                  </div>
                  <div
                    id="mobile-popup-container"
                    class="recruiter-view3rd-page1-container17"
                  >
                    <div
                      id="dashboard-container"
                      class="recruiter-view3rd-page1-dashboard-container"
                    >
                      <svg
                        id="dashboard-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="recruiter-view3rd-page1-dashboard-icon"
                      >
                        <path
                          d="M21 16V4H3v12zm0-14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-7v2h2v2H8v-2h2v-2H3a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2zM5 6h9v5H5zm10 0h4v2h-4zm4 3v5h-4V9zM5 12h4v2H5zm5 0h4v2h-4z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="dashboard-button"
                        class="recruiter-view3rd-page1-dashboard-text"
                      >
                        Home
                      </span>
                    </div>
                    <div
                      id="jobs-posted-container"
                      class="recruiter-view3rd-page1-jobs-for-container"
                    >
                      <svg
                        id="briefcase-icon"
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        class="recruiter-view3rd-page1-briefcase-icon1"
                      >
                        <path
                          d="M2 6h5V3h1V2h6v1h1v3h5v1h1v12h-1v1H2v-1H1V7h1zm7 0h4V4H9zm10 2H3v10h16z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="jobs-posted-button"
                        class="recruiter-view3rd-page1-jobs-for-you-text"
                      >
                        Jobs Posted
                      </span>
                    </div>
                    <div
                      id="recruiter-notification-container"
                      class="recruiter-view3rd-page1-notification-container"
                    >
                      <div
                        id="notification-icon"
                        class="recruiter-view3rd-page1-container18"
                      >
                        <svg
                          id="recruiter-notification-icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          class="recruiter-view3rd-page1-icon22"
                        >
                          <g
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path
                              d="M12.721 5.003L11.255 5c-3.344-.008-6.247 2.709-6.27 6v3.79c0 .79-.1 1.561-.531 2.218l-.287.438C3.73 18.11 4.2 19 4.985 19h14.03c.785 0 1.254-.89.818-1.554l-.287-.438c-.43-.657-.531-1.429-.531-2.219v-3.788c-.04-3.292-2.95-5.99-6.294-5.998M15 19a3 3 0 1 1-6 0"
                            ></path>
                            <path
                              d="M12 2a2 2 0 0 1 2 2v1h-4V4a2 2 0 0 1 2-2"
                            ></path>
                          </g>
                        </svg>
                        <div
                          id="numbers-container"
                          class="recruiter-view3rd-page1-container19"
                        >
                          <span
                            id="Number of notifications"
                            class="recruiter-view3rd-page1-text23"
                          >
                            2
                          </span>
                        </div>
                      </div>
                      <span
                        id="notification-button"
                        class="recruiter-view3rd-page1-notification"
                      >
                        Notifications
                      </span>
                    </div>
                    <div
                      id="profile-popup-container"
                      class="recruiter-view3rd-page1-container20"
                    >
                      <!--<div
                        id="preference-container"
                        class="recruiter-view3rd-page1-preference-container"
                      >
                        <svg
                          id="preference-icon"
                          width="48"
                          height="48"
                          viewBox="0 0 48 48"
                          class="recruiter-view3rd-page1-preference-icon"
                        >
                          <g fill="currentColor">
                            <path
                              d="M23 22.922c0-.526.474-.922 1-.922s1 .396 1 .922V41a1 1 0 1 1-2 0z"
                            ></path>
                            <path
                              d="M20 16a4 4 0 0 1 3-3.874V7a1 1 0 1 1 2 0v5.126A4.002 4.002 0 0 1 24 20a4 4 0 0 1-4-4m4 2a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-8 14a4 4 0 1 1-4.992-3.876A1 1 0 0 1 11 28V7a1 1 0 1 1 2 0v21q0 .063-.008.124A4 4 0 0 1 16 32m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                            <path
                              d="M36 42a1 1 0 0 1-1-1v-7.078c0-.526.474-.922 1-.922s1 .396 1 .922V41a1 1 0 0 1-1 1"
                            ></path>
                            <path
                              d="M36 6a1 1 0 0 0-1 1v16.126A4.002 4.002 0 0 0 36 31a4 4 0 0 0 1-7.874V7a1 1 0 0 0-1-1m0 19a2 2 0 1 0 0 4a2 2 0 0 0 0-4"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                            <path
                              d="M11 41a1 1 0 1 0 2 0v-2.078c0-.526-.474-.922-1-.922s-1 .396-1 .922z"
                            ></path>
                          </g>
                        </svg>
                        <span
                          id="recruiter-preference-button"
                          class="recruiter-view3rd-page1-preference-text1"
                        >
                          Preference
                        </span>
                      </div>
                      <div
                        id="settings-container"
                        class="recruiter-view3rd-page1-settings-container"
                      >
                        <svg
                          id="settings-icon"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          class="recruiter-view3rd-page1-settings-icon"
                        >
                          <path
                            d="M27 16.76v-1.53l1.92-1.68A2 2 0 0 0 29.3 11l-2.36-4a2 2 0 0 0-1.73-1a2 2 0 0 0-.64.1l-2.43.82a11 11 0 0 0-1.31-.75l-.51-2.52a2 2 0 0 0-2-1.61h-4.68a2 2 0 0 0-2 1.61l-.51 2.52a11.5 11.5 0 0 0-1.32.75l-2.38-.86A2 2 0 0 0 6.79 6a2 2 0 0 0-1.73 1L2.7 11a2 2 0 0 0 .41 2.51L5 15.24v1.53l-1.89 1.68A2 2 0 0 0 2.7 21l2.36 4a2 2 0 0 0 1.73 1a2 2 0 0 0 .64-.1l2.43-.82a11 11 0 0 0 1.31.75l.51 2.52a2 2 0 0 0 2 1.61h4.72a2 2 0 0 0 2-1.61l.51-2.52a11.5 11.5 0 0 0 1.32-.75l2.42.82a2 2 0 0 0 .64.1a2 2 0 0 0 1.73-1l2.28-4a2 2 0 0 0-.41-2.51ZM25.21 24l-3.43-1.16a8.9 8.9 0 0 1-2.71 1.57L18.36 28h-4.72l-.71-3.55a9.4 9.4 0 0 1-2.7-1.57L6.79 24l-2.36-4l2.72-2.4a8.9 8.9 0 0 1 0-3.13L4.43 12l2.36-4l3.43 1.16a8.9 8.9 0 0 1 2.71-1.57L13.64 4h4.72l.71 3.55a9.4 9.4 0 0 1 2.7 1.57L25.21 8l2.36 4l-2.72 2.4a8.9 8.9 0 0 1 0 3.13L27.57 20Z"
                            fill="currentColor"
                          ></path>
                          <path
                            d="M16 22a6 6 0 1 1 6-6a5.94 5.94 0 0 1-6 6m0-10a3.91 3.91 0 0 0-4 4a3.91 3.91 0 0 0 4 4a3.91 3.91 0 0 0 4-4a3.91 3.91 0 0 0-4-4"
                            fill="currentColor"
                          ></path>
                        </svg>
                        <span
                          id="recruiter-settings-button"
                          class="recruiter-view3rd-page1-settings-text"
                        >
                          Settings
                        </span>
                      </div> -->
                      <div
                        id="logout-container"
                        class="recruiter-view3rd-page1-logout-container button"
                      >
                        <svg
                          id="logout-icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          class="recruiter-view3rd-page1-logout-icon"
                        >
                          <g fill="none">
                            <path
                              d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                            ></path>
                            <path
                              d="M12 3a1 1 0 0 1 .117 1.993L12 5H7a1 1 0 0 0-.993.883L6 6v12a1 1 0 0 0 .883.993L7 19h4.5a1 1 0 0 1 .117 1.993L11.5 21H7a3 3 0 0 1-2.995-2.824L4 18V6a3 3 0 0 1 2.824-2.995L7 3zm5.707 5.464l2.828 2.829a1 1 0 0 1 0 1.414l-2.828 2.829a1 1 0 1 1-1.414-1.415L17.414 13H12a1 1 0 1 1 0-2h5.414l-1.121-1.121a1 1 0 0 1 1.414-1.415"
                              fill="currentColor"
                            ></path>
                          </g>
                        </svg>
                        <span
                          id="recruiter-logout-button"
                          class="recruiter-view3rd-page1-logout-text"
                          (click)="onLogoutClick()"
                          >
                          Logout
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="recruiter-view3rd-page1-container21">
                    <recruiter-profile
                      rootClassName="recruiter-profileroot-class-name26"
                    >
                      <ng-template #text>
                        <div class="recruiter-view3rd-page1-fragment15">
                          <span class="recruiter-view3rd-page1-text24">
                            Leslie Alexander
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text1>
                        <div class="recruiter-view3rd-page1-fragment16">
                          <span class="recruiter-view3rd-page1-text25">
                            Google
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text3>
                        <div class="recruiter-view3rd-page1-fragment17">
                          <span class="recruiter-view3rd-page1-text26">
                            <span>Software Development</span>
                            <br />
                            <span>Mountain View, CA</span>
                          </span>
                        </div>
                      </ng-template>
                    </recruiter-profile>
                    <recruiter-job-posted1
                      rootClassName="recruiter-job-posted1root-class-name30"
                    >
                      <ng-template #text>
                        <div class="recruiter-view3rd-page1-fragment18">
                          <span class="recruiter-view3rd-page1-text30">
                            Job Posted
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text3>
                        <div class="recruiter-view3rd-page1-fragment19">
                          <span class="recruiter-view3rd-page1-text31">
                            2 Jobs Posted
                          </span>
                        </div>
                      </ng-template>
                    </recruiter-job-posted1>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      </header>
      <div
        id="Recruiter-view-details-container"
        class="recruiter-view3rd-page1-details-container2"
      >
        <div
          id="profile-container"
          class="recruiter-view3rd-page1-profile-container"
        >
          <recruiter-profile rootClassName="recruiter-profileroot-class-name23">
            <ng-template #text>
              <div class="recruiter-view3rd-page1-fragment20">
                <span class="recruiter-view3rd-page1-text32">
                  {{ recruiterProfile.first_name }} {{ recruiterProfile.last_name }}
                </span>
              </div>
            </ng-template>
            <ng-template #text1>
              <div class="recruiter-view3rd-page1-fragment21">
                <span class="recruiter-view3rd-page1-text33">

                                {{ recruiterProfile.latest_job_title 
                  ? recruiterProfile.latest_job_title + ' @ ' + recruiterProfile.latest_company_name 
                  : (recruiterProfile.latest_education_level ? recruiterProfile.latest_education_level + ' from ' + recruiterProfile.latest_university : '--') }}
                
                </span>
              </div>
            </ng-template>
            <ng-template #text3>
              <div class="recruiter-view3rd-page1-fragment22">
                <span class="recruiter-view3rd-page1-text34">
                  <span>{{ recruiterProfile.latest_job_title }}</span>
                  <br />
                  <!-- <span>Mountain View, CA</span> -->
                </span>
              </div>
            </ng-template>
          </recruiter-profile>
          <recruiter-job-posted1
            rootClassName="recruiter-job-posted1root-class-name27"
          >
            <ng-template #text>
              <div class="recruiter-view3rd-page1-fragment23">
                <span class="recruiter-view3rd-page1-text38">Job Posted</span>
              </div>
            </ng-template>
            <ng-template #text3>
              <div class="recruiter-view3rd-page1-fragment24">
                <span class="recruiter-view3rd-page1-text39">
                  2 Jobs Posted
                </span>
              </div>
            </ng-template>
          </recruiter-job-posted1>
        </div>
        <div
          id="job-posting-container"
          class="recruiter-view3rd-page1-job-posting-container"
        >
          <div
            id="create-job-post-container"
            class="recruiter-view3rd-page1-create-job-post-container"
          >
            <span
              id="jobs-posted-text"
              class="recruiter-view3rd-page1-jobs-posted-text"
            >
              Jobs Posted
            </span>
            <button
              id="create-job-post-button"
              type="button"
              class="recruiter-view3rd-page1-create-job-post-button button"
              (click)="navigateToCreateJobPost()"
            >
              <span id="create-job-post-text">Create Job Post</span>
            </button>
          </div>
          <div class="recruiter-view3rd-page1-container23">
            <div
              id="live-draft-deleted-container"
              class="recruiter-view3rd-page1-live-draft-deleted-container"
            >
              <div
                id="live-container"
                class="recruiter-view3rd-page1-live-container"
                [class.active-tab]="activeTab === 'live'"
                (click)="selectTab('live')"
              >
                <span id="live-text" class="recruiter-view3rd-page1-live-text">
                  Live ({{ getStatusCount('final') }})
                </span>
              </div>
              <div
                id="draft-container"
                class="recruiter-view3rd-page1-draft-container"
                [class.active-tab]="activeTab === 'draft-pause'"
                (click)="selectTab('draft-pause')"
              >
                <span
                  id="draft-text"
                  class="recruiter-view3rd-page1-draft-text"
                >
                  Draft ({{ getStatusCount('draft') }}) / Pause ({{ getStatusCount('pause') }})
                </span>
              </div>
              <div
                id="deleted-container"
                class="recruiter-view3rd-page1-deleted-container"
                [class.active-tab]="activeTab === 'deleted'"
                (click)="selectTab('deleted')"
              >
                <span
                  id="deleted-text"
                  class="recruiter-view3rd-page1-deleted-text"
                >
                  Deleted ({{ getStatusCount('deleted') }})
                </span>
              </div>
            </div>
          </div>
          <header
  id="job-title-location-experience-main-container"
  class="recruiter-view3rd-page1-job-title-location-experience-main-container"
>
  <header
    data-thq="thq-navbar"
    class="recruiter-view3rd-page1-navbar-interactive2"
  >
    <div
      data-thq="thq-navbar-nav"
      class="recruiter-view3rd-page1-desktop-menu2"
    >
      <nav
        id="job-location-experience-container"
        class="recruiter-view3rd-page1-links2"
      >
        <div
          id="job-loc-exp-container"
          class="recruiter-view3rd-page1-container22"
        >
          <div
            id="search-job-title-container"
            class="recruiter-view3rd-page1-job-title-container1"
          >
            <svg
              id="search-icon"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              class="recruiter-view3rd-page1-search-icon1"
            >
              <path
                d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9"
                fill="currentColor"
              ></path>
            </svg>
            <input
              type="text"
              id="search-job-title-input"
              class="recruiter-view3rd-page1-job-title-text1"
              placeholder="Job title, Keyword..."
              [(ngModel)]="searchJobTitle"
            />
          </div>
          <div
            id="location-container"
            class="recruiter-view3rd-page1-location-container1"
          >
            <svg
              id="location-icon"
              width="1024"
              height="1024"
              viewBox="0 0 1024 1024"
              class="recruiter-view3rd-page1-location-icon1"
            >
              <path
                d="M800 416a288 288 0 1 0-576 0c0 118.144 94.528 272.128 288 456.576C705.472 688.128 800 534.144 800 416M512 960C277.312 746.688 160 565.312 160 416a352 352 0 0 1 704 0c0 149.312-117.312 330.688-352 544"
                fill="currentColor"
              ></path>
              <path
                d="M512 512a96 96 0 1 0 0-192a96 96 0 0 0 0 192m0 64a160 160 0 1 1 0-320a160 160 0 0 1 0 320"
                fill="currentColor"
              ></path>
            </svg>
            <input
              type="text"
              id="search-location-input"
              class="recruiter-view3rd-page1-your-location-text1"
              placeholder="Location"
              [(ngModel)]="searchLocation"
            />
          </div>
          <div
            id="experience-search-container"
            class="recruiter-view3rd-page1-experience-container1"
          >
            <svg
              id="briefcase-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M20 6c.58 0 1.05.2 1.42.59c.38.41.58.86.58 1.41v11c0 .55-.2 1-.58 1.41c-.37.39-.84.59-1.42.59H4c-.58 0-1.05-.2-1.42-.59C2.2 20 2 19.55 2 19V8c0-.55.2-1 .58-1.41C2.95 6.2 3.42 6 4 6h4V4c0-.58.2-1.05.58-1.42C8.95 2.2 9.42 2 10 2h4c.58 0 1.05.2 1.42.58c.38.37.58.84.58 1.42v2zM4 8v11h16V8zm10-2V4h-4v2z"
                fill="currentColor"
              ></path>
            </svg>
            <input
              type="text"
              id="search-experience-input"
              class="recruiter-view3rd-page1-experience-text1"
              placeholder="Experience"
              [(ngModel)]="searchExperience"
            />
          </div>
        </div>
      </nav>
      <svg
         #filterIcon 
        (click)="openFiltersPopup('filters')" 
        id="filter-icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="recruiter-view3rd-page1-filter-icon1"
      >
        <path
          d="M3 7h3M3 17h6m9 0h3M15 7h6M6 7c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C7.602 4 8.068 4 9 4s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C12 5.602 12 6.068 12 7s0 1.398-.152 1.765a2 2 0 0 1-1.083 1.083C10.398 10 9.932 10 9 10s-1.398 0-1.765-.152a2 2 0 0 1-1.083-1.083C6 8.398 6 7.932 6 7m6 10c0-.932 0-1.398.152-1.765a2 2 0 0 1 1.083-1.083C13.602 14 14.068 14 15 14s1.398 0 1.765.152a2 2 0 0 1 1.083 1.083C18 15.602 18 16.068 18 17s0 1.398-.152 1.765a2 2 0 0 1-1.083 1.083C16.398 20 15.932 20 15 20s-1.398 0-1.765-.152a2 2 0 0 1-1.083-1.083C12 18.398 12 17.932 12 17"
          fill="none"
          color="currentColor"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
      <div
        id="button-conatiner"
        class="recruiter-view3rd-page1-buttons1"
      >
        <button
          id="search-button"
          type="button"
          class="recruiter-view3rd-page1-search-button1 button"
          (click)="onSearch()"
        >
          <span
            id="search-text"
            class="recruiter-view3rd-page1-search-text1"
          >
            Search
          </span>
        </button>
        <button
          (click)="openFiltersPopup('preferences')"
          id="preference-button"
          type="button"
          class="recruiter-view3rd-page1-search-button2 button"
        >
          <span
            id="preference-text"
            class="recruiter-view3rd-page1-search-text2"
          >
            Preference
          </span>
        </button>
      </div>
    </div>
    <!-- ... mobile menu ... -->
  </header>
</header>

          <div
            id="job-posted-container"
            class="recruiter-view3rd-page1-job-posted-container"
          >
            <div *ngIf="isLoading" class="loading-container">
              <div class="loading-spinner"></div>
              <p>Fetching Jobs Posted...</p>
            </div>
            <div *ngIf="!isLoading && postedJobs.length === 0" class="no-jobs-message">
              <ng-container *ngIf="masterPostedJobs.length > 0; else noJobsPosted">
                <!-- Filter result: No match found for current tab/filter -->
                <div [ngSwitch]="activeTab">
                  <span *ngSwitchCase="'live'">No match found for active jobs.</span>
                  <span *ngSwitchCase="'draft-pause'">No match found for draft or paused jobs.</span>
                  <span *ngSwitchCase="'deleted'">No match found for deleted jobs.</span>
                  <span *ngSwitchDefault>No match found.</span>
                </div>
              </ng-container>
              <ng-template #noJobsPosted>
                <!-- There are no jobs posted at all -->
                <div [ngSwitch]="activeTab">
                  <span *ngSwitchCase="'live'">You have no active job postings.</span>
                  <span *ngSwitchCase="'draft-pause'">You have no jobs saved as draft or currently paused.</span>
                  <span *ngSwitchCase="'deleted'">Your deleted jobs folder is empty.</span>
                  <span *ngSwitchDefault>No jobs posted yet.</span>
                </div>
              </ng-template>
            </div>

            <div
              *ngFor="let job of postedJobs"
              id="recruiter-flow-job-posted-container"
              class="recruiter-view3rd-page1-recruiter-flow-job-posted-container"
            >
              <div
                id="job-description-container"
                class="recruiter-view3rd-page1-job-description-container"
              >
                <div
                  id="job-description"
                  class="recruiter-view3rd-page1-job-description"
                >
                  <div
                    id="company-icon-container"
                    class="recruiter-view3rd-page1-company-icon-container"
                  >
                    <img
                      *ngIf="isImage(job.company_image_url); else showInitials"
                      id="company-image"
                      alt="Company Logo"
                      [src]="job.company_image_url"
                      class="recruiter-view3rd-page1-company-image2"
                    />
                    <ng-template #showInitials>
                      <div class="avatar-icon">
                        {{ job.initials }}
                      </div>
                    </ng-template>
                  </div>
                  <div
                    id="details-container"
                    class="recruiter-view3rd-page1-details-container3"
                  >
                    <div
                      id="Job-role-experience-location-container"
                      class="recruiter-view3rd-page1-job-role-experience-location-container"
                    >
                      <span
                        id="job-role"
                        class="recruiter-view3rd-page1-job-role-text"
                      >
                        {{ job.role }}
                      </span>
                      <span
                        id="experience-location"
                        class="recruiter-view3rd-page1-experience-location-text"
                      >
                        {{ job.location }}
                      </span>
                    </div>
                    <div
                      id="number-of-candidates-applied-container"
                      class="recruiter-view3rd-page1-number-of-candidates-applied-container"
                    >
                      <div
                        id="candidates-icon-container"
                        class="recruiter-view3rd-page1-candidates-icon-container"
                      >
                        <svg
                          id="candidates-icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M8 13a3 3 0 1 1 0-6a3 3 0 0 1 0 6m8 0a3 3 0 1 1 0-6a3 3 0 0 1 0 6m-8 2a7.98 7.98 0 0 1 6 2.708V19H2v-1.292A7.98 7.98 0 0 1 8 15m8 4v-2.048l-.5-.567a10 10 0 0 0-1.25-1.193A8 8 0 0 1 16 15a7.98 7.98 0 0 1 6 2.708V19z"
                            fill="currentColor"
                            fill-rule="evenodd"
                          ></path>
                        </svg>
                      </div>
                      <span
                        id="total-applications"
                        class="recruiter-view3rd-page1-number-of-canadidates-applied-text"
                      >
                        {{ job.number_of_candidates_applied }}
                      </span>
                    </div>
                    <div 
                      id="jobid-expiry-date"
                      class="recruiter-view3rd-page1-jobid-expiry-date-container"
                    >
                    <span
                      id="jobid"
                      class="recruiter-view3rd-page1-jobid"
                    >
                      Job id : {{ job.id }}
                    </span>
                    <span
                      id="expiry-date"
                      class="recruiter-view3rd-page1-expire-in2-days-text"
                    >
                      {{ getDisplayDate(job) }}
                    </span>
                            <!-- MODIFICATION START: "View JD" link is added here -->
        <span 
            *ngIf="job.job_description_url" 
            (click)="viewJobDescription(job)" 
            class="recruiter-view3rd-page1-view-jd-text" 
            title="View Job Description"
        >
            View JD
        </span>
        <!-- MODIFICATION END -->

                    </div>
                  </div>
                </div>
              </div>
              <div
                id="second-container"
                class="recruiter-view3rd-page1-second-container"
              >
                <div
                  *ngIf="job.status === 'final' || job.status === 'pause'"
                  id="switch-container"
                  class="recruiter-view3rd-page1-switch-container"
                >
                  <div class="recruiter-view3rd-page1-container24">
                    <div class="recruiter-view3rd-page1-container25">
                          <style>
        body {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        /* Container for the switch */
        .switch {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 28px;
        }

        /* Hide the default checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider (background of the switch) */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #28a745; /* Green for 'Live' state (default) */
            transition: .4s;
            border-radius: 14px;
            overflow: hidden;
        }

        /* Text labels - positioned absolutely */
        .slider-text {
            position: absolute;
            top: 0;
            width: 50px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: bold;
            color: white;
            z-index: 1;
            transition: .4s;
        }

        .live-text {
            left: 0;
        }

        .pause-text {
            right: 0;
        }

        /* The sliding knob that covers the active text */
        .slider:before {
            position: absolute;
            content: '';
            height: 22px;
            width: 47px;
            left: 3px;
            top: 3px;
            background-color: white;
            transition: .4s;
            border-radius: 11px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            z-index: 2;
        }

        /* Active text color - the text under the white slider */
        .slider:after {
            position: absolute;
            top: 0;
            left: 3px;
            width: 47px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: bold;
            color: #333;
            z-index: 3;
            transition: .4s;
            content: 'Live';
        }

        /* When the switch is 'off' (unchecked) - Pause state */
        input:not(:checked) + .slider {
            background-color: #ff4444; /* Red for 'Pause' state */
        }

        /* When the switch is 'on' (checked) - Live state */
        input:checked + .slider {
            background-color: #28a745; /* Green for 'Live' state */
        }

        /* Move the knob and text to the right when 'off' (Pause) */
        input:not(:checked) + .slider:before {
            transform: translateX(50px);
        }

        input:not(:checked) + .slider:after {
            transform: translateX(50px);
            content: 'Pause';
        }

        /* Keep knob and text on the left when 'on' (Live) */
        input:checked + .slider:before {
            transform: translateX(0px);
        }

        input:checked + .slider:after {
            transform: translateX(0px);
            content: 'Live';
        }
    </style>

<body>
    <label class='switch'>
        <input type='checkbox' [checked]="job.status === 'final'"
            (change)="onStatusChangeAttempt(job, $event)"> <!-- Default 'Live' state (checked) -->
        <span class='slider'>
            <div class='slider-text live-text'>Live</div>
            <div class='slider-text pause-text'>Pause</div>
        </span>
    </label>
</body>
                    </div>
                  </div>
                </div>
                <div
                  id="icons-cContainer"
                  class="recruiter-view3rd-page1-icons-container"
                >
                  <svg
                    *ngIf="job.status !== 'deleted'"
                    id="delete-icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="recruiter-view3rd-page1-delete-icon"
                    (click)="onDeleteAttempt(job, $event)"
                  >
                    <path
                      d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"
                      fill="currentColor"
                    ></path>
                  </svg>
                  <span
                    *ngIf="activeTab !== 'live'"
                    id="edit-text"
                    class="recruiter-view3rd-page1-edit-text"
                    (click)="editJob(job)"
                  >
                    Edit
                  </span>
                  <span
                    id="view-candidates-text"
                    class="recruiter-view3rd-page1-view-candidates-text"
                    (click)="viewJobApplications(job.id)"
                  >
                    View Details
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px;
}

.small-spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-container, .loading-more {
  text-align: center;
  padding: 40px 20px;
}

.load-more-container {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>

