:host { 
  display: contents; 
}
 
.recruiter-profile-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.recruiter-profile-recruiter-profile-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 262px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 24px;
  border-color: #E6E2E6;
  border-width: 1px;
  padding-left: 24px;
  border-radius: 8px;
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.recruiter-profile-recruiter-image {
  width: 104px;
  height: 104px;
  display: flex;
  align-self: center;
  object-fit: cover;
  border-color: #D9D9D9;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
}
 
.recruiter-profile-details-container {
  gap: 3px;
  flex: 0 0 auto;
  gap: 16px;
  width: 100%;
  height: 102px;
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.recruiter-profile-recruiter-name {
  fill: #18191C;
  color: #18191C;
  width: auto;
  height: 24px;
  display: flex;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}
 
.recruiter-profile-container2 {
  /*gap: 4px;*/
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
 
.recruiter-profile-company-image {
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  object-fit: cover;
  align-items: center;
}
 
.recruiter-profile-company-name {
  /*width: 80%;*/
  height: 24px;
  display: flex;
  font-style: normal;
  align-items: center;
  text-align: center;
  font-weight: 700;
  justify-content: flex-start;
}
 
.recruiter-profile-job-role-of-recruiter {
  fill: #18191C;
  color: #18191C;
  width: 100%;
  height: 48px;
  display: flex;
  font-size: 14px;
  align-self: center;
  text-align: center;
  align-items: center;
  line-height: 20px;
  justify-content: center;
}
 
.recruiter-profile-fragment1 {
  display: contents;
}
 
.recruiter-profile-text1 {
  display: inline-block;
}
 
.recruiter-profile-fragment2 {
  display: contents;
}
 
.recruiter-profile-text5 {
  display: inline-block;
}
 
.recruiter-profile-fragment3 {
  display: contents;
}
 
.recruiter-profile-text6 {
  display: inline-block;
}
 
.recruiter-profileroot-class-name {
  height: auto;
}
 
.recruiter-view3rd-page1-user-image {
  width: 104px;
  height: 104px;
  object-fit: cover;
}

.initials-avatar {
  width: 48px;
  height: 48px;
  background-color: #4CAF50; /* adjust color or make dynamic */
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
 

 

 

 

 

 

 

 

 

 
@media(max-width: 991px) {
  .recruiter-profile-recruiter-profile-container {
    width: 191px;
  }
  .recruiter-profile-recruiter-image {
    width: 100px;
    height: 100px;
  }
  .recruiter-view3rd-page1-user-image {
    width: 94px;
    height: 94px;
  }
  .recruiter-profile-details-container {
    gap: 2px;
  }
  .recruiter-profile-recruiter-name {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  .recruiter-profile-container2 {
    width: auto;
    justify-content: center;
  }
  .recruiter-profile-company-image {
    width: 14px;
    height: 14px;
  }
  .recruiter-profile-company-name {
    width: auto;
    font-size: 14px;
  }
  .recruiter-profile-job-role-of-recruiter {
    width: auto;
    font-size: 12px;
  }
  .recruiter-profileroot-class-name1 {
    align-self: center;
  }
  .recruiter-profileroot-class-name2 {
    align-self: center;
  }
  .recruiter-profileroot-class-name3 {
    align-self: center;
  }
  .recruiter-profileroot-class-name4 {
    align-self: center;
  }
  .recruiter-profileroot-class-name5 {
    align-self: center;
  }
  .recruiter-profileroot-class-name6 {
    align-self: center;
  }
  .recruiter-profileroot-class-name7 {
    align-self: center;
  }
  .recruiter-profileroot-class-name8 {
    align-self: center;
  }
  .recruiter-profileroot-class-name9 {
    align-self: center;
  }
  .recruiter-profileroot-class-name10 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .recruiter-profile-recruiter-profile-container {
    width: 161px;
    height: 264px;
  }

  .recruiter-view3rd-page1-user-image {
    width: 74px;
    height: 74px;
    border-radius: var(--dl-layout-radius-round);
  }

  .recruiter-profile-recruiter-image {
    width: 96px;
    height: 96px;
  }
  .recruiter-profile-details-container {
    gap: 0px;
    align-items: center;
    justify-content: center;
  }
  .recruiter-profile-recruiter-name {
    font-size: 12px;
  }
  .recruiter-profile-company-image {
    width: 12px;
    height: 12px;
  }
  .recruiter-profile-company-name {
    font-size: 12px;
  }
  .recruiter-profile-job-role-of-recruiter {
    gap: var(--dl-space-space-halfunit);
    fill: #18191C;
    color: #18191C;
    width: auto;
    height: 48px;
    display: flex;
    font-size: 10px;
    align-self: center;
    text-align: center;
    align-items: center;
    line-height: 20px;
    justify-content: center;
  }
  .recruiter-profile-text1 {
    color: rgb(24, 25, 28);
  }
}
