<div
  id="recruiter-flow-profile-card"
  class="recruiter-flow-profile-card-container1"
  [ngClass]="rootClassName"
>
  <div
    id="recruiter-flow-profile-card-container"
    class="recruiter-flow-profile-card-container2"
  >
    <div
      id="candidate-image-and-name"
      class="recruiter-flow-profile-card-container3"
    >
      <div
        id="candidate-details-container"
        class="recruiter-flow-profile-card-container4"
      >
        <img
          id="candidate-profile-picture"
          [attr.alt]="imageAlt"
          [attr.src]="imageSrc"
          class="recruiter-flow-profile-card-candidate-image"
        />
        <div
          id="candidate-name-and-activeness"
          class="recruiter-flow-profile-card-container5"
        >
          <span
            id="candidate-name"
            class="recruiter-flow-profile-card-candidte-name"
          >
            <ng-container>
              <ng-template #defaultText>
                <div class="recruiter-flow-profile-card-fragment2">
                  <span class="recruiter-flow-profile-card-text2">
                    Kathryn Murphy
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text ? text : defaultText"
              ></ng-container>
            </ng-container>
          </span>
          <span
            id="candidate-activity-status"
            class="recruiter-flow-profile-card-active-indication"
          >
            <ng-container>
              <ng-template #defaultText1>
                <div class="recruiter-flow-profile-card-fragment5">
                  <span class="recruiter-flow-profile-card-text5">
                    Active 2 days ago
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text1 ? text1 : defaultText1"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
      <svg
        id="check-box"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        class="recruiter-flow-profile-card-tick-icon"
      >
        <path
          d="M26 4H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2M6 26V6h20v20Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
    <div
      id="job-role-container"
      class="recruiter-flow-profile-card-job-role-container"
    >
      <span
        id="candidate-job-role-and-company-name"
        class="recruiter-flow-profile-card-job-role-text"
      >
        <ng-container>
          <ng-template #defaultText2>
            <div class="recruiter-flow-profile-card-fragment3">
              <span class="recruiter-flow-profile-card-text3">
                Senior Software Engineer &#64; Microsoft
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text2 ? text2 : defaultText2"
          ></ng-container>
        </ng-container>
      </span>
      <div
        id="job-matching-score-container"
        class="recruiter-flow-profile-card-container6"
      >
        <div
          id="job-matching-score"
          class="recruiter-flow-profile-card-job-matching-score-container"
        >
          <span
            id="profile-matching-score"
            class="recruiter-flow-profile-card-percentage"
          >
            <ng-container>
              <ng-template #defaultText3>
                <div class="recruiter-flow-profile-card-fragment6">
                  <span class="recruiter-flow-profile-card-text6">54%</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text3 ? text3 : defaultText3"
              ></ng-container>
            </ng-container>
          </span>
          <span
            id="job-matching-score-text"
            class="recruiter-flow-profile-card-job-matching-score-text"
          >
            <ng-container>
              <ng-template #defaultText4>
                <div class="recruiter-flow-profile-card-fragment4">
                  <span class="recruiter-flow-profile-card-text4">
                    Job matching score
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text4 ? text4 : defaultText4"
              ></ng-container>
            </ng-container>
          </span>
        </div>
        <div
          id="open-to-work-container"
          class="recruiter-flow-profile-card-open-to-work-container"
        >
          <span
            id="candidate-job-status"
            class="recruiter-flow-profile-card-open-to-work-text"
          >
            <ng-container>
              <ng-template #defaultText5>
                <div class="recruiter-flow-profile-card-fragment1">
                  <span class="recruiter-flow-profile-card-text1">
                    Open to Work
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text5 ? text5 : defaultText5"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
