<div
  id="profile-certification-page"
  class="profile-certification-page-container"
>
  <div id="main-container" class="profile-certification-page-main-container">
    <navbar-for-candidate-view1
      rootClassName="navbar-for-candidate-view1root-class-name3"
    >
      <ng-template #text1>
        <div class="profile-certification-page-fragment10">
          <span class="profile-certification-page-text10">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="profile-certification-page-fragment11">
          <span class="profile-certification-page-text11">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="profile-certification-page-fragment12">
          <span class="profile-certification-page-text12">Settings</span>
        </div>
      </ng-template>
      <ng-template #text4>
        <div class="profile-certification-page-fragment13">
          <span class="profile-certification-page-text13">Kathryn Murphy</span>
        </div>
      </ng-template>
      <ng-template #text5>
        <div class="profile-certification-page-fragment14">
          <span class="profile-certification-page-text14">
            ✅ 90% Profile Completion
          </span>
        </div>
      </ng-template>
      <ng-template #text6>
        <div class="profile-certification-page-fragment15">
          <span class="profile-certification-page-text15">
            View & edit profile
          </span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="profile-certification-page-fragment16">
          <span class="profile-certification-page-text16">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="profile-certification-page-fragment17">
          <span class="profile-certification-page-text17">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="profile-certification-page-fragment18">
          <span class="profile-certification-page-text18">Logout</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="profile-certification-page-fragment19">
          <span class="profile-certification-page-text19">Logout</span>
        </div>
      </ng-template>
    </navbar-for-candidate-view1>
    <div
      id="certificate-main-container"
      class="profile-certification-page-certificate-container"
    >
      <progress-bar-step4
        rootClassName="progress-bar-step4root-class-name1"
      ></progress-bar-step4>
      <profile-certifications-component
        #certificationsComponent
        rootClassName="profile-certifications-componentroot-class-name1"
      >
        <ng-template #text>
          <div class="profile-certification-page-fragment20">
            <span class="profile-certification-page-text20">
              Certifications
            </span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="profile-certification-page-fragment21">
            <span class="profile-certification-page-text21">
              + Add Certification
            </span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="profile-certification-page-fragment22">
            <span class="profile-certification-page-text22">
              <span class="profile-certification-page-text23">
                Certificate Name
              </span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #text31>
          <div class="profile-certification-page-fragment23">
            <span class="profile-certification-page-text25">Select</span>
          </div>
        </ng-template>
        <ng-template #text111>
          <div class="profile-certification-page-fragment24">
            <span class="profile-certification-page-text26">
              <span>Issuing Institute</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #text112>
          <div class="profile-certification-page-fragment25">
            <span class="profile-certification-page-text29">
              <span>Issued Date</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #text311>
          <div class="profile-certification-page-fragment26">
            <span class="profile-certification-page-text32">Select</span>
          </div>
        </ng-template>
        <ng-template #text312>
          <div class="profile-certification-page-fragment27">
            <span class="profile-certification-page-text33">Select</span>
          </div>
        </ng-template>
        <ng-template #text1111>
          <div class="profile-certification-page-fragment28">
            <span class="profile-certification-page-text34">
              <span>Renewal Date</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #text1121>
          <div class="profile-certification-page-fragment29">
            <span class="profile-certification-page-text37">
              <span>Credentials</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #text3111>
          <div class="profile-certification-page-fragment30">
            <span class="profile-certification-page-text40">Select</span>
          </div>
        </ng-template>
        <ng-template #text3121>
          <div class="profile-certification-page-fragment31">
            <span class="profile-certification-page-text41">Select</span>
          </div>
        </ng-template>
      </profile-certifications-component>
      <profile-creation-navigation2
        rootClassName="profile-creation-navigation2root-class-name6"
      >
        <ng-template #text>
          <div class="profile-certification-page-fragment32">
            <span
              class="profile-certification-page-text42"
              (click)="goToPrevious()"
            >
              <span class="profile-certification-page-text43">
                <- Previous
              </span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #button>
          <div class="profile-certification-page-fragment33">
            <span
              class="profile-certification-page-text45"
              (click)="skipToEmployment()"
            >
              Skip
            </span>
          </div>
        </ng-template>
        <ng-template #button1>
          <div class="profile-certification-page-fragment34">
            <span
              class="profile-certification-page-text46"
              (click)="saveAndNext()"
            >
              Save & Next ->
            </span>
          </div>
        </ng-template>
      </profile-creation-navigation2>
    </div>
  </div>
</div>