:host { 
  display: contents; 
}
 
.profile-certification-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.profile-certification-page-main-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 1440px;
  height: 100vh;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F4F4F4;
}
 
.profile-certification-page-fragment10 {
  display: contents;
}
 
.profile-certification-page-text10 {
  display: inline-block;
}
 
.profile-certification-page-fragment11 {
  display: contents;
}
 
.profile-certification-page-text11 {
  display: inline-block;
}
 
.profile-certification-page-fragment12 {
  display: contents;
}
 
.profile-certification-page-text12 {
  display: inline-block;
}
 
.profile-certification-page-fragment13 {
  display: contents;
}
 
.profile-certification-page-text13 {
  display: inline-block;
}
 
.profile-certification-page-fragment14 {
  display: contents;
}
 
.profile-certification-page-text14 {
  display: inline-block;
}
 
.profile-certification-page-fragment15 {
  display: contents;
}
 
.profile-certification-page-text15 {
  display: inline-block;
}
 
.profile-certification-page-fragment16 {
  display: contents;
}
 
.profile-certification-page-text16 {
  display: inline-block;
}
 
.profile-certification-page-fragment17 {
  display: contents;
}
 
.profile-certification-page-text17 {
  display: inline-block;
}
 
.profile-certification-page-fragment18 {
  display: contents;
}
 
.profile-certification-page-text18 {
  display: inline-block;
}
 
.profile-certification-page-fragment19 {
  display: contents;
}
 
.profile-certification-page-text19 {
  display: inline-block;
}
 
.profile-certification-page-certificate-container {
  gap: 24px;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.profile-certification-page-fragment20 {
  display: contents;
}
 
.profile-certification-page-text20 {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.profile-certification-page-fragment21 {
  display: contents;
}
 
.profile-certification-page-text21 {
  display: inline-block;
}
 
.profile-certification-page-fragment22 {
  display: contents;
}
 
.profile-certification-page-text22 {
  display: inline-block;
}
 
.profile-certification-page-fragment23 {
  display: contents;
}
 
.profile-certification-page-text25 {
  color: #f10400;
  display: inline-block;
}
 
.profile-certification-page-fragment24 {
  display: contents;
}
 
.profile-certification-page-text26 {
  display: inline-block;
}
 
.profile-certification-page-fragment25 {
  display: contents;
}
 
.profile-certification-page-text27 {
  display: inline-block;
}
 
.profile-certification-page-fragment26 {
  display: contents;
}
 
.profile-certification-page-text30 {
  display: inline-block;
}
 
.profile-certification-page-fragment27 {
  display: contents;
}
 
.profile-certification-page-text33 {
  display: inline-block;
}
 
.profile-certification-page-fragment28 {
  display: contents;
}
 
.profile-certification-page-text34 {
  display: inline-block;
}
 
.profile-certification-page-fragment29 {
  display: contents;
}
 
.profile-certification-page-text35 {
  display: inline-block;
}
 
.profile-certification-page-fragment30 {
  display: contents;
}
 
.profile-certification-page-text38 {
  display: inline-block;
}
 
.profile-certification-page-fragment31 {
  display: contents;
}
 
.profile-certification-page-text41 {
  display: inline-block;
}
 
.profile-certification-page-fragment32 {
  display: contents;
}
 
.profile-certification-page-text42 {
  display: inline-block;
}
 
.profile-certification-page-fragment33 {
  display: contents;
}
 
.profile-certification-page-text43 {
  color: #05356c;
  display: inline-block;
}
 
.profile-certification-page-fragment34 {
  display: contents;
}
 
.profile-certification-page-text46 {
  display: inline-block;
}
 
.profile-certification-page-fragment35 {
  display: contents;
}
 
.profile-certification-page-text47 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .profile-certification-page-main-container {
    width: 100%;
  }
  .profile-certification-page-certificate-container {
    width: auto;
    height: auto;
  }
  .profile-certification-page-text20 {
    color: rgb(24, 25, 28);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .profile-certification-page-text21 {
    color: #05356c;
    font-style: normal;
    font-weight: 600;
  }
  .profile-certification-page-text23 {
    color: #18191c;
  }
  .profile-certification-page-text25 {
    fill: #F10400;
    color: #F10400;
    font-style: normal;
    font-weight: 600;
  }
}
 
@media(max-width: 991px) {
  .profile-certification-page-certificate-container {
    gap: var(--dl-layout-space-unit);
    height: auto;
  }
}
 
@media(max-width: 767px) {
  .profile-certification-page-text13 {
    font-size: 14px;
    font-weight: 500;
  }
  .profile-certification-page-text14 {
    font-size: 10px;
  }
  .profile-certification-page-text15 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .profile-certification-page-text16 {
    font-size: 10px;
  }
  .profile-certification-page-text17 {
    font-size: 10px;
  }
  .profile-certification-page-text18 {
    font-size: 10px;
  }
  .profile-certification-page-certificate-container {
    height: auto;
  }
}
 
@media(max-width: 479px) {
  .profile-certification-page-main-container {
    width: 100%;
    height: auto;
  }
  .profile-certification-page-certificate-container {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    height: 760px;
    align-self: flex-start;
  }
  .profile-certification-page-text25 {
    width: auto;
    align-items: flex-start;
    justify-content: center;
  }
  .profile-certification-page-text43 {
    color: rgb(5, 53, 108);
  }
  .profile-certification-page-text44 {
    font-size: 14px;
  }
  .profile-certification-page-text46 {
    font-size: 14px;
  }
  .profile-certification-page-text47 {
    font-size: 14px;
  }
}
