<div id="signup-page" class="signup-corporate1-container" [ngClass]="rootClassName">
  <div id="signup-container" class="signup-corporate1-signup-container">
    <h2 id="heading" class="signup-corporate1-welcome-to-flashyre">
      <ng-container>
        <ng-template #defaultHeading>
          <div class="signup-corporate1-fragment19">
            <span class="signup-corporate1-text19">Welcome to Flashyre</span>
          </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="heading ? heading : defaultHeading"></ng-container>
      </ng-container>
    </h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div id="details" class="signup-corporate1-details-container">
        <div id="first-name-container" class="signup-corporate1-first-name-container">
          <span id="signup-first-name" class="signup-corporate1-first-name-text">
            <ng-container>
              <ng-template #defaultText>
                <div class="signup-corporate1-fragment14">
                  <span class="signup-corporate1-text14">First Name</span>
                </div>
              </ng-template>
              <ng-container *ngTemplateOutlet="text ? text : defaultText"></ng-container>
            </ng-container>
          </span>
          <input
            type="text"
            id="signup-first-name-input"
            formControlName="first_name"
            placeholder="Enter First Name"
            class="signup-corporate1-first-name-input input"
          />
          <div *ngIf="signupForm.get('first_name').invalid && signupForm.get('first_name').touched" class="error-text">
            <span *ngIf="signupForm.get('first_name').errors?.required">First name is required.</span>
            <span *ngIf="signupForm.get('first_name').errors?.pattern">Only letters and spaces are allowed.</span>
            <span *ngIf="signupForm.get('first_name').errors?.minlength">First name must be at least 3 characters long.</span>
            <span *ngIf="signupForm.get('first_name').errors?.maxlength">First name cannot exceed 10 characters.</span>
          </div>
        </div>
        <div id="last-name-container" class="signup-corporate1-last-name-container1">
          <span id="signup-last-name" class="signup-corporate1-last-name-text1">
            <ng-container>
              <ng-template #defaultText1>
                <div class="signup-corporate1-fragment15">
                  <span class="signup-corporate1-text15">Last Name</span>
                </div>
              </ng-template>
              <ng-container *ngTemplateOutlet="text1 ? text1 : defaultText1"></ng-container>
            </ng-container>
          </span>
          <input
            type="text"
            id="signup-last-name-input"
            formControlName="last_name"
            placeholder="Enter Last Name"
            class="signup-corporate1-last-name-input1 input"
          />
          <div *ngIf="signupForm.get('last_name').invalid && signupForm.get('last_name').touched" class="error-text">
            <span *ngIf="signupForm.get('last_name').errors?.required">Last name is required.</span>
            <span *ngIf="signupForm.get('last_name').errors?.pattern">Only letters and spaces are allowed.</span>
            <span *ngIf="signupForm.get('last_name').errors?.minlength">Last name must be at least 3 characters long.</span>
            <span *ngIf="signupForm.get('last_name').errors?.maxlength">Last name cannot exceed 10 characters.</span>
          </div>
        </div>
        <div id="company-name-container" class="signup-corporate1-last-name-container2">
          <span id="signup-company-name" class="signup-corporate1-last-name-text2">
            <ng-container>
              <ng-template #defaultText13>
                <div class="signup-corporate1-fragment12">
                  <span class="signup-corporate1-text12">Company Name</span>

                </div>
              </ng-template>
              <ng-container *ngTemplateOutlet="text13 ? text13 : defaultText13"></ng-container>
            </ng-container>
          </span>
          <input
            type="text"
            id="signup-company-name-input"
            formControlName="company_name"
            placeholder="Enter Company Name"
            class="signup-corporate1-last-name-input2 input"
          />
          <span *ngIf="signupForm.get('company_name')?.invalid && signupForm.get('company_name')?.touched" 
                class="error-message" style="color: red; font-size: 12px;">
            Company Name is required.
          </span>
        </div>
        <div id="phone-number-container" class="signup-corporate1-last-name-container3">
          <span id="signup-phone-number" class="signup-corporate1-last-name-text3">
            <ng-container>
              <ng-template #defaultText12>
                <div class="signup-corporate1-fragment11">
                  <span class="signup-corporate1-text11">Phone Number</span>
                </div>
              </ng-template>
              <ng-container *ngTemplateOutlet="text12 ? text12 : defaultText12"></ng-container>
            </ng-container>
          </span>
          <input
            type="text"
            id="signup-phone-number-input"
            formControlName="phone_number"
            placeholder="Enter Phone Number"
            class="signup-corporate1-last-name-input3 input"
            maxlength="10"
            (input)="sanitizePhoneNumber($event)"
          />
          <div *ngIf="signupForm.get('phone_number').invalid && signupForm.get('phone_number').touched" class="error-text">
            <span *ngIf="signupForm.get('phone_number').errors?.required">Phone number is required.</span>
            <span *ngIf="signupForm.get('phone_number').errors?.pattern">Phone number must be exactly 10 digits.</span>
          </div>
        <div *ngIf="signupForm.get('phone_number').errors?.phoneExists" class="error-text">
    Phone number already exists.
  </div>
        </div>
        <div id="email-container" class="signup-corporate1-email-container">
          <span id="signup-email" class="signup-corporate1-email-text">
            <ng-container>
              <ng-template #defaultText11>
                <div class="signup-corporate1-fragment16">
                  <span class="signup-corporate1-text16">Email Id</span>
                </div>
              </ng-template>
              <ng-container *ngTemplateOutlet="text11 ? text11 : defaultText11"></ng-container>
            </ng-container>
          </span>
          <input
            type="email"
            id="signup-email-input"
            formControlName="email"
            placeholder="Enter Email Id"
            class="signup-corporate1-email-input input"
          />
          <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched" class="error-text">
            <span *ngIf="signupForm.get('email').errors?.required">Email is required.</span>
            <span *ngIf="signupForm.get('email').errors?.email">Please enter a valid email.</span>
          </div>
          <div *ngIf="signupForm.get('email').errors?.emailExists" class="error-text">
    Email already exists.
  </div>
        </div>
<div id="password-container" class="signup-corporate1-password-container1">
  <div id="password" class="signup-corporate1-password1">
    <span id="signup-Password" class="signup-corporate1-password-text1">
      <ng-container *ngTemplateOutlet="defaultText111"></ng-container>
      <ng-template #defaultText111>
        <div class="signup-corporate1-fragment20">
          <span class="signup-corporate1-text20">Password</span>
        </div>
      </ng-template>
      <span
        class="signup-corporate1-show-text1 button"
        (click)="togglePasswordVisibility()"
      >
        {{ passwordType === 'password' ? 'Show' : 'Hide' }}
      </span>
    </span>
    <input
      [type]="passwordType"
      id="signup-password-input"
      formControlName="password"
      placeholder="Enter Password"
      class="signup-corporate1-password-input1 input"
    />
  </div>
  <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').dirty" class="error-text">
    <span *ngIf="signupForm.get('password').errors?.required">Password is required.</span>
    <span *ngIf="signupForm.get('password').errors?.minlength">Password must be at least 8 characters.</span>
    <span *ngIf="signupForm.get('password').errors?.maxlength">Password cannot exceed 15 characters.</span>
    <span *ngIf="signupForm.get('password').errors?.uppercase">Password must include at least one uppercase letter.</span>
    <span *ngIf="signupForm.get('password').errors?.lowercase">Password must include at least one lowercase letter.</span>
    <span *ngIf="signupForm.get('password').errors?.number">Password must include at least one number.</span>
    <span *ngIf="signupForm.get('password').errors?.specialChar">Password must include at least one special character.</span>
    <span *ngIf="signupForm.get('password').errors?.alphabet">Password must include at least one alphabet.</span>
  </div>
</div>
<div id="confirm-password-container" class="signup-corporate1-password-container2">
  <div id="password" class="signup-corporate1-password2">
    <span id="signup-confirm-password" class="signup-corporate1-password-text2">
      <ng-container *ngTemplateOutlet="defaultText1111"></ng-container>
      <ng-template #defaultText1111>
        <div class="signup-corporate1-fragment13">
          <span class="signup-corporate1-text13">Confirm Password</span>
        </div>
      </ng-template>
      <span
        class="signup-corporate1-show-text2 button"
        (click)="toggleConfirmPasswordVisibility()"
      >
        {{ confirmPasswordType === 'password' ? 'Show' : 'Hide' }}
      </span>
    </span>
    <input
      [type]="confirmPasswordType"
      id="signup-confirm-password-input"
      formControlName="confirm_password"
      placeholder="Confirm Password"
      class="signup-corporate1-password-input2 input"
    />
  </div>
  <div *ngIf="signupForm.hasError('mismatch') && signupForm.get('confirm_password').touched" class="error-text">
    Passwords do not match.
  </div>
</div>
        <div id="signup-signin-container" class="signup-corporate1-signup-and-signin-container">
          <button 
          id="signup-button" 
          type="submit" 
          [disabled]="signupForm.invalid"
          class="signup-corporate1-signup-button button">
            <span id="signup" class="signup-corporate1-signup-text">
              <ng-container>
                <ng-template #defaultButton>
                  <div class="signup-corporate1-fragment10">
                    <span class="signup-corporate1-text10">Sign Up</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="button ? button : defaultButton"></ng-container>
              </ng-container>
            </span>
          </button>
          <div *ngIf="errorMessage" class="signup-corporate1-error-signup-container">
            <span id="error-message-signup" class="signup-corporate1-error-message-signup">
              {{ errorMessage }}
            </span>
          </div>
                    <!-- Add this after the error message div -->
          <div *ngIf="successMessage" class="signup-corporate1-success-signup-container">
            <span class="signup-corporate1-success-message-signup">
              {{ successMessage }}
            </span>
          </div>
          <div id="signin-container" class="signup-corporate1-signin-container">
            <span id="already-have-an-account" class="signup-corporate1-already-have-an-account-text">
              <ng-container>
                <ng-template #defaultText6>
                  <div class="signup-corporate1-fragment22">
                    <span class="signup-corporate1-text22">Already have an account?</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text6 ? text6 : defaultText6"></ng-container>
              </ng-container>
            </span>
            <span
              routerLink="/login-corporate"
              id="signin-button"
              class="signup-corporate1-signin-text button"
            >
              <ng-container>
                <ng-template #defaultText5>
                  <div class="signup-corporate1-fragment17">
                    <span class="signup-corporate1-text17">Sign In</span>
                  </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="text5 ? text5 : defaultText5"></ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
    </form>
    <!-- Success Popup -->
    <div *ngIf="showSuccessPopup" class="popup-overlay">
      <div class="popup-content">
        <h3>Successfully signed up!</h3>
        <button (click)="closePopup()">OK</button>
      </div>
    </div>
  </div>
</div>