:host { 
  display: contents; 
}
 
.recruiter-flow-job-posted-card-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.recruiter-flow-job-posted-card-recruiter-flow-job-posted-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 812px;
  height: 112px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: #FFFFFF;
}
 
.recruiter-flow-job-posted-card-job-description-container {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 740px;
  height: 80px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-flow-job-posted-card-job-description {
  gap: 12px;
  flex: 0 0 auto;
  width: 503px;
  height: 80px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-flow-job-posted-card-company-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
 
.recruiter-flow-job-posted-card-details-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 451px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-flow-job-posted-card-job-role-experience-location-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 451px;
  height: 24px;
  display: flex;
  align-items: flex-start;
}
 
.recruiter-flow-job-posted-card-job-role-text {
  width: 197px;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.recruiter-flow-job-posted-card-experience-location-text {
  width: 246px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recruiter-flow-job-posted-card-number-of-candidates-applied-container {
  gap: 8px;
  flex: 0 0 auto;
  width: 228px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
 
.recruiter-flow-job-posted-card-container2 {
  flex: 0 0 auto;
  width: 28px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.recruiter-flow-job-posted-card-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
 
.recruiter-flow-job-posted-card-multiple-images {
  top: 0px;
  left: 1px;
  width: 24px;
  height: 24px;
  position: absolute;
  object-fit: cover;
  border-color: #FFFFFF;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
 
.recruiter-flow-job-posted-card-number-of-canadidates-applied-text {
  width: 192px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.recruiter-flow-job-posted-card-expire-in2-days-text {
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.recruiter-flow-job-posted-card-right-icon {
  width: 24px;
  height: 24px;
  display: flex;
  transform: rotate(-90deg);
  align-items: center;
  justify-content: center;
}
 
.recruiter-flow-job-posted-card-fragment1 {
  display: contents;
}
 
.recruiter-flow-job-posted-card-text1 {
  color: #474748;
  display: inline-block;
  font-size: 14px;
}
 
.recruiter-flow-job-posted-card-fragment2 {
  display: contents;
}
 
.recruiter-flow-job-posted-card-text2 {
  display: inline-block;
  font-size: 16px;
}
 
.recruiter-flow-job-posted-card-fragment3 {
  display: contents;
}
 
.recruiter-flow-job-posted-card-text3 {
  color: rgb(71, 71, 72);
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
 
.recruiter-flow-job-posted-card-fragment4 {
  display: contents;
}
 
.recruiter-flow-job-posted-card-text4 {
  color: #f10400;
  display: inline-block;
  font-size: 14px;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 991px) {
  .recruiter-flow-job-posted-card-container1 {
    width: 100%;
    justify-content: center;
  }
  .recruiter-flow-job-posted-card-recruiter-flow-job-posted-container {
    gap: 0;
    width: 100%;
    position: relative;
    justify-content: space-between;
  }
  .recruiter-flow-job-posted-card-job-description-container {
    gap: 6px;
    width: 722px;
  }
  .recruiter-flow-job-posted-card-job-description {
    gap: 10px;
  }
  .recruiter-flow-job-posted-card-company-image {
    width: 36px;
    height: 36px;
  }
  .recruiter-flow-job-posted-card-details-container {
    gap: 2px;
  }
  .recruiter-flow-job-posted-card-experience-location-text {
    display: flex;
    justify-content: flex-start;
  }
  .recruiter-flow-job-posted-card-number-of-canadidates-applied-text {
    justify-content: flex-start;
  }
  .recruiter-flow-job-posted-card-right-icon {
    top: -Infinitypx;
    right: 0px;
    position: absolute;
    margin-right: 10px;
  }
  .recruiter-flow-job-posted-card-text1 {
    color: rgb(71, 71, 72);
    font-size: 12px;
  }
  .recruiter-flow-job-posted-card-text2 {
    font-size: 14px;
  }
  .recruiter-flow-job-posted-card-text3 {
    color: rgb(71, 71, 72);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
  }
  .recruiter-flow-job-posted-card-text4 {
    color: rgb(241, 4, 0);
    font-size: 12px;
  }
  .recruiter-flow-job-posted-cardroot-class-name {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .recruiter-flow-job-posted-card-job-description-container {
    width: 489px;
  }
}
 
@media(max-width: 479px) {
  .recruiter-flow-job-posted-card-recruiter-flow-job-posted-container {
    width: 95%;
    height: auto;
  }
  .recruiter-flow-job-posted-card-job-description-container {
    width: 386px;
    height: auto;
  }
  .recruiter-flow-job-posted-card-job-description {
    width: 428px;
    height: auto;
  }
  .recruiter-flow-job-posted-card-details-container {
    gap: 4px;
    width: 401px;
    height: 103px;
  }
  .recruiter-flow-job-posted-card-job-role-experience-location-container {
    gap: 2px;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
