:host { 
  display: contents; 
}
 
.progress-bar-step-5-container1 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.progress-bar-step-5-container2 {
  flex: 0 0 auto;
  width: 728px;
  height: 100px;
  display: flex;
  align-items: center;
}
 
.progress-bar-step-5-container3 {
  width: 720px;
  height: 100px;
}
 
.progress-bar-step-5-container4 {
  display: contents;
}

.progress-bar-step-5root-class-name1 {
  align-self: center;
}
 
@media(max-width: 1200px) {
  .progress-bar-step-5root-class-name1 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .progress-bar-step-5root-class-name1 {
    width: 90%;
  }
}
 
.progress-bar-step-5root-class-name {
  width: 860px;
  height: 100px;
  align-self: center;
}
 
@media(max-width: 479px) {
  .progress-bar-step-5-container1 {
    width: 100%;
    height: auto;
  }
  .progress-bar-step-5-container2 {
    width: 100%;
    justify-content: center;
  }
  .progress-bar-step-5-container3 {
    width: 90%;
    height: 100p;
  }
}
