<div id="profile-education-page" class="profile-education-page-container">
  <div id="main-container" class="profile-education-page-main-container">
    <navbar-for-candidate-view1
      rootClassName="navbar-for-candidate-view1root-class-name1"
    >
      <ng-template #text1>
        <div class="profile-education-page-fragment10">
          <span class="profile-education-page-text10">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="profile-education-page-fragment11">
          <span class="profile-education-page-text11">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="profile-education-page-fragment12">
          <span class="profile-education-page-text12">Settings</span>
        </div>
      </ng-template>
      <ng-template #text4>
        <div class="profile-education-page-fragment13">
          <span class="profile-education-page-text13">Kathryn Murphy</span>
        </div>
      </ng-template>
      <ng-template #text5>
        <div class="profile-education-page-fragment14">
          <span class="profile-education-page-text14">
            ✅ 90% Profile Completion
          </span>
        </div>
      </ng-template>
      <ng-template #text6>
        <div class="profile-education-page-fragment15">
          <span class="profile-education-page-text15">
            View &amp; edit profile
          </span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="profile-education-page-fragment16">
          <span class="profile-education-page-text16">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="profile-education-page-fragment17">
          <span class="profile-education-page-text17">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="profile-education-page-fragment18">
          <span class="profile-education-page-text18">Logout</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="profile-education-page-fragment19">
          <span class="profile-education-page-text19">Logout</span>
        </div>
      </ng-template>
    </navbar-for-candidate-view1>
    <div
      id="education-container"
      class="profile-education-page-education-container"
    >
      <progress-bar-step3
        rootClassName="progress-bar-step3root-class-name2"
      ></progress-bar-step3>
      <app-component2>
        <ng-template #courseText>
          <div class="profile-education-page-fragment20">
            <span
              id="education-course"
              class="profile-education-page-course-text"
            >
              <span>Department / Field of Study</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #selectText>
          <div class="profile-education-page-fragment21">
            <span class="profile-education-page-text22">Select</span>
          </div>
        </ng-template>
        <ng-template #selectText1>
          <div class="profile-education-page-fragment22">
            <span class="profile-education-page-text23">Select</span>
          </div>
        </ng-template>
        <ng-template #selectText2>
          <div class="profile-education-page-fragment23">
            <span class="profile-education-page-text24">Select</span>
          </div>
        </ng-template>
        <ng-template #educationText>
          <div class="profile-education-page-fragment24">
            <span class="profile-education-page-text25">Education</span>
          </div>
        </ng-template>
        <ng-template #educationText1>
          <div class="profile-education-page-fragment25">
            <span class="profile-education-page-text26">
              Highest Qualification
            </span>
          </div>
        </ng-template>
        <ng-template #selectYearText>
          <div class="profile-education-page-fragment26">
            <span class="profile-education-page-text27">Enteri you Skills</span>
          </div>
        </ng-template>
        <ng-template #totalExperienceText>
          <div class="profile-education-page-fragment27">
            <span class="profile-education-page-text28">Skills</span>
          </div>
        </ng-template>
        <ng-template #universityInstituteText>
          <div class="profile-education-page-fragment28">
            <span
              id="university-institute-text"
              class="profile-education-page-university-institute-text"
            >
              <span>University/Institute</span>
              <br />
            </span>
          </div>
        </ng-template>
      </app-component2>
      <profile-creation-navigation2
        rootClassName="profile-creation-navigation2root-class-name5"
      >
        <ng-template #text>
          <div class="profile-education-page-fragment29">
            <span class="profile-education-page-text31">
              <span class="profile-education-page-text32">&lt;- Previous</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #button>
          <div class="profile-education-page-fragment30">
            <span class="profile-education-page-text34">Skip</span>
          </div>
        </ng-template>
        <ng-template #button1>
          <div class="profile-education-page-fragment31">
            <span class="profile-education-page-text35">
              Save &amp; Next -&gt;
            </span>
          </div>
        </ng-template>
      </profile-creation-navigation2>
    </div>
  </div>
</div>