:host { 
  display: contents; 
}
 
.assessment-taken-page-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.assessment-taken-page-assessment-taken-main-container {
  gap: 24px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24px;
  justify-content: flex-start;
}
 
.assessment-taken-page-recruiter-navbar-container {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  justify-content: center;
}
 
.assessment-taken-page-navbar-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.assessment-taken-page-navbar {
  width: 100%;
  display: flex;
  position: relative;
}
 
.assessment-taken-page-navbar-interactive {
  width: 1440px;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
  background-color: #FFFFFF;
}
 
.assessment-taken-page-flashyre-image {
  width: 200px;
  object-fit: cover;
}
 
.assessment-taken-page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.assessment-taken-page-links {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 385px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-end;
}
 
.assessment-taken-page-dashboard-link1 {
  fill: #05356C;
  color: #05356C;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page-dashboard-link1:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.assessment-taken-page-dashboard-link1:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.assessment-taken-page-dashboard-link2 {
  fill: #05356C;
  color: #05356C;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page-dashboard-link2:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.assessment-taken-page-dashboard-link2:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.assessment-taken-page-dashboard-link3 {
  fill: #05356C;
  color: #05356C;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page-dashboard-link3:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.assessment-taken-page-dashboard-link3:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.assessment-taken-page-jobs-for-you-link {
  color: rgb(5, 53, 108);
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
 
.assessment-taken-page-jobs-for-you-link:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.assessment-taken-page-jobs-for-you-link:active {
  transform: scale(1.05);
  transition: all 0.7s;
  text-decoration-line: underline;
}
 
.assessment-taken-page-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.assessment-taken-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.assessment-taken-page-user-image1 {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.assessment-taken-page-dropdown-arrow {
  transition: 0.3s;
}
 
.assessment-taken-page-drop-down-icon {
  width: 32px;
  height: 32px;
  display: flex;
  transition: 0.3s;
  justify-content: center;
}
 
.assessment-taken-page-drop-down-icon:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.assessment-taken-page-drop-down-icon:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.assessment-taken-page-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
 
.assessment-taken-page-profile1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.assessment-taken-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.assessment-taken-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.assessment-taken-page-profile2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.assessment-taken-page-preference1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.assessment-taken-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.assessment-taken-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.assessment-taken-page-preference2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.assessment-taken-page-settings1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.assessment-taken-page-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.assessment-taken-page-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.assessment-taken-page-settings2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.assessment-taken-page-logout1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.assessment-taken-page-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.assessment-taken-page-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.assessment-taken-page-logout2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.assessment-taken-page-burger-menu {
  display: none;
}
 
.assessment-taken-page-burger-icon {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.assessment-taken-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.assessment-taken-page-popup-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-close-icon {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.assessment-taken-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.assessment-taken-page-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.assessment-taken-page-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page-user-image2 {
  width: 200px;
  object-fit: cover;
}
 
.assessment-taken-page-container13 {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 390px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-fragment10 {
  display: contents;
}
 
.assessment-taken-page-text10 {
  display: inline-block;
}
 
.assessment-taken-page-fragment11 {
  display: contents;
}
 
.assessment-taken-page-text11 {
  display: inline-block;
}
 
.assessment-taken-page-fragment12 {
  display: contents;
}
 
.assessment-taken-page-text12 {
  display: inline-block;
}
 
.assessment-taken-page-fragment13 {
  display: contents;
}
 
.assessment-taken-page-text16 {
  display: inline-block;
}
 
.assessment-taken-page-fragment14 {
  display: contents;
}
 
.assessment-taken-page-text17 {
  display: inline-block;
}
 
.assessment-taken-page-details-container1 {
  gap: 3px;
  flex: 0 0 auto;
  width: 152px;
  height: 102px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-recruiter-name {
  fill: #18191C;
  color: #18191C;
  width: 128px;
  height: 24px;
  display: flex;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}
 
.assessment-taken-page-container14 {
  gap: 4px;
  flex: 0 0 auto;
  width: 76px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
 
.assessment-taken-page-company-image {
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  object-fit: cover;
  align-items: center;
}
 
.assessment-taken-page-company-name {
  width: 56px;
  height: 24px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 700;
  justify-content: flex-start;
}
 
.assessment-taken-page-job-role-of-recruiter {
  fill: #18191C;
  color: #18191C;
  width: 152px;
  height: 48px;
  display: flex;
  font-size: 14px;
  align-self: center;
  text-align: center;
  align-items: center;
  line-height: 20px;
  justify-content: center;
}
 
.assessment-taken-page-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-dashboard-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page-jobs-for-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page-jobs-for-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page-jobs-for-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page-container16 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-preference-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page-settings-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page-logout-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.assessment-taken-page-container17 {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 390px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-fragment15 {
  display: contents;
}
 
.assessment-taken-page-text21 {
  display: inline-block;
}
 
.assessment-taken-page-fragment16 {
  display: contents;
}
 
.assessment-taken-page-text22 {
  display: inline-block;
}
 
.assessment-taken-page-fragment17 {
  display: contents;
}
 
.assessment-taken-page-text23 {
  display: inline-block;
}
 
.assessment-taken-page-fragment18 {
  display: contents;
}
 
.assessment-taken-page-text27 {
  display: inline-block;
}
 
.assessment-taken-page-fragment19 {
  display: contents;
}
 
.assessment-taken-page-text28 {
  display: inline-block;
}
 
.assessment-taken-page-assessments-taken-container1 {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  z-index: 999;
  margin-top: 100px;
  align-items: center;
  border-color: #D9D9D9;
  border-width: 1px;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.assessment-taken-page-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.assessment-taken-page-total-assessments-taken-text {
  width: auto;
  height: 32px;
  display: flex;
  font-size: 24px;
  align-self: flex-start;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page-job-title-container {
  flex: 0 0 auto;
  width: 295px;
  height: 36px;
  display: flex;
  min-width: 200px;
  align-self: flex-end;
  align-items: center;
  border-color: #A7A7A7;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
}
 
.assessment-taken-page-job-title-keyword-text {
  fill: #747474;
  color: rgb(116, 116, 116);
  width: 156px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.assessment-taken-page-search-icon-container {
  flex: 0 0 auto;
  width: 24px;
  height: auto;
  display: flex;
  padding: 0px;
  align-items: flex-start;
}
 
.assessment-taken-page-search-icon {
  fill: #323232;
  color: #323232;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.assessment-taken-page-assessments-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: 828px;
  display: inline-block;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-assessments-taken-container2 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-height: 400px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.assessment-taken-page-container19 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-height: 370px;
  overflow-x: none;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
 
.assessment-taken-page-first-assessment-container {
  flex: 0 0 auto;
  width: 100%;
  height: 102px;
  display: flex;
  padding: 16px;
  align-items: center;
  border-color: #D9D9D9;
  border-width: 1px;
  justify-content: space-between;
}
 
.assessment-taken-page-assessment-details-container {
  flex: 0 0 auto;
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
 
.assessment-taken-page-assessment-details {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-assessment-image1 {
  width: 100px;
  height: 66.21px;
  object-fit: cover;
  border-radius: 8px;
}
 
.assessment-taken-page-details {
  gap: 4px;
  flex: 0 0 auto;
  width: 323px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-heading-text1 {
  width: 100%;
  height: 24px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page-assessment-date-id-container {
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-details-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.assessment-taken-page-assessment-by-container1 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-assessment-company-logo {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
 
.assessment-taken-page-assessment-by-text1 {
  color: #474748;
  height: 18px;
  display: flex;
  font-size: 12px;
  font-style: normal;
  align-items: center;
  font-weight: 500;
}
 
.assessment-taken-page-score-container {
  gap: 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-score-board-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 240px;
  height: 43px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
 
.assessment-taken-page-score-board-text {
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-score-code-container {
  flex: 0 0 auto;
  width: 100%;
  height: 15px;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page-container20 {
  width: 226px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-container21 {
  display: contents;
}
 
.assessment-taken-page-attempts-remaining-container {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  height: 43px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
 
.assessment-taken-page-attempts-remaining-text {
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-right-icon1 {
  width: 24px;
  height: 24px;
}
 
.assessment-taken-page-see-more-text1 {
  color: rgb(5, 53, 108);
  height: 24px;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page-see-more-text1:hover {
  cursor: pointer;
  transform: scale(0.90);
}
 
.assessment-taken-page-see-more-text1:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.assessment-taken-page-assessments-available-container {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-height: 300px;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
 
.assessment-taken-page-assessments-available-text {
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 24px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  justify-content: flex-start;
}
 
.assessment-taken-page-container22 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-height: 200px;
  overflow-x: none;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
 
.assessment-taken-page-available-assessmnets-card-container {
  flex: 0 0 auto;
  width: 100%;
  height: 102px;
  display: flex;
  padding: 16px;
  align-items: center;
  border-color: #D9D9D9;
  border-width: 1px;
  justify-content: space-between;
}
 
.assessment-taken-page-card-details-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page-details-container2 {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-assessment-image2 {
  width: 100px;
  height: 66.21px;
  object-fit: cover;
  border-radius: 8px;
}
 
.assessment-taken-page-detail-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 323px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page-heading-text2 {
  width: 100%;
  height: 24px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page-date-id-container {
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-date-id-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.assessment-taken-page-assessment-by-container2 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-assessment-image3 {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
 
.assessment-taken-page-assessment-by-text2 {
  color: #474748;
  height: 18px;
  display: flex;
  font-size: 12px;
  font-style: normal;
  align-items: center;
  font-weight: 500;
}
 
.assessment-taken-page-remaining-attempts-container {
  gap: 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-remaining-attempts {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  height: 43px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
 
.assessment-taken-page-text29 {
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page-right-icon2 {
  width: 24px;
  height: 24px;
}
 
.assessment-taken-page-num-text2 {
  color: #05356c;
  height: 24px;
  display: flex;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page-num-text2:hover {
  cursor: pointer;
  transform: scale(0.90);
}
 
.assessment-taken-page-num-text2:active {
  transform: scale(1.05);
  transition: all 0.7s;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  background-color: transparent; /* Transparent background */
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between the bar and score */
}

.progress {
  position: relative;
  width: 200px; /* Width of the progress bar */
  height: 6px; /* Height of the progress bar */
  background-color: #ccc; /* Background color for unfilled portion */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Clip the progress bar inside the container */
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; /* Initial width is 0% */
  background-color: #0bf; /* Default color for filled portion */
  transition: width 0.3s ease; /* Smooth width transition */
}

.score {
  font-family: 'Inter', sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  font-weight: 500; /* Font weight */
  color: #474748; /* Default text color */
}

.no-assessments-message {
  font-size: 1.2em;
  color: #666;
  padding: 20px;
  text-align: center;
}

 
@media(max-width: 1200px) {
  .assessment-taken-page-navbar-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .assessment-taken-page-navbar-interactive {
    width: 1199px;
    position: relative;
    justify-content: center;
  }
  .assessment-taken-page-mobile-menu {
    justify-content: space-between;
  }
}
 
@media(max-width: 991px) {
  .assessment-taken-page-assessment-taken-main-container {
    width: 100%;
  }
  .assessment-taken-page-recruiter-navbar-container {
    z-index: 1000;
    justify-content: center;
  }
  .assessment-taken-page-navbar-container {
    border-width: 0px;
  }
  .assessment-taken-page-navbar-interactive {
    width: 990px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .assessment-taken-page-links {
    gap: var(--dl-layout-space-halfunit);
  }
  .assessment-taken-page-dashboard-link1 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page-dashboard-link2 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page-dashboard-link3 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page-jobs-for-you-link {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page-user-image1 {
    width: 35px;
    height: 35px;
  }
  .assessment-taken-page-drop-down-icon {
    width: 28px;
    height: 28px;
  }
  .assessment-taken-page-container13 {
    width: auto;
  }
  .assessment-taken-page-details-container1 {
    gap: 2px;
  }
  .assessment-taken-page-recruiter-name {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  .assessment-taken-page-container14 {
    width: auto;
    justify-content: center;
  }
  .assessment-taken-page-company-image {
    width: 14px;
    height: 14px;
  }
  .assessment-taken-page-company-name {
    width: auto;
    font-size: 14px;
  }
  .assessment-taken-page-job-role-of-recruiter {
    width: auto;
    font-size: 12px;
  }
  .assessment-taken-page-container17 {
    width: auto;
  }
  .assessment-taken-page-assessments-taken-container1 {
    width: 100%;
    padding: 24px;
    margin-top: 80px;
  }
  .assessment-taken-page-job-title-container {
    width: 348px;
    height: 32px;
  }
  .assessment-taken-page-job-title-keyword-text {
    width: auto;
    height: auto;
    font-size: 14px;
  }
  .assessment-taken-page-search-icon {
    width: 22px;
    height: 22px;
  }
  .assessment-taken-page-assessments-container {
    width: 100%;
  }
  .assessment-taken-page-first-assessment-container {
    width: 100%;
  }
  .assessment-taken-page-assessment-details {
    width: 400px;
  }
  .assessment-taken-page-assessment-image1 {
    width: 80px;
    height: 56.12px;
  }
  .assessment-taken-page-assessments-available-container {
    width: 100%;
  }
  .assessment-taken-page-assessments-available-text {
    font-size: 22px;
  }
  .assessment-taken-page-available-assessmnets-card-container {
    width: 100%;
  }
  .assessment-taken-page-details-container2 {
    width: 400px;
  }
  .assessment-taken-page-assessment-image2 {
    width: 80px;
    height: 56.12px;
  }
}
 
@media(max-width: 767px) {
  .assessment-taken-page-recruiter-navbar-container {
    background-color: transparent;
  }
  .assessment-taken-page-navbar-container {
    width: 95%;
  }
  .assessment-taken-page-navbar-interactive {
    width: 766px;
    height: 72px;
    align-self: flex-start;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    justify-content: space-between;
    background-color: #FFFFFF;
  }
  .assessment-taken-page-flashyre-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .assessment-taken-page-desktop-menu {
    display: none;
  }
  .assessment-taken-page-dropdown-toggle1 {
    display: none;
  }
  .assessment-taken-page-dropdown-list {
    display: none;
  }
  .assessment-taken-page-settings2 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
  .assessment-taken-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .assessment-taken-page-burger-icon {
    width: 30px;
    height: 30px;
  }
  .assessment-taken-page-mobile-menu {
    right: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    max-height: auto;
    visibility: hidden;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius4);
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: flex-end;
    background-color: rgba(190, 190, 190, 0.06);
  }
  .assessment-taken-page-popup-container {
    gap: var(--dl-layout-space-halfunit);
    width: 293px;
    height: 845px;
    height: 50vh;
    opacity: 1;
    padding: var(--dl-layout-space-unit);
    background-color: #FFFFFF;
  }
  .assessment-taken-page-close-icon {
    height: 100%;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .assessment-taken-page-icon12 {
    width: 24px;
    height: 24px;
  }
  .assessment-taken-page-container11 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    height: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-unit);
    border-radius: var(--dl-layout-radius-radius4);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-halfunit);
    background-color: #FFFFFF;
  }
  .assessment-taken-page-container12 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .assessment-taken-page-user-image2 {
    width: 60px;
    height: 60px;
    border-radius: var(--dl-layout-radius-round);
  }
  .assessment-taken-page-container13 {
    display: none;
  }
  .assessment-taken-page-text12 {
    color: rgb(24, 25, 28);
  }
  .assessment-taken-page-details-container1 {
    gap: 0px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .assessment-taken-page-recruiter-name {
    font-size: 12px;
  }
  .assessment-taken-page-company-image {
    width: 12px;
    height: 12px;
  }
  .assessment-taken-page-company-name {
    font-size: 12px;
  }
  .assessment-taken-page-job-role-of-recruiter {
    gap: 4px;
    fill: #18191C;
    color: #18191C;
    width: auto;
    height: auto;
    display: flex;
    font-size: 10px;
    align-self: center;
    text-align: center;
    align-items: center;
    line-height: 20px;
    justify-content: center;
  }
  .assessment-taken-page-container15 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    height: 149px;
    border-width: 0px;
  }
  .assessment-taken-page-dashboard-container {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .assessment-taken-page-dashboard-icon {
    width: 20px;
    height: 20px;
  }
  .assessment-taken-page-dashboard-text {
    font-size: 12px;
  }
  .assessment-taken-page-jobs-for-container1 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .assessment-taken-page-icon15 {
    width: 20px;
    height: 20px;
  }
  .assessment-taken-page-jobs-for-you-text1 {
    font-size: 12px;
  }
  .assessment-taken-page-jobs-for-container2 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .assessment-taken-page-icon17 {
    width: 20px;
    height: 20px;
  }
  .assessment-taken-page-jobs-for-you-text2 {
    font-size: 12px;
  }
  .assessment-taken-page-jobs-for-container3 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .assessment-taken-page-briefcase-icon {
    width: 20px;
    height: 20px;
  }
  .assessment-taken-page-jobs-for-you-text3 {
    font-size: 12px;
  }
  .assessment-taken-page-container16 {
    gap: 2px;
    width: 50%;
    display: flex;
    align-self: center;
    padding-left: var(--dl-layout-space-halfunit);
    border-radius: 4px;
    padding-right: var(--dl-layout-space-halfunit);
  }
  .assessment-taken-page-preference-container {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
  }
  .assessment-taken-page-preference-icon {
    width: 16px;
    height: 16px;
  }
  .assessment-taken-page-preference-text {
    font-size: 10px;
  }
  .assessment-taken-page-settings-container {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
  }
  .assessment-taken-page-settings-icon {
    width: 16px;
    height: 16px;
  }
  .assessment-taken-page-settings-text {
    font-size: 10px;
  }
  .assessment-taken-page-logout-container {
    gap: var(--dl-layout-space-unit);
    width: 123px;
    padding: 0px;
    align-items: center;
    border-width: 0px;
    background-color: #FFFFFF;
  }
  .assessment-taken-page-logout-icon {
    width: 16px;
    height: 16px;
  }
  .assessment-taken-page-logout-text {
    font-size: 10px;
  }
  .assessment-taken-page-container17 {
    display: none;
  }
  .assessment-taken-page-text23 {
    color: rgb(24, 25, 28);
  }
  .assessment-taken-page-assessments-taken-container1 {
    width: 100%;
    padding: 12px;
  }
  .assessment-taken-page-total-assessments-taken-text {
    font-size: 20px;
  }
  .assessment-taken-page-job-title-container {
    width: auto;
    height: 28px;
    align-items: flex-start;
    padding-left: 4px;
    justify-content: space-between;
  }
  .assessment-taken-page-job-title-keyword-text {
    width: auto;
    font-size: 10px;
    align-items: center;
  }
  .assessment-taken-page-search-icon-container {
    width: 20px;
    height: 20px;
    align-self: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .assessment-taken-page-search-icon {
    width: 16px;
    height: 16px;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .assessment-taken-page-first-assessment-container {
    height: auto;
    padding: 8px;
  }
  .assessment-taken-page-assessment-details {
    gap: 8px;
    width: auto;
  }
  .assessment-taken-page-assessment-image1 {
    width: 60px;
    height: 40px;
  }
  .assessment-taken-page-details {
    width: auto;
  }
  .assessment-taken-page-heading-text1 {
    width: auto;
    height: auto;
    font-size: 14px;
  }
  .assessment-taken-page-assessment-date-id-container {
    width: auto;
    height: auto;
  }
  .assessment-taken-page-details-text {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }
  .assessment-taken-page-assessment-by-container1 {
    width: auto;
  }
  .assessment-taken-page-assessment-by-text1 {
    height: auto;
  }
  .assessment-taken-page-score-board-container {
    width: 139px;
  }
  .assessment-taken-page-attempts-remaining-text {
    height: auto;
  }
  .assessment-taken-page-right-icon1 {
    width: 20px;
    height: 20px;
  }
  .assessment-taken-page-assessments-available-text {
    font-size: 20px;
  }
  .assessment-taken-page-available-assessmnets-card-container {
    height: auto;
    padding: 8px;
  }
  .assessment-taken-page-details-container2 {
    gap: 8px;
    width: auto;
  }
  .assessment-taken-page-assessment-image2 {
    width: 60px;
    height: 40px;
  }
  .assessment-taken-page-detail-container {
    width: auto;
  }
  .assessment-taken-page-heading-text2 {
    width: auto;
    height: auto;
    font-size: 14px;
  }
  .assessment-taken-page-date-id-container {
    width: auto;
    height: auto;
  }
  .assessment-taken-page-date-id-text {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }
  .assessment-taken-page-assessment-by-container2 {
    width: auto;
  }
  .assessment-taken-page-assessment-by-text2 {
    height: auto;
  }
  .assessment-taken-page-text29 {
    height: auto;
  }
  .assessment-taken-page-right-icon2 {
    width: 20px;
    height: 20px;
  }
}
 
@media(max-width: 479px) {
  .assessment-taken-page-assessment-taken-main-container {
    width: 478px;
  }
  .assessment-taken-page-navbar-container {
    width: 100%;
  }
  .assessment-taken-page-navbar {
    width: 100%;
  }
  .assessment-taken-page-navbar-interactive {
    width: 100%;
    padding-top: var(--dl-layout-space-unit);
    margin-right: 0px;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .assessment-taken-page-popup-container {
    background-color: #FFFFFF;
  }
  .assessment-taken-page-container15 {
    height: 259px;
  }
  .assessment-taken-page-logout-container {
    border-width: 0px;
    background-color: #FFFFFF;
  }
  .assessment-taken-page-assessments-taken-container1 {
    width: 100%;
  }
  .assessment-taken-page-job-title-container {
    gap: 0;
    width: auto;
    height: 30px;
    padding-left: 0px;
  }
  .assessment-taken-page-first-assessment-container {
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .assessment-taken-page-assessment-details-container {
    width: 80%;
  }
  .assessment-taken-page-assessment-details {
    gap: 24px;
    width: 100%;
    justify-content: flex-start;
  }
  .assessment-taken-page-score-container {
    width: auto;
    position: relative;
    justify-content: space-between;
  }
  .assessment-taken-page-right-icon1 {
    top: -36px;
    right: -124px;
    position: absolute;
  }
  .assessment-taken-page-available-assessmnets-card-container {
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .assessment-taken-page-card-details-container {
    width: 80%;
  }
  .assessment-taken-page-details-container2 {
    gap: 24px;
    width: 100%;
    justify-content: flex-start;
  }
  .assessment-taken-page-remaining-attempts-container {
    width: 80%;
    position: relative;
    justify-content: space-between;
  }
  .assessment-taken-page-right-icon2 {
    top: -34px;
    right: -76px;
    position: absolute;
  }
}