<div class="assessment-taken-page-container10">
  <div
    id="assessment-taken-main-container"
    class="assessment-taken-page-assessment-taken-main-container"
  > 
    <header
      id="navbar-candidate-view-container"
      class="assessment-taken-page-recruiter-navbar-container"
    >
      <div
        id="navbar-candidate01-view-container"
        class="assessment-taken-page-navbar-container"
      >
        <div id="navbar" class="assessment-taken-page-navbar">
          <header
            data-thq="thq-navbar"
            class="assessment-taken-page-navbar-interactive"
          >
            <img
              id="flashyre-logo"
              alt="image"
              src="/assets/main-logo/logo%20-%20flashyre(1500px)-200h.png"
              class="assessment-taken-page-flashyre-image"
              [routerLink]="['/candidate-home']"
            />
            <div
              data-thq="thq-navbar-nav"
              class="assessment-taken-page-desktop-menu"
            >
              <nav
                id="desktop-links-container"
                class="assessment-taken-page-links"
              >
                <a
                  [routerLink]="['/assessment-taken-page']"
                  id="recruiter-dashboard-link"
                  class="assessment-taken-page-dashboard-link1 thq-body-small button"
                >
                  Dashboard
                </a>
                <a
                [routerLink]="['/candidate-assessment']"
                  id="recruiter-dashboard-link"
                  class="assessment-taken-page-dashboard-link2 thq-body-small button"
                >
                  Upskill
                </a>
                <a
                [routerLink]="['/candidate-assessment']"
                  id="recruiter-dashboard-link"
                  class="assessment-taken-page-dashboard-link3 thq-body-small button"
                >
                  Assessment
                </a>
                <a
                [routerLink]="['/candidate-home']"
                  id="recruiter-jobs-posted-link"
                  rel="noreferrer noopener"
                  class="assessment-taken-page-jobs-for-you-link thq-body-small button"
                >
                  Jobs for you
                </a>
              </nav>
            </div>
            <div
              data-thq="thq-dropdown"
              class="assessment-taken-page-thq-dropdown list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="assessment-taken-page-dropdown-toggle1"
              >
                <img
                  id="recruiter-profile-picture"
                  alt="https://s3-alpha-sig.figma.com/img/b74a/bea4/ebc9cfc1a53c3f5e2e37843d60bf6944?Expires=1735516800&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=UtDDP8Rm~420kFe31N8K6pTrPW-xtuqVOImSKApZE7ywdUrTITMSOZ5YVZetsjvZG3k1b1D~td9StRjiaFaGCcKEVBhGFGUHmAwrtXb18YIkOHegCnmo7cBAz3IG2ww4B9DjG9nOaniCMSDG6uKAJpelvB2woG54Yj6dLQLjmRZK8wSIUOr1OJ17LOYjMQgP~QCmOL0gu8oXwIstaAQXvKjI7IGAfGbN8cjVs9JCBD7MEXCOmKgqHXu4Jn-XavYyVpMBTJLhLwkw4OeORgEeBzdYIUtAs3ClpYTmJ7VI0aDxw6cXBL4WobVlcuzTKqr6XJSeU5fYc8efbLynD~v-7g__"
                  src="https://s3-alpha-sig.figma.com/img/b74a/bea4/ebc9cfc1a53c3f5e2e37843d60bf6944?Expires=1735516800&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=UtDDP8Rm~420kFe31N8K6pTrPW-xtuqVOImSKApZE7ywdUrTITMSOZ5YVZetsjvZG3k1b1D~td9StRjiaFaGCcKEVBhGFGUHmAwrtXb18YIkOHegCnmo7cBAz3IG2ww4B9DjG9nOaniCMSDG6uKAJpelvB2woG54Yj6dLQLjmRZK8wSIUOr1OJ17LOYjMQgP~QCmOL0gu8oXwIstaAQXvKjI7IGAfGbN8cjVs9JCBD7MEXCOmKgqHXu4Jn-XavYyVpMBTJLhLwkw4OeORgEeBzdYIUtAs3ClpYTmJ7VI0aDxw6cXBL4WobVlcuzTKqr6XJSeU5fYc8efbLynD~v-7g__"
                  class="assessment-taken-page-user-image1"
                />
                <div
                  data-thq="thq-dropdown-arrow"
                  class="assessment-taken-page-dropdown-arrow"
                >
                  <svg
                    id="Dropdown"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    class="assessment-taken-page-drop-down-icon"
                  >
                    <path
                      d="m16 28l-7-7l1.4-1.4l5.6 5.6l5.6-5.6L23 21z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <ul
                data-thq="thq-dropdown-list"
                class="assessment-taken-page-dropdown-list"
              >
                <li
                  data-thq="thq-dropdown"
                  class="assessment-taken-page-profile1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="assessment-taken-page-dropdown-toggle2"
                  >
                    <span
                      id="Recruiter-profile-Button"
                      class="assessment-taken-page-profile2"
                    >
                      Profile
                    </span>
                  </div>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="assessment-taken-page-preference1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="assessment-taken-page-dropdown-toggle3"
                  >
                    <span
                      id="Recruiter-preference-button"
                      class="assessment-taken-page-preference2"
                    >
                      Preference
                    </span>
                  </div>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="assessment-taken-page-settings1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="assessment-taken-page-dropdown-toggle4"
                  >
                    <span
                      id="Recruiter-settings-Button"
                      class="assessment-taken-page-settings2"
                    >
                      Settings
                    </span>
                  </div>
                </li>
                <li
                  data-thq="thq-dropdown"
                  class="assessment-taken-page-logout1 list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="assessment-taken-page-dropdown-toggle5"
                  >
                    <span
                      id="recruiter-logout-Button"
                      class="assessment-taken-page-logout2"
                      (click)="onLogoutClick()"
                    >
                      Logout
                    </span>
                  </div>
                </li>
              </ul>
            </div>
            <div
              data-thq="thq-burger-menu"
              class="assessment-taken-page-burger-menu"
            >
              <svg
                id="hamburger-icon"
                viewBox="0 0 1024 1024"
                class="assessment-taken-page-burger-icon"
              >
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
            </div>
            <div
              data-thq="thq-mobile-menu"
              class="assessment-taken-page-mobile-menu"
            >
              <div class="assessment-taken-page-popup-container">
                <div class="assessment-taken-page-close-icon">
                  <div
                    data-thq="thq-close-menu"
                    class="assessment-taken-page-close-menu"
                  >
                    <svg
                      viewBox="0 0 1024 1024"
                      class="assessment-taken-page-icon12"
                    >
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="assessment-taken-page-container11">
                  <div class="assessment-taken-page-container12">
                    <img
                      id="Candidate-Profile-Picture"
                      alt="image"
                      src="https://s3-alpha-sig.figma.com/img/7583/57be/ae9594f1160471db992db1cf36ca3f46?Expires=1738540800&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=JE7txqF-B6mlyS6vVm8jDQNtPmNVIGVkOwGQawWSQEp6~GRMYRWAujE~YfsPMSJxrYRZ8aQLddL-FDlDZ81lzmRF~Ne94jCeoFq-yaK6oGmYbn-fajTwG672CtQraNnyKi8xBDKSzTynf2LH824kvvVOz~wnWqsPrNvZhjcbGoL1HOvN2J3CcCPFr54hAh~kpQWX0U3VAtHwDCZiIVxMdxYlQdAFGXUL7y36B4Ce7P91cvdiAO~iwKAT63Faez7KXBjp~IIB1J~UZLE8S3cMQJcIiD5M-mnL9IwJxqFst5lgJGikKxP1oa8MqkBlGx3Yg3MQkRmhYnIskawUWWFVcA__"
                      class="assessment-taken-page-user-image2"
                    />
                    <div class="assessment-taken-page-container13">
                      <recruiter-profile
                        rootClassName="recruiter-profileroot-class-name33"
                      >
                        <ng-template #text>
                          <div class="assessment-taken-page-fragment10">
                            <span class="assessment-taken-page-text10">
                              Leslie Alexander
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text1>
                          <div class="assessment-taken-page-fragment11">
                            <span class="assessment-taken-page-text11">
                              Google
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text3>
                          <div class="assessment-taken-page-fragment12">
                            <span class="assessment-taken-page-text12">
                              <span>Software Development</span>
                              <br />
                              <span>Mountain View, CA</span>
                            </span>
                          </div>
                        </ng-template>
                      </recruiter-profile>
                      <recruiter-job-posted1
                        rootClassName="recruiter-job-posted1root-class-name37"
                      >
                        <ng-template #text>
                          <div class="assessment-taken-page-fragment13">
                            <span class="assessment-taken-page-text16">
                              Job Posted
                            </span>
                          </div>
                        </ng-template>
                        <ng-template #text3>
                          <div class="assessment-taken-page-fragment14">
                            <span class="assessment-taken-page-text17">
                              2 Jobs Posted
                            </span>
                          </div>
                        </ng-template>
                      </recruiter-job-posted1>
                    </div>
                    <div
                      id="recruiter-details"
                      class="assessment-taken-page-details-container1"
                    >
                      <span
                        id="recruiter-name"
                        class="assessment-taken-page-recruiter-name"
                      >
                        Leslie Alexander
                      </span>
                      <div
                        id="recruiter-company-logo-and-name"
                        class="assessment-taken-page-container14"
                      >
                        <img
                          id="recruiter-company-image"
                          alt="image"
                          src="https://s3-alpha-sig.figma.com/img/cb33/d035/72e938963245d419674c3c2e71065794?Expires=1737331200&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&amp;Signature=AWePlF-pHGfkDpvAxQkVOEKn6ei0wCQlVYu2oyaio65v32g8ylOmVbTs0muKAqz~iUBe-CPQTwUxEliMP5iFCiNMWlvaUDmnDaQ-9hL50Y2Rj~XfChKWsk1VhZQeHfMHDKP3KjN5DqeJBjU3k3Y3mOBUO9Fti0wsO9NNgpx1w4Kzu2hgpAP4Tf-EvspJzKotE8oB5AZzw1Qq6A~Vf6j1~AUW5vncBp6~E1xz7xUg0j59ZNm-wCSegvZWTPmBQ0fffJ95NegzQoPhltiUTwYrUPuIYjMEMcWOY3Poet~fqbTxf8bLNC1SRF3brHyO894K9GtoUm~V7HPmDgnR9J4qTg__"
                          class="assessment-taken-page-company-image"
                        />
                        <span
                          id="recruiter-company-name"
                          class="assessment-taken-page-company-name"
                        >
                          Google
                        </span>
                      </div>
                      <span
                        id="recruiter-role"
                        class="assessment-taken-page-job-role-of-recruiter"
                      >
                        <span>Software Development</span>
                        <br />
                        <span>Mountain View, CA</span>
                      </span>
                    </div>
                  </div>
                  <div
                    id="mobile-popup-container"
                    class="assessment-taken-page-container15"
                  >
                    <div
                      id="dashboard-container"
                      class="assessment-taken-page-dashboard-container"
                      [routerLink]="['/assessment-taken-page']"
                    >
                      <svg
                        id="dashboard-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="assessment-taken-page-dashboard-icon"
                      >
                        <path
                          d="M21 16V4H3v12zm0-14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-7v2h2v2H8v-2h2v-2H3a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2zM5 6h9v5H5zm10 0h4v2h-4zm4 3v5h-4V9zM5 12h4v2H5zm5 0h4v2h-4z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="dashboard-button"
                        class="assessment-taken-page-dashboard-text"
                      >
                        Dashboard
                      </span>
                    </div>
                    <div
                    [routerLink]="['/candidate-assessment']"
                      id="jobs-posted-container"
                      class="assessment-taken-page-jobs-for-container1"
                    >
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        class="assessment-taken-page-icon15"
                      >
                        <path
                          d="M30 30h-8V4h8zm-6-2h4V6h-4zm-4 2h-8V12h8zm-6-2h4V14h-4zm-4 2H2V18h8zm-6-2h4v-8H4z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="jobs-posted-button"
                        class="assessment-taken-page-jobs-for-you-text1"
                      >
                        Upskill
                      </span>
                    </div>
                    <div
                      id="jobs-posted-container"
                      class="assessment-taken-page-jobs-for-container2"
                      [routerLink]="['/candidate-assessment']"
                    >
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        class="assessment-taken-page-icon17"
                      >
                        <path
                          d="m23 9.2l-2.6-2.6L19 8l4 4l7-7l-1.4-1.4zM12 5.4L10.6 4L8 6.6L5.4 4L4 5.4L6.6 8L4 10.6L5.4 12L8 9.4l2.6 2.6l1.4-1.4L9.4 8zm0 16L10.6 20L8 22.6L5.4 20L4 21.4L6.6 24L4 26.6L5.4 28L8 25.4l2.6 2.6l1.4-1.4L9.4 24z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M17 15V2h-2v13H2v2h13v13h2V17h13v-2z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="jobs-posted-button"
                        class="assessment-taken-page-jobs-for-you-text2"
                      >
                        Assessment
                      </span>
                    </div>
                    <div
                    [routerLink]="['/candidate-home']"
                      id="jobs-posted-container"
                      class="assessment-taken-page-jobs-for-container3"
                    >
                      <svg
                        id="briefcase-icon"
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        class="assessment-taken-page-briefcase-icon"
                      >
                        <path
                          d="M2 6h5V3h1V2h6v1h1v3h5v1h1v12h-1v1H2v-1H1V7h1zm7 0h4V4H9zm10 2H3v10h16z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <span
                        id="jobs-posted-button"
                        class="assessment-taken-page-jobs-for-you-text3"
                      >
                        Jobs for you
                      </span>
                    </div>
                    <div
                      id="profile-popup-container"
                      class="assessment-taken-page-container16"
                    >
                      <div
                        id="preference-container"
                        class="assessment-taken-page-preference-container"
                      >
                        <svg
                          id="preference-icon"
                          width="48"
                          height="48"
                          viewBox="0 0 48 48"
                          class="assessment-taken-page-preference-icon"
                        >
                          <g fill="currentColor">
                            <path
                              d="M23 22.922c0-.526.474-.922 1-.922s1 .396 1 .922V41a1 1 0 1 1-2 0z"
                            ></path>
                            <path
                              d="M20 16a4 4 0 0 1 3-3.874V7a1 1 0 1 1 2 0v5.126A4.002 4.002 0 0 1 24 20a4 4 0 0 1-4-4m4 2a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-8 14a4 4 0 1 1-4.992-3.876A1 1 0 0 1 11 28V7a1 1 0 1 1 2 0v21q0 .063-.008.124A4 4 0 0 1 16 32m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                            <path
                              d="M36 42a1 1 0 0 1-1-1v-7.078c0-.526.474-.922 1-.922s1 .396 1 .922V41a1 1 0 0 1-1 1"
                            ></path>
                            <path
                              d="M36 6a1 1 0 0 0-1 1v16.126A4.002 4.002 0 0 0 36 31a4 4 0 0 0 1-7.874V7a1 1 0 0 0-1-1m0 19a2 2 0 1 0 0 4a2 2 0 0 0 0-4"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                            <path
                              d="M11 41a1 1 0 1 0 2 0v-2.078c0-.526-.474-.922-1-.922s-1 .396-1 .922z"
                            ></path>
                          </g>
                        </svg>
                        <span
                          id="recruiter-preference-button"
                          class="assessment-taken-page-preference-text"
                        >
                          Preference
                        </span>
                      </div>
                      <div
                        id="settings-container"
                        class="assessment-taken-page-settings-container"
                      >
                        <svg
                          id="settings-icon"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          class="assessment-taken-page-settings-icon"
                        >
                          <path
                            d="M27 16.76v-1.53l1.92-1.68A2 2 0 0 0 29.3 11l-2.36-4a2 2 0 0 0-1.73-1a2 2 0 0 0-.64.1l-2.43.82a11 11 0 0 0-1.31-.75l-.51-2.52a2 2 0 0 0-2-1.61h-4.68a2 2 0 0 0-2 1.61l-.51 2.52a11.5 11.5 0 0 0-1.32.75l-2.38-.86A2 2 0 0 0 6.79 6a2 2 0 0 0-1.73 1L2.7 11a2 2 0 0 0 .41 2.51L5 15.24v1.53l-1.89 1.68A2 2 0 0 0 2.7 21l2.36 4a2 2 0 0 0 1.73 1a2 2 0 0 0 .64-.1l2.43-.82a11 11 0 0 0 1.31.75l.51 2.52a2 2 0 0 0 2 1.61h4.72a2 2 0 0 0 2-1.61l.51-2.52a11.5 11.5 0 0 0 1.32-.75l2.42.82a2 2 0 0 0 .64.1a2 2 0 0 0 1.73-1l2.28-4a2 2 0 0 0-.41-2.51ZM25.21 24l-3.43-1.16a8.9 8.9 0 0 1-2.71 1.57L18.36 28h-4.72l-.71-3.55a9.4 9.4 0 0 1-2.7-1.57L6.79 24l-2.36-4l2.72-2.4a8.9 8.9 0 0 1 0-3.13L4.43 12l2.36-4l3.43 1.16a8.9 8.9 0 0 1 2.71-1.57L13.64 4h4.72l.71 3.55a9.4 9.4 0 0 1 2.7 1.57L25.21 8l2.36 4l-2.72 2.4a8.9 8.9 0 0 1 0 3.13L27.57 20Z"
                            fill="currentColor"
                          ></path>
                          <path
                            d="M16 22a6 6 0 1 1 6-6a5.94 5.94 0 0 1-6 6m0-10a3.91 3.91 0 0 0-4 4a3.91 3.91 0 0 0 4 4a3.91 3.91 0 0 0 4-4a3.91 3.91 0 0 0-4-4"
                            fill="currentColor"
                          ></path>
                        </svg>
                        <span
                          id="recruiter-settings-button"
                          class="assessment-taken-page-settings-text"
                        >
                          Settings
                        </span>
                      </div>
                      <div
                        id="logout-container"
                        class="assessment-taken-page-logout-container button"
                        (click)="onLogoutClick()"
                      >
                        <svg
                          id="logout-icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          class="assessment-taken-page-logout-icon"
                        >
                          <g fill="none">
                            <path
                              d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                            ></path>
                            <path
                              d="M12 3a1 1 0 0 1 .117 1.993L12 5H7a1 1 0 0 0-.993.883L6 6v12a1 1 0 0 0 .883.993L7 19h4.5a1 1 0 0 1 .117 1.993L11.5 21H7a3 3 0 0 1-2.995-2.824L4 18V6a3 3 0 0 1 2.824-2.995L7 3zm5.707 5.464l2.828 2.829a1 1 0 0 1 0 1.414l-2.828 2.829a1 1 0 1 1-1.414-1.415L17.414 13H12a1 1 0 1 1 0-2h5.414l-1.121-1.121a1 1 0 0 1 1.414-1.415"
                              fill="currentColor"
                            ></path>
                          </g>
                        </svg>
                        <span
                          id="recruiter-logout-button"
                          class="assessment-taken-page-logout-text"
                        >
                          Logout
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="assessment-taken-page-container17">
                    <recruiter-profile
                      rootClassName="recruiter-profileroot-class-name32"
                    >
                      <ng-template #text>
                        <div class="assessment-taken-page-fragment15">
                          <span class="assessment-taken-page-text21">
                            Leslie Alexander
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text1>
                        <div class="assessment-taken-page-fragment16">
                          <span class="assessment-taken-page-text22">
                            Google
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text3>
                        <div class="assessment-taken-page-fragment17">
                          <span class="assessment-taken-page-text23">
                            <span>Software Development</span>
                            <br />
                            <span>Mountain View, CA</span>
                          </span>
                        </div>
                      </ng-template>
                    </recruiter-profile>
                    <recruiter-job-posted1
                      rootClassName="recruiter-job-posted1root-class-name36"
                    >
                      <ng-template #text>
                        <div class="assessment-taken-page-fragment18">
                          <span class="assessment-taken-page-text27">
                            Job Posted
                          </span>
                        </div>
                      </ng-template>
                      <ng-template #text3>
                        <div class="assessment-taken-page-fragment19">
                          <span class="assessment-taken-page-text28">
                            2 Jobs Posted
                          </span>
                        </div>
                      </ng-template>
                    </recruiter-job-posted1>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      </div>
    </header>
    <div
      id="assessments-taken-container"
      class="assessment-taken-page-assessments-taken-container1"
    >
      <div class="assessment-taken-page-container18">
        <span
          id="total-assessments-taken-text"
          class="assessment-taken-page-total-assessments-taken-text"
        >
          All Assessment Taken
        </span>
        <div
          id="job-title-container"
          class="assessment-taken-page-job-title-container input"
        >
          <span
            id="job-title-keyword-text"
            class="assessment-taken-page-job-title-keyword-text"
          >
            Assessment....
          </span>
          <div
            id="search-icon-container"
            class="assessment-taken-page-search-icon-container"
          >
          <svg width="24" height="24" viewBox="0 0 24 24" class="assessment-taken-page-search-icon">
            <g fill="none" fill-rule="evenodd">
              <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"></path>
              <path d="M5 10a5 5 0 1 1 10 0a5 5 0 0 1-10 0m5-7a7 7 0 1 0 4.192 12.606l5.1 5.101a1 1 0 0 0 1.415-1.414l-5.1-5.1A7 7 0 0 0 10 3" fill="currentColor"></path>
            </g>
          </svg>
          </div>
        </div>
      </div>
      <div
        id="assessments-container"
        class="assessment-taken-page-assessments-container"
      >
        <div
          id="assessments-taken-container"
          class="assessment-taken-page-assessments-taken-container2"
          *ngIf="!showAttempts[assessment.assessment_id]"
        >
          <div class="assessment-taken-page-container19" *ngFor="let assessment of assessments">
            <div
              id="first-assessment-container"
              class="assessment-taken-page-first-assessment-container"
            >
              <div
                id="assessment-details-container"
                class="assessment-taken-page-assessment-details-container"
              >
                <div
                  id="assessment-details"
                  class="assessment-taken-page-assessment-details"
                >
                <img [src]="assessment.assessment_logo_url" alt="image" class="assessment-taken-page-assessment-image1" />
                  <div id="details" class="assessment-taken-page-details">
                    <span class="assessment-taken-page-heading-text1">
                      {{assessment.assessment_title}}
                    </span>
                    <div
                      id="assessment-date-id-container"
                      class="assessment-taken-page-assessment-date-id-container"
                    >
                    <span class="assessment-taken-page-details-text">
                      Completed {{assessment.latest_end_time | date:'MM/dd/yyyy'}} | Assessment ID : {{assessment.assessment_id}}
                    </span>
                    </div>
                    <div
                      id="assessment-by-container"
                      class="assessment-taken-page-assessment-by-container1"
                    >
                    <img [src]="assessment.assessment_logo_url" alt="image" class="assessment-taken-page-assessment-company-logo" />
                    <span class="assessment-taken-page-assessment-by-text1">
                      Assessment by {{assessment.created_by}}
                    </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                id="score-container"
                class="assessment-taken-page-score-container"
              >
                <div
                  id="score-board-container"
                  class="assessment-taken-page-score-board-container"
                >
                  <span
                    id="score-board-text"
                    class="assessment-taken-page-score-board-text"
                  >
                    🏆 Score Board
                  </span>
                  <div
                    id="score-code-container"
                    class="assessment-taken-page-score-code-container"
                  >
                    <div class="assessment-taken-page-container20">
                      <div class="assessment-taken-page-container21">

<body>
  <div class='progress-container'>
    <div class="progress">
      <div class="bar" [style.width.%]="assessment.latest_score" [style.backgroundColor]="getFillColor(assessment.latest_score)"></div>
    </div>
    <span class="score">{{assessment.latest_score}}%</span>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script>
    $(document).ready(function () {
      const $progress = $('.progress');
      const $bar = $progress.find('.bar');
      const $score = $('.score');
      const perc = 56.5; // Percentage value

      // Determine the fill color based on the percentage
      const getFillColor = (value) => {
        if (value <= 40) return 'red';
        if (value <= 60) return 'orange';
        if (value <= 75) return '#4D91C6'; // Ampere color
        if (value <= 84) return 'lightgreen';
        return 'darkgreen';
      };

      $({ p: 0 }).animate({ p: perc }, {
        duration: 3000,
        easing: 'swing',
        step: function (p) {
          // Update the width and color of the bar
          $bar.css({
            width: p + '%',
            backgroundColor: getFillColor(p)
          });

          // Update the displayed score
          $score.text(Math.round(p) + '%');
        }
      });
    });
  </script>
</body>

                      </div>
                    </div>
                  </div>
                </div>
                <div
                  id="attempts-remaining-container"
                  class="assessment-taken-page-attempts-remaining-container"
                >
                  <span
                    id="attempts-remaining-text"
                    class="assessment-taken-page-attempts-remaining-text"
                  >
                    Attempt(s) Remaining
                  </span>
                  <span>{{assessment.attempts_remaining < 0 ? 0 : assessment.attempts_remaining}}</span>
                </div>
                <svg
                  id="right-icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="assessment-taken-page-right-icon1"
                  (click)="goToAssessmentDetails(assessment)"
                  style="cursor: pointer;"
                >
                  <path
                    d="m10 16l4-4l-4-4"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <span
            id="see-more-text1"
            class="assessment-taken-page-see-more-text1"
          >
            See More
          </span>
        </div>

                    <assessment-attempts-list 
                    *ngIf="showAttempts[assessment.assessment_id]" 
                    [assessmentId]="assessment.assessment_id">
                  </assessment-attempts-list>

      </div>
    </div>
  </div>
</div>