<div
  id="profile-employment"
  class="profile-employment-component-container"
  [ngClass]="rootClassName"
>
  <div
    id="profile-employment-container"
    class="profile-employment-component-profile-employment-container"
  >
    <span
      id="employment-header"
      class="profile-employment-component-employment-text"
    >
      <ng-container>
        <ng-template #defaultText>
          <div class="profile-employment-component-fragment1">
            <span class="profile-employment-component-text14">Employment</span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    <div
      id="job-title-company-name-container"
      class="profile-employment-component-job-title-company-name-container"
    >
      <div
        id="candidate-job-title"
        class="profile-employment-component-job-title-container"
      >
        <span
          id="employment-job-title-text"
          class="profile-employment-component-job-title-text"
        >
          <span class="profile-employment-component-text10">Job Title</span>
          <br />
        </span>
        <input
          type="text"
          id="employment-job-title-input"
          placeholder="Enter Job Title"
          class="profile-employment-component-job-title-input input"
        />
      </div>
      <div
        id="candidate-company-name-container"
        class="profile-employment-component-company-name-container"
      >
        <span
          id="employment-company-name"
          class="profile-employment-component-company-name-text"
        >
          <span class="profile-employment-component-text12">Company Name</span>
          <br />
        </span>
        <input
          type="text"
          id="employment-company-name-input"
          placeholder="Enter Company Name"
          class="profile-employment-component-company-name-input input"
        />
      </div>
    </div>
    <div id="date-selector" class="profile-employment-component-date-selector">
      <div
        id="candidate-job-start-date-container"
        class="profile-employment-component-start-date-container"
      >
        <div
          id="candidate-job-start date"
          class="profile-employment-component-strat-date"
        >
          <span
            id="employment-start-date-text"
            class="profile-employment-component-start-date-text"
          >
            <ng-container>
              <ng-template #defaultText111>
                <div class="profile-employment-component-fragment6">
                  <span class="profile-employment-component-text19">
                    <span>Start Date</span>
                    <br />
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text111 ? text111 : defaultText111"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="profile-employment-component-select-container1"
          >
            <form
              id="employment-start-date-dropdown"
              class="profile-employment-component-form1 input"
            >
              <span
                id="select-text"
                class="profile-employment-component-select-text1"
              >
                <ng-container>
                  <ng-template #defaultText311>
                    <div class="profile-employment-component-fragment2">
                      <span class="profile-employment-component-text15">
                        Select
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text311 ? text311 : defaultText311"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="start-date-dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="profile-employment-component-drop-down-icon1"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="candidate-job-end-date-container"
        class="profile-employment-component-end-date-container"
      >
        <div id="end-date" class="profile-employment-component-end-date">
          <span
            id="employment-end-date-text"
            class="profile-employment-component-end-date-text"
          >
            <ng-container>
              <ng-template #defaultText12>
                <div class="profile-employment-component-fragment4">
                  <span class="profile-employment-component-text17">
                    End Date
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text12 ? text12 : defaultText12"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="profile-employment-component-select-container2"
          >
            <form
              id="employment-end-date-dropdown"
              class="profile-employment-component-form2 input"
            >
              <span
                id="select-text"
                class="profile-employment-component-select-text2"
              >
                <ng-container>
                  <ng-template #defaultText3>
                    <div class="profile-employment-component-fragment5">
                      <span class="profile-employment-component-text18">
                        Select
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text3 ? text3 : defaultText3"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="end-date-dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="profile-employment-component-drop-down-icon2"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="candidate-Job-details-container"
      class="profile-employment-component-job-details-container"
    >
      <span
        id="employment-job-details-text"
        class="profile-employment-component-job-details-text"
      >
        Job Details
      </span>
      <input
        type="text"
        id="employment-job-detail-input"
        placeholder="Type here..."
        class="profile-employment-component-job-details-input input"
      />
    </div>
    <span
      id="add-position-button"
      class="profile-employment-component-addposition-text button"
    >
      <ng-container>
        <ng-template #defaultText7>
          <div class="profile-employment-component-fragment3">
            <span class="profile-employment-component-text16">
              + Add Position
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text7 ? text7 : defaultText7"
        ></ng-container>
      </ng-container>
    </span>
  </div>
</div>
