<div
  id="profile-employment"
  class="profile-employment-component-container1"
  [ngClass]="rootClassName"
>
  <div
    id="profile-employment-container"
    class="profile-employment-component-profile-employment-container"
  >
    <span
      id="employment-header"
      class="profile-employment-component-employment-text"
    >
      <ng-container>
        <ng-template #defaultText>
          <div class="profile-employment-component-fragment1">
            <span class="profile-employment-component-text14">Employment</span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    
    <div *ngFor="let employment of employments; let i=index">
      <div class="profile-employment-component-container2">
        <div
          id="job-title-company-name-container"
          class="profile-employment-component-job-title-company-name-container"
        >
          <div
            id="candidate-job-title"
            class="profile-employment-component-job-title-container"
          >
            <span
              id="employment-job-title-text"
              class="profile-employment-component-job-title-text"
            >
              <span class="profile-employment-component-text10">Job Title</span>
              <br />
            </span>
            <input
              type="text"
              id="employment-job-title-input"
              placeholder="Enter Job Title"
              class="profile-employment-component-job-title-input input"
              [(ngModel)]="employment.jobTitle"
            />
          </div>
          <div
            id="candidate-company-name-container"
            class="profile-employment-component-company-name-container"
          >
            <span
              id="employment-company-name"
              class="profile-employment-component-company-name-text"
            >
              <span class="profile-employment-component-text12">
                Company Name
              </span>
              <br />
            </span>
            <input
              type="text"
              id="employment-company-name-input"
              placeholder="Enter Company Name"
              class="profile-employment-component-company-name-input input"
              [(ngModel)]="employment.companyName"
            />
          </div>
        </div>
        <div
          id="date-selector"
          class="profile-employment-component-date-selector"
        >
          <div
            id="candidate-job-start-date-container"
            class="profile-employment-component-start-date-container"
          >
            <div
              id="candidate-job-start date"
              class="profile-employment-component-strat-date"
            >
              <span
                id="employment-start-date-text"
                class="profile-employment-component-start-date-text"
              >
                <ng-container>
                  <ng-template #defaultText111>
                    <div class="profile-employment-component-fragment7">
                      <span class="profile-employment-component-text20">
                        <span>Start Date</span>
                        <br />
                        <br />
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text111 ? text111 : defaultText111"
                  ></ng-container>
                </ng-container>
              </span>
              <div
                id="select-container"
                class="profile-employment-component-select-container1"
              >
                <form
                  id="employment-start-date-dropdown"
                  class="profile-employment-component-form1 input"
                >
                  <input
                    type="date"
                    [(ngModel)]="employment.startDate"
                    name="startDate{{i}}"
                    class="date-input"
                    style="width: 100%; height: 100%; border: none; padding: 0;"
                  >
                </form>
              </div>
            </div>
          </div>
          <div
            id="candidate-job-end-date-container"
            class="profile-employment-component-end-date-container"
          >
            <div id="end-date" class="profile-employment-component-end-date">
              <span
                id="employment-end-date-text"
                class="profile-employment-component-end-date-text"
              >
                <ng-container>
                  <ng-template #defaultText12>
                    <div class="profile-employment-component-fragment4">
                      <span class="profile-employment-component-text17">
                        End Date
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text12 ? text12 : defaultText12"
                  ></ng-container>
                </ng-container>
              </span>
              <div
                id="select-container"
                class="profile-employment-component-select-container2"
              >
                <form
                  id="employment-end-date-dropdown"
                  class="profile-employment-component-form2 input"
                >
                  <input
                    type="date"
                    [(ngModel)]="employment.endDate"
                    name="endDate{{i}}"
                    class="date-input"
                    style="width: 100%; height: 100%; border: none; padding: 0;"
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
        <div
          id="candidate-Job-details-container"
          class="profile-employment-component-job-details-container"
        >
          <span
            id="employment-job-details-text"
            class="profile-employment-component-job-details-text"
          >
            Job Details
          </span>
          <textarea
            id="employment-job-detail-input"
            placeholder="Type here..."
            class="profile-employment-component-job-details-input input"
            [(ngModel)]="employment.jobDetails"
            style="resize: none; overflow: auto;"
          ></textarea>
        </div>
      </div>
      <div class="profile-employment-component-container3">
        <span
          id="add-position-button"
          class="profile-employment-component-addposition-text button"
          (click)="addEmployment()"
          *ngIf="i === employments.length - 1"  
        >
          <ng-container>
            <ng-template #defaultText7>
              <div class="profile-employment-component-fragment3">
                <span class="profile-employment-component-text16">
                  + Add Position
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text7 ? text7 : defaultText7"
            ></ng-container>
          </ng-container>
        </span>
        <span
          id="remove"
          class="profile-employment-component-removeposition button"
          *ngIf="employments.length > 1"
          (click)="removeEmployment(i)"
        >
          <ng-container>
            <ng-template #defaultText71>
              <div class="profile-employment-component-fragment5">
                <span class="profile-employment-component-text18">
                  - Remove Position
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text71 ? text71 : defaultText71"
            ></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>