:host { 
  display: contents; 
}
 
.assessment-taken-page2-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.assessment-taken-page2-cloud-architecture-main-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: 972px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.assessment-taken-page2-fragment10 {
  display: contents;
}
 
.assessment-taken-page2-text10 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page2-fragment11 {
  display: contents;
}
 
.assessment-taken-page2-text11 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page2-fragment12 {
  display: contents;
}
 
.assessment-taken-page2-text12 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.assessment-taken-page2-fragment13 {
  display: contents;
}
 
.assessment-taken-page2-text13 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment14 {
  display: contents;
}
 
.assessment-taken-page2-text14 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment15 {
  display: contents;
}
 
.assessment-taken-page2-text15 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment16 {
  display: contents;
}
 
.assessment-taken-page2-text16 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment17 {
  display: contents;
}
 
.assessment-taken-page2-text17 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.assessment-taken-page2-fragment18 {
  display: contents;
}
 
.assessment-taken-page2-text18 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment19 {
  display: contents;
}
 
.assessment-taken-page2-text19 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment20 {
  display: contents;
}
 
.assessment-taken-page2-text20 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment21 {
  display: contents;
}
 
.assessment-taken-page2-text21 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment22 {
  display: contents;
}
 
.assessment-taken-page2-text22 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment23 {
  display: contents;
}
 
.assessment-taken-page2-text23 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment24 {
  display: contents;
}
 
.assessment-taken-page2-text24 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment25 {
  display: contents;
}
 
.assessment-taken-page2-text25 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment26 {
  display: contents;
}
 
.assessment-taken-page2-text29 {
  display: inline-block;
}
 
.assessment-taken-page2-fragment27 {
  display: contents;
}
 
.assessment-taken-page2-text30 {
  display: inline-block;
}
 
.assessment-taken-page2-cloud-architecture-details-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  max-height: 900px;
  align-items: center;
  border-color: #D9D9D9;
  border-width: 1px;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.assessment-taken-page2-text-id-attempts-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.assessment-taken-page2-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page2-cloud-architecture-text-container {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page2-back-icon {
  width: 24px;
  height: 24px;
}
 
.assessment-taken-page2-cloud-architecture-text {
  height: 32px;
  display: flex;
  font-size: 24px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page2-assessment-by-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.assessment-taken-page2-assessment-company-logo {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
 
.assessment-taken-page2-assessment-by-text {
  color: #474748;
  height: 18px;
  display: flex;
  font-size: 12px;
  font-style: normal;
  align-items: center;
  font-weight: 500;
}
 
.assessment-taken-page2-id-attempts-container {
  gap: 24px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page2-id-text {
  color: #6b6c6d;
}
 
.assessment-taken-page2-text31 {
  font-style: normal;
  font-weight: 700;
}
 
.assessment-taken-page2-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page2-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
 
.assessment-taken-page2-attempt-container {
  flex: 0 0 auto;
  width: 100%;
  height: 82px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-color: #D9D9D9;
  border-width: 1px;
  justify-content: space-between;
}
 
.assessment-taken-page2-attempt-date-container {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: 50px;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page2-date-attempt-container {
  gap: 8px;
  flex: 0 0 auto;
  width: auto;
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.assessment-taken-page2-attempt-text {
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
 
.assessment-taken-page2-date-text {
  color: #6b6c6d;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.assessment-taken-page2-score-container {
  gap: 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page2-score-board-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 220px;
  height: 43px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
}
 
.assessment-taken-page2-score-board-text {
  height: 24px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page2-score-board-code-container {
  flex: 0 0 auto;
  width: 100%;
  height: 15px;
  display: flex;
  align-items: flex-start;
}
 
.assessment-taken-page2-container5 {
  width: 226px;
  display: flex;
  align-items: center;
}
 
.assessment-taken-page2-container6 {
  display: contents;
}
 
.assessment-taken-page2-right-icon {
  width: 24px;
  height: 24px;
  align-self: center;
}
 
.assessment-taken-page2-re-attempt-button-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.assessment-taken-page2-re-attempt-container {
  fill: #FFFFFF;
  color: rgb(255, 255, 255);
  width: 127px;
  height: 48px;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  background-color: rgb(5, 53, 108);
}
 
.assessment-taken-page2-re-attempt-container:hover {
  color: #FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  background-color: #0A4992;
}
 
.assessment-taken-page2-re-attempt-container:active {
  color: #FFFFFF;
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: #0A4992;
}
 
.assessment-taken-page2-re-attempt-container:disabled {
  opacity: 0.4;
}

body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      margin: 0;
      background-color: transparent; /* Transparent background */
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between the bar and score */
}

.progress {
  position: relative;
  width: 150px; /* Width of the progress bar */
  height: 6px; /* Height of the progress bar */
  background-color: #ccc; /* Background color for unfilled portion */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Clip the progress bar inside the container */
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; /* Initial width is 0% */
  background-color: #0bf; /* Default color for filled portion */
  transition: width 0.3s ease; /* Smooth width transition */
}

.score {
  font-family: 'Inter', sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  font-weight: 500; /* Font weight */
  color: #474748; /* Default text color */
}
 
@media(max-width: 991px) {
  .assessment-taken-page2-cloud-architecture-main-container {
    gap: 20px;
  }
  .assessment-taken-page2-text10 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page2-text11 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page2-text12 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page2-text17 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .assessment-taken-page2-cloud-architecture-details-container {
    width: 900px;
    margin-top: 80px;
  }
  .assessment-taken-page2-text-id-attempts-container {
    height: auto;
  }
  .assessment-taken-page2-cloud-architecture-text-container {
    width: auto;
  }
  .assessment-taken-page2-cloud-architecture-text {
    font-size: 22px;
  }
  .assessment-taken-page2-id-text {
    font-size: 14px;
  }
  .assessment-taken-page2-attempts-remaining-text {
    font-size: 14px;
  }
  .assessment-taken-page2-attempt-container {
    height: auto;
  }
  .assessment-taken-page2-attempt-date-container {
    height: auto;
  }
  .assessment-taken-page2-date-attempt-container {
    width: auto;
    height: auto;
  }
  .assessment-taken-page2-attempt-text {
    font-size: 14px;
  }
  .assessment-taken-page2-date-text {
    font-size: 12px;
  }
  .assessment-taken-page2-score-board-text {
    font-size: 14px;
  }
  .assessment-taken-page2-re-attempt-button-container {
    height: auto;
  }
  .assessment-taken-page2-re-attempt-container {
    width: 110px;
    height: 40px;
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .assessment-taken-page2-cloud-architecture-main-container {
    gap: 16px;
    width: 100%;
  }
  .assessment-taken-page2-text15 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
  .assessment-taken-page2-text16 {
    font-size: 12px;
  }
  .assessment-taken-page2-text18 {
    font-size: 12px;
  }
  .assessment-taken-page2-text19 {
    font-size: 10px;
  }
  .assessment-taken-page2-text20 {
    font-size: 10px;
  }
  .assessment-taken-page2-text21 {
    font-size: 10px;
  }
  .assessment-taken-page2-text22 {
    font-size: 16px;
  }
  .assessment-taken-page2-text25 {
    color: rgb(24, 25, 28);
  }
  .assessment-taken-page2-text29 {
    font-size: 12px;
  }
  .assessment-taken-page2-text30 {
    font-size: 12px;
  }
  .assessment-taken-page2-cloud-architecture-details-container {
    gap: 16px;
    width: 700px;
    height: 330px;
  }
  .assessment-taken-page2-cloud-architecture-text-container {
    gap: 8px;
  }
  .assessment-taken-page2-cloud-architecture-text {
    display: flex;
    font-size: 20px;
  }
  .assessment-taken-page2-assessment-by-container {
    width: auto;
  }
  .assessment-taken-page2-assessment-by-text {
    height: auto;
  }
  .assessment-taken-page2-re-attempt-container {
    width: 100px;
    height: 36px;
  }
}
 
@media(max-width: 479px) {
  .assessment-taken-page2-cloud-architecture-main-container {
    width: 479px;
  }
  .assessment-taken-page2-cloud-architecture-details-container {
    gap: 16px;
    width: 470px;
    height: auto;
    padding: 12px;
  }
  .assessment-taken-page2-text-id-attempts-container {
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .assessment-taken-page2-container2 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .assessment-taken-page2-cloud-architecture-text-container {
    gap: 8px;
  }
  .assessment-taken-page2-cloud-architecture-text {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .assessment-taken-page2-id-attempts-container {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .assessment-taken-page2-score-board-container {
    width: 152px;
  }
}