:host { 
  display: contents; 
}
 
.details-container1 {
  width: 100%;
  height: 746px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.details-container2 {
  flex: 0 0 auto;
  width: 751px;
  height: 624px;
  display: flex;
  align-items: flex-start;
}
 
.details-text10 {
  width: 751px;
  height: 624px;
}
 
.details-fragment {
  display: contents;
}
 
.details-text11 {
  color: #6b6c6d;
  display: inline-block;
  line-height: 1.45;
}
 
.details-text12 {
  font-style: normal;
  font-weight: 700;
}
 
@media(max-width: 1200px) {
  .details-text11 {
    color: rgb(107, 108, 109);
  }
  .details-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .details-text13 {
    font-style: normal;
    font-weight: 700;
  }
}
 
@media(max-width: 991px) {
  .details-text10 {
    height: auto;
  }
  .details-text11 {
    color: rgb(107, 108, 109);
    font-size: 14px;
  }
  .details-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .details-text13 {
    font-style: normal;
    font-weight: 700;
  }
}
 
@media(max-width: 767px) {
  .details-container2 {
    width: 100%;
    height: auto;
  }
  .details-text11 {
    color: rgb(107, 108, 109);
    font-size: 12px;
  }
  .details-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .details-text13 {
    font-style: normal;
    font-weight: 700;
  }
}
 
@media(max-width: 479px) {
  .details-container2 {
    width: 100%;
    height: auto;
  }
  .details-text10 {
    width: auto;
    height: auto;
  }
}
