<div class="details-container1">
  <div class="details-container2">
    <span class="details-text10">
      <ng-container>
        <ng-template #defaultText1>
          <div class="details-fragment">
            <span class="details-text11">
              <span class="details-text12">About the job</span>
              <br class="details-text13" />
              <br />
              <span>
                At Google, we follow a simple but vital premise: &quot;Focus on
                the user and all else will follow.&quot; Google’s Interaction
                Designers take complex tasks and make them intuitive and
                easy-to-use for billions of people around the globe. Throughout
                the design process—from creating user flows and wireframes to
                building user interface mockups and prototypes—you’ll envision
                how people will experience our products, and bring that vision
                to life in a way that feels inspired, refined, and even
                magical.
              </span>
              <br />
              <br />
              <span>
                Google User Experience (UX) is made up of multi-disciplinary
                teams of UX Designers, Researchers, Writers, Content
                Strategists, Program Managers, and Engineers: we care deeply
                about the people who use our products. The UX team plays an
                integral part in gathering insights about the attitudes,
                emotions, and behaviors of people who use our products to
                inspire and inform design. We collaborate closely with each
                other and with engineering and product management to create
                industry-leading products that deliver value for the people who
                use them, and for Google’s businesses.
              </span>
              <br />
              <br />
              <span>Minimum qualifications:</span>
              <br />
              <br />
              <span>
                1. Bachelor&apos;s degree in Design, Human-Computer Interaction,
                Computer Science, a related field, or      equivalent practical
                experience.
              </span>
              <br />
              <span>2. 4 years of experience in product design or UX.</span>
              <br />
              <span>
                3. Experience designing across multiple platforms, and working
                with technical/design teams to     create user flows,
                wireframes, and building user interface mockups and prototypes.
              </span>
              <br />
              <span>
                4. Include a portfolio, website, or any other relevant link to
                your work in your resume (providing a     viewable link or
                access instructions).
              </span>
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text1 ? text1 : defaultText1"
        ></ng-container>
      </ng-container>
    </span>
  </div>
</div>
