:host { 
  display: contents; 
}
 
.login-candidate-container {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F4F4;
}
 
.login-candidate-main-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  /*background-image: linear-gradient(0deg, rgba(226, 226, 226, 0.57) 59.00%,rgba(226, 226, 226, 0.57) 59.00%);*/
}

/* login-candidate.component.css */

/* Existing styles (if any) can remain here */

.error-message {
  color: #F65E5C;
  text-align: center;
  margin-top: 10px;
  font-size: 14px; /* Optional: adjust size as needed */
}

.log-in-page-error-message-login {
  fill: #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  border-width: 0px;
  background-color: #F65E5C;
  margin-top: 10px;
  font-size: 14px;
}
 
.login-candidate-fragment1 {
  display: contents;
}
 
.login-candidate-text1 {
  color: #18191c;
  display: inline-block;
}
 
.login-candidate-fragment2 {
  display: contents;
}
 
.login-candidate-text2 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.login-candidate-fragment3 {
  display: contents;
}
 
.login-candidate-text3 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.login-candidate-fragment4 {
  display: contents;
}
 
.login-candidate-text4 {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
}
 
.login-candidate-fragment5 {
  display: contents;
}
 
.login-candidate-text5 {
  display: inline-block;
}
 
.login-candidate-fragment6 {
  display: contents;
}
 
.login-candidate-text6 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.login-candidate-fragment7 {
  display: contents;
}
 
.login-candidate-text7 {
  display: inline-block;
  background-color: rgb(246, 94, 92);
}
 
.login-candidate-fragment8 {
  display: contents;
}
 
.login-candidate-text8 {
  display: inline-block;
  font-size: 20px;
}
 
.login-candidate-fragment9 {
  display: contents;
}
 
.login-candidate-text9 {
  color: #05356c;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
}
 
@media(max-width: 991px) {
  .login-candidate-text8 {
    font-size: 18px;
  }
}
