<div class="editor-container">
    <div class="form-group">
        <label for="language">Code Editor</label>
        <select id="language" class="language-selector" [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
            <option *ngFor="let lang of languages" [ngValue]="lang">{{ lang.name }}</option>
        </select>
    </div>
    <textarea class="code-editor" [(ngModel)]="code" placeholder="// Write your code here"></textarea>
    <div class="button-group">
        <button class="btn btn-primary" (click)="run()">Run Code</button>
        <button class="btn btn-secondary" (click)="submit()">Submit</button>
    </div>
</div>