<div class="editor-container">
  <div class="form-group">
    <label for="language">Select Language:</label>
    <select id="language" [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
      <option *ngFor="let lang of languages" [ngValue]="lang">{{ lang.name }}</option>
    </select>
  </div>
  <textarea [(ngModel)]="code" style="height: 400px; width: 100%;"></textarea>
  <div class="button-group">
    <button (click)="run()">Run Code</button>
    <button (click)="submit()">Submit</button>
  </div>
</div>