<!-- 
  This entire container will only be displayed if the 'jd' object exists in the component.
  If 'jd' is null, the ng-template with the #noJd reference at the bottom will be displayed instead.
-->
<div
  *ngIf="jd; else noJd"
  class="admin-jd-extended-component-container1"
  [ngClass]="rootClassName"
>
  <!-- Role & Location Section -->
  <div
    id="Role-Location-Container"
    class="admin-jd-extended-component-role-location-container"
  >
    <!-- Role Field -->
    <div id="role-container" class="admin-jd-extended-component-role-container">
      <div
        id="role-text-container"
        class="admin-jd-extended-component-role-text-container"
      >
        <span id="role-text" class="admin-jd-extended-component-role-text">
          Role
          <span class="admin-jd-extended-component-role-star-text">*</span>
        </span>
      </div>
      <div
        id="role-input-container"
        class="admin-jd-extended-component-role-input-container"
      >
        <input
          type="text"
          id="Role-Input-Field"
          [value]="jd.role"
          class="admin-jd-extended-component-role-input-field input"
          readonly
        />
      </div>
    </div>
    <!-- Location Field -->
    <div
      id="location-container"
      class="admin-jd-extended-component-location-container"
    >
      <div
        id="location-text-container"
        class="admin-jd-extended-component-location-text-container"
      >
        <span
          id="location-text"
          class="admin-jd-extended-component-location-text"
        >
          Location
          <span
            id="location-star-text"
            class="admin-jd-extended-component-location-star-text"
            >*</span
          >
        </span>
      </div>
      <div
        id="location-input-container"
        class="admin-jd-extended-component-location-input-container"
      >
        <!-- The complex static location component is replaced with a simple readonly input -->
        <input
          type="text"
          [value]="jd.location"
          class="input"
          readonly
        />
      </div>
    </div>
  </div>

  <!-- Experience Section -->
  <div
    id="total-and-relevant-experience-container"
    class="admin-jd-extended-component-total-and-relevant-experience-container"
  >
    <!-- Total Experience Field -->
    <div
      id="total-experience-container"
      class="admin-jd-extended-component-total-experience-container"
    >
      <div
        id="total-experience-text-container"
        class="admin-jd-extended-component-total-experience-text-container"
      >
        <span
          id="total-experience-text"
          class="admin-jd-extended-component-total-experience-text"
        >
          Total Experience
        </span>
      </div>
      <div
        id="total-experience-code-container"
        class="admin-jd-extended-component-total-experience-code-container"
      >
        <!-- The static slider is replaced with a readonly input displaying the range -->
        <input
          type="text"
          [value]="(jd.total_experience_min || 'N/A') + ' - ' + (jd.total_experience_max || 'N/A')"
          class="input"
          readonly
        />
      </div>
    </div>
    <!-- Relevant Experience Field -->
    <div
      id="relevant-experience-container"
      class="admin-jd-extended-component-relevant-experience-container"
    >
      <div
        id="relevant-experience-text-container"
        class="admin-jd-extended-component-relevant-experience-text-container"
      >
        <span
          id="relevant-experience-text"
          class="admin-jd-extended-component-relevant-experience-text"
        >
          Relevant Experience
        </span>
      </div>
      <div
        id="relevant-experience-code-container"
        class="admin-jd-extended-component-relevant-experience-code-container"
      >
        <!-- The static slider is replaced with a readonly input displaying the range -->
        <input
          type="text"
          [value]="(jd.relevant_experience_min || 'N/A') + ' - ' + (jd.relevant_experience_max || 'N/A')"
          class="input"
          readonly
        />
      </div>
    </div>
  </div>

  <!-- Notice Period Section -->
  <div
    id="notice-period-container"
    class="admin-jd-extended-component-notice-period-container"
  >
    <div
      id="notice-period-text-container"
      class="admin-jd-extended-component-notice-period-text-container"
    >
      <span
        id="university-institute-text"
        class="admin-jd-extended-component-university-institute-text"
      >
        Notice Period
        <span
          id="notice-period-star-text"
          class="admin-jd-extended-component-notice-period-star-text"
          >*</span
        >
      </span>
    </div>
    <div
      id="notice-period-input-container"
      class="admin-jd-extended-component-notice-period-input-container"
    >
      <input
        type="text"
        id="notice-period-input-filed"
        [value]="jd.notice_period"
        class="admin-jd-extended-component-notice-period-input-filed input"
        readonly
      />
    </div>
  </div>

  <!-- Skills Section -->
  <div
    id="skills-container"
    class="admin-jd-extended-component-skills-container"
  >
    <div
      id="skill-text-container"
      class="admin-jd-extended-component-skill-text-container"
    >
      <span id="skill-text" class="admin-jd-extended-component-skill-text">
        Skills
        <span
          id="skill-star-text"
          class="admin-jd-extended-component-skill-star-text"
          >*</span
        >
      </span>
    </div>
    <div
      id="skills-input-container"
      class="admin-jd-extended-component-skills-input-container"
    >
      <!-- The static tag component is replaced with a dynamic list of tags -->
      <div class="tag-container">
        <div class="tag" *ngFor="let skill of jd.must_have_skills">
          <span>{{ skill }}</span>
        </div>
        <div *ngIf="!jd.must_have_skills || jd.must_have_skills.length === 0">
          No skills specified.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
  This template is displayed when the 'jd' object is null.
  It provides a helpful message to the user.
-->
<ng-template #noJd>
  <div class="no-jd-active-message">
    Please upload a Job Description to view its extracted details.
  </div>
</ng-template>