<div class="candidate-dashboard-container">
  <flashyre-dashboard rootClassName="flashyre-dashboardroot-class-name">
    <ng-template #text5112>
      <div class="candidate-dashboard-fragment10">
        <span class="candidate-dashboard-text10">
          <span>3. </span>
          <span class="candidate-dashboard-text12">Good:</span>
          <span>70–84 </span>
        </span>
      </div>
    </ng-template>
    <ng-template #text4>
      <div class="candidate-dashboard-fragment11">
        <span class="candidate-dashboard-text14">
          <span class="candidate-dashboard-text15">Name:</span>
          <span> </span>
          <span>Kathryn Murphy</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #heading21>
      <div class="candidate-dashboard-fragment12">
        <span class="candidate-dashboard-text19">Scale:</span>
      </div>
    </ng-template>
    <ng-template #heading3>
      <div class="candidate-dashboard-fragment13">
        <span class="candidate-dashboard-text20">
          Corporate Assessment Results
        </span>
      </div>
    </ng-template>
    <ng-template #button1>
      <div class="candidate-dashboard-fragment14">
        <span class="candidate-dashboard-text21">View Resume</span>
      </div>
    </ng-template>
    <ng-template #text1111>
      <div class="candidate-dashboard-fragment15">
        <span class="candidate-dashboard-text22">
          <span class="candidate-dashboard-text23">Skills: </span>
          <span class="candidate-dashboard-text24">
            SQL,Java,MachineLearning, Automation.
          </span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #heading11>
      <div class="candidate-dashboard-fragment16">
        <span class="candidate-dashboard-text26">Assessment Results</span>
      </div>
    </ng-template>
    <ng-template #text12>
      <div class="candidate-dashboard-fragment17">
        <span class="candidate-dashboard-text27">
          <span class="candidate-dashboard-text28">University/College:</span>
          <span class="candidate-dashboard-text29">abc university campus</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text52>
      <div class="candidate-dashboard-fragment18">
        <span class="candidate-dashboard-text31">
          <span>1. </span>
          <span class="candidate-dashboard-text33">Need to Improve</span>
          <span class="candidate-dashboard-text34">:</span>
          <span>Score ≤ 59</span>
        </span>
      </div>
    </ng-template>
    <ng-template #text512>
      <div class="candidate-dashboard-fragment19">
        <span class="candidate-dashboard-text36">
          <span>
            2.
            <span [innerHTML]="rawbso2"></span>
          </span>
          <span class="candidate-dashboard-text38">Average:</span>
          <span>60–69 </span>
        </span>
      </div>
    </ng-template>
    <ng-template #text21>
      <div class="candidate-dashboard-fragment20">
        <span class="candidate-dashboard-text40">
          <span class="candidate-dashboard-text41">Phone:</span>
          <span class="candidate-dashboard-text42">9876543210</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text31>
      <div class="candidate-dashboard-fragment21">
        <span class="candidate-dashboard-text44">
          <span class="candidate-dashboard-text45">Email</span>
          <span class="candidate-dashboard-text46">:</span>
          <span class="candidate-dashboard-text47">
             qwertyuiwer908gmail.com
          </span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text51111>
      <div class="candidate-dashboard-fragment22">
        <span class="candidate-dashboard-text49">
          <span>4. </span>
          <span class="candidate-dashboard-text51">Excellent:</span>
          <span>≥ 85 </span>
        </span>
      </div>
    </ng-template>
  </flashyre-dashboard>
</div>
