:host { 
  display: contents; 
}
 
.password-input-container-password-input-container {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.password-input-container-container1 {
  width: 320px;
  height: 48px;
}
 
.password-input-container-container2 {
  display: contents;
}
 
.password-input-container-container3 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
 
.password-input-container-fragment {
  display: contents;
}
 
.password-input-container-text2 {
  display: inline-block;
}
 

 
@media(max-width: 1200px) {
  .password-input-container-password-input-container {
    width: 320px;
    height: 76px;
  }
  .password-input-container-text1 {
    fill: #18191C;
    color: rgb(24, 25, 28);
    width: 320px;
    height: 24px;
  }
}
