:host { 
  display: contents; 
}
 
.admin-candidate-scores-page-admin-candidate-scores-component {
  gap: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #CBCBCB;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  border-left-width: 1px;
  border-right-width: 1px;
}
 
.admin-candidate-scores-page-candidate-scores-main-container {
  flex: 0 0 auto;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  border-color: #CBCBCB;
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.admin-candidate-scores-page-select-sort-download-zip-main-container {
  flex: 0 0 auto;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: flex-start;
  border-color: #CBCBCB;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.admin-candidate-scores-page-select-all-main-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}
 
.admin-candidate-scores-page-select-checkbox1 {
  width: 20px;
  height: 20px;
}
 
.admin-candidate-scores-page-select-all-text {
  font-size: 16px;
}
 
.admin-candidate-scores-page-sort-download-zip-container {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
 
.admin-candidate-scores-page-sort-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.admin-candidate-scores-page-dropdown-toggle1 {
  fill: #05356c;
  color: #05356c;
  width: 100%;
  height: 75%;
  display: inline-flex;
  padding: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  align-items: center;
  border-color: #05356c;
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
 
.admin-candidate-scores-page-dropdown-toggle1:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.admin-candidate-scores-page-dropdown-toggle1:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.admin-candidate-scores-page-text10 {
  color: #05356c;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
 
.admin-candidate-scores-page-dropdown-arrow {
  transition: 0.3s;
}
 
.admin-candidate-scores-page-icon1 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.admin-candidate-scores-page-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.admin-candidate-scores-page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.admin-candidate-scores-page-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.admin-candidate-scores-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.admin-candidate-scores-page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.admin-candidate-scores-page-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.admin-candidate-scores-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.admin-candidate-scores-page-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.admin-candidate-scores-page-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.admin-candidate-scores-page-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.admin-candidate-scores-page-download-zip-container {
  gap: 8px;
  flex: 0 0 auto;
  width: auto;
  height: 75%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #05356C;
  border-width: 1px;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: 4px;
  padding-right: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-color: #FFFFFF;
}
 
.admin-candidate-scores-page-download-zip-container:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.admin-candidate-scores-page-download-zip-container:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.admin-candidate-scores-page-download-icon1 {
  fill: #05356C;
  color: #05356C;
  width: 24px;
  height: 24px;
}
 
.admin-candidate-scores-page-download-zip-text {
  fill: #05356C;
  color: rgb(5, 53, 108);
  font-size: 16px;
}
 
.admin-candidate-scores-page-candidate-details-download-cv-main-container {
  width: 100%;
  height: 90%;
  display: flex;
  max-height: 351px;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
 
.admin-candidate-scores-page-candidate-details-download-cv-container {
  flex: 0 0 auto;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-start;
  border-color: #CBCBCB;
  border-width: 1px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.admin-candidate-scores-page-candidate-name-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}
 
.admin-candidate-scores-page-select-checkbox2 {
  width: 20px;
  height: 20px;
}
 
.admin-candidate-scores-page-candidate-name-text {
  font-size: 16px;
}
 
.admin-candidate-scores-page-job-title-container {
  gap: 8px;
  flex: 0 0 auto;
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.admin-candidate-scores-page-job-title-text {
  font-size: 16px;
}
 
.admin-candidate-scores-page-view-cv-container {
  gap: 8px;
  flex: 0 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.admin-candidate-scores-page-eye-icon {
  width: 24px;
  height: 24px;
}
 
.admin-candidate-scores-page-view-cv-text {
  font-size: 16px;
}
 
.admin-candidate-scores-page-download-icon2 {
  fill: rgb(5, 53, 108);
  color: rgb(5, 53, 108);
  width: 32px;
  height: 32px;
  align-self: center;
  transition: 0.3s;
}
 
.admin-candidate-scores-page-download-icon2:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.admin-candidate-scores-page-download-icon2:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
@media(max-width: 1200px) {
  .admin-candidate-scores-page-select-sort-download-zip-main-container {
    height: 15%;
  }
}
 
@media(max-width: 991px) {
  .admin-candidate-scores-page-admin-candidate-scores-component {
    height: 300px;
  }
  .admin-candidate-scores-page-candidate-scores-main-container {
    height: 100%;
  }
  .admin-candidate-scores-page-select-sort-download-zip-main-container {
    height: 15%;
    align-items: center;
  }
  .admin-candidate-scores-page-select-checkbox1 {
    width: 16px;
    height: 16px;
  }
  .admin-candidate-scores-page-select-all-text {
    font-size: 14px;
  }
  .admin-candidate-scores-page-text10 {
    font-size: 14px;
  }
  .admin-candidate-scores-page-download-zip-container {
    gap: 4px;
    padding: var(--dl-layout-space-halfunit);
  }
  .admin-candidate-scores-page-download-icon1 {
    width: 20px;
    height: 20px;
  }
  .admin-candidate-scores-page-download-zip-text {
    font-size: 14px;
  }
  .admin-candidate-scores-page-candidate-details-download-cv-main-container {
    height: 300px;
  }
  .admin-candidate-scores-page-candidate-details-download-cv-container {
    height: 20%;
  }
  .admin-candidate-scores-page-select-checkbox2 {
    width: 16px;
    height: 16px;
  }
  .admin-candidate-scores-page-candidate-name-text {
    font-size: 14px;
  }
  .admin-candidate-scores-page-job-title-text {
    font-size: 14px;
  }
  .admin-candidate-scores-page-view-cv-container {
    gap: 4px;
  }
  .admin-candidate-scores-page-eye-icon {
    width: 20px;
    height: 20px;
  }
  .admin-candidate-scores-page-view-cv-text {
    font-size: 14px;
  }
  .admin-candidate-scores-page-download-icon2 {
    width: 24px;
    height: 24px;
  }
}
 
@media(max-width: 767px) {
  .admin-candidate-scores-page-candidate-details-download-cv-container {
    height: 20%;
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    justify-content: center;
  }
  .admin-candidate-scores-page-job-title-container {
    width: 33.75%;
  }
}
 
@media(max-width: 479px) {
  .admin-candidate-scores-page-candidate-scores-main-container {
    height: 350px;
  }
  .admin-candidate-scores-page-select-sort-download-zip-main-container {
    height: 15%;
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    justify-content: flex-start;
  }
  .admin-candidate-scores-page-select-all-main-container {
    gap: 8px;
    width: 181px;
  }
  .admin-candidate-scores-page-select-checkbox1 {
    width: 16px;
    height: 16px;
  }
  .admin-candidate-scores-page-select-all-text {
    font-size: 14px;
  }
  .admin-candidate-scores-page-sort-download-zip-container {
    gap: 4px;
  }
  .admin-candidate-scores-page-dropdown-toggle1 {
    padding: 2px;
  }
  .admin-candidate-scores-page-text10 {
    font-size: 16px;
  }
  .admin-candidate-scores-page-download-zip-container {
    padding-left: 2px;
    padding-right: 2px;
  }
  .admin-candidate-scores-page-download-icon1 {
    width: 16px;
    height: 16px;
  }
  .admin-candidate-scores-page-download-zip-text {
    font-size: 16px;
  }
  .admin-candidate-scores-page-candidate-details-download-cv-container {
    height: 15%;
    justify-content: flex-start;
  }
  .admin-candidate-scores-page-candidate-name-container {
    gap: 8px;
  }
  .admin-candidate-scores-page-select-checkbox2 {
    width: 16px;
    height: 16px;
  }
  .admin-candidate-scores-page-candidate-name-text {
    font-size: 16px;
  }
  .admin-candidate-scores-page-job-title-container {
    width: 25%;
  }
  .admin-candidate-scores-page-job-title-text {
    font-size: 16px;
  }
  .admin-candidate-scores-page-view-cv-container {
    width: 20%;
  }
  .admin-candidate-scores-page-eye-icon {
    width: 16px;
    height: 16px;
  }
  .admin-candidate-scores-page-view-cv-text {
    font-size: 16px;
  }
  .admin-candidate-scores-page-download-icon2 {
    width: 24px;
    height: 24px;
  }
}