<div id="login-corporate" class="login-corporate-container">
  <div id="main-container" class="login-corporate-main-container">
    <login-page-navbar
      rootClassName="login-page-navbarroot-class-name2"
    ></login-page-navbar>
    <log-in-page
      [signupLink]="'/signup-corporate'"
      [errorMessage]="errorMessage"
      (loginSubmit)="onLoginSubmit($event)"
      rootClassName="log-in-pageroot-class-name2"
    >
      <ng-template #text1>
        <div class="login-corporate-fragment1">
          <span class="login-corporate-text1">Email</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="login-corporate-fragment2">
          <span class="login-corporate-text2">Show</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="login-corporate-fragment3">
          <span class="login-corporate-text3">Don’t have an account?</span>
        </div>
      </ng-template>
      <ng-template #text4>
        <div class="login-corporate-fragment4">
          <span class="login-corporate-text4">Sign up</span>
        </div>
      </ng-template>
      <ng-template #button>
        <div class="login-corporate-fragment5">
          <span class="login-corporate-text5">Login</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="login-corporate-fragment6">
          <span class="login-corporate-text6">Password</span>
        </div>
      </ng-template>
      <ng-template #text71>
        <div class="login-corporate-fragment7">
          <span class="login-corporate-text7">invalid Email or Password</span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="login-corporate-fragment8">
          <span class="login-corporate-text8">Welcome to Flashyre</span>
        </div>
      </ng-template>
      <ng-template #forgotPassword>
        <div class="login-corporate-fragment9">
          <span class="login-corporate-text9">Forgot Password</span>
        </div>
      </ng-template>
    </log-in-page>
  </div>
</div>