:host { 
  display: contents; 
}
 
.more-filters-component-container10 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container11 {
  gap: 24px;
  width: 712px;
  height: 685px;
  display: flex;
  padding: 24px;
  align-self: center;
  box-shadow: 0px 4px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FFFFFF;
}
 
.more-filters-component-more-filters-header {
  width: 664px;
  height: 24px;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}
 
.more-filters-component-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.more-filters-component-date-posted-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container13 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-date-posted-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form10 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text10 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.more-filters-component-down-down-icon {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-experiance-level-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container14 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-experiance-level-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form11 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text11 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
.more-filters-component-drop-down-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.more-filters-component-company-name-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container16 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-company-name-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form12 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text12 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.more-filters-component-dropdown-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-job-type-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container17 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-job-type-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form13 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text13 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
.more-filters-component-drop-down-icon2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.more-filters-component-location-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container19 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-location-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form14 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text14 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.more-filters-component-dropdown-icon2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-role-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container20 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-role-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form15 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text15 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
.more-filters-component-drop-down-icon3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.more-filters-component-salary-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container22 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-salary-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container7 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form16 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text16 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.more-filters-component-drop-down-icon4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-work-mode-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container23 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-work-mode-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container8 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form17 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text17 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
.more-filters-component-drop-down-icon5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.more-filters-component-department-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container25 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-department-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container9 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form18 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text18 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.more-filters-component-drop-down-icon6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-industries-container {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-container26 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.more-filters-component-industries-text {
  width: 324px;
  height: 24px;
}
 
.more-filters-component-select-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.more-filters-component-form19 {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.more-filters-component-select-text19 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
.more-filters-component-drop-down-icon7 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  display: flex;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.more-filters-component-buttons-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 572px;
  height: 40px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.more-filters-component-reset-button {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 122px;
  height: 40px;
  padding: 0px;
  transition: 0.3s;
  border-width: 0px;
  background-color: #05356C;
}
 
.more-filters-component-reset-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.more-filters-component-reset-button:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.more-filters-component-apply-filters-button {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 122px;
  height: 40px;
  padding: 0px;
  transition: 0.3s;
  border-width: 0px;
  background-color: #05356C;
}
 
.more-filters-component-apply-filters-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.more-filters-component-apply-filters-button:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.more-filters-component-fragment10 {
  display: contents;
}
 
.more-filters-component-text10 {
  display: inline-block;
}
 
.more-filters-component-fragment11 {
  display: contents;
}
 
.more-filters-component-text11 {
  display: inline-block;
}
 
.more-filters-component-fragment12 {
  display: contents;
}
 
.more-filters-component-text12 {
  display: inline-block;
}
 
.more-filters-component-fragment13 {
  display: contents;
}
 
.more-filters-component-text13 {
  display: inline-block;
}
 
.more-filters-component-fragment14 {
  display: contents;
}
 
.more-filters-component-text16 {
  display: inline-block;
}
 
.more-filters-component-fragment15 {
  display: contents;
}
 
.more-filters-component-text19 {
  display: inline-block;
}
 
.more-filters-component-fragment16 {
  display: contents;
}
 
.more-filters-component-text22 {
  display: inline-block;
}
 
.more-filters-component-fragment17 {
  display: contents;
}
 
.more-filters-component-text25 {
  display: inline-block;
}
 
.more-filters-component-fragment18 {
  display: contents;
}
 
.more-filters-component-text26 {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
}
 
.more-filters-component-fragment19 {
  display: contents;
}
 
.more-filters-component-text27 {
  display: inline-block;
}
 
.more-filters-component-fragment20 {
  display: contents;
}
 
.more-filters-component-text28 {
  display: inline-block;
}
 
.more-filters-component-fragment21 {
  display: contents;
}
 
.more-filters-component-text31 {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
}
 
.more-filters-component-fragment22 {
  display: contents;
}
 
.more-filters-component-text32 {
  display: inline-block;
}
 
.more-filters-component-fragment23 {
  display: contents;
}
 
.more-filters-component-text33 {
  display: inline-block;
}
 
.more-filters-component-fragment24 {
  display: contents;
}
 
.more-filters-component-text36 {
  display: inline-block;
}
 
.more-filters-component-fragment25 {
  display: contents;
}
 
.more-filters-component-text37 {
  display: inline-block;
}
 
.more-filters-component-fragment26 {
  display: contents;
}
 
.more-filters-component-text40 {
  display: inline-block;
}
 
.more-filters-component-fragment27 {
  display: contents;
}
 
.more-filters-component-text41 {
  display: inline-block;
}
 
.more-filters-component-fragment28 {
  display: contents;
}
 
.more-filters-component-text44 {
  display: inline-block;
}
 
.more-filters-component-fragment29 {
  display: contents;
}
 
.more-filters-component-text45 {
  display: inline-block;
}
 
.more-filters-component-fragment30 {
  display: contents;
}
 
.more-filters-component-text48 {
  display: inline-block;
}
 
.more-filters-component-fragment31 {
  display: contents;
}
 
.more-filters-component-text49 {
  color: rgb(24, 25, 28);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.more-filters-component-fragment32 {
  display: contents;
}
 
.more-filters-component-text50 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .more-filters-component-container10 {
    height: 723px;
  }
}
 
@media(max-width: 479px) {
  .more-filters-component-container10 {
    width: 479px;
    height: 726px;
    justify-content: flex-start;
  }
  .more-filters-component-container11 {
    width: 479px;
    height: 726px;
    display: flex;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .more-filters-component-more-filters-header {
    width: 420px;
  }
  .more-filters-component-container12 {
    width: 383px;
    justify-content: space-between;
  }
  .more-filters-component-date-posted-container {
    width: 179.5px;
  }
  .more-filters-component-container13 {
    width: 179.5px;
  }
  .more-filters-component-date-posted-text {
    width: 179.5px;
  }
  .more-filters-component-select-container1 {
    width: 179.5px;
  }
  .more-filters-component-form10 {
    width: 179.5px;
  }
  .more-filters-component-experiance-level-container {
    width: 179.5px;
  }
  .more-filters-component-container14 {
    width: 179.5px;
  }
  .more-filters-component-experiance-level-text {
    width: 179.5px;
  }
  .more-filters-component-select-container2 {
    width: 179.5px;
  }
  .more-filters-component-form11 {
    width: 179.5px;
  }
  .more-filters-component-container15 {
    width: 383px;
  }
  .more-filters-component-company-name-container {
    width: 179.5px;
  }
  .more-filters-component-container16 {
    width: 179.5px;
  }
  .more-filters-component-company-name-text {
    width: 179.5px;
  }
  .more-filters-component-select-container3 {
    width: 179.5px;
  }
  .more-filters-component-form12 {
    width: 179.5px;
  }
  .more-filters-component-job-type-container {
    width: 179.5px;
  }
  .more-filters-component-container17 {
    width: 179.5px;
  }
  .more-filters-component-job-type-text {
    width: 179.5px;
  }
  .more-filters-component-select-container4 {
    width: 179.5px;
  }
  .more-filters-component-form13 {
    width: 179.5px;
  }
  .more-filters-component-container18 {
    width: 383px;
  }
  .more-filters-component-location-container {
    width: 179.5px;
  }
  .more-filters-component-container19 {
    width: 179.5px;
  }
  .more-filters-component-location-text {
    width: 179.5px;
  }
  .more-filters-component-select-container5 {
    width: 179.5px;
  }
  .more-filters-component-form14 {
    width: 179.5px;
  }
  .more-filters-component-role-container {
    width: 179.5px;
  }
  .more-filters-component-container20 {
    width: 179.5px;
  }
  .more-filters-component-role-text {
    width: 179.5px;
  }
  .more-filters-component-select-container6 {
    width: 179.5px;
  }
  .more-filters-component-form15 {
    width: 179.5px;
  }
  .more-filters-component-container21 {
    width: 383px;
  }
  .more-filters-component-salary-container {
    width: 179.5px;
  }
  .more-filters-component-container22 {
    width: 179.5px;
  }
  .more-filters-component-salary-text {
    width: 179.5px;
  }
  .more-filters-component-select-container7 {
    width: 179.5px;
  }
  .more-filters-component-form16 {
    width: 179.5px;
  }
  .more-filters-component-work-mode-container {
    width: 179.5px;
  }
  .more-filters-component-container23 {
    width: 179.5px;
  }
  .more-filters-component-work-mode-text {
    width: 179.5px;
  }
  .more-filters-component-select-container8 {
    width: 179.5px;
  }
  .more-filters-component-form17 {
    width: 179.5px;
  }
  .more-filters-component-container24 {
    width: 383px;
  }
  .more-filters-component-department-container {
    width: 179.5px;
  }
  .more-filters-component-container25 {
    width: 179.5px;
  }
  .more-filters-component-department-text {
    width: 179.5px;
  }
  .more-filters-component-select-container9 {
    width: 179.5px;
  }
  .more-filters-component-form18 {
    width: 179.5px;
  }
  .more-filters-component-industries-container {
    width: 179.5px;
  }
  .more-filters-component-container26 {
    width: 179.5px;
  }
  .more-filters-component-industries-text {
    width: 179.5px;
  }
  .more-filters-component-select-container10 {
    width: 179.5px;
  }
  .more-filters-component-form19 {
    width: 179.5px;
    height: 54px;
  }
  .more-filters-component-buttons-container {
    gap: 0;
    width: 383px;
    justify-content: space-between;
  }
}
