<div id="more-filters" class="more-filters-component-container10">
  <div id="more-filters-container" class="more-filters-component-container11">
    <span
      id="more-filters-header"
      class="more-filters-component-more-filters-header"
    >
      <ng-container>
        <ng-template #defaultText>
          <div class="more-filters-component-fragment31">
            <span class="more-filters-component-text49">More Filters</span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    <div
      id="date-experience-container"
      class="more-filters-component-container12"
    >
      <div
        id="date posted-container"
        class="more-filters-component-date-posted-container"
      >
        <div
          id="date-select-dropdown"
          class="more-filters-component-container13"
        >
          <span
            id="date-posted-text"
            class="more-filters-component-date-posted-text"
          >
            <ng-container>
              <ng-template #defaultText11>
                <div class="more-filters-component-fragment14">
                  <span class="more-filters-component-text16">
                    <span>Date Posted</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text11 ? text11 : defaultText11"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container1"
          >
            <form
              id="date-posted-dropdown"
              class="more-filters-component-form10 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text10"
              >
                <ng-container>
                  <ng-template #defaultText31>
                    <div class="more-filters-component-fragment22">
                      <span class="more-filters-component-text32">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text31 ? text31 : defaultText31"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-down-down-icon"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="experience-level-container"
        class="more-filters-component-experiance-level-container"
      >
        <div
          id="experience-container"
          class="more-filters-component-container14"
        >
          <span
            id="experience-level"
            class="more-filters-component-experiance-level-text"
          >
            <ng-container>
              <ng-template #defaultText111>
                <div class="more-filters-component-fragment27">
                  <span class="more-filters-component-text41">
                    <span>Expeiance Level</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text111 ? text111 : defaultText111"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-experience-container"
            class="more-filters-component-select-container2"
          >
            <form
              id="experience level-dropdown"
              class="more-filters-component-form11 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text11"
              >
                <ng-container>
                  <ng-template #defaultText311>
                    <div class="more-filters-component-fragment30">
                      <span class="more-filters-component-text48">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text311 ? text311 : defaultText311"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-drop-down-icon1"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="company-name-job-type-container"
      class="more-filters-component-container15"
    >
      <div
        id="company-name-container"
        class="more-filters-component-company-name-container"
      >
        <div
          id="company-name-select-container"
          class="more-filters-component-container16"
        >
          <span
            id="company-name"
            class="more-filters-component-company-name-text"
          >
            <ng-container>
              <ng-template #defaultText112>
                <div class="more-filters-component-fragment20">
                  <span class="more-filters-component-text28">
                    <span>Company Name</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text112 ? text112 : defaultText112"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container3"
          >
            <form
              id="company-name-dropdown"
              class="more-filters-component-form12 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text12"
              >
                <ng-container>
                  <ng-template #defaultText312>
                    <div class="more-filters-component-fragment11">
                      <span class="more-filters-component-text11">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text312 ? text312 : defaultText312"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-dropdown-icon1"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="job-type-container"
        class="more-filters-component-job-type-container"
      >
        <div
          id="job-type-select-container"
          class="more-filters-component-container17"
        >
          <span id="job-type" class="more-filters-component-job-type-text">
            <ng-container>
              <ng-template #defaultText1111>
                <div class="more-filters-component-fragment32">
                  <span class="more-filters-component-text50">
                    <span>Job Type</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text1111 ? text1111 : defaultText1111"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container4"
          >
            <form
              id="job-type-dropdown"
              class="more-filters-component-form13 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text13"
              >
                <ng-container>
                  <ng-template #defaultText3111>
                    <div class="more-filters-component-fragment12">
                      <span class="more-filters-component-text12">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text3111 ? text3111 : defaultText3111"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-drop-down-icon2"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="location-role-container"
      class="more-filters-component-container18"
    >
      <div
        id="location-container"
        class="more-filters-component-location-container"
      >
        <div
          id="location-select-container"
          class="more-filters-component-container19"
        >
          <span id="location-text" class="more-filters-component-location-text">
            <ng-container>
              <ng-template #defaultText113>
                <div class="more-filters-component-fragment23">
                  <span class="more-filters-component-text33">
                    <span>Location</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text113 ? text113 : defaultText113"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container5"
          >
            <form
              id="location-dropdown"
              class="more-filters-component-form14 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text14"
              >
                <ng-container>
                  <ng-template #defaultText313>
                    <div class="more-filters-component-fragment17">
                      <span class="more-filters-component-text25">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text313 ? text313 : defaultText313"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-dropdown-icon2"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="role-select-container"
        class="more-filters-component-role-container"
      >
        <div id="role-container" class="more-filters-component-container20">
          <span id="job-role" class="more-filters-component-role-text">
            <ng-container>
              <ng-template #defaultText1112>
                <div class="more-filters-component-fragment13">
                  <span class="more-filters-component-text13">
                    <span>Role</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text1112 ? text1112 : defaultText1112"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container6"
          >
            <form
              id="job-role-dropdown"
              class="more-filters-component-form15 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text15"
              >
                <ng-container>
                  <ng-template #defaultText3112>
                    <div class="more-filters-component-fragment19">
                      <span class="more-filters-component-text27">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text3112 ? text3112 : defaultText3112"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-drop-down-icon3"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="salary-work-mode-container"
      class="more-filters-component-container21"
    >
      <div
        id="salary-container"
        class="more-filters-component-salary-container"
      >
        <div id="select-container" class="more-filters-component-container22">
          <span id="salary-text" class="more-filters-component-salary-text">
            <ng-container>
              <ng-template #defaultText1131>
                <div class="more-filters-component-fragment15">
                  <span class="more-filters-component-text19">
                    <span>Salary</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text1131 ? text1131 : defaultText1131"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container7"
          >
            <form
              id="salary-dropdown"
              class="more-filters-component-form16 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text16"
              >
                <ng-container>
                  <ng-template #defaultText3131>
                    <div class="more-filters-component-fragment24">
                      <span class="more-filters-component-text36">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text3131 ? text3131 : defaultText3131"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-drop-down-icon4"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="work-mode-container"
        class="more-filters-component-work-mode-container"
      >
        <div
          id="work-mode-select-container"
          class="more-filters-component-container23"
        >
          <span
            id="work-mode-text"
            class="more-filters-component-work-mode-text"
          >
            <ng-container>
              <ng-template #defaultText11121>
                <div class="more-filters-component-fragment29">
                  <span class="more-filters-component-text45">
                    <span>Work mode</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text11121 ? text11121 : defaultText11121"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container8"
          >
            <form
              id="work-mode-dropdown"
              class="more-filters-component-form17 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text17"
              >
                <ng-container>
                  <ng-template #defaultText31121>
                    <div class="more-filters-component-fragment28">
                      <span class="more-filters-component-text44">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text31121 ? text31121 : defaultText31121"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-drop-down-icon5"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="department-industries-container"
      class="more-filters-component-container24"
    >
      <div
        id="department-container"
        class="more-filters-component-department-container"
      >
        <div
          id="department-select-container"
          class="more-filters-component-container25"
        >
          <span
            id="department-text"
            class="more-filters-component-department-text"
          >
            <ng-container>
              <ng-template #defaultText11311>
                <div class="more-filters-component-fragment25">
                  <span class="more-filters-component-text37">
                    <span>Department</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text11311 ? text11311 : defaultText11311"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container9"
          >
            <form
              id="department-dropdown"
              class="more-filters-component-form18 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text18"
              >
                <ng-container>
                  <ng-template #defaultText31311>
                    <div class="more-filters-component-fragment10">
                      <span class="more-filters-component-text10">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text31311 ? text31311 : defaultText31311"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-drop-down-icon6"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="industries-container"
        class="more-filters-component-industries-container"
      >
        <div
          id="industries-select-container"
          class="more-filters-component-container26"
        >
          <span
            id="industries-text"
            class="more-filters-component-industries-text"
          >
            <ng-container>
              <ng-template #defaultText111211>
                <div class="more-filters-component-fragment16">
                  <span class="more-filters-component-text22">
                    <span>Industries</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text111211 ? text111211 : defaultText111211"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="more-filters-component-select-container10"
          >
            <form
              id="industries-dropdown"
              class="more-filters-component-form19 input"
            >
              <span
                id="select-text"
                class="more-filters-component-select-text19"
              >
                <ng-container>
                  <ng-template #defaultText311211>
                    <div class="more-filters-component-fragment26">
                      <span class="more-filters-component-text40">Select</span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text311211 ? text311211 : defaultText311211"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="more-filters-component-drop-down-icon7"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="buttons-container"
      class="more-filters-component-buttons-container"
    >
      <button
        id="reset-button"
        type="button"
        class="more-filters-component-reset-button button"
      >
        <span id="reset-text">
          <ng-container>
            <ng-template #defaultButton>
              <div class="more-filters-component-fragment18">
                <span class="more-filters-component-text26">Reset</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="button ? button : defaultButton"
            ></ng-container>
          </ng-container>
        </span>
      </button>
      <button
        id="apply-filters-button"
        type="button"
        class="more-filters-component-apply-filters-button button"
      >
        <span id="apply-filter-text">
          <ng-container>
            <ng-template #defaultButton1>
              <div class="more-filters-component-fragment21">
                <span class="more-filters-component-text31">Apply Filters</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="button1 ? button1 : defaultButton1"
            ></ng-container>
          </ng-container>
        </span>
      </button>
    </div>
  </div>
</div>
