<div id="profile-basic-information" class="profile-basic-information-container">
  <div id="main-container" class="profile-basic-information-main-container">
    <div
      id="profile-container"
      class="profile-basic-information-profile-container"
    >
      <navbar-for-candidate-view1
        rootClassName="navbar-for-candidate-view1root-class-name5"
      >
        <ng-template #text1>
          <div class="profile-basic-information-fragment10">
            <span class="profile-basic-information-text10">Profile</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="profile-basic-information-fragment11">
            <span class="profile-basic-information-text11">Preference</span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="profile-basic-information-fragment12">
            <span class="profile-basic-information-text12">Settings</span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="profile-basic-information-fragment13">
            <span class="profile-basic-information-text13">Kathryn Murphy</span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="profile-basic-information-fragment14">
            <span class="profile-basic-information-text14">
              ✅ 90% Profile Completion
            </span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="profile-basic-information-fragment15">
            <span class="profile-basic-information-text15">
              View & edit profile
            </span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="profile-basic-information-fragment16">
            <span class="profile-basic-information-text16">Preference</span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="profile-basic-information-fragment17">
            <span class="profile-basic-information-text17">Settings</span>
          </div>
        </ng-template>
        <ng-template #text13>
          <div class="profile-basic-information-fragment18">
            <span class="profile-basic-information-text18">Logout</span>
          </div>
        </ng-template>
        <ng-template #text31>
          <div class="profile-basic-information-fragment19">
            <span class="profile-basic-information-text19">Logout</span>
          </div>
        </ng-template>
      </navbar-for-candidate-view1>
      <div
        id="basic-information-container"
        class="profile-basic-information-basic-information-container"
      >
        <progress-bar-step1
          rootClassName="progress-bar-step1root-class-name3"
        ></progress-bar-step1>
        <profile-basicinformation-component
        *ngIf="isBasicPage()"
          rootClassName="profile-basicinformation-componentroot-class-name2"
          #profileComponent
        >
          <ng-template #text>
            <div class="profile-basic-information-fragment20">
              <span class="profile-basic-information-text20">Resume</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="profile-basic-information-fragment21">
              <span class="profile-basic-information-text21">
                Basic Information
              </span>
            </div>
          </ng-template>
          <ng-template #text2>
            <div class="profile-basic-information-fragment22">
              <span class="profile-basic-information-text22">
                Profile Picture
              </span>
            </div>
          </ng-template>
          <ng-template #text5>
            <div class="profile-basic-information-fragment23">
              <span class="profile-basic-information-text23">Last Name</span>
            </div>
          </ng-template>
          <ng-template #text6>
            <div class="profile-basic-information-fragment24">
              <span class="profile-basic-information-text24">First Name</span>
            </div>
          </ng-template>
          <ng-template #button>
            <div class="profile-basic-information-fragment25">
              <span class="profile-basic-information-text25">Upload</span>
            </div>
          </ng-template>
          <ng-template #text51>
            <div class="profile-basic-information-fragment26">
              <span class="profile-basic-information-text26">
                Mobile Number
              </span>
            </div>
          </ng-template>
          <ng-template #text52>
            <div class="profile-basic-information-fragment27">
              <span class="profile-basic-information-text27">Email</span>
            </div>
          </ng-template>
        </profile-basicinformation-component>
        
        <profile-employment-component
          *ngIf="isEmploymentPage()"
          rootClassName="profile-employment-componentroot-class-name"
        >
        </profile-employment-component>

        <profile-certifications-component
          *ngIf="isCertificationsPage()"
          rootClassName="profile-certifications-componentroot-class-name"
        >
        </profile-certifications-component>
        
        <profile-creation-navigation1
          rootClassName="profile-creation-navigation1root-class-name2"
          (saveAndNextClicked)="handleSaveAndNext($event)"
          (skipClicked)="handleSkip()"
          (previousClicked)="handlePrevious()"
        >
          <ng-template #text>
            <div class="profile-basic-information-fragment28">
              <span class="profile-basic-information-text28" >Skip</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="profile-basic-information-fragment29">
              <span class="profile-basic-information-text29" >Save & Next -></span>
            </div>
          </ng-template>
        </profile-creation-navigation1>
      </div>
    </div>
  </div>
</div>