:host { 
  display: contents; 
}
 
.signup-candidate-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #F4F4F4;
}
 
.signup-candidate-main-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.signup-candidate-fragment10 {
  display: contents;
}
 
.signup-candidate-text10 {
  display: inline-block;
}
 
.signup-candidate-fragment11 {
  display: contents;
}
 
.signup-candidate-text11 {
  display: inline-block;
}
 
.signup-candidate-fragment12 {
  display: contents;
}
 
.signup-candidate-text12 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.signup-candidate-fragment13 {
  display: contents;
}
 
.signup-candidate-text13 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 500;
}
 
.signup-candidate-fragment14 {
  display: contents;
}
 
.signup-candidate-text14 {
  display: inline-block;
}
 
.signup-candidate-fragment15 {
  display: contents;
}
 
.signup-candidate-text15 {
  display: inline-block;
}
 
.signup-candidate-fragment16 {
  display: contents;
}
 
.signup-candidate-text16 {
  display: inline-block;
}
 
.signup-candidate-fragment17 {
  display: contents;
}
 
.signup-candidate-text17 {
  display: inline-block;
}
 
.signup-candidate-fragment18 {
  display: contents;
}
 
.signup-candidate-text18 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.signup-candidate-fragment19 {
  display: contents;
}
 
.signup-candidate-text19 {
  color: #ffffff;
  display: inline-block;
  background-color: rgb(246, 94, 92);
}
 
.signup-candidate-fragment20 {
  display: contents;
}
 
.signup-candidate-text20 {
  color: #18191c;
  display: inline-block;
}
 
.signup-candidate-fragment21 {
  display: contents;
}
 
.signup-candidate-text21 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.signup-candidate-fragment22 {
  display: contents;
}
 
.signup-candidate-text22 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
