<div id="signup-candidate" class="signup-candidate-container">
  <div id="main-container" class="signup-candidate-main-container">
    <signup-page-navbar
      rootClassName="signup-page-navbarroot-class-name3"
    ></signup-page-navbar>
    <signup-candidate1 rootClassName="signup-candidate1root-class-name">
      <ng-template #text>
        <div class="signup-candidate-fragment10">
          <span class="signup-candidate-text10">First Name</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="signup-candidate-fragment11">
          <span class="signup-candidate-text11">Last Name</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="signup-candidate-fragment12">
          <span class="signup-candidate-text12">Show</span>
        </div>
      </ng-template>
      <ng-template #text5>
        <div class="signup-candidate-fragment13">
          <span class="signup-candidate-text13">Sign In</span>
        </div>
      </ng-template>
      <ng-template #text6>
        <div class="signup-candidate-fragment14">
          <span class="signup-candidate-text14">Already have an account?</span>
        </div>
      </ng-template>
      <ng-template #button>
        <div class="signup-candidate-fragment15">
          <span class="signup-candidate-text15">Sign Up</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="signup-candidate-fragment16">
          <span class="signup-candidate-text16">Email Id</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="signup-candidate-fragment17">
          <span class="signup-candidate-text17">Phone Number</span>
        </div>
      </ng-template>
      <ng-template #text21>
        <div class="signup-candidate-fragment18">
          <span class="signup-candidate-text18">Show</span>
        </div>
      </ng-template>
      <ng-template #text71>
        <div class="signup-candidate-fragment19">
          <span class="signup-candidate-text19">
            Email or Phone Number already exists!
          </span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="signup-candidate-fragment20">
          <span class="signup-candidate-text20">Welcome to Flashyre</span>
        </div>
      </ng-template>
      <ng-template #text111>
        <div class="signup-candidate-fragment21">
          <span class="signup-candidate-text21">Password</span>
        </div>
      </ng-template>
      <ng-template #text1111>
        <div class="signup-candidate-fragment22">
          <span class="signup-candidate-text22">Confirm Password</span>
        </div>
      </ng-template>
    </signup-candidate1>
  </div>
</div>
