<div class="flashyre-assessment1-container1">
  <div id="main-container" class="flashyre-assessment1-main-container">
    <div id="header-container" class="flashyre-assessment1-header-container">
      <img
        id="Logo"
        alt="image"
        src="/assets/main-logo/logo%20-%20flashyre(1500px)-200h.png"
        class="flashyre-assessment1-logo"
      />
    <span id="timer" 
      class="flashyre-assessment1-timer">{{ timer | timerFormat }}
    </span>
      <button
        id="end-test-button"
        type="button"
        class="flashyre-assessment1-end-test-button button"
      >
        <span id="end-test-text" class="flashyre-assessment1-end-test-text" (click)="terminateTest()">
          Submit
        </span>
      </button>
    </div>
    <div
      id="assessment-questions-options-main-container"
      class="flashyre-assessment1-assessment-questions-options-main-container"
    >
      <div
        id="sections-questions-previous-next-containers"
        class="flashyre-assessment1-sections-questions-previous-next-containers"
      >
        <div
          data-thq="thq-dropdown"
          class="flashyre-assessment1-sections-dropdown list-item"
        >
        <div
        data-thq="thq-dropdown-toggle"
        class="flashyre-assessment1-dropdown-toggle1"
      >
        <span id="sections-text" class="flashyre-assessment1-sections-text">
          {{ currentSection?.name || 'Sections' }}
        </span>
        <div
          data-thq="thq-dropdown-arrow"
          class="flashyre-assessment1-dropdown-arrow"
        >
          <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            class="flashyre-assessment1-icon10"
          >
            <path
              d="M36 18L24 30L12 18"
              fill="none"
              stroke="currentColor"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
          <ul
            data-thq="thq-dropdown-list"
            class="flashyre-assessment1-sections-dropdown-list"
          >
            <li
              *ngFor="let section of sections; let i = index"
              data-thq="thq-dropdown"
              class="flashyre-assessment1-sections-dropdown-list1 list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="flashyre-assessment1-dropdown-toggle2"
                (click)="selectSection(section)"
              >
                <span
                  id="section-{{i}}-text"
                  class="flashyre-assessment1-section-a-text"
                >
                {{ section.name }}
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div
          id="question-numbers-main-container"
          class="flashyre-assessment1-question-numbers-main-container"
        >
          <svg
            id="backward-arrow-icon"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            class="flashyre-assessment1-backward-arrow-icon"
            (click)="previousQuestion()"
          >
            <path
              d="M10 16L20 6l1.4 1.4l-8.6 8.6l8.6 8.6L20 26z"
              fill="currentColor"
            ></path>
          </svg>
          <!-- Update the question button in numbers-main-container -->
<button
*ngFor="let question of currentQuestions; let i = index"
id="question-number-{{i}}-button"
type="button"
class="flashyre-assessment1-question-number1-button10 button"
[ngClass]="getQuestionStatusClass(question.question_id)"
(click)="navigateToQuestion(i)"
>
{{ i + 1 }}
</button>
          <svg
            id="forward-arrow-icon"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            class="flashyre-assessment1-forward-arrow-icon"
            (click)="nextQuestion()"
          >
            <path
              d="M22 16L12 26l-1.4-1.4l8.6-8.6l-8.6-8.6L12 6z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        <div
          id="previous-next-button-main-container"
          class="flashyre-assessment1-previous-next-button-main-container1"
        >
          <button
            id="previous-button1"
            type="button"
            class="flashyre-assessment1-previous-button1 button"
            (click)="previousQuestion()"
          >
            Previous
          </button>
          <button
  id="next-button"
  type="button"
  class="flashyre-assessment1-next-button1 button"
  [ngClass]="{ 'd-none': currentQuestionIndex === totalQuestionsInSection - 1 }"
  (click)="nextQuestion()"
>
  Next
</button>
<button
id="next-section-button"
type="button"
class="flashyre-assessment1-next-section-button1 button"
[ngClass]="{ 'd-block': currentQuestionIndex === totalQuestionsInSection - 1 && !isLastSection }"
(click)="selectSection(sections[currentSectionIndex + 1])"
>
Next Section
</button>
          <button
            id="submit-button"
            type="button"
            class="flashyre-assessment1-submit-button1 button"
            [ngClass]="{ 'd-block': currentQuestionIndex === totalQuestionsInSection - 1 && isLastSection }"
            (click)="submitAssessment()"
          >
            Submit
          </button>
        </div>
      </div>
      <div
        id="question-answer-container"
        class="flashyre-assessment1-question-answer-container"
      >
        <div
          id="questions-container"
          class="flashyre-assessment1-questions-container"
        >
          <span
            id="question-num-text"
            class="flashyre-assessment1-question-num-text"
          >
            Question {{ currentQuestionIndex + 1 }}
          </span>
          <div
            id="question-container"
            class="flashyre-assessment1-question-container"
          >
            <span id="question-text" class="flashyre-assessment1-question-text">
                {{ currentQuestions[currentQuestionIndex]?.question }}
              
            </span>
          </div>
          <button
            id="previous-button"
            type="button"
            class="flashyre-assessment1-previous-button2 button"
            (click)="previousQuestion()"
          >
            &lt;-
          </button>
        </div>
        <button
          id="next-button1"
          type="button"
          class="flashyre-assessment1-next-button2 button"
          (click)="nextQuestion()"
        >
          -&gt;
        </button>
        <div
          id="answers-container"
          class="flashyre-assessment1-answers-container"
        >
          <div
            id="select-an-option-container"
            class="flashyre-assessment1-select-an-option-container"
          >
            <span
              id="select-an-option-text"
              class="flashyre-assessment1-select-an-option-text"
            >
              Select an option
            </span>
            <div
              id="clear-response-container"
              class="flashyre-assessment1-clear-response-container"
              (click)="clearResponse(currentQuestions[currentQuestionIndex]?.question_id)"
            >
              <svg
                id="eraser-icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="flashyre-assessment1-eraser-icon"
              >
                <g fill="none">
                  <g clip-path="url(#majesticonsEraserLine0)">
                    <path
                      d="m11.607 6.535l-7.779 7.779a2 2 0 0 0 0 2.828l1.536 1.536a2 2 0 0 0 1.414.585h6.243M11.607 6.535l2.12-2.12a2 2 0 0 1 2.83 0l4.242 4.242a2 2 0 0 1 0 2.828l-2.121 2.122m-7.071-7.072l7.07 7.072m0 0l-5.656 5.656m0 0H20"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                  <defs>
                    <clippath id="majesticonsEraserLine0">
                      <path d="M0 0h24v24H0z" fill="#fff"></path>
                    </clippath>
                  </defs>
                </g>
              </svg>
              <span
                id="clear-response-text"
                class="flashyre-assessment1-clear-response-text"
              >
                Clear Response
              </span>
            </div>
          </div>
          <div
            id="options-container"
            class="flashyre-assessment1-options-container"
          >
            <div
            *ngFor="let option of getOptions(currentQuestions[currentQuestionIndex]); index as i"
              id="first-option-container"
              class="flashyre-assessment1-first-option-container"
            >
              <div class="flashyre-assessment1-container2">
                <input
                type="radio"
                name="question{{currentQuestions[currentQuestionIndex]?.question_id}}"
                id="radio{{currentQuestions[currentQuestionIndex]?.question_id}}-{{i}}"
                class="flashyre-assessment1-radio1"
                value="{{option.value}}"
                (change)="selectOption(
                  currentQuestions[currentQuestionIndex]?.question_id,
                  currentSection?.section_id,
                  option.value
                )"
                [checked]="selectedAnswers[currentQuestions[currentQuestionIndex]?.question_id]?.answer === option.value"
              />
              <span
                id="option-text-{{i}}"
                class="flashyre-assessment1-first-option-text"
                
              >
                {{ option.value }}
              </span>
              </div>
            </div>





            <div class="flashyre-assessment1-text-input-container">
              <p
                id="descriptive-answer"
                class="flashyre-assessment1-description-type-answer textarea"
              >
                .
              </p>
            </div>



          </div>
        </div>
      </div>
      <div
        id="previous-next-button-main-container"
        class="flashyre-assessment1-previous-next-button-main-container2"
      >
        <button
          id="previous-button2"
          type="button"
          class="flashyre-assessment1-previous-button3 button"
          (click)="previousQuestion()"
        >
          Previous
        </button>
        <button
          id="next-button2"
          type="button"
          class="flashyre-assessment1-next-button3 button"
          (click)="nextQuestion()"
        >
          Next
        </button>
        <button
          id="next-section-button"
          type="button"
          class="flashyre-assessment1-next-section-button2 button"
        >
          Next Section
        </button>
        <button
          id="submit-button"
          type="button"
          class="flashyre-assessment1-submit-button2 button"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
