:host { 
  display: contents; 
}
 
.navbar-for-candidate-view-container1 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.navbar-for-candidate-view-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-candidate-view-navbar-interactive {
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
  background-color: #FFFFFF;
}
 
.navbar-for-candidate-view-flashyre-image {
  width: 200px;
  object-fit: cover;
}

.navbar-for-candidate-view-flashyre-image:hover {
  cursor: pointer;
}
 
.navbar-for-candidate-view-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar-for-candidate-view-links {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 385px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-end;
}
 
.navbar-for-candidate-view-dashboard-link1 {
  fill: #05356C;
  color: #05356C;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
 
.navbar-for-candidate-view-dashboard-link1:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.navbar-for-candidate-view-dashboard-link1:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-dashboard-link2 {
  fill: #05356C;
  color: #05356C;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
 
.navbar-for-candidate-view-dashboard-link2:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.navbar-for-candidate-view-dashboard-link2:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-dashboard-link3 {
  fill: #05356C;
  color: #05356C;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
 
.navbar-for-candidate-view-dashboard-link3:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.navbar-for-candidate-view-dashboard-link3:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-jobs-for-you-link {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
 
.navbar-for-candidate-view-jobs-for-you-link:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-jobs-for-you-link:active {
  transform: scale(1.05);
  transition: all 0.7s;
  text-decoration-line: underline;
}
 
.navbar-for-candidate-view-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-for-candidate-view-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar-for-candidate-view-user-image1 {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.navbar-for-candidate-view-dropdown-arrow {
  transition: 0.3s;
}
 
.navbar-for-candidate-view-drop-down-icon {
  width: 32px;
  height: 32px;
  display: flex;
  transition: 0.3s;
  justify-content: center;
}
 
.navbar-for-candidate-view-drop-down-icon:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-drop-down-icon:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-candidate-view-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
 
.navbar-for-candidate-view-profile1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-for-candidate-view-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar-for-candidate-view-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-candidate-view-profile2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-candidate-view-preference1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-for-candidate-view-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar-for-candidate-view-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-candidate-view-preference2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-candidate-view-settings1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-for-candidate-view-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar-for-candidate-view-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-candidate-view-settings2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-candidate-view-logout1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-for-candidate-view-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar-for-candidate-view-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-candidate-view-logout2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-candidate-view-burger-menu {
  display: none;
}
 
.navbar-for-candidate-view-burger-icon {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-for-candidate-view-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-for-candidate-view-popup-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-close-icon {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-for-candidate-view-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-candidate-view-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-for-candidate-view-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.navbar-for-candidate-view-user-image2 {
  width: 200px;
  object-fit: cover;
}
 
.navbar-for-candidate-view-container5 {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 390px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-fragment10 {
  display: contents;
}
 
.navbar-for-candidate-view-text10 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment11 {
  display: contents;
}
 
.navbar-for-candidate-view-text11 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment12 {
  display: contents;
}
 
.navbar-for-candidate-view-text12 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment13 {
  display: contents;
}
 
.navbar-for-candidate-view-text16 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment14 {
  display: contents;
}
 
.navbar-for-candidate-view-text17 {
  display: inline-block;
}
 
.navbar-for-candidate-view-details-container {
  gap: 3px;
  flex: 0 0 auto;
  width: 152px;
  height: 102px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-recruiter-name {
  fill: #18191C;
  color: #18191C;
  width: 128px;
  height: 24px;
  display: flex;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}
 
.navbar-for-candidate-view-container6 {
  gap: 4px;
  flex: 0 0 auto;
  width: 76px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
 
.navbar-for-candidate-view-company-image {
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  object-fit: cover;
  align-items: center;
}
 
.navbar-for-candidate-view-company-name {
  width: 56px;
  height: 24px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 700;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-job-role-of-recruiter {
  fill: #18191C;
  color: #18191C;
  width: 152px;
  height: 48px;
  display: flex;
  font-size: 14px;
  align-self: center;
  text-align: center;
  align-items: center;
  line-height: 20px;
  justify-content: center;
}
 
.navbar-for-candidate-view-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-dashboard-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-jobs-for-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-jobs-for-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-jobs-for-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-container8 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-preference-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-settings-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-logout-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-candidate-view-container9 {
  gap: 16px;
  flex: 0 0 auto;
  width: 240px;
  height: 390px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-candidate-view-fragment15 {
  display: contents;
}
 
.navbar-for-candidate-view-text18 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment16 {
  display: contents;
}
 
.navbar-for-candidate-view-text19 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment17 {
  display: contents;
}
 
.navbar-for-candidate-view-text20 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment18 {
  display: contents;
}
 
.navbar-for-candidate-view-text24 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment19 {
  display: contents;
}
 
.navbar-for-candidate-view-text25 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment20 {
  display: contents;
}
 
.navbar-for-candidate-view-text26 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.navbar-for-candidate-view-fragment21 {
  display: contents;
}
 
.navbar-for-candidate-view-text27 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.navbar-for-candidate-view-fragment22 {
  display: contents;
}
 
.navbar-for-candidate-view-text28 {
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
 
.navbar-for-candidate-view-fragment23 {
  display: contents;
}
 
.navbar-for-candidate-view-text29 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment24 {
  display: contents;
}
 
.navbar-for-candidate-view-text30 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment25 {
  display: contents;
}
 
.navbar-for-candidate-view-text31 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment26 {
  display: contents;
}
 
.navbar-for-candidate-view-text32 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment27 {
  display: contents;
}
 
.navbar-for-candidate-view-text33 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment28 {
  display: contents;
}
 
.navbar-for-candidate-view-text34 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment29 {
  display: contents;
}
 
.navbar-for-candidate-view-text35 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment30 {
  display: contents;
}
 
.navbar-for-candidate-view-text39 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment31 {
  display: contents;
}
 
.navbar-for-candidate-view-text40 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment32 {
  display: contents;
}
 
.navbar-for-candidate-view-text41 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment33 {
  display: contents;
}
 
.navbar-for-candidate-view-text42 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment34 {
  display: contents;
}
 
.navbar-for-candidate-view-text43 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment35 {
  display: contents;
}
 
.navbar-for-candidate-view-text44 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment36 {
  display: contents;
}
 
.navbar-for-candidate-view-text45 {
  display: inline-block;
}
 
.navbar-for-candidate-view-fragment37 {
  display: contents;
}
 
.navbar-for-candidate-view-text46 {
  display: inline-block;
}
 
.navbar-for-candidate-viewroot-class-name {
  top: 0px;
  right: 0px;
  z-index: 1000;
  position: fixed;
}
 
.navbar-for-candidate-viewroot-class-name1 {
  width: auto;
  z-index: 1000;
  position: fixed;
  align-self: stretch;
}
 
.navbar-for-candidate-viewroot-class-name2 {
  width: 100%;
  align-self: center;
}
 

 
.navbar-for-candidate-viewroot-class-name4 {
  z-index: 1000;
  position: fixed;
}
 
.navbar-for-candidate-viewroot-class-name5 {
  z-index: 1000;
  position: fixed;
}
 
@media(max-width: 1200px) {
  .navbar-for-candidate-view-container2 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .navbar-for-candidate-view-navbar-interactive {
    width: 1199px;
    position: relative;
    justify-content: center;
  }
  .navbar-for-candidate-view-mobile-menu {
    justify-content: space-between;
  }
  .navbar-for-candidate-viewroot-class-name {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    position: static;
  }
  .navbar-for-candidate-viewroot-class-name2 {
    width: 100%;
  }
}
 
@media(max-width: 991px) {
  .navbar-for-candidate-view-container1 {
    justify-content: center;
  }
  .navbar-for-candidate-view-navbar-interactive {
    width: 990px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar-for-candidate-view-links {
    gap: var(--dl-layout-space-halfunit);
  }
  .navbar-for-candidate-view-user-image1 {
    width: 35px;
    height: 35px;
  }
  .navbar-for-candidate-view-drop-down-icon {
    width: 28px;
    height: 28px;
  }
  .navbar-for-candidate-view-container5 {
    width: auto;
  }
  .navbar-for-candidate-view-details-container {
    gap: 2px;
  }
  .navbar-for-candidate-view-recruiter-name {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  .navbar-for-candidate-view-container6 {
    width: auto;
    justify-content: center;
  }
  .navbar-for-candidate-view-company-image {
    width: 14px;
    height: 14px;
  }
  .navbar-for-candidate-view-company-name {
    width: auto;
    font-size: 14px;
  }
  .navbar-for-candidate-view-job-role-of-recruiter {
    width: auto;
    font-size: 12px;
  }
  .navbar-for-candidate-view-container9 {
    width: auto;
  }
  .navbar-for-candidate-view-text26 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .navbar-for-candidate-view-text27 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .navbar-for-candidate-view-text28 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .navbar-for-candidate-view-text29 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .navbar-for-candidate-viewroot-class-name1 {
    width: 100%;
  }
  .navbar-for-candidate-viewroot-class-name2 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .navbar-for-candidate-view-container1 {
    background-color: transparent;
  }
  .navbar-for-candidate-view-container2 {
    width: 95%;
  }
  .navbar-for-candidate-view-navbar-interactive {
    width: 766px;
    height: 72px;
    align-self: flex-start;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    justify-content: space-between;
    background-color: #FFFFFF;
  }
  .navbar-for-candidate-view-flashyre-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-for-candidate-view-desktop-menu {
    display: none;
  }
  .navbar-for-candidate-view-dropdown-toggle1 {
    display: none;
  }
  .navbar-for-candidate-view-dropdown-list {
    display: none;
  }
  .navbar-for-candidate-view-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-for-candidate-view-burger-icon {
    width: 30px;
    height: 30px;
  }
  .navbar-for-candidate-view-mobile-menu {
    right: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    max-height: auto;
    visibility: hidden;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius4);
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: flex-end;
    background-color: rgba(190, 190, 190, 0.06);
    position: absolute; /* Make sure the mobile menu is positioned over other content */
    top: 0;
    right: 0;
    transform: translateX(100%); /* Initially hide the menu offscreen */
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-for-candidate-view-mobile-menu.open {
    visibility: visible;
    transform: translateX(0); /* Bring the menu into view when open */
    position: fixed;
  }
  
  .burger-icon {
    cursor: pointer;
    /* Add styling for the burger icon */
  }
  
  .navbar-for-candidate-view-close-icon {
    cursor: pointer;
    /* Add styling for the close icon */
  }
  
  .navbar-for-candidate-view-popup-container {
    gap: var(--dl-layout-space-halfunit);
    width: 293px;
    height: 50vh;
    opacity: 1;
    padding: var(--dl-layout-space-unit);
    background-color: #FFFFFF;
  }
  .navbar-for-candidate-view-close-icon {
    height: 100%;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .navbar-for-candidate-view-icon12 {
    width: 24px;
    height: 24px;
  }
  .navbar-for-candidate-view-container3 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    height: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-unit);
    border-radius: var(--dl-layout-radius-radius4);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-halfunit);
    background-color: #FFFFFF;
  }
  .navbar-for-candidate-view-container4 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .navbar-for-candidate-view-user-image2 {
    width: 60px;
    height: 60px;
    border-radius: var(--dl-layout-radius-round);
  }
  .navbar-for-candidate-view-container5 {
    display: none;
  }
  .navbar-for-candidate-view-text12 {
    color: rgb(24, 25, 28);
  }
  .navbar-for-candidate-view-details-container {
    gap: 0px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-for-candidate-view-recruiter-name {
    font-size: 12px;
  }
  .navbar-for-candidate-view-company-image {
    width: 12px;
    height: 12px;
  }
  .navbar-for-candidate-view-company-name {
    font-size: 12px;
  }
  .navbar-for-candidate-view-job-role-of-recruiter {
    gap: 4px;
    fill: #18191C;
    color: #18191C;
    width: auto;
    height: auto;
    display: flex;
    font-size: 10px;
    align-self: center;
    text-align: center;
    align-items: center;
    line-height: 20px;
    justify-content: center;
  }
  .navbar-for-candidate-view-container7 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    height: 149px;
    border-width: 0px;
  }
  .navbar-for-candidate-view-dashboard-container {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-candidate-view-dashboard-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-for-candidate-view-jobs-for-container1 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-candidate-view-icon15 {
    width: 20px;
    height: 20px;
  }
  .navbar-for-candidate-view-jobs-for-container2 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-candidate-view-icon17 {
    width: 20px;
    height: 20px;
  }
  .navbar-for-candidate-view-jobs-for-container3 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-candidate-view-briefcase-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-for-candidate-view-container8 {
    gap: 2px;
    width: 50%;
    display: flex;
    align-self: center;
    padding-left: var(--dl-layout-space-halfunit);
    border-radius: 4px;
    padding-right: var(--dl-layout-space-halfunit);
  }
  .navbar-for-candidate-view-preference-container {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
  }
  .navbar-for-candidate-view-preference-icon {
    width: 16px;
    height: 16px;
  }
  .navbar-for-candidate-view-settings-container {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    align-items: center;
  }
  .navbar-for-candidate-view-settings-icon {
    width: 16px;
    height: 16px;
  }
  .navbar-for-candidate-view-logout-container {
    gap: var(--dl-layout-space-unit);
    width: 123px;
    padding: 0px;
    align-items: center;
    border-width: 0px;
    background-color: #FFFFFF;
  }
  .navbar-for-candidate-view-logout-icon {
    width: 16px;
    height: 16px;
  }
  .navbar-for-candidate-view-container9 {
    display: none;
  }
  .navbar-for-candidate-view-text20 {
    color: rgb(24, 25, 28);
  }
  .navbar-for-candidate-view-text32 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
  .navbar-for-candidate-view-text34 {
    font-size: 16px;
  }
  .navbar-for-candidate-view-text35 {
    color: rgb(24, 25, 28);
  }
  .navbar-for-candidate-view-text39 {
    font-size: 12px;
  }
  .navbar-for-candidate-view-text40 {
    font-size: 12px;
  }
  .navbar-for-candidate-view-text41 {
    font-size: 12px;
  }
  .navbar-for-candidate-view-text42 {
    font-size: 12px;
  }
  .navbar-for-candidate-view-text44 {
    font-size: 10px;
  }
  .navbar-for-candidate-view-text45 {
    font-size: 10px;
  }
  .navbar-for-candidate-view-text46 {
    font-size: 10px;
  }
}
 
@media(max-width: 479px) {
  .navbar-for-candidate-view-navbar-interactive {
    width: 100%;
    padding-top: var(--dl-layout-space-unit);
    margin-right: 0px;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .navbar-for-candidate-view-popup-container {
    background-color: #FFFFFF;
  }
  .navbar-for-candidate-view-container7 {
    height: 259px;
  }
  .navbar-for-candidate-view-logout-container {
    border-width: 0px;
    background-color: #FFFFFF;
  }
}
