<div id="recruiter-view-3rd-page" class="recruiter-view3rd-page-container1">
  <div id="main-container" class="recruiter-view3rd-page-main-container">
    <div class="recruiter-view3rd-page-container2">
      <navbar-for-recruiter-view
        rootClassName="navbar-for-recruiter-viewroot-class-name1"
      >
        <ng-template #text>
          <div class="recruiter-view3rd-page-fragment10">
            <span class="recruiter-view3rd-page-text10">2</span>
          </div>
        </ng-template>
        <ng-template #link1>
          <div class="recruiter-view3rd-page-fragment11">
            <span class="recruiter-view3rd-page-text11">Dashboard</span>
          </div>
        </ng-template>
        <ng-template #link4>
          <div class="recruiter-view3rd-page-fragment12">
            <span class="recruiter-view3rd-page-text12">Job Posted</span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="recruiter-view3rd-page-fragment13">
            <span class="recruiter-view3rd-page-text13">Profile</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="recruiter-view3rd-page-fragment14">
            <span class="recruiter-view3rd-page-text14">Preference</span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="recruiter-view3rd-page-fragment15">
            <span class="recruiter-view3rd-page-text15">Settings</span>
          </div>
        </ng-template>
        <ng-template #text7>
          <div class="recruiter-view3rd-page-fragment16">
            <span class="recruiter-view3rd-page-text16">Dashboard</span>
          </div>
        </ng-template>
        <ng-template #text9>
          <div class="recruiter-view3rd-page-fragment17">
            <span class="recruiter-view3rd-page-text17">Notifications</span>
          </div>
        </ng-template>
        <ng-template #text10>
          <div class="recruiter-view3rd-page-fragment18">
            <span class="recruiter-view3rd-page-text18">Jobs Posted</span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="recruiter-view3rd-page-fragment19">
            <span class="recruiter-view3rd-page-text19">Preference</span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="recruiter-view3rd-page-fragment20">
            <span class="recruiter-view3rd-page-text20">Settings</span>
          </div>
        </ng-template>
        <ng-template #text13>
          <div class="recruiter-view3rd-page-fragment21">
            <span class="recruiter-view3rd-page-text21">Logout</span>
          </div>
        </ng-template>
        <ng-template #text14>
          <div class="recruiter-view3rd-page-fragment22">
            <span class="recruiter-view3rd-page-text22">2</span>
          </div>
        </ng-template>
        <ng-template #text15>
          <div class="recruiter-view3rd-page-fragment23">
            <span class="recruiter-view3rd-page-text23">Leslie Alexander</span>
          </div>
        </ng-template>
        <ng-template #text16>
          <div class="recruiter-view3rd-page-fragment24">
            <span class="recruiter-view3rd-page-text24">Google</span>
          </div>
        </ng-template>
        <ng-template #text31>
          <div class="recruiter-view3rd-page-fragment25">
            <span class="recruiter-view3rd-page-text25">Logout</span>
          </div>
        </ng-template>
        <ng-template #text32>
          <div class="recruiter-view3rd-page-fragment26">
            <span class="recruiter-view3rd-page-text26">
              <span>Software Development</span>
              <br />
              <span>Mountain View, CA</span>
            </span>
          </div>
        </ng-template>
        <ng-template #text1411>
          <div class="recruiter-view3rd-page-fragment27">
            <span class="recruiter-view3rd-page-text30">2</span>
          </div>
        </ng-template>
      </navbar-for-recruiter-view>
      <div
        id="Recruiter-view-details-container"
        class="recruiter-view3rd-page-details-container"
      >
        <div
          id="profile-container"
          class="recruiter-view3rd-page-profile-container"
        >
          <recruiter-profile rootClassName="recruiter-profileroot-class-name1">
            <ng-template #text>
              <div class="recruiter-view3rd-page-fragment28">
                <span class="recruiter-view3rd-page-text31">
                  Leslie Alexander
                </span>
              </div>
            </ng-template>
            <ng-template #text1>
              <div class="recruiter-view3rd-page-fragment29">
                <span class="recruiter-view3rd-page-text32">Google</span>
              </div>
            </ng-template>
            <ng-template #text3>
              <div class="recruiter-view3rd-page-fragment30">
                <span class="recruiter-view3rd-page-text33">
                  <span>Software Development</span>
                  <br />
                  <span>Mountain View, CA</span>
                </span>
              </div>
            </ng-template>
          </recruiter-profile>
          <recruiter-job-posted1
            rootClassName="recruiter-job-posted1root-class-name2"
          >
            <ng-template #text>
              <div class="recruiter-view3rd-page-fragment31">
                <span class="recruiter-view3rd-page-text37">Job Posted</span>
              </div>
            </ng-template>
            <ng-template #text3>
              <div class="recruiter-view3rd-page-fragment32">
                <span class="recruiter-view3rd-page-text38">2 Jobs Posted</span>
              </div>
            </ng-template>
          </recruiter-job-posted1>
        </div>
        <div
          id="job-posting-container"
          class="recruiter-view3rd-page-job-posting-container"
        >
          <write-a-job-post-for-recruiter
            rootClassName="write-a-job-post-for-recruiterroot-class-name1"
          >
            <ng-template #text5>
              <div class="recruiter-view3rd-page-fragment33">
                <span class="recruiter-view3rd-page-text39">
                  Leslie Alexander
                </span>
              </div>
            </ng-template>
            <ng-template #text11>
              <div class="recruiter-view3rd-page-fragment34">
                <span class="recruiter-view3rd-page-text40">
                  Write a job post
                </span>
              </div>
            </ng-template>
            <ng-template #button4>
              <div class="recruiter-view3rd-page-fragment35">
                <span class="recruiter-view3rd-page-text41">Post</span>
              </div>
            </ng-template>
            <ng-template #text113>
              <div class="recruiter-view3rd-page-fragment36">
                <span class="recruiter-view3rd-page-text42">
                  Write a job post
                </span>
              </div>
            </ng-template>
          </write-a-job-post-for-recruiter>
          <div
            id="job-posted-container"
            class="recruiter-view3rd-page-job-posted-container"
          >
            <span
              id="job-posted-text"
              class="recruiter-view3rd-page-job-posted-text"
            >
              Job Posted
            </span>
            <recruiter-flow-job-posted-card
              rootClassName="recruiter-flow-job-posted-cardroot-class-name7"
            >
              <ng-template #text>
                <div class="recruiter-view3rd-page-fragment37">
                  <span class="recruiter-view3rd-page-text43">
                    Senior Software Engineer
                  </span>
                </div>
              </ng-template>
              <ng-template #text1>
                <div class="recruiter-view3rd-page-fragment38">
                  <span class="recruiter-view3rd-page-text44">
                    6-8 Years · Bengaluru, India (On-site)
                  </span>
                </div>
              </ng-template>
              <ng-template #text2>
                <div class="recruiter-view3rd-page-fragment39">
                  <span class="recruiter-view3rd-page-text45">
                    Over 100 Candidates applied
                  </span>
                </div>
              </ng-template>
              <ng-template #text3>
                <div class="recruiter-view3rd-page-fragment40">
                  <span class="recruiter-view3rd-page-text46">
                    Expires in 2 days
                  </span>
                </div>
              </ng-template>
            </recruiter-flow-job-posted-card>
            <recruiter-flow-job-posted-card
              rootClassName="recruiter-flow-job-posted-cardroot-class-name9"
            >
              <ng-template #text>
                <div class="recruiter-view3rd-page-fragment41">
                  <span class="recruiter-view3rd-page-text47">
                    Senior Software Engineer
                  </span>
                </div>
              </ng-template>
              <ng-template #text1>
                <div class="recruiter-view3rd-page-fragment42">
                  <span class="recruiter-view3rd-page-text48">
                    6-8 Years · Bengaluru, India (On-site)
                  </span>
                </div>
              </ng-template>
              <ng-template #text2>
                <div class="recruiter-view3rd-page-fragment43">
                  <span class="recruiter-view3rd-page-text49">
                    Over 100 Candidates applied
                  </span>
                </div>
              </ng-template>
              <ng-template #text3>
                <div class="recruiter-view3rd-page-fragment44">
                  <span class="recruiter-view3rd-page-text50">
                    Expires in 2 days
                  </span>
                </div>
              </ng-template>
            </recruiter-flow-job-posted-card>
            <recruiter-flow-job-posted-card
              rootClassName="recruiter-flow-job-posted-cardroot-class-name8"
            >
              <ng-template #text>
                <div class="recruiter-view3rd-page-fragment45">
                  <span class="recruiter-view3rd-page-text51">
                    Senior Software Engineer
                  </span>
                </div>
              </ng-template>
              <ng-template #text1>
                <div class="recruiter-view3rd-page-fragment46">
                  <span class="recruiter-view3rd-page-text52">
                    6-8 Years · Bengaluru, India (On-site)
                  </span>
                </div>
              </ng-template>
              <ng-template #text2>
                <div class="recruiter-view3rd-page-fragment47">
                  <span class="recruiter-view3rd-page-text53">
                    Over 100 Candidates applied
                  </span>
                </div>
              </ng-template>
              <ng-template #text3>
                <div class="recruiter-view3rd-page-fragment48">
                  <span class="recruiter-view3rd-page-text54">
                    Expires in 2 days
                  </span>
                </div>
              </ng-template>
            </recruiter-flow-job-posted-card>
            <recruiter-flow-job-posted-card
              rootClassName="recruiter-flow-job-posted-cardroot-class-name10"
            >
              <ng-template #text>
                <div class="recruiter-view3rd-page-fragment49">
                  <span class="recruiter-view3rd-page-text55">
                    Senior Software Engineer
                  </span>
                </div>
              </ng-template>
              <ng-template #text1>
                <div class="recruiter-view3rd-page-fragment50">
                  <span class="recruiter-view3rd-page-text56">
                    6-8 Years · Bengaluru, India (On-site)
                  </span>
                </div>
              </ng-template>
              <ng-template #text2>
                <div class="recruiter-view3rd-page-fragment51">
                  <span class="recruiter-view3rd-page-text57">
                    Over 100 Candidates applied
                  </span>
                </div>
              </ng-template>
              <ng-template #text3>
                <div class="recruiter-view3rd-page-fragment52">
                  <span class="recruiter-view3rd-page-text58">
                    Expires in 2 days
                  </span>
                </div>
              </ng-template>
            </recruiter-flow-job-posted-card>
            <recruiter-flow-job-posted-card
              rootClassName="recruiter-flow-job-posted-cardroot-class-name11"
            >
              <ng-template #text>
                <div class="recruiter-view3rd-page-fragment53">
                  <span class="recruiter-view3rd-page-text59">
                    Senior Software Engineer
                  </span>
                </div>
              </ng-template>
              <ng-template #text1>
                <div class="recruiter-view3rd-page-fragment54">
                  <span class="recruiter-view3rd-page-text60">
                    6-8 Years · Bengaluru, India (On-site)
                  </span>
                </div>
              </ng-template>
              <ng-template #text2>
                <div class="recruiter-view3rd-page-fragment55">
                  <span class="recruiter-view3rd-page-text61">
                    Over 100 Candidates applied
                  </span>
                </div>
              </ng-template>
              <ng-template #text3>
                <div class="recruiter-view3rd-page-fragment56">
                  <span class="recruiter-view3rd-page-text62">
                    Expires in 2 days
                  </span>
                </div>
              </ng-template>
            </recruiter-flow-job-posted-card>
            <recruiter-flow-job-posted-card
              rootClassName="recruiter-flow-job-posted-cardroot-class-name12"
            >
              <ng-template #text>
                <div class="recruiter-view3rd-page-fragment57">
                  <span class="recruiter-view3rd-page-text63">
                    Senior Software Engineer
                  </span>
                </div>
              </ng-template>
              <ng-template #text1>
                <div class="recruiter-view3rd-page-fragment58">
                  <span class="recruiter-view3rd-page-text64">
                    6-8 Years · Bengaluru, India (On-site)
                  </span>
                </div>
              </ng-template>
              <ng-template #text2>
                <div class="recruiter-view3rd-page-fragment59">
                  <span class="recruiter-view3rd-page-text65">
                    Over 100 Candidates applied
                  </span>
                </div>
              </ng-template>
              <ng-template #text3>
                <div class="recruiter-view3rd-page-fragment60">
                  <span class="recruiter-view3rd-page-text66">
                    Expires in 2 days
                  </span>
                </div>
              </ng-template>
            </recruiter-flow-job-posted-card>
            <recruiter-flow-job-posted-card
              rootClassName="recruiter-flow-job-posted-cardroot-class-name13"
            >
              <ng-template #text>
                <div class="recruiter-view3rd-page-fragment61">
                  <span class="recruiter-view3rd-page-text67">
                    Senior Software Engineer
                  </span>
                </div>
              </ng-template>
              <ng-template #text1>
                <div class="recruiter-view3rd-page-fragment62">
                  <span class="recruiter-view3rd-page-text68">
                    6-8 Years · Bengaluru, India (On-site)
                  </span>
                </div>
              </ng-template>
              <ng-template #text2>
                <div class="recruiter-view3rd-page-fragment63">
                  <span class="recruiter-view3rd-page-text69">
                    Over 100 Candidates applied
                  </span>
                </div>
              </ng-template>
              <ng-template #text3>
                <div class="recruiter-view3rd-page-fragment64">
                  <span class="recruiter-view3rd-page-text70">
                    Expires in 2 days
                  </span>
                </div>
              </ng-template>
            </recruiter-flow-job-posted-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
