:host { 
  display: contents; 
}
 
.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text1 {
  width: 320px;
  height: 24px;
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text4 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text5 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text6 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text7 {
  display: inline-block;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text8 {
  display: inline-block;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text9 {
  display: inline-block;
}
 
.home-container2 {
  gap: 8px;
  flex: 0 0 auto;
  width: 572px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
