<div class="home-container1">
  <email-and-mobile-number-component>
    <ng-template #text>
      <div class="home-fragment1">
        <span class="home-text1">
          <span>Email</span>
          <br />
        </span>
      </div>
    </ng-template>
    <ng-template #text1>
      <div class="home-fragment2">
        <span class="home-text4">Mobile Number</span>
      </div>
    </ng-template>
  </email-and-mobile-number-component>
  <date-selector1>
    <ng-template #text>
      <div class="home-fragment3">
        <span class="home-text5">Certificate Name</span>
      </div>
    </ng-template>
    <ng-template #text1>
      <div class="home-fragment4">
        <span class="home-text6">Issuing Institute</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="home-fragment5"><span class="home-text7">Select</span></div>
    </ng-template>
  </date-selector1>
  <profile-creation-navigation1>
    <ng-template #text>
      <div class="home-fragment6"><span class="home-text8">Skip</span></div>
    </ng-template>
    <ng-template #text1>
      <div class="home-fragment7">
        <span class="home-text9">Save &amp; Next -&gt;</span>
      </div>
    </ng-template>
  </profile-creation-navigation1>
  <div class="home-container2"></div>
</div>
