<div class="index-container1">
  <div class="index-container2">
    <landing-page-navbar rootClassName="landing-page-navbarroot-class-name">
      <ng-template #text>
        <div class="index-fragment10">
          <span class="index-text10">Sign Up</span>
        </div>
      </ng-template>
      <ng-template #link3>
        <div class="index-fragment11">
          <span class="index-text11">About</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="index-fragment12">
          <span class="index-text12">Article</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="index-fragment13">
          <span class="index-text13">Candidate</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="index-fragment14">
          <span class="index-text14">University / College</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="index-fragment15">
          <span class="index-text15">Corporate</span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="index-fragment16">
          <span class="index-text16">About</span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="index-fragment17">
          <span class="index-text17">Article</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="index-fragment18">
          <span class="index-text18">Candidate</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="index-fragment19">
          <span class="index-text19">University / College</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="index-fragment20">
          <span class="index-text20">Corporate</span>
        </div>
      </ng-template>
    </landing-page-navbar>
    <landing-page-job-search-hero
      rootClassName="landing-page-job-search-heroroot-class-name"
    >
      <ng-template #button>
        <div class="index-fragment21">
          <span class="index-text21">Search</span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="index-fragment22">
          <span class="index-text22">
            Find a job that suits your interest &amp; skills.
          </span>
        </div>
      </ng-template>
    </landing-page-job-search-hero>
    <div class="index-container3">
      <span class="index-text23">Explore Interesting Articles</span>
      <div class="index-container4">
        <landing-page-readable-articles-card-small
          rootClassName="landing-page-readable-articles-card-smallroot-class-name"
        >
          <ng-template #text>
            <div class="index-fragment23">
              <span class="index-text24">Data Science</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="index-fragment24">
              <span class="index-text25">247 Related topics</span>
            </div>
          </ng-template>
        </landing-page-readable-articles-card-small>
        <landing-page-readable-articles-card-small
          rootClassName="landing-page-readable-articles-card-smallroot-class-name1"
        >
          <ng-template #text>
            <div class="index-fragment25">
              <span class="index-text26">Data Science</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="index-fragment26">
              <span class="index-text27">247 Related topics</span>
            </div>
          </ng-template>
        </landing-page-readable-articles-card-small>
        <landing-page-readable-articles-card-small
          rootClassName="landing-page-readable-articles-card-smallroot-class-name2"
        >
          <ng-template #text>
            <div class="index-fragment27">
              <span class="index-text28">Data Science</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="index-fragment28">
              <span class="index-text29">247 Related topics</span>
            </div>
          </ng-template>
        </landing-page-readable-articles-card-small>
        <landing-page-video-articles-card-small
          rootClassName="landing-page-video-articles-card-smallroot-class-name"
        >
          <ng-template #text>
            <div class="index-fragment29">
              <span class="index-text30">Generative AI✨</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="index-fragment30">
              <span class="index-text31">247 Related topics</span>
            </div>
          </ng-template>
        </landing-page-video-articles-card-small>
        <landing-page-video-articles-card-small
          rootClassName="landing-page-video-articles-card-smallroot-class-name2"
        >
          <ng-template #text>
            <div class="index-fragment31">
              <span class="index-text32">Generative AI✨</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="index-fragment32">
              <span class="index-text33">247 Related topics</span>
            </div>
          </ng-template>
        </landing-page-video-articles-card-small>
        <landing-page-video-articles-card-small
          rootClassName="landing-page-video-articles-card-smallroot-class-name1"
        >
          <ng-template #text>
            <div class="index-fragment33">
              <span class="index-text34">Generative AI✨</span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="index-fragment34">
              <span class="index-text35">247 Related topics</span>
            </div>
          </ng-template>
        </landing-page-video-articles-card-small>
      </div>
    </div>
    <landin-page-testimonial-card
      rootClassName="landin-page-testimonial-cardroot-class-name"
    >
      <ng-template #text>
        <div class="index-fragment35">
          <span class="index-text36">Soumya Sharma</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="index-fragment36">
          <span class="index-text37">
            &quot;I&apos;ve had an absolutely wonderful experience using this
            service. The team is incredibly professional, attentive, and truly
            dedicated to customer satisfaction. From the initial consultation to
            the final delivery, every step of the process was seamless and
            exceeded my expectations. The quality of the product is exceptional,
            and I couldn&apos;t be happier with the results. I highly recommend
            this service to anyone looking for top-notch quality and outstanding
            customer support. It&apos;s rare to find a company that genuinely
            cares about its customers, and this one certainly does!&quot;
          </span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="index-fragment37">
          <span class="index-text38">CEO @ Meta</span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="index-fragment38">
          <span class="index-text39">Testimonial</span>
        </div>
      </ng-template>
    </landin-page-testimonial-card>
  </div>
  <div class="index-container5">
    <landing-page-footer rootClassName="landing-page-footerroot-class-name">
      <ng-template #text>
        <div class="index-fragment39">
          <span class="index-text40">
            2nd Floor, Pride Centre, MG Rd, Mangaluru, Karnataka 575001
          </span>
        </div>
      </ng-template>
      <ng-template #link1>
        <div class="index-fragment40">
          <span class="index-text41">About Us</span>
        </div>
      </ng-template>
      <ng-template #link2>
        <div class="index-fragment41">
          <span class="index-text42">Contact Us</span>
        </div>
      </ng-template>
      <ng-template #link3>
        <div class="index-fragment42">
          <span class="index-text43">FAQs</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="index-fragment43">
          <span class="index-text44">Terms and Conditions</span>
        </div>
      </ng-template>
      <ng-template #link5>
        <div class="index-fragment44">
          <span class="index-text45">Privacy Policy</span>
        </div>
      </ng-template>
      <ng-template #link6>
        <div class="index-fragment45">
          <span class="index-text46">Cookies Policy</span>
        </div>
      </ng-template>
      <ng-template #link7>
        <div class="index-fragment46">
          <span class="index-text47">Facebook</span>
        </div>
      </ng-template>
      <ng-template #link8>
        <div class="index-fragment47">
          <span class="index-text48">Twitter</span>
        </div>
      </ng-template>
      <ng-template #link9>
        <div class="index-fragment48">
          <span class="index-text49">Instagram</span>
        </div>
      </ng-template>
      <ng-template #link10>
        <div class="index-fragment49">
          <span class="index-text50">LinkedIn</span>
        </div>
      </ng-template>
      <ng-template #copyright>
        <div class="index-fragment50">
          <span class="index-text51">
            © 2022 Culture Highway. All Rights Reserved.
          </span>
        </div>
      </ng-template>
      <ng-template #termsLink>
        <div class="index-fragment51">
          <span class="index-text52">Terms and Conditions</span>
        </div>
      </ng-template>
      <ng-template #cookiesLink>
        <div class="index-fragment52">
          <span class="index-text53">Cookies Policy</span>
        </div>
      </ng-template>
      <ng-template #privacyLink>
        <div class="index-fragment53">
          <span class="index-text54">Privacy Policy</span>
        </div>
      </ng-template>
      <ng-template #column1Title>
        <div class="index-fragment54">
          <span class="index-text55">Quick Links</span>
        </div>
      </ng-template>
      <ng-template #column2Title>
        <div class="index-fragment55">
          <span class="index-text56">Connect With Us</span>
        </div>
      </ng-template>
    </landing-page-footer>
  </div>
</div>
