<div
  id="profile-certifications"
  class="profile-certifications-component-container1"
  [ngClass]="rootClassName"
>
  <div
    id="profile-certification-container"
    class="profile-certifications-component-profile-certification-container"
  >
    <span
      id="candidate-certifications-"
      class="profile-certifications-component-certification-text"
    >
      <ng-container>
        <ng-template #defaultText>
          <div class="profile-certifications-component-fragment19">
            <span class="profile-certifications-component-text29">
              Certifications
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    <div
      id="Certificate-name-and-issuing-institute-container"
      class="profile-certifications-component-certificate-name-and-issuing-institute-container"
    >
      <div
        id="certificate-name-container"
        class="profile-certifications-component-certificate-name-container"
      >
        <div
          id="certificate-container"
          class="profile-certifications-component-certifiacate-name-container"
        >
          <span
            id="certificate-name"
            class="profile-certifications-component-certificate-name-text"
          >
            <ng-container>
              <ng-template #defaultText11>
                <div class="profile-certifications-component-fragment16">
                  <span class="profile-certifications-component-text20">
                    <span class="profile-certifications-component-text21">
                      Certificate Name
                    </span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text11 ? text11 : defaultText11"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="profile-certifications-component-container2"
          >
            <form
              id="certificate-name-input"
              class="profile-certifications-component-form1 input"
            >
              <span
                id="select-text"
                class="profile-certifications-component-select-text1"
              >
                <ng-container>
                  <ng-template #defaultText31>
                    <div class="profile-certifications-component-fragment20">
                      <span class="profile-certifications-component-text30">
                        Select
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text31 ? text31 : defaultText31"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="certificate-name-dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="profile-certifications-component-drop-down-icon1"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="certification-issuing-institute-container"
        class="profile-certifications-component-certificate-issuing-institute-container"
      >
        <div
          id="issuing-institute-container"
          class="profile-certifications-component-issuing-institute-container"
        >
          <span
            id="issuing-institute"
            class="profile-certifications-component-issuing-institute-text"
          >
            <ng-container>
              <ng-template #defaultText111>
                <div class="profile-certifications-component-fragment18">
                  <span class="profile-certifications-component-text26">
                    <span>Issuing Institute</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text111 ? text111 : defaultText111"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="profile-certifications-component-container3"
          >
            <form
              id="issuing-institute-dropdown"
              class="profile-certifications-component-form2 input"
            >
              <span
                id="select-text"
                class="profile-certifications-component-select-text2"
              >
                <ng-container>
                  <ng-template #defaultText311>
                    <div class="profile-certifications-component-fragment13">
                      <span class="profile-certifications-component-text15">
                        Select
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text311 ? text311 : defaultText311"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="issuing-institute-drop-down-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="profile-certifications-component-drop-down-icon2"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="issued-renewal-date-container"
      class="profile-certifications-component-issued-renewal-date-container"
    >
      <div
        id="certification-issued-date-container"
        class="profile-certifications-component-issued-date-container"
      >
        <div id="container" class="profile-certifications-component-container4">
          <span
            id="certificate-issued-date"
            class="profile-certifications-component-issuing-date-text"
          >
            <ng-container>
              <ng-template #defaultText112>
                <div class="profile-certifications-component-fragment17">
                  <span class="profile-certifications-component-text23">
                    <span>Issued Date</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text112 ? text112 : defaultText112"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="profile-certifications-component-select-container1"
          >
            <form
              id="certification-issued-date-dropdown"
              class="profile-certifications-component-form3 input"
            >
              <span
                id="select-text"
                class="profile-certifications-component-select-text3"
              >
                <ng-container>
                  <ng-template #defaultText312>
                    <div class="profile-certifications-component-fragment11">
                      <span class="profile-certifications-component-text11">
                        Select
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text312 ? text312 : defaultText312"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="issued-date-dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="profile-certifications-component-drop-down-icon3"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
      <div
        id="certification-renewal-date-input"
        class="profile-certifications-component-renewal-date-container"
      >
        <div
          id="certification-renewal-date-container"
          class="profile-certifications-component-container5"
        >
          <span
            id="certificate-renewal-date-text"
            class="profile-certifications-component-renewal-date-text"
          >
            <ng-container>
              <ng-template #defaultText1111>
                <div class="profile-certifications-component-fragment12">
                  <span class="profile-certifications-component-text12">
                    <span>Renewal Date</span>
                    <br />
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text1111 ? text1111 : defaultText1111"
              ></ng-container>
            </ng-container>
          </span>
          <div
            id="select-container"
            class="profile-certifications-component-select-container2"
          >
            <form
              id="certificate-renewal-date-dropdown"
              class="profile-certifications-component-form4 input"
            >
              <span
                id="select-text"
                class="profile-certifications-component-select-text4"
              >
                <ng-container>
                  <ng-template #defaultText3111>
                    <div class="profile-certifications-component-fragment21">
                      <span class="profile-certifications-component-text31">
                        Select
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text3111 ? text3111 : defaultText3111"
                  ></ng-container>
                </ng-container>
              </span>
              <svg
                id="renewal-date-dropdown-icon"
                width="24"
                height="24"
                viewBox="0 0 32 32"
                class="profile-certifications-component-drop-down-icon4"
              >
                <path
                  d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                  fill="currentColor"
                ></path>
              </svg>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      id="certification-credentials-container"
      class="profile-certifications-component-credentials-container"
    >
      <span
        id="certification-credentials-text"
        class="profile-certifications-component-credentials-text"
      >
        <ng-container>
          <ng-template #defaultText1121>
            <div class="profile-certifications-component-fragment14">
              <span class="profile-certifications-component-text16">
                <span>Credentials</span>
                <br />
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text1121 ? text1121 : defaultText1121"
          ></ng-container>
        </ng-container>
      </span>
      <div
        id="select-container"
        class="profile-certifications-component-select-container3"
      >
        <form
          id="certification-credentials-dropdown"
          class="profile-certifications-component-form5 input"
        >
          <span
            id="select-text"
            class="profile-certifications-component-select-text5"
          >
            <ng-container>
              <ng-template #defaultText3121>
                <div class="profile-certifications-component-fragment15">
                  <span class="profile-certifications-component-text19">
                    Select
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text3121 ? text3121 : defaultText3121"
              ></ng-container>
            </ng-container>
          </span>
          <svg
            id="credentials-dropdown-icon"
            width="24"
            height="24"
            viewBox="0 0 32 32"
            class="profile-certifications-component-drop-down-icon5"
          >
            <path
              d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
              fill="currentColor"
            ></path>
          </svg>
        </form>
      </div>
    </div>
    <span
      id="add-certification-button"
      class="profile-certifications-component-add-certification-text button"
    >
      <ng-container>
        <ng-template #defaultText1>
          <div class="profile-certifications-component-fragment10">
            <span class="profile-certifications-component-text10">
              + Add Certification
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text1 ? text1 : defaultText1"
        ></ng-container>
      </ng-container>
    </span>
  </div>
</div>
