<div
  id="profile-certifications"
  class="profile-certifications-component-container1"
  [ngClass]="rootClassName"
>
  <div
    id="profile-certification-container"
    class="profile-certifications-component-profile-certification-container"
    *ngFor="let cert of certifications; let i = index"
    [attr.data-index]="i"
  >
    <span
      id="candidate-certifications-"
      class="profile-certifications-component-certification-text"
    >
      <ng-container>
        <ng-template #defaultText>
          <div class="profile-certifications-component-fragment20">
            <span class="profile-certifications-component-text30">
              Certifications
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    <div class="profile-certifications-component-container2">
      <div
        id="Certificate-name-and-issuing-institute-container"
        class="profile-certifications-component-certificate-name-and-issuing-institute-container"
      >
        <div
          id="certificate-name-container"
          class="profile-certifications-component-certificate-name-container"
        >
          <div
            id="certificate-container"
            class="profile-certifications-component-certifiacate-name-container"
          >
            <span
              id="certificate-name"
              class="profile-certifications-component-certificate-name-text"
            >
              <ng-container>
                <ng-template #defaultText11>
                  <div class="profile-certifications-component-fragment17">
                    <span class="profile-certifications-component-text21">
                      <span class="profile-certifications-component-text22">
                        Certificate Name
                      </span>
                      <br />
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text11 ? text11 : defaultText11"
                ></ng-container>
              </ng-container>
            </span>
            <div
              id="select-container"
              class="profile-certifications-component-container3"
            >
              <form
                id="certificate-name-input"
                class="profile-certifications-component-form1 input"
              >
                <select
                  [(ngModel)]="cert.certificate_name"
                  name="certificate_name_{{i}}"
                  (change)="onFieldChange(i)"
                >
                  <option value="">Select</option>
                  <option value="Cert1">Cert1</option>
                  <option value="Cert2">Cert2</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div
          id="certification-issuing-institute-container"
          class="profile-certifications-component-certificate-issuing-institute-container"
        >
          <div
            id="issuing-institute-container"
            class="profile-certifications-component-issuing-institute-container"
          >
            <span
              id="issuing-institute"
              class="profile-certifications-component-issuing-institute-text"
            >
              <ng-container>
                <ng-template #defaultText111>
                  <div class="profile-certifications-component-fragment19">
                    <span class="profile-certifications-component-text27">
                      <span>Issuing Institute</span>
                      <br />
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text111 ? text111 : defaultText111"
                ></ng-container>
              </ng-container>
            </span>
            <div
              id="select-container"
              class="profile-certifications-component-container4"
            >
              <form
                id="issuing-institute-dropdown"
                class="profile-certifications-component-form2 input"
              >
                <select
                  [(ngModel)]="cert.issuing_institute"
                  name="issuing_institute_{{i}}"
                  (change)="onFieldChange(i)"
                >
                  <option value="">Select</option>
                  <option value="Institute1">Institute1</option>
                  <option value="Institute2">Institute2</option>
                </select>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        id="issued-renewal-date-container"
        class="profile-certifications-component-issued-renewal-date-container"
      >
        <div
          id="certification-issued-date-container"
          class="profile-certifications-component-issued-date-container"
        >
          <div
            id="container"
            class="profile-certifications-component-container5"
          >
            <span
              id="certificate-issued-date"
              class="profile-certifications-component-issuing-date-text"
            >
              <ng-container>
                <ng-template #defaultText112>
                  <div class="profile-certifications-component-fragment18">
                    <span class="profile-certifications-component-text24">
                      <span>Issued Date</span>
                      <br />
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text112 ? text112 : defaultText112"
                ></ng-container>
              </ng-container>
            </span>
            <div
              id="select-container"
              class="profile-certifications-component-select-container1"
            >
              <form
                id="certification-issued-date-dropdown"
                class="profile-certifications-component-form3 input"
              >
                <input
                  type="date"
                  [(ngModel)]="cert.issued_date"
                  name="issued_date_{{i}}"
                  (change)="onIssuedDateChange(i)"
                  [max]="getTodayDate()"
                />
              </form>
            </div>
          </div>
        </div>
        <div
          id="certification-renewal-date-input"
          class="profile-certifications-component-renewal-date-container"
        >
          <div
            id="certification-renewal-date-container"
            class="profile-certifications-component-container6"
          >
            <span
              id="certificate-renewal-date-text"
              class="profile-certifications-component-renewal-date-text"
            >
              <ng-container>
                <ng-template #defaultText1111>
                  <div class="profile-certifications-component-fragment13">
                    <span class="profile-certifications-component-text13">
                      <span>Renewal Date</span>
                      <br />
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text1111 ? text1111 : defaultText1111"
                ></ng-container>
              </ng-container>
            </span>
            <div
              id="select-container"
              class="profile-certifications-component-select-container2"
            >
              <form
                id="certificate-renewal-date-dropdown"
                class="profile-certifications-component-form4 input"
              >
                <input
                  type="date"
                  [(ngModel)]="cert.renewal_date"
                  name="renewal_date_{{i}}"
                  (change)="onFieldChange(i)"
                  [min]="getMinRenewalDate(i)"
                  [max]="getTodayDate()"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        id="certification-credentials-container"
        class="profile-certifications-component-credentials-container"
      >
        <span
          id="certification-credentials-text"
          class="profile-certifications-component-credentials-text"
        >
          <ng-container>
            <ng-template #defaultText1121>
              <div class="profile-certifications-component-fragment15">
                <span class="profile-certifications-component-text17">
                  <span>Credentials</span>
                  <br />
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text1121 ? text1121 : defaultText1121"
            ></ng-container>
          </ng-container>
        </span>
        <div
          id="select-container"
          class="profile-certifications-component-select-container3"
        >
          <form
            id="certification-credentials-dropdown"
            class="profile-certifications-component-form5 input"
          >
            <select
              [(ngModel)]="cert.credentials"
              name="credentials_{{i}}"
              (change)="onFieldChange(i)"
            >
              <option value="">Select</option>
              <option value="Cred1">Cred1</option>
              <option value="Cred2">Cred2</option>
            </select>
          </form>
        </div>
      </div>
    </div>
    <div class="profile-certifications-component-container7">
      <span
        id="add-certification-button"
        class="profile-certifications-component-add-certification-text button"
        (click)="addCertification()"
        [style.visibility]="i === certifications.length - 1 ? 'visible' : 'hidden'"
      >
        <ng-container>
          <ng-template #defaultText1>
            <div class="profile-certifications-component-fragment10">
              <span class="profile-certifications-component-text10">
                + Add Certification
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text1 ? text1 : defaultText1"
          ></ng-container>
        </ng-container>
      </span>
      <span
        id="remove-certification-button"
        class="profile-certifications-component-remove-certification-text button"
        (click)="removeCertification(i)"
        [style.visibility]="certifications.length > 1 ? 'visible' : 'hidden'"
      >
        <ng-container>
          <ng-template #defaultText12>
            <div class="profile-certifications-component-fragment12">
              <span class="profile-certifications-component-text12">
                - Remove Certification
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text12 ? text12 : defaultText12"
          ></ng-container>
        </ng-container>
      </span>
    </div>
  </div>
</div>