<div class="recruiter-workflow-container1">
  <div class="recruiter-workflow-container2">
    <recruiter-workflow-navbar
      rootClassName="recruiter-workflow-navbarroot-class-name"
    >
      <ng-template #link1>
        <div class="recruiter-workflow-fragment100">
          <span class="recruiter-workflow-text100">Home</span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="recruiter-workflow-fragment101">
          <span class="recruiter-workflow-text101">Requirments</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="recruiter-workflow-fragment102">
          <span class="recruiter-workflow-text102">Profile</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="recruiter-workflow-fragment103">
          <span class="recruiter-workflow-text103">Preference</span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="recruiter-workflow-fragment104">
          <span class="recruiter-workflow-text104">Settings</span>
        </div>
      </ng-template>
      <ng-template #text7>
        <div class="recruiter-workflow-fragment105">
          <span class="recruiter-workflow-text105">Dashboard</span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="recruiter-workflow-fragment106">
          <span class="recruiter-workflow-text106">Notifications</span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="recruiter-workflow-fragment107">
          <span class="recruiter-workflow-text107">Jobs Posted</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="recruiter-workflow-fragment108">
          <span class="recruiter-workflow-text108">Preference</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="recruiter-workflow-fragment109">
          <span class="recruiter-workflow-text109">Settings</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="recruiter-workflow-fragment110">
          <span class="recruiter-workflow-text110">Logout</span>
        </div>
      </ng-template>
      <ng-template #text14>
        <div class="recruiter-workflow-fragment111">
          <span class="recruiter-workflow-text111">2</span>
        </div>
      </ng-template>
      <ng-template #text15>
        <div class="recruiter-workflow-fragment112">
          <span class="recruiter-workflow-text112">Leslie Alexander</span>
        </div>
      </ng-template>
      <ng-template #text16>
        <div class="recruiter-workflow-fragment113">
          <span class="recruiter-workflow-text113">Google</span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="recruiter-workflow-fragment114">
          <span class="recruiter-workflow-text114">Logout</span>
        </div>
      </ng-template>
      <ng-template #text32>
        <div class="recruiter-workflow-fragment115">
          <span class="recruiter-workflow-text115">
            <span>Software Development</span>
            <br />
            <span>Mountain View, CA</span>
          </span>
        </div>
      </ng-template>
      <ng-template #text1411>
        <div class="recruiter-workflow-fragment116">
          <span class="recruiter-workflow-text119">2</span>
        </div>
      </ng-template>
    </recruiter-workflow-navbar>
    <div class="recruiter-workflow-candidates-listing-container">
      <div
        id="cv-jd-upload-container"
        class="recruiter-workflow-cvjd-upload-container1"
      >
        <button
          id="add-questions-with-ai-button"
          type="button"
          class="recruiter-workflow-add-questions-with-ai-button1 button"
        >
          <span
            id="add-questions-with-ai-text"
            class="recruiter-workflow-add-questions-with-ai-text1"
          >
            Naukri Input
          </span>
        </button>
        <button
          id="add-questions-with-ai-button"
          type="button"
          class="recruiter-workflow-add-questions-with-ai-button2 button"
        >
          <span
            id="add-questions-with-ai-text"
            class="recruiter-workflow-add-questions-with-ai-text2"
          >
            External Source
          </span>
        </button>
      </div>
      <candidate-input-form rootClassName="candidate-input-formroot-class-name">
        <ng-template #text>
          <div class="recruiter-workflow-fragment117">
            <span class="recruiter-workflow-text120">Input form</span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="recruiter-workflow-fragment118">
            <span class="recruiter-workflow-text121">Upload File</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="recruiter-workflow-fragment119">
            <span class="recruiter-workflow-text122">To</span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="recruiter-workflow-fragment120">
            <span class="recruiter-workflow-text123">Years</span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="recruiter-workflow-fragment121">
            <span class="recruiter-workflow-text124">To</span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="recruiter-workflow-fragment122">
            <span class="recruiter-workflow-text125">Years</span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="recruiter-workflow-fragment123">
            <span class="recruiter-workflow-text126">To</span>
          </div>
        </ng-template>
        <ng-template #text7>
          <div class="recruiter-workflow-fragment124">
            <span class="recruiter-workflow-text127">Years</span>
          </div>
        </ng-template>
        <ng-template #heading>
          <div class="recruiter-workflow-fragment125">
            <span class="recruiter-workflow-text128">Naukri</span>
          </div>
        </ng-template>
        <ng-template #heading1>
          <div class="recruiter-workflow-fragment126">
            <span class="recruiter-workflow-text129">External</span>
          </div>
        </ng-template>
        <ng-template #skillText>
          <div class="recruiter-workflow-fragment127">
            <span class="recruiter-workflow-text130">Work Experience</span>
          </div>
        </ng-template>
        <ng-template #cancelText>
          <div class="recruiter-workflow-fragment128">
            <span class="recruiter-workflow-text131">Cancel</span>
          </div>
        </ng-template>
        <ng-template #selectText>
          <div class="recruiter-workflow-fragment129">
            <span class="recruiter-workflow-text132">Select</span>
          </div>
        </ng-template>
        <ng-template #skillText1>
          <div class="recruiter-workflow-fragment130">
            <span class="recruiter-workflow-text133">Skills</span>
          </div>
        </ng-template>
        <ng-template #submitText>
          <div class="recruiter-workflow-fragment131">
            <span class="recruiter-workflow-text134">Submit</span>
          </div>
        </ng-template>
        <ng-template #noteForFile>
          <div class="recruiter-workflow-fragment132">
            <span class="recruiter-workflow-text135">
              Note: Lorem ipsum dolor sit amet consectetuer adipiscing elit sed
            </span>
          </div>
        </ng-template>
        <ng-template #selectText1>
          <div class="recruiter-workflow-fragment133">
            <span class="recruiter-workflow-text136">Select</span>
          </div>
        </ng-template>
        <ng-template #selectText2>
          <div class="recruiter-workflow-fragment134">
            <span class="recruiter-workflow-text137">Select</span>
          </div>
        </ng-template>
        <ng-template #jobTitleText>
          <div class="recruiter-workflow-fragment135">
            <span class="recruiter-workflow-text138">Candidate First Name</span>
          </div>
        </ng-template>
        <ng-template #jobTitleText1>
          <div class="recruiter-workflow-fragment136">
            <span class="recruiter-workflow-text139">Phone Number</span>
          </div>
        </ng-template>
        <ng-template #jobTitleText2>
          <div class="recruiter-workflow-fragment137">
            <span class="recruiter-workflow-text140">Prefered Location</span>
          </div>
        </ng-template>
        <ng-template #jobTitleText3>
          <div class="recruiter-workflow-fragment138">
            <span class="recruiter-workflow-text141">Current Location</span>
          </div>
        </ng-template>
        <ng-template #skillStarText>
          <div class="recruiter-workflow-fragment139">
            <span class="recruiter-workflow-text142">*</span>
          </div>
        </ng-template>
        <ng-template #skillStarText1>
          <div class="recruiter-workflow-fragment140">
            <span class="recruiter-workflow-text143">*</span>
          </div>
        </ng-template>
        <ng-template #companyNameText>
          <div class="recruiter-workflow-fragment141">
            <span class="recruiter-workflow-text144">Candidate Last Name</span>
          </div>
        </ng-template>
        <ng-template #credentialsText>
          <div class="recruiter-workflow-fragment142">
            <span
              id="certification-credentials-text"
              class="recruiter-workflow-credentials-text1"
            >
              <span>Gender</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #issuingDateText>
          <div class="recruiter-workflow-fragment143">
            <span
              id="certificate-issued-date"
              class="recruiter-workflow-issuing-date-text1"
            >
              <span>Total Experience</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #renewalDateText>
          <div class="recruiter-workflow-fragment144">
            <span
              id="certificate-renewal-date-text"
              class="recruiter-workflow-renewal-date-text1"
            >
              <span>Relavant Experience</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #companyNameText1>
          <div class="recruiter-workflow-fragment145">
            <span class="recruiter-workflow-text151">Email Id</span>
          </div>
        </ng-template>
        <ng-template #issuingDateText1>
          <div class="recruiter-workflow-fragment146">
            <span
              id="certificate-issued-date"
              class="recruiter-workflow-issuing-date-text2"
            >
              <span>Expected CTC</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #issuingDateText2>
          <div class="recruiter-workflow-fragment147">
            <span class="recruiter-workflow-text154">Notice Period</span>
          </div>
        </ng-template>
        <ng-template #enterManuallyText>
          <div class="recruiter-workflow-fragment148">
            <span class="recruiter-workflow-text155">Enter Manually</span>
          </div>
        </ng-template>
        <ng-template #certificateNameText>
          <div class="recruiter-workflow-fragment149">
            <span
              id="certificate-name"
              class="recruiter-workflow-certificate-name-text1"
            >
              <span class="recruiter-workflow-text156">Current CTC</span>
              <br />
            </span>
          </div>
        </ng-template>
      </candidate-input-form>
      <recruiter-workflow-candidate-lists
        rootClassName="recruiter-workflow-candidate-listsroot-class-name"
      >
        <ng-template #text>
          <div class="recruiter-workflow-fragment150">
            <span class="recruiter-workflow-text158">Add</span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="recruiter-workflow-fragment151">
            <span class="recruiter-workflow-text159">Sort</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="recruiter-workflow-fragment152">
            <span class="recruiter-workflow-text160">Recruiter : </span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="recruiter-workflow-fragment153">
            <span class="recruiter-workflow-text161">Prashanth</span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="recruiter-workflow-fragment154">
            <span class="recruiter-workflow-text162">Created : </span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="recruiter-workflow-fragment155">
            <span class="recruiter-workflow-text163">Yesterday</span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="recruiter-workflow-fragment156">
            <span class="recruiter-workflow-text164">Bhupendra chauhan</span>
          </div>
        </ng-template>
        <ng-template #text7>
          <div class="recruiter-workflow-fragment157">
            <span class="recruiter-workflow-text165">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text8>
          <div class="recruiter-workflow-fragment158">
            <span class="recruiter-workflow-text166">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text9>
          <div class="recruiter-workflow-fragment159">
            <span class="recruiter-workflow-text167">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text10>
          <div class="recruiter-workflow-fragment160">
            <span class="recruiter-workflow-text168">5y 0m</span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="recruiter-workflow-fragment161">
            <span class="recruiter-workflow-text169">7.25 Lacs</span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="recruiter-workflow-fragment162">
            <span class="recruiter-workflow-text170">Banglore</span>
          </div>
        </ng-template>
        <ng-template #text13>
          <div class="recruiter-workflow-fragment163">
            <span class="recruiter-workflow-text171">Current</span>
          </div>
        </ng-template>
        <ng-template #text14>
          <div class="recruiter-workflow-fragment164">
            <span class="recruiter-workflow-text172">
              Sales Manager at Shree Naman Developers
            </span>
          </div>
        </ng-template>
        <ng-template #text15>
          <div class="recruiter-workflow-fragment165">
            <span class="recruiter-workflow-text173">Previous</span>
          </div>
        </ng-template>
        <ng-template #text16>
          <div class="recruiter-workflow-fragment166">
            <span class="recruiter-workflow-text174">
              Senior Sales Manager at ANAROCK Property Consultants
            </span>
          </div>
        </ng-template>
        <ng-template #text17>
          <div class="recruiter-workflow-fragment167">
            <span class="recruiter-workflow-text175">Prefered Location</span>
          </div>
        </ng-template>
        <ng-template #text18>
          <div class="recruiter-workflow-fragment168">
            <span class="recruiter-workflow-text176">Key Skills</span>
          </div>
        </ng-template>
        <ng-template #text19>
          <div class="recruiter-workflow-fragment169">
            <span class="recruiter-workflow-text177">May also Known</span>
          </div>
        </ng-template>
        <ng-template #text20>
          <div class="recruiter-workflow-fragment170">
            <span class="recruiter-workflow-text178">Phone Number : </span>
          </div>
        </ng-template>
        <ng-template #text21>
          <div class="recruiter-workflow-fragment171">
            <span class="recruiter-workflow-text179">987654321</span>
          </div>
        </ng-template>
        <ng-template #text22>
          <div class="recruiter-workflow-fragment172">
            <span class="recruiter-workflow-text180">Email Id : </span>
          </div>
        </ng-template>
        <ng-template #text23>
          <div class="recruiter-workflow-fragment173">
            <span class="recruiter-workflow-text181">
              Culturehighway&#64;gmail.com
            </span>
          </div>
        </ng-template>
        <ng-template #text24>
          <div class="recruiter-workflow-fragment174">
            <span class="recruiter-workflow-text182">
              Mumbai, Nagpur, Indore, Banglore, Manglore
            </span>
          </div>
        </ng-template>
        <ng-template #text25>
          <div class="recruiter-workflow-fragment175">
            <span class="recruiter-workflow-text183">+2 More</span>
          </div>
        </ng-template>
        <ng-template #text26>
          <div class="recruiter-workflow-fragment176">
            <span class="recruiter-workflow-text184">
              Sales | Marketing | Managment | Leadership
            </span>
          </div>
        </ng-template>
        <ng-template #text27>
          <div class="recruiter-workflow-fragment177">
            <span class="recruiter-workflow-text185">... more</span>
          </div>
        </ng-template>
        <ng-template #text28>
          <div class="recruiter-workflow-fragment178">
            <span class="recruiter-workflow-text186">
              Project Managment | Sales | Marketing | Managment
            </span>
          </div>
        </ng-template>
        <ng-template #text29>
          <div class="recruiter-workflow-fragment179">
            <span class="recruiter-workflow-text187">... more</span>
          </div>
        </ng-template>
        <ng-template #heading>
          <div class="recruiter-workflow-fragment180">
            <span class="recruiter-workflow-text188">Naukri</span>
          </div>
        </ng-template>
        <ng-template #heading1>
          <div class="recruiter-workflow-fragment181">
            <span class="recruiter-workflow-text189">External</span>
          </div>
        </ng-template>
        <ng-template #selectAllText>
          <div class="recruiter-workflow-fragment182">
            <span class="recruiter-workflow-text190">Select All</span>
          </div>
        </ng-template>
        <ng-template #startProcessText1>
          <div class="recruiter-workflow-fragment183">
            <span class="recruiter-workflow-text191">Filtered By</span>
          </div>
        </ng-template>
        <ng-template #startProcessText2>
          <div class="recruiter-workflow-fragment184">
            <span class="recruiter-workflow-text192">Delete</span>
          </div>
        </ng-template>
      </recruiter-workflow-candidate-lists>
    </div>
    <div class="recruiter-workflow-requirements-listing-container">
      <div
        id="cv-jd-upload-container"
        class="recruiter-workflow-cvjd-upload-container2"
      >
        <button
          id="add-questions-with-ai-button"
          type="button"
          class="recruiter-workflow-add-questions-with-ai-button3 button"
        >
          <span
            id="add-questions-with-ai-text"
            class="recruiter-workflow-add-questions-with-ai-text3"
          >
            + Add Requirement
          </span>
        </button>
      </div>
      <requirment-listing-form
        rootClassName="requirment-listing-formroot-class-name"
      >
        <ng-template #text>
          <div class="recruiter-workflow-fragment185">
            <span class="recruiter-workflow-text193">Input form</span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="recruiter-workflow-fragment186">
            <span class="recruiter-workflow-text194">Upload File</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="recruiter-workflow-fragment187">
            <span class="recruiter-workflow-text195">To</span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="recruiter-workflow-fragment188">
            <span class="recruiter-workflow-text196">Years</span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="recruiter-workflow-fragment189">
            <span class="recruiter-workflow-text197">To</span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="recruiter-workflow-fragment190">
            <span class="recruiter-workflow-text198">Years</span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="recruiter-workflow-fragment191">
            <span class="recruiter-workflow-text199">To</span>
          </div>
        </ng-template>
        <ng-template #text7>
          <div class="recruiter-workflow-fragment192">
            <span class="recruiter-workflow-text200">Years</span>
          </div>
        </ng-template>
        <ng-template #heading>
          <div class="recruiter-workflow-fragment193">
            <span class="recruiter-workflow-text201">Naukri</span>
          </div>
        </ng-template>
        <ng-template #heading1>
          <div class="recruiter-workflow-fragment194">
            <span class="recruiter-workflow-text202">External</span>
          </div>
        </ng-template>
        <ng-template #skillText>
          <div class="recruiter-workflow-fragment195">
            <span class="recruiter-workflow-text203">Job Description</span>
          </div>
        </ng-template>
        <ng-template #cancelText>
          <div class="recruiter-workflow-fragment196">
            <span class="recruiter-workflow-text204">Cancel</span>
          </div>
        </ng-template>
        <ng-template #selectText>
          <div class="recruiter-workflow-fragment197">
            <span class="recruiter-workflow-text205">Select</span>
          </div>
        </ng-template>
        <ng-template #submitText>
          <div class="recruiter-workflow-fragment198">
            <span class="recruiter-workflow-text206">Submit</span>
          </div>
        </ng-template>
        <ng-template #noteForFile>
          <div class="recruiter-workflow-fragment199">
            <span class="recruiter-workflow-text207">
              Note: Lorem ipsum dolor sit amet consectetuer adipiscing elit sed
            </span>
          </div>
        </ng-template>
        <ng-template #selectText1>
          <div class="recruiter-workflow-fragment200">
            <span class="recruiter-workflow-text208">Select</span>
          </div>
        </ng-template>
        <ng-template #selectText2>
          <div class="recruiter-workflow-fragment201">
            <span class="recruiter-workflow-text209">Select</span>
          </div>
        </ng-template>
        <ng-template #jobTitleText>
          <div class="recruiter-workflow-fragment202">
            <span class="recruiter-workflow-text210">Client</span>
          </div>
        </ng-template>
        <ng-template #jobTitleText1>
          <div class="recruiter-workflow-fragment203">
            <span class="recruiter-workflow-text211">Interview Location</span>
          </div>
        </ng-template>
        <ng-template #skillStarText>
          <div class="recruiter-workflow-fragment204">
            <span class="recruiter-workflow-text212">*</span>
          </div>
        </ng-template>
        <ng-template #addSectionText>
          <div class="recruiter-workflow-fragment205">
            <span class="recruiter-workflow-text213">+ Add Location</span>
          </div>
        </ng-template>
        <ng-template #companyNameText>
          <div class="recruiter-workflow-fragment206">
            <span class="recruiter-workflow-text214">Sub Client</span>
          </div>
        </ng-template>
        <ng-template #credentialsText>
          <div class="recruiter-workflow-fragment207">
            <span
              id="certification-credentials-text"
              class="recruiter-workflow-credentials-text2"
            >
              <span>Gender</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #issuingDateText>
          <div class="recruiter-workflow-fragment208">
            <span
              id="certificate-issued-date"
              class="recruiter-workflow-issuing-date-text3"
            >
              <span>Total Experience</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #renewalDateText>
          <div class="recruiter-workflow-fragment209">
            <span
              id="certificate-renewal-date-text"
              class="recruiter-workflow-renewal-date-text2"
            >
              <span>Relavant Experience</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #companyNameText1>
          <div class="recruiter-workflow-fragment210">
            <span class="recruiter-workflow-text221">Interview Date</span>
          </div>
        </ng-template>
        <ng-template #issuingDateText1>
          <div class="recruiter-workflow-fragment211">
            <span
              id="certificate-issued-date"
              class="recruiter-workflow-issuing-date-text4"
            >
              <span>Salary</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #issuingDateText2>
          <div class="recruiter-workflow-fragment212">
            <span class="recruiter-workflow-text224">Notice Period</span>
          </div>
        </ng-template>
        <ng-template #enterManuallyText>
          <div class="recruiter-workflow-fragment213">
            <span class="recruiter-workflow-text225">Enter Manually</span>
          </div>
        </ng-template>
        <ng-template #removeSectionText>
          <div class="recruiter-workflow-fragment214">
            <span class="recruiter-workflow-text226">- Remove Section</span>
          </div>
        </ng-template>
        <ng-template #certificateNameText>
          <div class="recruiter-workflow-fragment215">
            <span
              id="certificate-name"
              class="recruiter-workflow-certificate-name-text2"
            >
              <span class="recruiter-workflow-text227">Current CTC</span>
              <br />
            </span>
          </div>
        </ng-template>
        <ng-template #interviewProcessText>
          <div class="recruiter-workflow-fragment216">
            <span class="recruiter-workflow-text229">Additional Details</span>
          </div>
        </ng-template>
      </requirment-listing-form>
      <recruiter-workflow-requirment-listing
        rootClassName="recruiter-workflow-requirment-listingroot-class-name"
      >
        <ng-template #text1>
          <div class="recruiter-workflow-fragment217">
            <span class="recruiter-workflow-text230">Sort</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="recruiter-workflow-fragment218">
            <span class="recruiter-workflow-text231">Recruiter : </span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="recruiter-workflow-fragment219">
            <span class="recruiter-workflow-text232">Prashanth</span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="recruiter-workflow-fragment220">
            <span class="recruiter-workflow-text233">Created at : </span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="recruiter-workflow-fragment221">
            <span class="recruiter-workflow-text234">Yesterday</span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="recruiter-workflow-fragment222">
            <span class="recruiter-workflow-text235">
              Senior Python Developer
            </span>
          </div>
        </ng-template>
        <ng-template #text7>
          <div class="recruiter-workflow-fragment223">
            <span class="recruiter-workflow-text236">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text8>
          <div class="recruiter-workflow-fragment224">
            <span class="recruiter-workflow-text237">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text9>
          <div class="recruiter-workflow-fragment225">
            <span class="recruiter-workflow-text238">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text10>
          <div class="recruiter-workflow-fragment226">
            <span class="recruiter-workflow-text239">3 - 7 years</span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="recruiter-workflow-fragment227">
            <span class="recruiter-workflow-text240">7.25 Lacs</span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="recruiter-workflow-fragment228">
            <span class="recruiter-workflow-text241">Banglore</span>
          </div>
        </ng-template>
        <ng-template #text13>
          <div class="recruiter-workflow-fragment229">
            <span class="recruiter-workflow-text242">Client</span>
          </div>
        </ng-template>
        <ng-template #text14>
          <div class="recruiter-workflow-fragment230">
            <span class="recruiter-workflow-text243">Asian Paint</span>
          </div>
        </ng-template>
        <ng-template #text15>
          <div class="recruiter-workflow-fragment231">
            <span class="recruiter-workflow-text244">Sub Client</span>
          </div>
        </ng-template>
        <ng-template #text16>
          <div class="recruiter-workflow-fragment232">
            <span class="recruiter-workflow-text245">Asian Paint</span>
          </div>
        </ng-template>
        <ng-template #text17>
          <div class="recruiter-workflow-fragment233">
            <span class="recruiter-workflow-text246">Skills</span>
          </div>
        </ng-template>
        <ng-template #text18>
          <div class="recruiter-workflow-fragment234">
            <span class="recruiter-workflow-text247">May also Known</span>
          </div>
        </ng-template>
        <ng-template #text19>
          <div class="recruiter-workflow-fragment235">
            <span class="recruiter-workflow-text248">
              Sales | Marketing | Managment | Leadership
            </span>
          </div>
        </ng-template>
        <ng-template #text20>
          <div class="recruiter-workflow-fragment236">
            <span class="recruiter-workflow-text249">... more</span>
          </div>
        </ng-template>
        <ng-template #text21>
          <div class="recruiter-workflow-fragment237">
            <span class="recruiter-workflow-text250">
              Project Managment | Sales | Marketing | Managment
            </span>
          </div>
        </ng-template>
        <ng-template #text22>
          <div class="recruiter-workflow-fragment238">
            <span class="recruiter-workflow-text251">... more</span>
          </div>
        </ng-template>
        <ng-template #text23>
          <div class="recruiter-workflow-fragment239">
            <span class="recruiter-workflow-text252">Hebbal, Banglore</span>
          </div>
        </ng-template>
        <ng-template #text24>
          <div class="recruiter-workflow-fragment240">
            <span class="recruiter-workflow-text253">Prashanth</span>
          </div>
        </ng-template>
        <ng-template #text25>
          <div class="recruiter-workflow-fragment241">
            <span class="recruiter-workflow-text254">200</span>
          </div>
        </ng-template>
        <ng-template #text26>
          <div class="recruiter-workflow-fragment242">
            <span class="recruiter-workflow-text255">Add</span>
          </div>
        </ng-template>
        <ng-template #text91>
          <div class="recruiter-workflow-fragment243">
            <span class="recruiter-workflow-text256">Select All</span>
          </div>
        </ng-template>
        <ng-template #heading>
          <div class="recruiter-workflow-fragment244">
            <span class="recruiter-workflow-text257">Location</span>
          </div>
        </ng-template>
        <ng-template #heading1>
          <div class="recruiter-workflow-fragment245">
            <span class="recruiter-workflow-text258">Spoc</span>
          </div>
        </ng-template>
        <ng-template #heading2>
          <div class="recruiter-workflow-fragment246">
            <span class="recruiter-workflow-text259">Number of Vacencies</span>
          </div>
        </ng-template>
        <ng-template #startProcessText>
          <div class="recruiter-workflow-fragment247">
            <span class="recruiter-workflow-text260">Delete</span>
          </div>
        </ng-template>
        <ng-template #startProcessText1>
          <div class="recruiter-workflow-fragment248">
            <span class="recruiter-workflow-text261">Filtered By</span>
          </div>
        </ng-template>
      </recruiter-workflow-requirment-listing>
    </div>
    <div class="recruiter-workflow-clients-listing-container">
      <div
        id="cv-jd-upload-container"
        class="recruiter-workflow-cvjd-upload-container3"
      >
        <button
          id="add-questions-with-ai-button"
          type="button"
          class="recruiter-workflow-add-questions-with-ai-button4 button"
        >
          <span
            id="add-questions-with-ai-text"
            class="recruiter-workflow-add-questions-with-ai-text4"
          >
            + Add Client
          </span>
        </button>
      </div>
      <recruiter-workflow-client-input-form
        rootClassName="recruiter-workflow-client-input-formroot-class-name1"
      >
        <ng-template #text>
          <div class="recruiter-workflow-fragment249">
            <span class="recruiter-workflow-text262">Client Input form</span>
          </div>
        </ng-template>
        <ng-template #skillText>
          <div class="recruiter-workflow-fragment250">
            <span class="recruiter-workflow-text263">Client Description</span>
          </div>
        </ng-template>
        <ng-template #cancelText>
          <div class="recruiter-workflow-fragment251">
            <span class="recruiter-workflow-text264">Cancel</span>
          </div>
        </ng-template>
        <ng-template #submitText>
          <div class="recruiter-workflow-fragment252">
            <span class="recruiter-workflow-text265">Submit</span>
          </div>
        </ng-template>
        <ng-template #jobTitleText>
          <div class="recruiter-workflow-fragment253">
            <span class="recruiter-workflow-text266">Client Name</span>
          </div>
        </ng-template>
        <ng-template #skillStarText>
          <div class="recruiter-workflow-fragment254">
            <span class="recruiter-workflow-text267">*</span>
          </div>
        </ng-template>
        <ng-template #addSectionText>
          <div class="recruiter-workflow-fragment255">
            <span class="recruiter-workflow-text268">+ Add Location</span>
          </div>
        </ng-template>
        <ng-template #companyNameText>
          <div class="recruiter-workflow-fragment256">
            <span class="recruiter-workflow-text269">Sub Client Name</span>
          </div>
        </ng-template>
        <ng-template #removeSectionText>
          <div class="recruiter-workflow-fragment257">
            <span class="recruiter-workflow-text270">- Remove Section</span>
          </div>
        </ng-template>
        <ng-template #interviewProcessText>
          <div class="recruiter-workflow-fragment258">
            <span class="recruiter-workflow-text271">Contact Information</span>
          </div>
        </ng-template>
      </recruiter-workflow-client-input-form>
      <recruiter-workflow-client-list
        rootClassName="recruiter-workflow-client-listroot-class-name1"
      >
        <ng-template #text>
          <div class="recruiter-workflow-fragment259">
            <span class="recruiter-workflow-text272">Add</span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="recruiter-workflow-fragment260">
            <span class="recruiter-workflow-text273">Sort</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="recruiter-workflow-fragment261">
            <span class="recruiter-workflow-text274">Recruiter : </span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="recruiter-workflow-fragment262">
            <span class="recruiter-workflow-text275">Prashanth</span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="recruiter-workflow-fragment263">
            <span class="recruiter-workflow-text276">Created at : </span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="recruiter-workflow-fragment264">
            <span class="recruiter-workflow-text277">Yesterday</span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="recruiter-workflow-fragment265">
            <span class="recruiter-workflow-text278">
              ASM Technologies Lt. Pvt.
            </span>
          </div>
        </ng-template>
        <ng-template #text7>
          <div class="recruiter-workflow-fragment266">
            <span class="recruiter-workflow-text279">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text8>
          <div class="recruiter-workflow-fragment267">
            <span class="recruiter-workflow-text280">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text9>
          <div class="recruiter-workflow-fragment268">
            <span class="recruiter-workflow-text281">Sub-menu Item</span>
          </div>
        </ng-template>
        <ng-template #text10>
          <div class="recruiter-workflow-fragment269">
            <span class="recruiter-workflow-text282">Client</span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="recruiter-workflow-fragment270">
            <span class="recruiter-workflow-text283">Asian Paint</span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="recruiter-workflow-fragment271">
            <span class="recruiter-workflow-text284">Sub Client</span>
          </div>
        </ng-template>
        <ng-template #text13>
          <div class="recruiter-workflow-fragment272">
            <span class="recruiter-workflow-text285">Asian Paint</span>
          </div>
        </ng-template>
        <ng-template #text14>
          <div class="recruiter-workflow-fragment273">
            <span class="recruiter-workflow-text286">Hebbal, Banglore</span>
          </div>
        </ng-template>
        <ng-template #text15>
          <div class="recruiter-workflow-fragment274">
            <span class="recruiter-workflow-text287">Prashanth</span>
          </div>
        </ng-template>
        <ng-template #text16>
          <div class="recruiter-workflow-fragment275">
            <span class="recruiter-workflow-text288">9874569874</span>
          </div>
        </ng-template>
        <ng-template #text17>
          <div class="recruiter-workflow-fragment276">
            <span class="recruiter-workflow-text289">
              culturehighway&#64;gmail.com
            </span>
          </div>
        </ng-template>
        <ng-template #text91>
          <div class="recruiter-workflow-fragment277">
            <span class="recruiter-workflow-text290">Select All</span>
          </div>
        </ng-template>
        <ng-template #heading>
          <div class="recruiter-workflow-fragment278">
            <span class="recruiter-workflow-text291">Location</span>
          </div>
        </ng-template>
        <ng-template #heading1>
          <div class="recruiter-workflow-fragment279">
            <span class="recruiter-workflow-text292">Spoc</span>
          </div>
        </ng-template>
        <ng-template #heading2>
          <div class="recruiter-workflow-fragment280">
            <span class="recruiter-workflow-text293">Phone Number</span>
          </div>
        </ng-template>
        <ng-template #heading3>
          <div class="recruiter-workflow-fragment281">
            <span class="recruiter-workflow-text294">Email</span>
          </div>
        </ng-template>
        <ng-template #startProcessText>
          <div class="recruiter-workflow-fragment282">
            <span class="recruiter-workflow-text295">Delete </span>
          </div>
        </ng-template>
        <ng-template #startProcessText1>
          <div class="recruiter-workflow-fragment283">
            <span class="recruiter-workflow-text296">Filtered By</span>
          </div>
        </ng-template>
      </recruiter-workflow-client-list>
    </div>
  </div>
</div>
