:host { 
  display: contents; 
}
 
.navbar-for-recruiter-view-option-container1 {
  width: 1440px;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-for-recruiter-view-option-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.navbar-for-recruiter-view-option-navbar-interactive {
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #FFFFFF;
}
 
.navbar-for-recruiter-view-option-flashyre-image {
  width: 200px;
  object-fit: cover;
}
 
.navbar-for-recruiter-view-option-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar-for-recruiter-view-option-links {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 385px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-end;
}
 
.navbar-for-recruiter-view-option-dashboard-link {
  fill: #05356C;
  color: #05356C;
  display: flex;
  transition: 0.3s;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
 
.navbar-for-recruiter-view-option-dashboard-link:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
  border-width: 0px;
}
 
.navbar-for-recruiter-view-option-dashboard-link:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-recruiter-view-option-jobs-for-you-link {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
}
 
.navbar-for-recruiter-view-option-jobs-for-you-link:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.navbar-for-recruiter-view-option-jobs-for-you-link:active {
  transform: scale(1.05);
  transition: all 0.7s;
  text-decoration-line: underline;
}
 
.navbar-for-recruiter-view-option-container3 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-recruiter-view-option-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
 
.navbar-for-recruiter-view-option-icon10:hover {
  cursor: pointer;
}
 
.navbar-for-recruiter-view-option-container4 {
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #F10400;
  grid-template-columns: 1fr 1fr;
}
 
.navbar-for-recruiter-view-option-text10 {
  width: 8px;
  height: 10px;
}
 
.navbar-for-recruiter-view-option-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.navbar-for-recruiter-view-option-user-image1 {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
 
.navbar-for-recruiter-view-option-dropdown-arrow {
  transition: 0.3s;
}
 
.navbar-for-recruiter-view-option-drop-down-icon {
  width: 32px;
  height: 32px;
  display: flex;
  transition: 0.3s;
  justify-content: center;
}
 
.navbar-for-recruiter-view-option-drop-down-icon:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.navbar-for-recruiter-view-option-drop-down-icon:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.navbar-for-recruiter-view-option-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #FFFFFF;
  list-style-position: inside;
}
 
.navbar-for-recruiter-view-option-profile1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-recruiter-view-option-profile2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-recruiter-view-option-preference1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-recruiter-view-option-preference2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-recruiter-view-option-settings1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-recruiter-view-option-settings2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-recruiter-view-option-logout1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
 
.navbar-for-recruiter-view-option-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-for-recruiter-view-option-logout2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
 
.navbar-for-recruiter-view-option-burger-menu {
  display: none;
}
 
.navbar-for-recruiter-view-option-burger-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-for-recruiter-view-option-number-of-notification {
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #F10400;
  grid-template-columns: 1fr 1fr;
}
 
.navbar-for-recruiter-view-option-text11 {
  width: 8px;
  height: 10px;
}
 
.navbar-for-recruiter-view-option-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-for-recruiter-view-option-popup-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-recruiter-view-option-close-icon {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar-for-recruiter-view-option-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-recruiter-view-option-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-for-recruiter-view-option-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-recruiter-view-option-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.navbar-for-recruiter-view-option-user-image2 {
  width: 200px;
  object-fit: cover;
}
 
.navbar-for-recruiter-view-option-user-details-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-recruiter-view-option-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-for-recruiter-view-option-dashboard-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-recruiter-view-option-jobs-for-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-recruiter-view-option-notifications1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-recruiter-view-option-container8 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.navbar-for-recruiter-view-option-icon20 {
  width: 24px;
  height: 24px;
}
 
.navbar-for-recruiter-view-option-container9 {
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #F10400;
  grid-template-columns: 1fr 1fr;
}
 
.navbar-for-recruiter-view-option-text12 {
  width: 8px;
  height: 10px;
}
 
.navbar-for-recruiter-view-option-preference-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-recruiter-view-option-settings-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-recruiter-view-option-logout-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.navbar-for-recruiter-view-option-fragment10 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text13 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment11 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text14 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment12 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text15 {
  color: rgb(5, 53, 108);
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.navbar-for-recruiter-view-option-fragment13 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text16 {
  color: rgb(5, 53, 108);
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment14 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text17 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment15 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text18 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment16 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text19 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment17 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text20 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment18 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text21 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment19 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text22 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment20 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text23 {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
 
.navbar-for-recruiter-view-option-fragment21 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text24 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment22 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text25 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment23 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text26 {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
 
.navbar-for-recruiter-view-option-fragment24 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text27 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment25 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text28 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment26 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text29 {
  display: inline-block;
}
 
.navbar-for-recruiter-view-option-fragment27 {
  display: contents;
}
 
.navbar-for-recruiter-view-option-text30 {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
}
 
@media(max-width: 1200px) {
  .navbar-for-recruiter-view-option-container1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-for-recruiter-view-option-container2 {
    width: 100%;
  }
  .navbar-for-recruiter-view-option-navbar-interactive {
    width: 1199px;
    position: relative;
  }
  .navbar-for-recruiter-view-option-mobile-menu {
    justify-content: space-between;
  }
}
 
@media(max-width: 991px) {
  .navbar-for-recruiter-view-option-links {
    gap: var(--dl-space-space-halfunit);
  }
  .navbar-for-recruiter-view-option-container3 {
    width: 30px;
    height: 30px;
  }
  .navbar-for-recruiter-view-option-user-image1 {
    width: 35px;
    height: 35px;
  }
  .navbar-for-recruiter-view-option-drop-down-icon {
    width: 28px;
    height: 28px;
  }
  .navbar-for-recruiter-view-option-text15 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .navbar-for-recruiter-view-option-text16 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .navbar-for-recruiter-view-option-container1 {
    width: 100%;
    height: 72px;
    background-color: transparent;
  }
  .navbar-for-recruiter-view-option-container2 {
    width: 100%;
    height: 72px;
    justify-content: center;
  }
  .navbar-for-recruiter-view-option-navbar-interactive {
    width: 95%;
    height: 72px;
    align-self: flex-start;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: #FFFFFF;
  }
  .navbar-for-recruiter-view-option-flashyre-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-for-recruiter-view-option-desktop-menu {
    display: none;
  }
  .navbar-for-recruiter-view-option-dropdown-toggle1 {
    display: none;
  }
  .navbar-for-recruiter-view-option-dropdown-list {
    display: none;
  }
  .navbar-for-recruiter-view-option-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-for-recruiter-view-option-burger-icon {
    width: 30px;
    height: 30px;
  }
  .navbar-for-recruiter-view-option-number-of-notification {
    right: 0px;
    width: 14px;
    height: 14px;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }
  .navbar-for-recruiter-view-option-mobile-menu {
    right: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    max-height: auto;
    visibility: hidden;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: flex-end;
    background-color: rgba(190, 190, 190, 0.06);
  }
  .navbar-for-recruiter-view-option-popup-container {
    gap: var(--dl-space-space-halfunit);
    width: 293px;
    height: 845px;
    heigth: 50vh;
    opacity: 1;
    padding: var(--dl-space-space-unit);
    background-color: #FFFFFF;
  }
  .navbar-for-recruiter-view-option-close-icon {
    height: 100%;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
  .navbar-for-recruiter-view-option-icon16 {
    width: 24px;
    height: 24px;
  }
  .navbar-for-recruiter-view-option-container5 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: #FFFFFF;
  }
  .navbar-for-recruiter-view-option-container6 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .navbar-for-recruiter-view-option-user-image2 {
    width: 60px;
    height: 60px;
    border-radius: var(--dl-radius-radius-round);
  }
  .navbar-for-recruiter-view-option-user-details-container {
    gap: 4px;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-for-recruiter-view-option-user-name {
    align-self: flex-start;
  }
  .navbar-for-recruiter-view-option-profile-complet-indication {
    align-self: flex-start;
  }
  .navbar-for-recruiter-view-option-view-edit-profile {
    padding: 0px;
    align-self: flex-start;
    border-width: 0px;
    background-color: transparent;
  }
  .navbar-for-recruiter-view-option-container7 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 171px;
    border-width: 0px;
  }
  .navbar-for-recruiter-view-option-dashboard-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-recruiter-view-option-dashboard-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-for-recruiter-view-option-jobs-for-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-recruiter-view-option-briefcase-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-for-recruiter-view-option-notifications1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-recruiter-view-option-container8 {
    width: 20px;
    height: 20px;
  }
  .navbar-for-recruiter-view-option-icon20 {
    width: 20px;
    height: 20px;
  }
  .navbar-for-recruiter-view-option-container9 {
    width: 10px;
    height: 12px;
    align-items: flex-start;
    justify-content: center;
  }
  .navbar-for-recruiter-view-option-preference-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-recruiter-view-option-preference-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-for-recruiter-view-option-settings-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-recruiter-view-option-settings-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-for-recruiter-view-option-logout-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    border-color: #C0C0C0;
    border-width: 1px;
    justify-content: flex-start;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar-for-recruiter-view-option-logout-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-for-recruiter-view-option-text13 {
    font-size: 12px;
  }
  .navbar-for-recruiter-view-option-text17 {
    font-size: 14px;
    font-weight: 500;
  }
  .navbar-for-recruiter-view-option-text18 {
    font-size: 12px;
  }
  .navbar-for-recruiter-view-option-text19 {
    font-size: 12px;
  }
  .navbar-for-recruiter-view-option-text20 {
    font-size: 12px;
  }
  .navbar-for-recruiter-view-option-text22 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .navbar-for-recruiter-view-option-text25 {
    font-size: 10px;
  }
  .navbar-for-recruiter-view-option-text27 {
    font-size: 12px;
  }
  .navbar-for-recruiter-view-option-text29 {
    font-size: 12px;
  }
}
 
@media(max-width: 479px) {
  .navbar-for-recruiter-view-option-container1 {
    width: 100%;
    height: 72px;
    padding: 0px;
  }
  .navbar-for-recruiter-view-option-container2 {
    height: 72px;
  }
  .navbar-for-recruiter-view-option-navbar-interactive {
    width: 95%;
    padding: var(--dl-space-space-unit);
    margin-right: 0px;
    padding-right: 16px;
  }
  .navbar-for-recruiter-view-option-number-of-notification {
    width: 12px;
    height: 12px;
  }
  .navbar-for-recruiter-view-option-popup-container {
    background-color: #FFFFFF;
  }
  .navbar-for-recruiter-view-option-container7 {
    height: 259px;
  }
}
