:host { 
  display: contents; 
}
 
.view-more-candidates-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.view-more-candidates-text1 {
  fill: #05356C;
  color: #05356C;
  width: auto;
  height: 24px;
  display: flex;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  justify-content: flex-start;
}
 
.view-more-candidates-fragment {
  display: contents;
}
 
.view-more-candidates-text2 {
  display: inline-block;
}
