<div class="candidate-job-for-you-card-container10" [ngClass]="rootClassName">
  <div class="candidate-job-for-you-card-container11">
    <div class="candidate-job-for-you-card-container12">
      <img
        [attr.alt]="imageAlt"
        [attr.src]="imageSrc"
        class="candidate-job-for-you-card-image"
      />
      <div class="candidate-job-for-you-card-container13">
        <div class="candidate-job-for-you-card-container14">
          <div class="candidate-job-for-you-card-container15">
            <span class="candidate-job-for-you-card-text10">
              <ng-container>
                <ng-template #defaultText>
                  <div class="candidate-job-for-you-card-fragment5">
                    <span class="candidate-job-for-you-card-text21">
                      Senior Software Engineer
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text ? text : defaultText"
                ></ng-container>
              </ng-container>
            </span>
            <div class="candidate-job-for-you-card-container16">
              <div class="candidate-job-for-you-card-container17">
                <div class='progress-container'>
                  <div class='progress'>
                    <div class='bar'></div>
                  </div>
                  <span class='score'>{{ score }}%</span>
                </div>

                <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
              </div>
            </div>
            <span class="candidate-job-for-you-card-text11">
              <ng-container>
                <ng-template #defaultText1>
                  <div class="candidate-job-for-you-card-fragment4">
                    <span class="candidate-job-for-you-card-text20">
                      Google
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text1 ? text1 : defaultText1"
                ></ng-container>
              </ng-container>
            </span>
          </div>
          <div class="candidate-job-for-you-card-container18">
            <div class="candidate-job-for-you-card-container19">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="candidate-job-for-you-card-icon1"
              >
                <path
                  d="M5 7h3V5l2-2h3l2 2v2h3a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-8a3 3 0 0 1 3-3m5.41-3L9 5.41V7h5V5.41L12.59 4zM5 8a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h13a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2z"
                  fill="currentColor"
                ></path>
              </svg>
              <span class="candidate-job-for-you-card-text12">
                <ng-container>
                  <ng-template #defaultText2>
                    <div class="candidate-job-for-you-card-fragment1">
                      <span class="candidate-job-for-you-card-text17">
                        6-8 Years
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text2 ? text2 : defaultText2"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div class="candidate-job-for-you-card-container20">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="candidate-job-for-you-card-icon3"
              >
                <path
                  d="M12 19.677q2.82-2.454 4.458-4.991t1.638-4.39q0-2.744-1.737-4.53Q14.62 3.981 12 3.981T7.641 5.766t-1.737 4.53q0 1.852 1.638 4.39T12 19.677m0 .879q-.235 0-.47-.077t-.432-.25q-1.067-.981-2.164-2.185q-1.096-1.203-1.99-2.493t-1.468-2.633t-.572-2.622q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 1.279-.572 2.613q-.572 1.333-1.458 2.632q-.885 1.3-1.981 2.494T12.92 20.21q-.191.173-.434.26q-.244.086-.487.086m.004-8.825q.667 0 1.14-.476q.472-.475.472-1.143t-.476-1.14t-1.143-.472t-1.14.476t-.472 1.143t.475 1.14t1.144.472"
                  fill="currentColor"
                ></path>
              </svg>
              <span class="candidate-job-for-you-card-text13">
                <ng-container>
                  <ng-template #defaultText3>
                    <div class="candidate-job-for-you-card-fragment7">
                      <span class="candidate-job-for-you-card-text23">
                        Bengaluru, Karnataka, India (On-site)
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text3 ? text3 : defaultText3"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
          </div>
          <span class="candidate-job-for-you-card-text14">
            <ng-container>
              <ng-template #defaultText4>
                <div class="candidate-job-for-you-card-fragment3">
                  <span class="candidate-job-for-you-card-text19">
                    Aliquam vitae turpis in diam convallis finibus in at risus.
                    Nullam in scelerisque leo, eget sollicitudin velit
                    bestibulum.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text4 ? text4 : defaultText4"
              ></ng-container>
            </ng-container>
          </span>
        </div>
        <div class="candidate-job-for-you-card-container21">
          <button
            type="button"
            class="candidate-job-for-you-card-button1 button"
          >
            <span>
              <ng-container>
                <ng-template #defaultButton>
                  <div class="candidate-job-for-you-card-fragment2">
                    <span class="candidate-job-for-you-card-text18">Apply</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="button ? button : defaultButton"
                ></ng-container>
              </ng-container>
            </span>
          </button>
          <button
            type="button"
            class="candidate-job-for-you-card-button2 button"
          >
            <span>
              <ng-container>
                <ng-template #defaultButton1>
                  <div class="candidate-job-for-you-card-fragment6">
                    <span class="candidate-job-for-you-card-text22">
                      Take Assessment
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="button1 ? button1 : defaultButton1"
                ></ng-container>
              </ng-container>
            </span>
          </button>
        </div>
        <div
          id="progress-bar-mobile-view"
          class="candidate-job-for-you-card-progress-bar-for-mobile"
        ></div>
      </div>
      <div class="candidate-job-for-you-card-container22">
        <div class="candidate-job-for-you-card-container23">
          <div class="candidate-job-for-you-card-container24">
              <div class='progress-container'>
                <svg viewBox='0 0.5 10 8'>
                  <path d='M2 8 A 4 4 0 1 1 8 8' fill='none' stroke-width='0.3' stroke='#E8F6FD' />
                  <path class='loader' d='M2 8 A 4 4 0 1 1 8 8' fill='none' stroke-width='0.3' />
                </svg>
                <div class='progress-content'>
                  <img src='https://s3-alpha-sig.figma.com/img/b74a/bea4/ebc9cfc1a53c3f5e2e37843d60bf6944?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CfIJ6moQiOBB~nz1awM9PvkoabzOIsDLbnY7Sme7ahET4M~TXRRPKRRF9hJd7hkqp0Xyv5gbWmjjcm1xb1fboBRclCvBhPFKVbF4fgZOFbDzaRBb10tCuZBqQrpP4Uck4bXpH9ZYkqEIjJYnmVGOEB1Pu6Ilbp-c7~HZgNsAMRRH74kbqJzj1rxCj-CLe3zCKgeb6uByvClNgTzqUpY91895Xrtl3pl-4L81JSzB5A9aZI3d1GkIFFvdb5W9O2rKOtt0seRAbcEzz7jQLFgn6DlmovpYdFvjs77sYu9SxOtmFK6oZx6gN6UOo6hgxumw5WpETSWBHlHt9c7m1U~Vmw__' alt='Icon' class='progress-icon' />
                  <div class='progress-label'>{{ score }}%</div>
                </div>
                <div class='progress-description'>Job matching score</div>
              </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
