:host { 
  display: contents; 
}
 
.candidate-jobs-for-you-search-and-filter-bar-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.candidate-jobs-for-you-search-and-filter-bar-container2 {
  width: 877px;
  height: 100px;
  display: flex;
}
 
.candidate-jobs-for-you-search-and-filter-bar-container3 {
  align-self: center;
}
 
.candidate-jobs-for-you-search-and-filter-bar-container4 {
  display: contents;
}
 
@media(max-width: 767px) {
  .candidate-jobs-for-you-search-and-filter-bar-container2 {
    display: flex;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .candidate-jobs-for-you-search-and-filter-bar-container2 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
