<div class="component2-container1">
  <div
    id="profile-education-container"
    class="component2-profile-education-container"
  >
    <span id="education-header" class="component2-education-text1">
      <ng-container>
        <ng-template #defaultEducationText>
          <div class="component2-fragment4">
            <span class="component2-text13">Education</span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="educationText ? educationText : defaultEducationText"
        ></ng-container>
      </ng-container>
    </span>
    <div
      id="university-institute-education-container"
      class="component2-university-institute-education-container"
    >
      <div
        id="university-input-container"
        class="component2-university-institute-container"
      >
        <span
          id="university-institute-text"
          class="component2-university-institute-text1"
        >
          <ng-container>
            <ng-template #defaultUniversityInstituteText>
              <div class="component2-fragment6">
                <span
                  id="university-institute-text"
                  class="component2-university-institute-text2"
                >
                  <span>University/Institute</span>
                  <br />
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="universityInstituteText ? universityInstituteText : defaultUniversityInstituteText"
            ></ng-container>
          </ng-container>
        </span>
        <div id="select-container" class="component2-container2">
          <form
            id="education-university-dropdown"
            class="component2-form1 input"
          >
            <span id="select-text" class="component2-select-text1">
              <ng-container>
                <ng-template #defaultSelectText>
                  <div class="component2-fragment1">
                    <span class="component2-text10">Select</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="selectText ? selectText : defaultSelectText"
                ></ng-container>
              </ng-container>
            </span>
            <svg
              id="university-dropdown"
              width="24"
              height="24"
              viewBox="0 0 32 32"
              class="component2-drop-down-icon1"
            >
              <path
                d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                fill="currentColor"
              ></path>
            </svg>
          </form>
        </div>
      </div>
      <div
        id="education-input-container"
        class="component2-education-container"
      >
        <span id="education-text" class="component2-education-text2">
          <ng-container>
            <ng-template #defaultEducationText1>
              <div class="component2-fragment9">
                <span class="component2-text20">Highest Qualification</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="educationText1 ? educationText1 : defaultEducationText1"
            ></ng-container>
          </ng-container>
        </span>
        <div
          id="education-select-container"
          class="component2-education-select-container"
        >
          <form id="Education-Dropdown" class="component2-form2 input">
            <span class="component2-select-text2">
              <ng-container>
                <ng-template #defaultSelectText1>
                  <div class="component2-fragment3">
                    <span class="component2-text12">Select</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="selectText1 ? selectText1 : defaultSelectText1"
                ></ng-container>
              </ng-container>
            </span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 32 32"
              class="component2-drop-down-icon2"
            >
              <path
                d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                fill="currentColor"
              ></path>
            </svg>
          </form>
        </div>
      </div>
    </div>
    <div class="component2-container3">
      <div id="education-course-container" class="component2-course-container">
        <span id="education-course" class="component2-course-text1">
          <ng-container>
            <ng-template #defaultCourseText>
              <div class="component2-fragment8">
                <span id="education-course" class="component2-course-text2">
                  <span>Department / Field of Study</span>
                  <br />
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="courseText ? courseText : defaultCourseText"
            ></ng-container>
          </ng-container>
        </span>
        <div id="course-select-container" class="component2-select-container">
          <form id="education-course-dropdown" class="component2-form3 input">
            <span id="course-select-text" class="component2-select-text3">
              <ng-container>
                <ng-template #defaultSelectText2>
                  <div class="component2-fragment7">
                    <span class="component2-text17">Select</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="selectText2 ? selectText2 : defaultSelectText2"
                ></ng-container>
              </ng-container>
            </span>
            <svg
              id="course-dropdown"
              width="24"
              height="24"
              viewBox="0 0 32 32"
              class="component2-drop-down-icon3"
            >
              <path
                d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
                fill="currentColor"
              ></path>
            </svg>
          </form>
        </div>
      </div>
    </div>
    <div class="component2-container4">
      <div id="total-experience" class="component2-total-experience-container">
        <span
          id="total-experience-text"
          class="component2-total-experience-text"
        >
          <ng-container>
            <ng-template #defaultTotalExperienceText>
              <div class="component2-fragment2">
                <span class="component2-text11">Skills</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="totalExperienceText ? totalExperienceText : defaultTotalExperienceText"
            ></ng-container>
          </ng-container>
        </span>
        <form
          id="total-experience-year-dropdown"
          enctype="text/plain"
          class="component2-form4 input"
        >
          <span id="select-year-text" class="component2-select-year-text">
            <ng-container>
              <ng-template #defaultSelectYearText>
                <div class="component2-fragment5">
                  <span class="component2-text14">Enteri you Skills</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="selectYearText ? selectYearText : defaultSelectYearText"
              ></ng-container>
            </ng-container>
          </span>
          <svg
            id="experience-dropdown-icon"
            width="24"
            height="24"
            viewBox="0 0 32 32"
            class="component2-drop-down-icon4"
          >
            <path
              d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z"
              fill="currentColor"
            ></path>
          </svg>
        </form>
      </div>
    </div>
  </div>
</div>
