<div class="recruiter-super-admin-analytical-module-container10">
  <div class="recruiter-super-admin-analytical-module-container11">
    <recruiter-workflow-navbar
      rootClassName="recruiter-workflow-navbarroot-class-name1"
    >
      <ng-template #link1>
        <div class="recruiter-super-admin-analytical-module-fragment10">
          <span class="recruiter-super-admin-analytical-module-text10">
            Home
          </span>
        </div>
      </ng-template>
      <ng-template #link4>
        <div class="recruiter-super-admin-analytical-module-fragment11">
          <span class="recruiter-super-admin-analytical-module-text11">
            Requirments
          </span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="recruiter-super-admin-analytical-module-fragment12">
          <span class="recruiter-super-admin-analytical-module-text12">
            Profile
          </span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="recruiter-super-admin-analytical-module-fragment13">
          <span class="recruiter-super-admin-analytical-module-text13">
            Preference
          </span>
        </div>
      </ng-template>
      <ng-template #text3>
        <div class="recruiter-super-admin-analytical-module-fragment14">
          <span class="recruiter-super-admin-analytical-module-text14">
            Settings
          </span>
        </div>
      </ng-template>
      <ng-template #text7>
        <div class="recruiter-super-admin-analytical-module-fragment15">
          <span class="recruiter-super-admin-analytical-module-text15">
            Dashboard
          </span>
        </div>
      </ng-template>
      <ng-template #text9>
        <div class="recruiter-super-admin-analytical-module-fragment16">
          <span class="recruiter-super-admin-analytical-module-text16">
            Notifications
          </span>
        </div>
      </ng-template>
      <ng-template #text10>
        <div class="recruiter-super-admin-analytical-module-fragment17">
          <span class="recruiter-super-admin-analytical-module-text17">
            Jobs Posted
          </span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="recruiter-super-admin-analytical-module-fragment18">
          <span class="recruiter-super-admin-analytical-module-text18">
            Preference
          </span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="recruiter-super-admin-analytical-module-fragment19">
          <span class="recruiter-super-admin-analytical-module-text19">
            Settings
          </span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="recruiter-super-admin-analytical-module-fragment20">
          <span class="recruiter-super-admin-analytical-module-text20">
            Logout
          </span>
        </div>
      </ng-template>
      <ng-template #text14>
        <div class="recruiter-super-admin-analytical-module-fragment21">
          <span class="recruiter-super-admin-analytical-module-text21">2</span>
        </div>
      </ng-template>
      <ng-template #text15>
        <div class="recruiter-super-admin-analytical-module-fragment22">
          <span class="recruiter-super-admin-analytical-module-text22">
            Leslie Alexander
          </span>
        </div>
      </ng-template>
      <ng-template #text16>
        <div class="recruiter-super-admin-analytical-module-fragment23">
          <span class="recruiter-super-admin-analytical-module-text23">
            Google
          </span>
        </div>
      </ng-template>
      <ng-template #text31>
        <div class="recruiter-super-admin-analytical-module-fragment24">
          <span class="recruiter-super-admin-analytical-module-text24">
            Logout
          </span>
        </div>
      </ng-template>
      <ng-template #text32>
        <div class="recruiter-super-admin-analytical-module-fragment25">
          <span class="recruiter-super-admin-analytical-module-text25">
            <span>Software Development</span>
            <br />
            <span>Mountain View, CA</span>
          </span>
        </div>
      </ng-template>
      <ng-template #text1411>
        <div class="recruiter-super-admin-analytical-module-fragment26">
          <span class="recruiter-super-admin-analytical-module-text29">2</span>
        </div>
      </ng-template>
    </recruiter-workflow-navbar>

    <!-- NEW: TAB NAVIGATION -->
    <div class="tab-navigation-container">
      <button 
        class="tab-button" 
        [class.active]="activeTab === 'reports'" 
        (click)="setActiveTab('reports')">
        Reports & Analytics
      </button>
      <button 
        class="tab-button" 
        [class.active]="activeTab === 'users'" 
        (click)="setActiveTab('users')">
        User Management
      </button>
    </div>


    <div *ngIf="activeTab === 'reports'" class="recruiter-super-admin-analytical-module-container12">
      <div class="recruiter-super-admin-analytical-module-container13">
        <h5 class="recruiter-super-admin-analytical-module-text30">
          Filters &amp; Exports
        </h5>
        <div class="filters-row">
          <!-- Date Range -->
          <div class="filter-item">
            <label>From</label>
            <input type="date" [(ngModel)]="filters.start_date" (change)="applyFilter()" class="filter-input">
          </div>
          <div class="filter-item">
            <label>To</label>
            <input type="date" [(ngModel)]="filters.end_date" (change)="applyFilter()" class="filter-input">
          </div>

          <!-- Recruiter Dropdown -->
          <div class="filter-item">
            <select [(ngModel)]="filters.recruiter_id" (change)="applyFilter()" class="filter-select">
              <option value="">All Recruiters</option>
              <option *ngFor="let rec of recruitersList" [value]="rec.user_id">
                {{ rec.first_name }} {{ rec.last_name }}
              </option>
            </select>
          </div>

          <!-- Job Requirement Dropdown -->
          <div class="filter-item">
            <select [(ngModel)]="filters.job_id" (change)="applyFilter()" class="filter-select">
              <option value="">All Jobs</option>
              <option *ngFor="let job of jobsList" [value]="job.id">
                {{ job.client_name }} - {{ job.job_description | slice:0:15 }}...
              </option>
            </select>
          </div>

          <!-- Download Button -->
          <button class="download-report-btn" (click)="downloadReport()">
            <span>Download Excel</span>
          </button>
        </div>

      </div>
      <div class="recruiter-super-admin-analytical-module-container20">
        <h2 class="recruiter-super-admin-analytical-module-text39">
          Key Preformance Indicators
        </h2>
        <div class="recruiter-super-admin-analytical-module-container21">
          <div class="recruiter-super-admin-analytical-module-container22">
            <div class="recruiter-super-admin-analytical-module-container23">
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                class="recruiter-super-admin-analytical-module-icon55"
              >
                <g fill="none">
                  <path
                    d="M2 6a4 4 0 0 1 4-4h20a4 4 0 0 1 4 4v20c0 1.48-.804 2.773-2 3.465L26.554 29a4 4 0 0 0-3.014.23L22 30h-3l-3-1.5l-3 1.5h-3l-1.54-.77A4 4 0 0 0 5.446 29L4 29.465A4 4 0 0 1 2 26z"
                    fill="#E1D8EC"
                  ></path>
                  <path
                    d="M10 11v10H2v1h8v8h1v-8h10v8h1v-8h8v-1h-8V11h8v-1h-8V2h-1v8H11V2h-1v8H2v1zm1 0h10v10H11z"
                    fill="#B4ACBC"
                  ></path>
                  <path
                    d="M6 30h4V10.214C10 9.542 9.453 9 8.774 9H5.226C4.547 9 4 9.542 4 10.213v19.252c.588.34 1.271.535 2 .535"
                    fill="#00D26A"
                  ></path>
                  <path
                    d="M17.774 17h-3.548c-.679 0-1.226.542-1.226 1.214V30h6V18.214c0-.672-.547-1.214-1.226-1.214"
                    fill="#F70A8D"
                  ></path>
                  <path
                    d="M22 30h4c.729 0 1.412-.195 2-.535V7.209C28 6.539 27.453 6 26.774 6h-3.548C22.547 6 22 6.54 22 7.209z"
                    fill="#00A6ED"
                  ></path>
                </g>
              </svg>
              <span class="recruiter-super-admin-analytical-module-text40">
                Recruiter Productivity
              </span>
            </div>
            <div class="recruiter-super-admin-analytical-module-container24">
              <div class="recruiter-super-admin-analytical-module-container25">
                <span class="recruiter-super-admin-analytical-module-text41">
                  Total Candidates Submission : 
                </span>
                <span class="recruiter-super-admin-analytical-module-text42">
                  Averge  Time-to-Fill : 
                </span>
                <span class="recruiter-super-admin-analytical-module-text43">
                  Active Recruiters : 
                </span>
              </div>
              <div class="recruiter-super-admin-analytical-module-container26">
                <span class="recruiter-super-admin-analytical-module-text44">
                  {{ kpis.total_submissions }}
                </span>
                <span class="recruiter-super-admin-analytical-module-text45">
                  {{ kpis.avg_time_to_fill }} days
                </span>
                <span class="recruiter-super-admin-analytical-module-text46">
                  {{ kpis.active_recruiters }}
                </span>
              </div>
            </div>
          </div>
          <div class="recruiter-super-admin-analytical-module-container27">
            <div class="recruiter-super-admin-analytical-module-container28">
              <svg width="32" height="32" viewBox="0 0 48 48">
                <g
                  fill="none"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="M39 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H39C40.6569 42 42 40.6569 42 39V9C42 7.34315 40.6569 6 39 6Z"
                    fill="#2F88FF"
                    stroke="#000"
                  ></path>
                  <path d="M15 21L33 21" stroke="#fff"></path>
                  <path d="M15 27L33 27" stroke="#fff"></path>
                  <path d="M33 21L26 14" stroke="#fff"></path>
                  <path d="M22 34L15 27" stroke="#fff"></path>
                </g>
              </svg>
              <span class="recruiter-super-admin-analytical-module-text47">
                Pipeline Health (Real-Time)
              </span>
            </div>
            <div class="recruiter-super-admin-analytical-module-container29">
              <div class="recruiter-super-admin-analytical-module-container30">
                <span class="recruiter-super-admin-analytical-module-text48">
                  Sourced : 
                </span>
                <span class="recruiter-super-admin-analytical-module-text49">
                  In Screening : 
                </span>
                <span class="recruiter-super-admin-analytical-module-text50">
                  In Interview : 
                </span>
              </div>
              <div class="recruiter-super-admin-analytical-module-container31">
                <span class="recruiter-super-admin-analytical-module-text51">
                  {{ kpis.pipeline.sourced }}
                </span>
                <span class="recruiter-super-admin-analytical-module-text52">
                  {{ kpis.pipeline.screening }}
                </span>
                <span class="recruiter-super-admin-analytical-module-text53">
                  {{ kpis.pipeline.interview }}
                </span>
              </div>
            </div>
          </div>
          <div class="recruiter-super-admin-analytical-module-container32">
            <div class="recruiter-super-admin-analytical-module-container33">
              <svg width="32" height="32" viewBox="0 0 48 48">
                <g fill="none">
                  <path
                    d="M23.8887 39.8887C32.7287 39.8887 39.8887 32.7287 39.8887 23.8887C39.8887 15.0487 32.7287 7.88867 23.8887 7.88867C15.0487 7.88867 7.88867 15.0487 7.88867 23.8887C7.88867 32.7287 15.0487 39.8887 23.8887 39.8887Z"
                    fill="#2F88FF"
                    stroke="#000"
                    stroke-width="4"
                    stroke-linejoin="round"
                    stroke-miterlimit="2"
                  ></path>
                  <path
                    d="M23.8887 31.8887C28.3087 31.8887 31.8887 28.3087 31.8887 23.8887C31.8887 19.4687 28.3087 15.8887 23.8887 15.8887C19.4687 15.8887 15.8887 19.4687 15.8887 23.8887C15.8887 28.3087 19.4687 31.8887 23.8887 31.8887Z"
                    fill="#43CCF8"
                    stroke="#fff"
                    stroke-width="4"
                    stroke-linejoin="round"
                    stroke-miterlimit="2"
                  ></path>
                  <path
                    d="M23.8887 25.8887C24.9887 25.8887 25.8887 24.9887 25.8887 23.8887C25.8887 22.7887 24.9887 21.8887 23.8887 21.8887C22.7887 21.8887 21.8887 22.7887 21.8887 23.8887C21.8887 24.9887 22.7887 25.8887 23.8887 25.8887Z"
                    fill="#000"
                  ></path>
                  <path
                    d="M23.8887 7.88867V3.88867"
                    stroke="#000"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="2"
                  ></path>
                  <path
                    d="M37.8887 43.8887L33.8887 36.8887"
                    stroke="#000"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="2"
                  ></path>
                  <path
                    d="M13.8887 36.8887L9.88867 43.8887"
                    stroke="#000"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="2"
                  ></path>
                </g>
              </svg>
              <span class="recruiter-super-admin-analytical-module-text54">
                Sourcing Efficiency
              </span>
            </div>
            <div class="recruiter-super-admin-analytical-module-container34">
              <div class="recruiter-super-admin-analytical-module-container35">
                <span class="recruiter-super-admin-analytical-module-text55">
                  Top Source - Linkdin : 
                </span>
                <span class="recruiter-super-admin-analytical-module-text56">
                  Quality Hires (This Month) : 
                </span>
                <span class="recruiter-super-admin-analytical-module-text57">
                  Active Data Source : 
                </span>
              </div>
              <div class="recruiter-super-admin-analytical-module-container36">
                <span class="recruiter-super-admin-analytical-module-text58">
                  {{ kpis.sourcing.top_source }}
                </span>
                <span class="recruiter-super-admin-analytical-module-text59">
                  {{ kpis.sourcing.quality_hires }}
                </span>
                <span class="recruiter-super-admin-analytical-module-text60">
                  {{ kpis.sourcing.active_sources }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="recruiter-super-admin-analytical-module-container37">
        <h2 class="recruiter-super-admin-analytical-module-text61">Detailed Performance Reports</h2>
        
        <div class="recruiter-super-admin-analytical-module-container38">
          <!-- Header -->
          <div class="recruiter-super-admin-analytical-module-container39">
            <span class="recruiter-super-admin-analytical-module-text62">Recruiter Name</span>
            <span class="recruiter-super-admin-analytical-module-text63">Client</span>
            <span class="recruiter-super-admin-analytical-module-text64">Job</span>
            <span class="recruiter-super-admin-analytical-module-text65">Submissions</span>
            <span class="recruiter-super-admin-analytical-module-text66">Hired</span>
            <span class="recruiter-super-admin-analytical-module-text67">Source</span>
            <span class="recruiter-super-admin-analytical-module-text68">Status</span>
          </div>

          <!-- Scrollable Rows -->
          <div class="recruiter-super-admin-analytical-module-container40">
            
            <!-- Loop this row -->
            <div *ngFor="let row of reportTableData" 
                [ngClass]="row.status === 'Closed' ? 'recruiter-super-admin-analytical-module-container42' : 'recruiter-super-admin-analytical-module-container41'">
              <span class="recruiter-super-admin-analytical-module-text69">{{ row.recruiter_name }}</span>
              <span class="recruiter-super-admin-analytical-module-text70">{{ row.client }}</span>
              <span class="recruiter-super-admin-analytical-module-text71">{{ row.job_title }}</span>
              <span class="recruiter-super-admin-analytical-module-text72">{{ row.submissions }}</span>
              <span class="recruiter-super-admin-analytical-module-text73">{{ row.hired }}</span>
              <span class="recruiter-super-admin-analytical-module-text74">{{ row.data_source }}</span>
              <span class="recruiter-super-admin-analytical-module-text75" 
                    [style.color]="row.status === 'Active' ? '#1F882B' : '#F10400'">
                {{ row.status }}
              </span>
            </div>

            <!-- No Data Message -->
            <div *ngIf="reportTableData.length === 0" style="padding:20px; text-align:center; width:100%;">
              No data available for the selected filters.
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- TAB 2: USER MANAGEMENT -->
    <div *ngIf="activeTab === 'users'" class="user-management-container">
      
      <!-- 1. Toolbar -->
      <div class="user-management-toolbar">
        <h2 class="toolbar-title">User Management</h2>
        <button class="create-user-btn" (click)="openCreateUserPopup()">
          <span style="font-size: 20px; line-height: 1;">+</span> Create User
        </button>
      </div>

      <!-- User List Grid -->
      <div class="user-list-view">
        <div *ngIf="isLoadingUsers">Loading users...</div>
        
        <div class="user-cards-grid" *ngIf="!isLoadingUsers">
          @for (user of userList; track user.user_id) {
            <div class="user-card">
              <div class="card-header">
                <div style="display:flex; align-items:center;">
                  <div class="user-initials">{{ user.initials || 'U' }}</div>
                  <div class="header-info">
                    <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
                    <span class="user-role-badge" [class.super]="user.is_superuser">
                      {{ user.is_superuser ? 'Super Admin' : user.user_type }}
                    </span>
                  </div>
                </div>
                <button class="action-btn copy-all-btn" title="Copy All Info" (click)="copyUserData(user)">
                  <!-- Copy Icon -->
                  <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
                </button>
              </div>

              <div class="card-body">
                <div class="info-row">
                  <span class="info-label">User ID:</span>
                  <span>{{ user.user_id }}</span>
                </div>
                <div class="info-row">
                  <span class="info-label">Email:</span>
                  <span style="display:flex; align-items:center;">
                    {{ user.email }}
                    <span class="copy-icon" (click)="copyToClipboard(user.email)" title="Copy Email">📋</span>
                  </span>
                </div>
                <div class="info-row">
                  <span class="info-label">Phone:</span>
                  <span>{{ user.phone_number }}</span>
                </div>
                <div class="info-row">
                  <span class="info-label">Status:</span>
                  <span [style.color]="user.is_active ? 'green' : 'red'">{{ user.is_active ? 'Active' : 'Inactive' }}</span>
                </div>
              </div>

              <div class="card-actions">
                <!-- Reset Password -->
                <button class="action-btn reset-btn" title="Reset Password" (click)="confirmResetPassword(user)">
                  <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                </button>
                <!-- Edit -->
                <button class="action-btn edit-btn" title="Edit User" (click)="openEditUserPopup(user)">
                  <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                </button>
                <!-- Delete -->
                <button class="action-btn delete-btn" title="Delete User" (click)="confirmDeleteUser(user)">
                  <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                </button>
              </div>
            </div>
          }
        </div>
      </div>

      

      <!-- 3. Floating Popup (Modal) for Creation -->
      <div class="modal-overlay" *ngIf="showCreateUserPopup">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title">{{ isEditMode ? 'Edit User' : 'Create New Admin' }}</span>
            <button class="close-modal-btn" (click)="closeCreateUserPopup()">&times;</button>
          </div>

          @if (successMessage) { <div class="success-banner">{{ successMessage }}</div> }
          @if (errorMessage) { <div class="error-banner">{{ errorMessage }}</div> }

          <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" class="admin-creation-form">
            <div class="form-row">
              <div class="form-group">
                <label class="form-label">First Name</label>
                <input type="text" class="form-input" formControlName="first_name" placeholder="First Name" [class.error]="isFieldInvalid('first_name')">
                @if (isFieldInvalid('first_name')) { <div class="error-message">Required (Letters only)</div> }
              </div>
              <div class="form-group">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-input" formControlName="last_name" placeholder="Last Name" [class.error]="isFieldInvalid('last_name')">
                @if (isFieldInvalid('last_name')) { <div class="error-message">Required</div> }
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">Phone Number</label>
              <input type="text" class="form-input" formControlName="phone_number" placeholder="10-digit number" maxlength="10" (input)="sanitizePhoneNumber($event)" [class.error]="isFieldInvalid('phone_number')">
              @if (isFieldInvalid('phone_number')) { <div class="error-message">Valid 10-digit number required</div> }
            </div>

            <div class="form-group">
              <label class="form-label">Email Address</label>
              <input type="email" class="form-input" formControlName="email" placeholder="email@company.com" [class.error]="isFieldInvalid('email')">
              @if (isFieldInvalid('email')) { <div class="error-message">Valid email required</div> }
            </div>

            <div class="form-group checkbox-group">
              <input type="checkbox" id="isSuperAdmin" class="checkbox-input" formControlName="is_superuser">
              <label for="isSuperAdmin" class="form-label" style="cursor: pointer; margin:0;">Grant Super-Admin Privileges</label>
            </div>

            <!-- Passwords hidden in Edit Mode -->
            <div class="form-row">
              <div class="form-group">
                <label class="form-label">
                  Password
                  <span *ngIf="isEditMode" style="font-weight:normal; font-size:11px; color:#666;">(Leave blank to keep current)</span>
                </label>
                <div class="password-wrapper">
                  <input [type]="passwordType" class="form-input" formControlName="password" placeholder="Password">
                  <span class="password-toggle" (click)="togglePasswordVisibility()">{{ passwordType === 'password' ? 'Show' : 'Hide' }}</span>
                </div>
                @if (isFieldInvalid('password')) { <div class="error-message">Min 8 chars, 1 Upper, 1 Number, 1 Special.</div> }
              </div>
              <div class="form-group">
                <label class="form-label">Confirm Password</label>
                <div class="password-wrapper">
                  <input [type]="confirmPasswordType" class="form-input" formControlName="confirm_password" placeholder="Confirm">
                  <span class="password-toggle" (click)="toggleConfirmPasswordVisibility()">{{ confirmPasswordType === 'password' ? 'Show' : 'Hide' }}</span>
                </div>
                @if (createUserForm.hasError('mismatch') && createUserForm.get('confirm_password')?.touched) { <div class="error-message">Passwords do not match</div> }
              </div>
            </div>

            <div class="form-actions">
              <button type="button" class="cancel-btn" (click)="closeCreateUserPopup()">Cancel</button>
              <button type="submit" class="submit-btn" [disabled]="createUserForm.invalid || isSubmitting">
                {{ isSubmitting ? 'Saving...' : (isEditMode ? 'Update User' : 'Create User') }}
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- ALERT MESSAGE COMPONENT -->
    @if (showAlert) {
      <app-alert-message
        [message]="alertMessage"
        [buttons]="alertButtons"
        (buttonClicked)="onAlertAction($event)"
        (close)="onAlertClose()"
      ></app-alert-message>
    }

    </div>
    
  </div>
</div>
