<div
  id="landing-page-testimonial-card"
  class="landin-page-testimonial-card-container1"
  [ngClass]="rootClassName"
>
  <div class="landin-page-testimonial-card-container2">
    <div class="landin-page-testimonial-card-container3">
      <div
        id="landing-page-testimonial"
        class="landin-page-testimonial-card-heading-container"
      >
        <h1 id="Testimonial" class="landin-page-testimonial-card-text1">
          <ng-container>
            <ng-template #defaultHeading>
              <div class="landin-page-testimonial-card-fragment1">
                <span class="landin-page-testimonial-card-text4">
                  Testimonial
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="heading ? heading : defaultHeading"
            ></ng-container>
          </ng-container>
        </h1>
      </div>
      <div class="landin-page-testimonial-card-testimonial-container">
        <img
          id="testimonial-profile-picture"
          [attr.alt]="imageAlt"
          [attr.src]="imageSrc"
          class="landin-page-testimonial-card-user-image"
        />
        <div class="landin-page-testimonial-card-user-name-container">
          <h4 id="testimonial-name" class="landin-page-testimonial-card-text2">
            <ng-container>
              <ng-template #defaultText>
                <div class="landin-page-testimonial-card-fragment2">
                  <span class="landin-page-testimonial-card-text5">
                    Soumya Sharma
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text ? text : defaultText"
              ></ng-container>
            </ng-container>
          </h4>
          <h4
            id="testimonial-profession"
            class="landin-page-testimonial-card-text3"
          >
            <ng-container>
              <ng-template #defaultText2>
                <div class="landin-page-testimonial-card-fragment4">
                  <span class="landin-page-testimonial-card-text7">
                    CEO &#64; Meta
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text2 ? text2 : defaultText2"
              ></ng-container>
            </ng-container>
          </h4>
        </div>
        <span
          id="testimonial-review"
          class="landin-page-testimonial-card-user-name"
        >
          <ng-container>
            <ng-template #defaultText1>
              <div class="landin-page-testimonial-card-fragment3">
                <span class="landin-page-testimonial-card-text6">
                  &quot;I&apos;ve had an absolutely wonderful experience using
                  this service. The team is incredibly professional, attentive,
                  and truly dedicated to customer satisfaction. From the initial
                  consultation to the final delivery, every step of the process
                  was seamless and exceeded my expectations. The quality of the
                  product is exceptional, and I couldn&apos;t be happier with
                  the results. I highly recommend this service to anyone looking
                  for top-notch quality and outstanding customer support.
                  It&apos;s rare to find a company that genuinely cares about
                  its customers, and this one certainly does!&quot;
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text1 ? text1 : defaultText1"
            ></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>
