<div class="thq-section-padding">
  <div class="features25-container2 thq-section-max-width">
    <div class="features25-tabs-menu">
      <div (click)="activeTab = 0" class="features25-tab-horizontal1">
        <div class="features25-divider-container1">
          @if (activeTab === 0) {
            <div class="features25-container3"></div>
          }
        </div>
        <div class="features25-content1">
          <h2 class="thq-heading-2">
            <ng-container>
              <ng-template #defaultFeature1Title>
                <div class="features25-fragment3">
                  <span class="features25-text3">Easy Data Input</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="feature1Title ? feature1Title : defaultFeature1Title"
              ></ng-container>
            </ng-container>
          </h2>
          <span class="thq-body-small">
            <ng-container>
              <ng-template #defaultFeature1Description>
                <div class="features25-fragment1">
                  <span class="features25-text1">
                    Effortlessly input your email, mobile number, certificate
                    name, and issuing institute.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="feature1Description ? feature1Description : defaultFeature1Description"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
      <div (click)="activeTab = 1" class="features25-tab-horizontal2">
        <div class="features25-divider-container2">
          @if (activeTab === 1) {
            <div class="features25-container4"></div>
          }
        </div>
        <div class="features25-content2">
          <h2 class="thq-heading-2">
            <ng-container>
              <ng-template #defaultFeature2Title>
                <div class="features25-fragment5">
                  <span class="features25-text5">User-Friendly Navigation</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="feature2Title ? feature2Title : defaultFeature2Title"
              ></ng-container>
            </ng-container>
          </h2>
          <span class="thq-body-small">
            <ng-container>
              <ng-template #defaultFeature2Description>
                <div class="features25-fragment6">
                  <span class="features25-text6">
                    Navigate through the process smoothly with buttons like
                    &apos;Save &amp; Next&apos; and &apos;Skip&apos;.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="feature2Description ? feature2Description : defaultFeature2Description"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
      <div (click)="activeTab = 2" class="features25-tab-horizontal3">
        <div class="features25-divider-container3">
          @if (activeTab === 2) {
            <div class="features25-container5"></div>
          }
        </div>
        <div class="features25-content3">
          <h2 class="thq-heading-2">
            <ng-container>
              <ng-template #defaultFeature3Title>
                <div class="features25-fragment4">
                  <span class="features25-text4">
                    Secure Information Handling
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="feature3Title ? feature3Title : defaultFeature3Title"
              ></ng-container>
            </ng-container>
          </h2>
          <span class="thq-body-small">
            <ng-container>
              <ng-template #defaultFeature3Description>
                <div class="features25-fragment2">
                  <span class="features25-text2">
                    Rest assured that your data is handled securely and with
                    utmost confidentiality.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="feature3Description ? feature3Description : defaultFeature3Description"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
    </div>
    <div class="features25-image-container">
      @if (activeTab === 0) {
        <img
          [attr.alt]="feature1ImgAlt"
          [attr.src]="feature1ImgSrc"
          class="features25-image1 thq-img-ratio-16-9"
          />
      }
      @if (activeTab === 1) {
        <img
          [attr.alt]="feature2ImgAlt"
          [attr.src]="feature2ImgSrc"
          class="features25-image2 thq-img-ratio-16-9"
          />
      }
      @if (activeTab === 2) {
        <img
          [attr.alt]="feature3ImgAlt"
          [attr.src]="feature3ImgSrc"
          class="features25-image3 thq-img-ratio-16-9"
          />
      }
    </div>
  </div>
</div>
