:host { 
  display: contents; 
}

.create-job-post-footer-2-button6:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
  border-color: #dcdcdc; /* Optional: a border for the disabled state */
}

/* Ensure hover and active effects are removed when disabled */
.create-job-post-footer-2-button6:disabled:hover,
.create-job-post-footer-2-button6:disabled:active {
  transform: none; /* Prevent scaling effect */
  background-color: #f0f0f0; /* Keep the disabled background color */
  cursor: not-allowed; /* Show not-allowed cursor */
}
 
.create-job-post-footer-2-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.create-job-post-footer-2-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
 
.create-job-post-footer-2-button1 {
  width: 54px;
  height: 100%;
  display: flex;
  padding: 0px;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  justify-content: center;
  background-color: transparent;
}
 
.create-job-post-footer-2-button1:hover {
  cursor: pointer;
  transform: scale(0.90);
}
 
.create-job-post-footer-2-button1:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.create-job-post-footer-2-text10 {
  fill: #41327B;
  color: #41327B;
  font-style: normal;
  font-weight: 600;
}
 
.create-job-post-footer-2-container3 {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.create-job-post-footer-2-button2 {
  width: 100px;
  height: 100%;
  padding: 0px;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  justify-content: center;
  background-color: transparent;
}
 
.create-job-post-footer-2-button2:hover {
  cursor: pointer;
  transform: scale(0.90);
}
 
.create-job-post-footer-2-button2:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.create-job-post-footer-2-text11 {
  fill: #41327B;
  color: #41327B;
  font-style: normal;
  font-weight: 600;
}
 
.create-job-post-footer-2-button3 {
  fill: #41327B;
  color: #41327B;
  width: 113px;
  height: 100%;
  padding: 0px;
  transition: 0.3s;
  border-color: #41327B;
  background-color: transparent;
}
 
.create-job-post-footer-2-button3:hover {
  cursor: pointer;
  transform: scale(0.90);
}
 
.create-job-post-footer-2-button3:active {
  transform: scale();
  transition: all 0.7s;
}
 
.create-job-post-footer-2-text12 {
  font-style: normal;
  font-weight: 600;
}
 
.create-job-post-footer-2-button4 {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 270px;
  height: 100%;
  display: none;
  padding: 0px;
  transition: 0.3s;
  border-color: #41327B;
  background-color: #41327B;
}
 
.create-job-post-footer-2-button4:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.create-job-post-footer-2-button4:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.create-job-post-footer-2-text13 {
  font-style: normal;
  font-weight: 600;
}
 
.create-job-post-footer-2-button5 {
  fill: #41327B;
  color: #41327B;
  width: 61px;
  height: 100%;
  padding: 0px;
  transition: 0.3s;
  border-color: #41327B;
  background-color: transparent;
}
 
.create-job-post-footer-2-button5:hover {
  cursor: pointer;
  transform: scale(0.90);
}
 
.create-job-post-footer-2-button5:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.create-job-post-footer-2-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.create-job-post-footer-2-button6 {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 61px;
  height: 100%;
  padding: 0px;
  transition: 0.3s;
  border-color: #41327B;
  background-color: #41327B;
}
 
.create-job-post-footer-2-button6:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.create-job-post-footer-2-button6:active {
  transform: scale();
  background-color: 022954;
}
 
.create-job-post-footer-2-text15 {
  font-style: normal;
  font-weight: 600;
}
 
.create-job-post-footer-2-fragment1 {
  display: contents;
}
 
.create-job-post-footer-2-text16 {
  color: rgb(65, 50, 123);
  display: inline-block;
}
 
.create-job-post-footer-2-fragment2 {
  display: contents;
}
 
.create-job-post-footer-2-text17 {
  display: inline-block;
}
 
.create-job-post-footer-2-fragment3 {
  display: contents;
}
 
.create-job-post-footer-2-text18 {
  display: inline-block;
}
 
.create-job-post-footer-2-fragment4 {
  display: contents;
}
 
.create-job-post-footer-2-text19 {
  display: inline-block;
}
 
.create-job-post-footer-2-fragment5 {
  display: contents;
}
 
.create-job-post-footer-2-text20 {
  color: #41327b;
  display: inline-block;
}
 
.create-job-post-footer-2-fragment6 {
  display: contents;
}
 
.create-job-post-footer-2-text21 {
  display: inline-block;
}
 

 

 

 
@media(max-width: 991px) {
  .create-job-post-footer-2-container2 {
    height: 36px;
  }
  .create-job-post-footer-2-text10 {
    font-size: 14px;
  }
  .create-job-post-footer-2-button2 {
    width: 85px;
  }
  .create-job-post-footer-2-text11 {
    font-size: 14px;
  }
  .create-job-post-footer-2-button3 {
    width: 100px;
  }
  .create-job-post-footer-2-text12 {
    font-size: 14px;
  }
  .create-job-post-footer-2-button4 {
    width: 250px;
  }
  .create-job-post-footer-2-text13 {
    font-size: 14px;
  }
  .create-job-post-footer-2-button5 {
    width: 53px;
  }
  .create-job-post-footer-2-text14 {
    font-size: 14px;
  }
  .create-job-post-footer-2-button6 {
    width: 53px;
  }
  .create-job-post-footer-2-text15 {
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .create-job-post-footer-2-container2 {
    height: 32px;
  }
  .create-job-post-footer-2-text10 {
    font-size: 12px;
  }
  .create-job-post-footer-2-button2 {
    width: 70px;
  }
  .create-job-post-footer-2-text11 {
    font-size: 12px;
  }
  .create-job-post-footer-2-button3 {
    width: 85px;
  }
  .create-job-post-footer-2-text12 {
    font-size: 12px;
  }
  .create-job-post-footer-2-button4 {
    width: 220px;
  }
  .create-job-post-footer-2-text13 {
    font-size: 12px;
  }
  .create-job-post-footer-2-button5 {
    fill: #41327B;
    color: #41327B;
    width: 45px;
    background-color: transparent;
  }
  .create-job-post-footer-2-text14 {
    font-size: 12px;
  }
  .create-job-post-footer-2-button6 {
    width: 45px;
  }
  .create-job-post-footer-2-text15 {
    font-size: 12px;
  }
}