<div
  id="write-a-job-post-for-recruiter"
  class="write-a-job-post-for-recruiter-container1"
  [ngClass]="rootClassName"
>
  <header
    id="Write-a-job-post-for-recruiter-container"
    class="write-a-job-post-for-recruiter-write-a-job-post-for-recruiter-container"
  >
    <header
      data-thq="thq-navbar"
      class="write-a-job-post-for-recruiter-navbar-interactive"
    >
      <div
        data-thq="thq-navbar-nav"
        class="write-a-job-post-for-recruiter-desktop-menu"
      >
        <div class="write-a-job-post-for-recruiter-container2">
          <span class="write-a-job-post-for-recruiter-text1">
            <ng-container>
              <ng-template #defaultText11>
                <div class="write-a-job-post-for-recruiter-fragment1">
                  <span class="write-a-job-post-for-recruiter-text2">
                    Write a job post
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text11 ? text11 : defaultText11"
              ></ng-container>
            </ng-container>
          </span>
          <svg
            id="Icon-document"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            class="write-a-job-post-for-recruiter-attach-document-icon1"
          >
            <path
              d="M26 30H11a2 2 0 0 1-2-2v-6h2v6h15V6h-9V4h9a2 2 0 0 1 2 2v22a2 2 0 0 1-2 2"
              fill="currentColor"
            ></path>
            <path
              d="M17 10h7v2h-7zm-1 5h8v2h-8zm-1 5h9v2h-9zm-6-1a5.006 5.006 0 0 1-5-5V3h2v11a3 3 0 0 0 6 0V5a1 1 0 0 0-2 0v10H8V5a3 3 0 0 1 6 0v9a5.006 5.006 0 0 1-5 5"
              fill="currentColor"
            ></path></svg
          ><svg
            id="Icon-gallery"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="write-a-job-post-for-recruiter-gallery-icon1"
          >
            <path
              d="m2.25 15.75l5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5m10.5-11.25h.008v.008h-.008zm.375 0a.375.375 0 1 1-.75 0a.375.375 0 0 1 .75 0"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div
        data-thq="thq-burger-menu"
        class="write-a-job-post-for-recruiter-burger-menu"
      >
        <div
          id="write-a-job-post-container"
          class="write-a-job-post-for-recruiter-write-a-job-post-container"
        >
          <span
            id="Write-a-job-post-text"
            class="write-a-job-post-for-recruiter-write-a-job-post-text"
          >
            <ng-container>
              <ng-template #defaultText113>
                <div class="write-a-job-post-for-recruiter-fragment4">
                  <span class="write-a-job-post-for-recruiter-text5">
                    Write a job post
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text113 ? text113 : defaultText113"
              ></ng-container>
            </ng-container>
          </span>
          <svg
            id="document-icon"
            viewBox="0 0 32 32"
            class="write-a-job-post-for-recruiter-attach-document-icon2"
          >
            <path
              d="M26 30H11a2 2 0 0 1-2-2v-6h2v6h15V6h-9V4h9a2 2 0 0 1 2 2v22a2 2 0 0 1-2 2"
              fill="currentColor"
            ></path>
            <path
              d="M17 10h7v2h-7zm-1 5h8v2h-8zm-1 5h9v2h-9zm-6-1a5.006 5.006 0 0 1-5-5V3h2v11a3 3 0 0 0 6 0V5a1 1 0 0 0-2 0v10H8V5a3 3 0 0 1 6 0v9a5.006 5.006 0 0 1-5 5"
              fill="currentColor"
            ></path></svg
          ><svg
            id="gallery-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="write-a-job-post-for-recruiter-gallery-icon2"
          >
            <path
              d="m2.25 15.75l5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5m10.5-11.25h.008v.008h-.008zm.375 0a.375.375 0 1 1-.75 0a.375.375 0 0 1 .75 0"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div
        data-thq="thq-mobile-menu"
        class="write-a-job-post-for-recruiter-mobile-menu"
      >
        <div class="write-a-job-post-for-recruiter-nav">
          <div
            id="recruiter-job-post-container"
            class="write-a-job-post-for-recruiter-recruiter-job-post-container"
          >
            <div class="write-a-job-post-for-recruiter-container3">
              <div
                id="recruiter-image-name-closemenu-container"
                class="write-a-job-post-for-recruiter-recruiter-image-name-closemenu-container"
              >
                <div
                  id="recruiter-name-image-container"
                  class="write-a-job-post-for-recruiter-recruiter-name-image-container"
                >
                  <img
                    id="recruiter-profile-picture"
                    [attr.alt]="imageAlt"
                    [attr.src]="imageSrc"
                    class="write-a-job-post-for-recruiter-recruiter-image"
                  />
                  <span
                    id="recruiter-name"
                    class="write-a-job-post-for-recruiter-recruiter-name"
                  >
                    <ng-container>
                      <ng-template #defaultText5>
                        <div class="write-a-job-post-for-recruiter-fragment2">
                          <span class="write-a-job-post-for-recruiter-text3">
                            Leslie Alexander
                          </span>
                        </div>
                      </ng-template>
                      <ng-container
                        *ngTemplateOutlet="text5 ? text5 : defaultText5"
                      ></ng-container>
                    </ng-container>
                  </span>
                </div>
                <div
                  data-thq="thq-close-menu"
                  class="write-a-job-post-for-recruiter-close-menu"
                >
                  <svg
                    id="close-icon"
                    viewBox="0 0 1024 1024"
                    class="write-a-job-post-for-recruiter-close-icon"
                  >
                    <path
                      d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                    ></path>
                  </svg>
                </div>
              </div>
              <input
                type="text"
                id="recruiter-input-for-post"
                [attr.placeholder]="textinputPlaceholder1"
                class="write-a-job-post-for-recruiter-recruiter-input input"
              />
              <div
                id="gallery-document-container"
                class="write-a-job-post-for-recruiter-gallery-document-container"
              >
                <svg
                  id="gallery-icon-popup"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="write-a-job-post-for-recruiter-gallery-icon3"
                >
                  <path
                    d="m2.25 15.75l5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5m10.5-11.25h.008v.008h-.008zm.375 0a.375.375 0 1 1-.75 0a.375.375 0 0 1 .75 0"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path></svg
                ><svg
                  id="document-icon-popup"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  class="write-a-job-post-for-recruiter-attach-document-icon3"
                >
                  <path
                    d="M26 30H11a2 2 0 0 1-2-2v-6h2v6h15V6h-9V4h9a2 2 0 0 1 2 2v22a2 2 0 0 1-2 2"
                    fill="currentColor"
                  ></path>
                  <path
                    d="M17 10h7v2h-7zm-1 5h8v2h-8zm-1 5h9v2h-9zm-6-1a5.006 5.006 0 0 1-5-5V3h2v11a3 3 0 0 0 6 0V5a1 1 0 0 0-2 0v10H8V5a3 3 0 0 1 6 0v9a5.006 5.006 0 0 1-5 5"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <div
                id="post-button-container"
                class="write-a-job-post-for-recruiter-post-button-container"
              >
                <button
                  id="post-button"
                  type="button"
                  class="write-a-job-post-for-recruiter-post-button button"
                >
                  <span
                    id="post-text"
                    class="write-a-job-post-for-recruiter-post-text"
                  >
                    <ng-container>
                      <ng-template #defaultButton4>
                        <div class="write-a-job-post-for-recruiter-fragment3">
                          <span class="write-a-job-post-for-recruiter-text4">
                            Post
                          </span>
                        </div>
                      </ng-template>
                      <ng-container
                        *ngTemplateOutlet="button4 ? button4 : defaultButton4"
                      ></ng-container>
                    </ng-container>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </header>
</div>
