<div
  id="candidate-profile-score"
  class="candidate-profile-score-container1"
  [ngClass]="rootClassName"
>
  <div
    id="candidate-score-board-container"
    class="candidate-profile-score-container2"
  >
    <span
      id="candidate-profile-score-board"
      class="candidate-profile-score-profile-score-board"
    >
      <ng-container>
        <ng-template #defaultText>
          <div class="candidate-profile-score-fragment">
            <span class="candidate-profile-score-text">
              🏆 Profile Score Board
            </span>
          </div>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="text ? text : defaultText"
        ></ng-container>
      </ng-container>
    </span>
    <div
      id="progress-bar-container"
      class="candidate-profile-score-progress-bar-container"
    >
      <div class="candidate-profile-score-container3">
        <div class="candidate-profile-score-container4">
          <dangerous-html
            html="  <style>
    .progress-bar-wrapper {
      width: 100%;
      padding: 10px;
    }

    .progress-bar-container {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 90%; /* Adjust to fit within 90% of parent width */
      height: 4px;
      position: relative;
      margin: 0 auto; /* Center the container */
    }

    .progress-bar {
      width: 80%;
      height: 4px;
      background-color: #E4E5E8;
      border-radius: 2px;
      position: absolute;
    }

    .progress-bar::before {
      content: '';
      width: 80%; /* Progress fill percentage */
      height: 4px;
      background-color: #3AC14A;
      border-radius: 2px;
      position: absolute;
      z-index: 1;
    }

    .progress-text {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 12px;
      color: #000;
      margin-left: 6px;
      position: absolute;
      right: 10px;
    }

    @media (max-width: 1000px) {
      .progress-bar-container {
        max-width: 100%; /* Full width for smaller screens */
      }

      .progress-text {
        font-size: 10px;
        right: 5px;
      }
    }
  </style>
<body>
  <div class='progress-bar-wrapper'>
    <div class='progress-bar-container'>
      <div class='progress-bar'></div>
      <span class='progress-text'>80%</span>
    </div>
  </div>
</body>
"
          ></dangerous-html>
        </div>
      </div>
    </div>
  </div>
</div>
