<div
  class="recruiter-workflow-client-list-recruiter-workflow-client-list"
  [ngClass]="rootClassName"
>
  <div
    id="select-filter-sort-download-zip-main-container"
    class="recruiter-workflow-client-list-select-filter-sort-download-zip-main-container"
  >
    <div class="recruiter-workflow-client-list-container10">
      <div
        id="select-all-main-container"
        class="recruiter-workflow-client-list-select-all-main-container1"
      >
        <input
          type="checkbox"
          id="select-checkbox"
          class="recruiter-workflow-client-list-select-checkbox1"
        />
        <span
          id="select-all-text"
          class="recruiter-workflow-client-list-select-all-text"
        >
          <ng-container>
            <ng-template #defaultText91>
              <div class="recruiter-workflow-client-list-fragment31">
                <span class="recruiter-workflow-client-list-text53">
                  Select All
                </span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="text91 ? text91 : defaultText91"
            ></ng-container>
          </ng-container>
        </span>
      </div>
      <div class="recruiter-workflow-client-list-container11">
        <div
          id="select-all-main-container"
          class="recruiter-workflow-client-list-select-all-main-container2"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="recruiter-workflow-client-list-icon10"
          >
            <path
              d="M14 2H4v20h16V8zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3zm-3-7V3.5L18.5 9z"
              fill="currentColor"
            ></path>
          </svg>
          <div class="recruiter-workflow-client-list-container12">
            <span>
              <ng-container>
                <ng-template #defaultText>
                  <div class="recruiter-workflow-client-list-fragment26">
                    <span class="recruiter-workflow-client-list-text48">
                      Add
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text ? text : defaultText"
                ></ng-container>
              </ng-container>
            </span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="recruiter-workflow-client-list-icon12"
            >
              <path
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                fill="currentColor"
                fill-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div
      id="filter-sort-download-zip-container"
      class="recruiter-workflow-client-list-filter-sort-download-zip-container"
    >
      <div
        id="filtered-container"
        class="recruiter-workflow-client-list-filtered-container"
      >
        <button
          id="filtered-button"
          type="button"
          class="recruiter-workflow-client-list-filtered-button1 button"
        >
          <span
            id="start-process-text"
            class="recruiter-workflow-client-list-start-process-text1"
          >
            <ng-container>
              <ng-template #defaultStartProcessText>
                <div class="recruiter-workflow-client-list-fragment10">
                  <span class="recruiter-workflow-client-list-text32">
                    Delete 
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="startProcessText ? startProcessText : defaultStartProcessText"
              ></ng-container>
            </ng-container>
          </span>
        </button>
        <button
          id="filtered-button"
          type="button"
          class="recruiter-workflow-client-list-filtered-button2 button"
        >
          <span
            id="start-process-text"
            class="recruiter-workflow-client-list-start-process-text2"
          >
            <ng-container>
              <ng-template #defaultStartProcessText1>
                <div class="recruiter-workflow-client-list-fragment34">
                  <span class="recruiter-workflow-client-list-text56">
                    Filtered By
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="startProcessText1 ? startProcessText1 : defaultStartProcessText1"
              ></ng-container>
            </ng-container>
          </span>
        </button>
      </div>
      <div
        data-thq="thq-dropdown"
        class="recruiter-workflow-client-list-sort-dropdown list-item"
      >
        <div
          data-thq="thq-dropdown-toggle"
          class="recruiter-workflow-client-list-dropdown-toggle1"
        >
          <span class="recruiter-workflow-client-list-text11">
            <ng-container>
              <ng-template #defaultText1>
                <div class="recruiter-workflow-client-list-fragment18">
                  <span class="recruiter-workflow-client-list-text40">
                    Sort
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text1 ? text1 : defaultText1"
              ></ng-container>
            </ng-container>
          </span>
          <div
            data-thq="thq-dropdown-arrow"
            class="recruiter-workflow-client-list-dropdown-arrow"
          >
            <svg
              viewBox="0 0 1024 1024"
              class="recruiter-workflow-client-list-icon14"
            >
              <path d="M426 726v-428l214 214z"></path>
            </svg>
          </div>
        </div>
        <ul
          data-thq="thq-dropdown-list"
          class="recruiter-workflow-client-list-dropdown-list"
        >
          <li
            data-thq="thq-dropdown"
            class="recruiter-workflow-client-list-dropdown1 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="recruiter-workflow-client-list-dropdown-toggle2"
            >
              <span class="recruiter-workflow-client-list-text12">
                <ng-container>
                  <ng-template #defaultText7>
                    <div class="recruiter-workflow-client-list-fragment33">
                      <span class="recruiter-workflow-client-list-text55">
                        Sub-menu Item
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text7 ? text7 : defaultText7"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
          </li>
          <li
            data-thq="thq-dropdown"
            class="recruiter-workflow-client-list-dropdown2 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="recruiter-workflow-client-list-dropdown-toggle3"
            >
              <span class="recruiter-workflow-client-list-text13">
                <ng-container>
                  <ng-template #defaultText8>
                    <div class="recruiter-workflow-client-list-fragment11">
                      <span class="recruiter-workflow-client-list-text33">
                        Sub-menu Item
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text8 ? text8 : defaultText8"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
          </li>
          <li
            data-thq="thq-dropdown"
            class="recruiter-workflow-client-list-dropdown3 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="recruiter-workflow-client-list-dropdown-toggle4"
            >
              <span class="recruiter-workflow-client-list-text14">
                <ng-container>
                  <ng-template #defaultText9>
                    <div class="recruiter-workflow-client-list-fragment28">
                      <span class="recruiter-workflow-client-list-text50">
                        Sub-menu Item
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text9 ? text9 : defaultText9"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="recruiter-workflow-client-list-container13">
    <div class="recruiter-workflow-client-list-container14">
      <div class="recruiter-workflow-client-list-container15">
        <div class="recruiter-workflow-client-list-container16">
          <div class="recruiter-workflow-client-list-container17">
            <input
              type="checkbox"
              id="select-checkbox"
              class="recruiter-workflow-client-list-select-checkbox2"
            />
          </div>
          <div class="recruiter-workflow-client-list-container18">
            <span class="recruiter-workflow-client-list-text15">
              <ng-container>
                <ng-template #defaultText6>
                  <div class="recruiter-workflow-client-list-fragment17">
                    <span class="recruiter-workflow-client-list-text39">
                      ASM Technologies Lt. Pvt.
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text6 ? text6 : defaultText6"
                ></ng-container>
              </ng-container>
            </span>
            <div class="recruiter-workflow-client-list-container19">
              <div class="recruiter-workflow-client-list-container20">
                <span class="recruiter-workflow-client-list-text16">
                  <ng-container>
                    <ng-template #defaultText10>
                      <div class="recruiter-workflow-client-list-fragment25">
                        <span class="recruiter-workflow-client-list-text47">
                          Client
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text10 ? text10 : defaultText10"
                    ></ng-container>
                  </ng-container>
                </span>
                <span class="recruiter-workflow-client-list-text17">
                  <ng-container>
                    <ng-template #defaultText11>
                      <div class="recruiter-workflow-client-list-fragment29">
                        <span class="recruiter-workflow-client-list-text51">
                          Asian Paint
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text11 ? text11 : defaultText11"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="recruiter-workflow-client-list-container21">
                <span class="recruiter-workflow-client-list-text18">
                  <ng-container>
                    <ng-template #defaultText12>
                      <div class="recruiter-workflow-client-list-fragment24">
                        <span class="recruiter-workflow-client-list-text46">
                          Sub Client
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text12 ? text12 : defaultText12"
                    ></ng-container>
                  </ng-container>
                </span>
                <span class="recruiter-workflow-client-list-text19">
                  <ng-container>
                    <ng-template #defaultText13>
                      <div class="recruiter-workflow-client-list-fragment20">
                        <span class="recruiter-workflow-client-list-text42">
                          Asian Paint
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text13 ? text13 : defaultText13"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
            <div class="recruiter-workflow-client-list-container22">
              <div class="recruiter-workflow-client-list-container23">
                <div class="recruiter-workflow-client-list-container24">
                  <h1 class="recruiter-workflow-client-list-text20">
                    <ng-container>
                      <ng-template #defaultHeading>
                        <div class="recruiter-workflow-client-list-fragment15">
                          <span class="recruiter-workflow-client-list-text37">
                            Location
                          </span>
                        </div>
                      </ng-template>
                      <ng-container
                        *ngTemplateOutlet="heading ? heading : defaultHeading"
                      ></ng-container>
                    </ng-container>
                  </h1>
                </div>
                <div class="recruiter-workflow-client-list-container25">
                  <h1 class="recruiter-workflow-client-list-text21">
                    <ng-container>
                      <ng-template #defaultHeading1>
                        <div class="recruiter-workflow-client-list-fragment13">
                          <span class="recruiter-workflow-client-list-text35">
                            Spoc
                          </span>
                        </div>
                      </ng-template>
                      <ng-container
                        *ngTemplateOutlet="heading1 ? heading1 : defaultHeading1"
                      ></ng-container>
                    </ng-container>
                  </h1>
                </div>
                <div class="recruiter-workflow-client-list-container26">
                  <h1 class="recruiter-workflow-client-list-text22">
                    <ng-container>
                      <ng-template #defaultHeading2>
                        <div class="recruiter-workflow-client-list-fragment32">
                          <span class="recruiter-workflow-client-list-text54">
                            Phone Number
                          </span>
                        </div>
                      </ng-template>
                      <ng-container
                        *ngTemplateOutlet="heading2 ? heading2 : defaultHeading2"
                      ></ng-container>
                    </ng-container>
                  </h1>
                </div>
                <div class="recruiter-workflow-client-list-container27">
                  <h1 class="recruiter-workflow-client-list-text23">
                    <ng-container>
                      <ng-template #defaultHeading3>
                        <div class="recruiter-workflow-client-list-fragment30">
                          <span class="recruiter-workflow-client-list-text52">
                            Email
                          </span>
                        </div>
                      </ng-template>
                      <ng-container
                        *ngTemplateOutlet="heading3 ? heading3 : defaultHeading3"
                      ></ng-container>
                    </ng-container>
                  </h1>
                </div>
              </div>
              <div class="recruiter-workflow-client-list-container28">
                <div class="recruiter-workflow-client-list-container29">
                  <div class="recruiter-workflow-client-list-container30">
                    <span class="recruiter-workflow-client-list-text24">
                      <ng-container>
                        <ng-template #defaultText14>
                          <div
                            class="recruiter-workflow-client-list-fragment12"
                          >
                            <span class="recruiter-workflow-client-list-text34">
                              Hebbal, Banglore
                            </span>
                          </div>
                        </ng-template>
                        <ng-container
                          *ngTemplateOutlet="text14 ? text14 : defaultText14"
                        ></ng-container>
                      </ng-container>
                    </span>
                  </div>
                  <div class="recruiter-workflow-client-list-container31">
                    <span class="recruiter-workflow-client-list-text25">
                      <ng-container>
                        <ng-template #defaultText15>
                          <div
                            class="recruiter-workflow-client-list-fragment16"
                          >
                            <span class="recruiter-workflow-client-list-text38">
                              Prashanth
                            </span>
                          </div>
                        </ng-template>
                        <ng-container
                          *ngTemplateOutlet="text15 ? text15 : defaultText15"
                        ></ng-container>
                      </ng-container>
                    </span>
                  </div>
                  <div class="recruiter-workflow-client-list-container32">
                    <span class="recruiter-workflow-client-list-text26">
                      <ng-container>
                        <ng-template #defaultText16>
                          <div
                            class="recruiter-workflow-client-list-fragment14"
                          >
                            <span class="recruiter-workflow-client-list-text36">
                              9874569874
                            </span>
                          </div>
                        </ng-template>
                        <ng-container
                          *ngTemplateOutlet="text16 ? text16 : defaultText16"
                        ></ng-container>
                      </ng-container>
                    </span>
                  </div>
                  <div class="recruiter-workflow-client-list-container33">
                    <span class="recruiter-workflow-client-list-text27">
                      <ng-container>
                        <ng-template #defaultText17>
                          <div
                            class="recruiter-workflow-client-list-fragment22"
                          >
                            <span class="recruiter-workflow-client-list-text44">
                              culturehighway&#64;gmail.com
                            </span>
                          </div>
                        </ng-template>
                        <ng-container
                          *ngTemplateOutlet="text17 ? text17 : defaultText17"
                        ></ng-container>
                      </ng-container>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="recruiter-workflow-client-list-container34">
          <svg
            width="24"
            height="24"
            viewBox="0 0 1024 1024"
            class="recruiter-workflow-client-list-icon16"
          >
            <path
              d="M761.1 288.3L687.8 215L325.1 577.6l-15.6 89l88.9-15.7z"
              fill="currentColor"
              fill-opacity=".15"
            ></path>
            <path
              d="M880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32m-622.3-84c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 0 0 0-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 0 0 9.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9m67.4-174.4L687.8 215l73.3 73.3l-362.7 362.6l-88.9 15.7z"
              fill="currentColor"
            ></path></svg
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="recruiter-workflow-client-list-icon19"
          >
            <path
              d="M14 2H4v20h16V8zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3zm-3-7V3.5L18.5 9z"
              fill="currentColor"
            ></path></svg
          ><svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            class="recruiter-workflow-client-list-icon21"
          >
            <path
              d="M8.5 4h3a1.5 1.5 0 0 0-3 0m-1 0a2.5 2.5 0 0 1 5 0h5a.5.5 0 0 1 0 1h-1.054l-1.194 10.344A3 3 0 0 1 12.272 18H7.728a3 3 0 0 1-2.98-2.656L3.554 5H2.5a.5.5 0 0 1 0-1zM5.741 15.23A2 2 0 0 0 7.728 17h4.544a2 2 0 0 0 1.987-1.77L15.439 5H4.561zM8.5 7.5A.5.5 0 0 1 9 8v6a.5.5 0 0 1-1 0V8a.5.5 0 0 1 .5-.5M12 8a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
      </div>
      <div class="recruiter-workflow-client-list-container35">
        <div class="recruiter-workflow-client-list-container36">
          <span class="recruiter-workflow-client-list-text28">
            <ng-container>
              <ng-template #defaultText2>
                <div class="recruiter-workflow-client-list-fragment21">
                  <span class="recruiter-workflow-client-list-text43">
                    Recruiter : 
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text2 ? text2 : defaultText2"
              ></ng-container>
            </ng-container>
          </span>
          <span class="recruiter-workflow-client-list-text29">
            <ng-container>
              <ng-template #defaultText3>
                <div class="recruiter-workflow-client-list-fragment19">
                  <span class="recruiter-workflow-client-list-text41">
                    Prashanth
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text3 ? text3 : defaultText3"
              ></ng-container>
            </ng-container>
          </span>
        </div>
        <div class="recruiter-workflow-client-list-container37">
          <span class="recruiter-workflow-client-list-text30">
            <ng-container>
              <ng-template #defaultText4>
                <div class="recruiter-workflow-client-list-fragment23">
                  <span class="recruiter-workflow-client-list-text45">
                    Created at : 
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text4 ? text4 : defaultText4"
              ></ng-container>
            </ng-container>
          </span>
          <span class="recruiter-workflow-client-list-text31">
            <ng-container>
              <ng-template #defaultText5>
                <div class="recruiter-workflow-client-list-fragment27">
                  <span class="recruiter-workflow-client-list-text49">
                    Yesterday
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text5 ? text5 : defaultText5"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
