:host { 
  display: contents; 
}
 
.recruiter-workflow-client-input-form-recruiter-workflow-client-input-form {
  gap: 24px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.recruiter-workflow-client-input-form-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
 
.recruiter-workflow-client-input-form-text10 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}
 
.recruiter-workflow-client-input-form-container2 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: 550px;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
 
.recruiter-workflow-client-input-form-job-title-company-name-container {
  flex: 0 0 auto;
  width: 100%;
  height: 76px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}
 
.recruiter-workflow-client-input-form-job-title-container {
  flex: 0 0 auto;
  width: 49%;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-workflow-client-input-form-job-title-text {
  color: #18191c;
  width: 100%;
  height: 24px;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}
 
.recruiter-workflow-client-input-form-job-title-input1 {
  width: 100%;
  height: 48px;
  border-color: #A7A7A7;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-company-name-container {
  flex: 0 0 auto;
  width: 49%;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-workflow-client-input-form-company-name-text {
  color: #18191c;
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: flex-start;
}
 
.recruiter-workflow-client-input-form-company-name-input {
  width: 100%;
  height: 48px;
  border-color: #A7A7A7;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-skills-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recruiter-workflow-client-input-form-skill-text-container {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.recruiter-workflow-client-input-form-skill-text {
  color: rgb(24, 25, 28);
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
}
 
.recruiter-workflow-client-input-form-skill-star-text {
  fill: #F10400;
  color: #F10400;
  width: 40px;
  height: 40px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
 
.recruiter-workflow-client-input-form-job-title-input2 {
  width: 100%;
  height: 48px;
  border-color: #A7A7A7;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-interview-process-container {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding-right: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
 
.recruiter-workflow-client-input-form-interview-process-text {
  height: 36px;
  display: flex;
  font-size: 24px;
  font-style: normal;
  align-items: center;
  font-weight: 500;
}
 
.recruiter-workflow-client-input-form-different-stages-container {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-unit);
  overflow-x: hidden;
  overflow-y: scroll;
  border-color: rgba(120, 120, 120, 0.4);
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
 
.recruiter-workflow-client-input-form-different-stage-container {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: space-between;
}
 
.recruiter-workflow-client-input-form-date-input1 {
  fill: #18191C;
  color: #18191C;
  width: 22%;
  height: 100%;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(120, 120, 120, 0.4);
  padding-left: var(--dl-layout-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-date-input2 {
  fill: #18191C;
  color: #18191C;
  width: 22%;
  height: 100%;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(120, 120, 120, 0.4);
  padding-left: var(--dl-layout-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-date-input3 {
  fill: #18191C;
  color: #18191C;
  width: 22%;
  height: 100%;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(120, 120, 120, 0.4);
  padding-left: var(--dl-layout-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-date-input4 {
  fill: #18191C;
  color: #18191C;
  width: 22%;
  height: 100%;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(120, 120, 120, 0.4);
  padding-left: var(--dl-layout-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-remove-icon {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 32px;
  height: 32px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  justify-content: center;
  background-color: #F10400;
}
 
.recruiter-workflow-client-input-form-remove-icon:hover {
  cursor: pointer;
  transform: scale(0.90);
}
 
.recruiter-workflow-client-input-form-remove-icon:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.recruiter-workflow-client-input-form-add-section-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.recruiter-workflow-client-input-form-add-section-text {
  fill: #05356C;
  color: rgb(5, 53, 108);
  width: auto;
  height: 24px;
  display: flex;
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 600;
  border-width: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
 
.recruiter-workflow-client-input-form-add-section-text:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.recruiter-workflow-client-input-form-add-section-text:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.recruiter-workflow-client-input-form-remove-section-text {
  fill: #F10400;
  color: #F10400;
  width: auto;
  height: 24px;
  display: none;
  font-size: 20px;
  align-self: flex-end;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 600;
  border-width: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
 
.recruiter-workflow-client-input-form-remove-section-text:hover {
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.recruiter-workflow-client-input-form-remove-section-text:active {
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.recruiter-workflow-client-input-form-submit-cancel-buttons-container {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  justify-content: flex-end;
}
 
.recruiter-workflow-client-input-form-cancel-button {
  width: 86px;
  height: 40px;
  transition: 0.3s;
  border-color: #05356C;
  background-color: #FFFFFF;
}
 
.recruiter-workflow-client-input-form-cancel-button:hover {
  color: #FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  transition: all 0.7s;
}
 
.recruiter-workflow-client-input-form-cancel-button:active {
  color: #FFFFFF;
  transform: scale(1.05);
  transition: all 0.7s;
}
 
.recruiter-workflow-client-input-form-cancel-text {
  color: #05356c;
}
 
.recruiter-workflow-client-input-form-submit-button {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 86px;
  height: 40px;
  transition: 0.3s;
  border-width: 0px;
  background-color: #05356C;
}
 
.recruiter-workflow-client-input-form-submit-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.recruiter-workflow-client-input-form-submit-button:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.recruiter-workflow-client-input-form-fragment10 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text11 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment11 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text12 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment12 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text13 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment13 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text14 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment14 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text15 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment15 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text16 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment16 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text17 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment17 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text18 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment18 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text19 {
  display: inline-block;
}
 
.recruiter-workflow-client-input-form-fragment19 {
  display: contents;
}
 
.recruiter-workflow-client-input-form-text20 {
  display: inline-block;
}
 

 

 
@media(max-width: 1200px) {
  .recruiter-workflow-client-input-form-text10 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
  }
  .recruiter-workflow-client-input-form-container2 {
    height: auto;
  }
  .recruiter-workflow-client-input-form-job-title-company-name-container {
    width: 100%;
    justify-content: space-between;
  }
  .recruiter-workflow-client-input-form-job-title-container {
    width: 49%;
  }
  .recruiter-workflow-client-input-form-job-title-text {
    color: rgb(24, 25, 28);
  }
  .recruiter-workflow-client-input-form-job-title-input1 {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-company-name-container {
    width: 49%;
  }
  .recruiter-workflow-client-input-form-company-name-text {
    color: rgb(24, 25, 28);
  }
  .recruiter-workflow-client-input-form-company-name-input {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-skill-text {
    color: rgb(24, 25, 28);
  }
  .recruiter-workflow-client-input-form-job-title-input2 {
    width: 100%;
    height: 133px;
  }
  .recruiter-workflow-client-input-form-interview-process-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  }
  .recruiter-workflow-client-input-form-different-stages-container {
    padding: 0px;
    border-width: 0px;
  }
  .recruiter-workflow-client-input-form-different-stage-container {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-add-section-text {
    color: rgb(5, 53, 108);
    width: auto;
    height: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background-color: transparent;
  }
  .recruiter-workflow-client-input-form-remove-section-text {
    fill: #05356C;
    color: #05356C;
    width: auto;
    height: 24px;
    align-self: flex-start;
    font-style: normal;
    text-align: justify;
    font-family: Inter;
    font-weight: 600;
    padding-left: 0px;
    padding-right: 0px;
  }
}
 
@media(max-width: 991px) {
  .recruiter-workflow-client-input-form-skill-text {
    font-size: 14px;
  }
  .recruiter-workflow-client-input-form-interview-process-container {
    padding: var(--dl-layout-space-unit);
  }
  .recruiter-workflow-client-input-form-interview-process-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
  }
  .recruiter-workflow-client-input-form-different-stages-container {
    height: 82px;
    padding: var(--dl-layout-space-unit);
  }
  .recruiter-workflow-client-input-form-date-input1 {
    font-size: 18px;
  }
  .recruiter-workflow-client-input-form-date-input2 {
    font-size: 18px;
  }
  .recruiter-workflow-client-input-form-date-input3 {
    font-size: 18px;
  }
  .recruiter-workflow-client-input-form-date-input4 {
    font-size: 18px;
  }
  .recruiter-workflow-client-input-form-remove-icon {
    width: 28px;
    height: 28px;
  }
  .recruiter-workflow-client-input-form-add-section-text {
    font-size: 18px;
  }
  .recruiter-workflow-client-input-form-submit-cancel-buttons-container {
    height: auto;
  }
  .recruiter-workflow-client-input-form-cancel-button {
    height: 36px;
    font-size: 14px;
  }
  .recruiter-workflow-client-input-form-submit-button {
    height: 36px;
    font-size: 14px;
  }
}
 
@media(max-width: 767px) {
  .recruiter-workflow-client-input-form-interview-process-container {
    padding: var(--dl-layout-space-halfunit);
  }
  .recruiter-workflow-client-input-form-different-stages-container {
    height: auto;
  }
  .recruiter-workflow-client-input-form-different-stage-container {
    height: 40px;
  }
  .recruiter-workflow-client-input-form-date-input1 {
    font-size: 16px;
  }
  .recruiter-workflow-client-input-form-date-input2 {
    font-size: 16px;
  }
  .recruiter-workflow-client-input-form-date-input3 {
    font-size: 16px;
  }
  .recruiter-workflow-client-input-form-date-input4 {
    font-size: 16px;
  }
  .recruiter-workflow-client-input-form-remove-icon {
    width: 24px;
    height: 24px;
    display: none;
  }
  .recruiter-workflow-client-input-form-remove-section-text {
    fill: #F10400;
    color: rgb(241, 4, 0);
    display: flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    background-color: transparent;
  }
  .recruiter-workflow-client-input-form-cancel-button {
    padding: 0px;
  }
  .recruiter-workflow-client-input-form-submit-button {
    padding: 0px;
  }
}
 
@media(max-width: 479px) {
  .recruiter-workflow-client-input-form-job-title-company-name-container {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .recruiter-workflow-client-input-form-job-title-container {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-job-title-text {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-job-title-input1 {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-company-name-container {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-company-name-text {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-company-name-input {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-skills-container {
    width: 100%;
    height: auto;
  }
  .recruiter-workflow-client-input-form-skill-text {
    width: auto;
  }
  .recruiter-workflow-client-input-form-job-title-input2 {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-different-stages-container {
    height: 274px;
    padding: var(--dl-layout-space-halfunit);
  }
  .recruiter-workflow-client-input-form-different-stage-container {
    gap: 16px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  .recruiter-workflow-client-input-form-date-input1 {
    width: 100%;
    height: 48px;
  }
  .recruiter-workflow-client-input-form-date-input2 {
    width: 100%;
    height: 48px;
  }
  .recruiter-workflow-client-input-form-date-input3 {
    width: 100%;
    height: 48px;
  }
  .recruiter-workflow-client-input-form-date-input4 {
    width: 100%;
    height: 48px;
  }
  .recruiter-workflow-client-input-form-remove-icon {
    display: none;
  }
  .recruiter-workflow-client-input-form-add-section-text {
    width: auto;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
  }
  .recruiter-workflow-client-input-form-submit-cancel-buttons-container {
    width: 100%;
  }
  .recruiter-workflow-client-input-form-cancel-button {
    width: 70px;
    padding: 0px;
  }
  .recruiter-workflow-client-input-form-cancel-text {
    font-size: 14px;
  }
  .recruiter-workflow-client-input-form-submit-button {
    width: 70px;
  }
  .recruiter-workflow-client-input-form-submit-text {
    font-size: 14px;
  }
}
