:host { 
  display: contents; 
}
 
.flashyre-assessment-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.flashyre-assessment-assessment-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.flashyre-assessment-header-container {
  flex: 0 0 auto;
  width: 100%;
  height: 10%;
  display: flex;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  background-color: #FFFFFF;
}
 
.flashyre-assessment-logo {
  width: 350px;
  object-fit: cover;
}
 
.flashyre-assessment-timer {
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.flashyre-assessment-end-test-button {
  width: 250px;
  height: 55px;
  padding: 0px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 8px;
  background-color: #1F882B;
}
 
.flashyre-assessment-end-test-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: #B5E5BA;
}
 
.flashyre-assessment-end-test-button:active {
  transform: scale(0.90);
  background-color: #30B63F;
}
 
.flashyre-assessment-end-test-text {
  height: auto;
}
 
.flashyre-assessment-question-answer-container {
  gap: 24px;
  width: 100%;
  height: 580px;
  display: flex;
  margin-top: 100px;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
 
.flashyre-assessment-qas-container {
  flex: 0 0 auto;
  width: 1150px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: space-between;
  background-color: #FFFFFF;
}
 
.flashyre-assessment-section-ab {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 75px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.flashyre-assessment-section-a {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: #05356C;
}
 
.flashyre-assessment-section-a:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.flashyre-assessment-section-a:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.flashyre-assessment-section-a-text {
  width: 200px;
  height: 50px;
  display: flex;
  font-size: 24px;
  transform: rotate(-90deg);
  align-items: center;
  justify-content: center;
}
 
.flashyre-assessment-section-b {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: #D7DFE7;
}
 
.flashyre-assessment-section-b:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.flashyre-assessment-section-b:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.flashyre-assessment-section-b-text {
  width: 200px;
  height: 50px;
  display: flex;
  font-size: 24px;
  transform: rotate(-90deg);
  align-items: center;
  justify-content: center;
}
 
.flashyre-assessment-q-and-a {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.flashyre-assessment-question-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 515px;
  height: 548px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.flashyre-assessment-question-heading {
  align-self: center;
}
 
.flashyre-assessment-question {
  width: 100%;
  height: 400px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: center;
  overflow-x: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #F4F4F4;
}
 
.flashyre-assessment-question-text {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  text-align: justify;
  align-items: flex-start;
  line-height: 30px;
  border-radius: var(--dl-radius-radius-radius8);
  overflow-wrap: break-all;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.flashyre-assessment-previous-next-container {
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
}
 
.flashyre-assessment-previous-button {
  width: 128px;
  align-self: stretch;
  transition: 0.3s;
  padding-top: 0px;
  border-color: #CEE0F5;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
 
.flashyre-assessment-previous-button:hover {
  color: FFFFFF;
  cursor: pointer;
  transform: scale(0.90);
  background-color: A5B6CA;
}
 
.flashyre-assessment-previous-button:active {
  color: FFFFFF;
  transform: scale(1.05);
  transition: all 0.7s;
  background-color: 0A4992;
}
 
.flashyre-assessment-previous-text {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 150px;
  height: 100%;
  display: flex;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 600;
  border-width: 0px;
  justify-content: center;
  background-color: #05356C;
}
 
.flashyre-assessment-previous-text:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.flashyre-assessment-previous-text:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.flashyre-assessment-next-button {
  fill: #FFFFFF;
  color: #FFFFFF;
  width: 160px;
  align-self: stretch;
  transition: 0.3s;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: #05356C;
}
 
.flashyre-assessment-next-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.8s;
  background-color: 0A4992;
}
 
.flashyre-assessment-next-button:active {
  transform: scale(0.90);
  background-color: 022954;
}
 
.flashyre-assessment-options-container {
  gap: 24px;
  flex: 0 0 auto;
  width: 515px;
  height: 548px;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
 
.flashyre-assessment-options-heading {
  align-self: center;
}
 
.flashyre-assessment-opitons {
  gap: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  overflow: scroll;
  overflow-x: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #F4F4F4;
}
 
.flashyre-assessment-option1 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  word-break: break-all;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #FFFFFF;
}
 
.flashyre-assessment-option1-heckbox {
  width: 24px;
  height: 24px;
}
 
.flashyre-assessment-option1-text {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.flashyre-assessment-option2 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  word-break: break-all;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #FFFFFF;
}
 
.flashyre-assessment-option2-checkbox {
  width: 24px;
  height: 24px;
}
 
.flashyre-assessment-option2-text {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.flashyre-assessment-option3 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  word-break: break-all;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #FFFFFF;
}
 
.flashyre-assessment-option3-checkbox {
  width: 24px;
  height: 24px;
}
 
.flashyre-assessment-option3-text {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.flashyre-assessment-option4 {
  gap: 16px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  word-break: break-all;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #FFFFFF;
}
 
.flashyre-assessment-option4-checkbox {
  width: 24px;
  height: 24px;
  border-radius: var(--dl-radius-radius-round);
}
 
.flashyre-assessment-option4-text {
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
 
.flashyre-assessment-que-num-video {
  width: 275px;
  height: 580px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.flashyre-assessment-video-container {
  width: 275px;
  height: 275px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.flashyre-assessment-question-numbers {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 290px;
  display: grid;
  overflow: scroll;
  position: absolute;
  align-self: center;
  overflow-x: hidden;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 8px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #FFFFFF;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.flashyre-assessment-text10 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text11 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #1F882B;
}
 
.flashyre-assessment-text12 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text13 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text14 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text15 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text16 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text17 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text18 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text19 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text20 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text21 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text22 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text23 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text24 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-text25 {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: #ACACAD;
}
 
.flashyre-assessment-fragment10 {
  display: contents;
}
 
.flashyre-assessment-text26 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment11 {
  display: contents;
}
 
.flashyre-assessment-text27 {
  display: inline-block;
  font-size: 20px;
}
 
.flashyre-assessment-fragment12 {
  display: contents;
}
 
.flashyre-assessment-text30 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-style: normal;
  font-weight: 500;
}
 
.flashyre-assessment-fragment13 {
  display: contents;
}
 
.flashyre-assessment-text31 {
  display: inline-block;
}
 
.flashyre-assessment-fragment14 {
  display: contents;
}
 
.flashyre-assessment-text32 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment15 {
  display: contents;
}
 
.flashyre-assessment-text33 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment16 {
  display: contents;
}
 
.flashyre-assessment-text34 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment17 {
  display: contents;
}
 
.flashyre-assessment-text35 {
  display: inline-block;
}
 
.flashyre-assessment-fragment18 {
  display: contents;
}
 
.flashyre-assessment-text36 {
  display: inline-block;
  font-size: 20px;
}
 
.flashyre-assessment-fragment19 {
  display: contents;
}
 
.flashyre-assessment-text39 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment20 {
  display: contents;
}
 
.flashyre-assessment-text40 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment21 {
  display: contents;
}
 
.flashyre-assessment-text41 {
  display: inline-block;
  font-size: 20px;
}
 
.flashyre-assessment-fragment22 {
  display: contents;
}
 
.flashyre-assessment-text49 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment23 {
  display: contents;
}
 
.flashyre-assessment-text50 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment24 {
  display: contents;
}
 
.flashyre-assessment-text51 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment25 {
  display: contents;
}
 
.flashyre-assessment-text52 {
  display: inline-block;
  font-size: 20px;
}
 
.flashyre-assessment-fragment26 {
  display: contents;
}
 
.flashyre-assessment-text55 {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
 
.flashyre-assessment-fragment27 {
  display: contents;
}
 
.flashyre-assessment-text56 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment28 {
  display: contents;
}
 
.flashyre-assessment-text57 {
  color: #f10400;
  display: inline-block;
  font-size: 48px;
}
 
.flashyre-assessment-fragment29 {
  display: contents;
}
 
.flashyre-assessment-text58 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment30 {
  display: contents;
}
 
.flashyre-assessment-text59 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment31 {
  display: contents;
}
 
.flashyre-assessment-text60 {
  display: inline-block;
  font-size: 20px;
}
 
.flashyre-assessment-fragment32 {
  display: contents;
}
 
.flashyre-assessment-text63 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment33 {
  display: contents;
}
 
.flashyre-assessment-text64 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 24px;
}
 
.flashyre-assessment-fragment34 {
  display: contents;
}
 
.flashyre-assessment-text65 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment35 {
  display: contents;
}
 
.flashyre-assessment-text66 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment36 {
  display: contents;
}
 
.flashyre-assessment-text67 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment37 {
  display: contents;
}
 
.flashyre-assessment-text68 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.flashyre-assessment-fragment38 {
  display: contents;
}
 
.flashyre-assessment-text69 {
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
}
 
@media(max-width: 1200px) {
  .flashyre-assessment-header-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .flashyre-assessment-logo {
    width: 255px;
    height: 40px;
  }
  .flashyre-assessment-timer {
    height: auto;
  }
  .flashyre-assessment-end-test-button {
    width: 200px;
    height: 40px;
    padding: 0px;
  }
  .flashyre-assessment-question-answer-container {
    gap: 16px;
    width: 100%;
  }
  .flashyre-assessment-qas-container {
    gap: 16px;
    width: 950px;
    justify-content: space-between;
  }
  .flashyre-assessment-section-ab {
    width: 60px;
  }
  .flashyre-assessment-question-container {
    width: 412px;
  }
  .flashyre-assessment-question {
    padding: var(--dl-space-space-unit);
    z-index: 998;
  }
  .flashyre-assessment-previous-button {
    width: 120px;
  }
  .flashyre-assessment-previous-text {
    width: 120px;
    padding: 0px;
  }
  .flashyre-assessment-next-button {
    width: 120px;
  }
  .flashyre-assessment-options-container {
    width: 412px;
  }
  .flashyre-assessment-que-num-video {
    width: 200px;
    position: relative;
  }
  .flashyre-assessment-video-container {
    width: 200px;
    height: 200px;
  }
  .flashyre-assessment-question-numbers {
    left: 0px;
    bottom: 0px;
    position: absolute;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flashyre-assessment-text46 {
    font-size: 20px;
  }
  .flashyre-assessment-text57 {
    color: rgb(241, 4, 0);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
  }
  .flashyre-assessment-text66 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-style: inherit;
    font-weight: 500;
  }
}
 
@media(max-width: 991px) {
  .flashyre-assessment-container {
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .flashyre-assessment-assessment-container {
    width: auto;
    height: 566px;
    margin-top: 0px;
    justify-content: flex-start;
  }
  .flashyre-assessment-header-container {
    top: 0px;
    left: 0px;
    width: 990px;
    height: 8%;
    z-index: 1000;
    padding-left: 10px;
    padding-right: 10px;
  }
  .flashyre-assessment-question-answer-container {
    width: 100%;
    height: 565px;
    margin: 0px;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
  }
  .flashyre-assessment-qas-container {
    gap: 16;
    width: auto;
    justify-content: flex-start;
  }
  .flashyre-assessment-section-ab {
    width: 40px;
    height: 500px;
  }
  .flashyre-assessment-section-a {
    width: 100%;
  }
  .flashyre-assessment-section-a-text {
    height: auto;
  }
  .flashyre-assessment-section-b-text {
    height: auto;
  }
  .flashyre-assessment-question-container {
    width: 300px;
    height: 500px;
    align-self: center;
    justify-content: flex-start;
  }
  .flashyre-assessment-question {
    width: 100%;
    height: 491px;
    padding: var(--dl-space-space-halfunit);
    z-index: 999;
  }
  .flashyre-assessment-question-text {
    width: 395px;
    height: 100%;
  }
  .flashyre-assessment-previous-next-container {
    height: 40px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .flashyre-assessment-previous-button {
    width: auto;
    height: 40px;
  }
  .flashyre-assessment-previous-text {
    width: 100px;
  }
  .flashyre-assessment-next-button {
    width: 100px;
    height: 40px;
  }
  .flashyre-assessment-next-text {
    font-size: 14px;
  }
  .flashyre-assessment-options-container {
    width: 300px;
    height: 500px;
    align-self: center;
  }
  .flashyre-assessment-opitons {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .flashyre-assessment-que-num-video {
    gap: 8px;
    width: 168px;
    height: 100%;
    position: relative;
    align-items: center;
  }
  .flashyre-assessment-video-container {
    width: 100%;
  }
  .flashyre-assessment-question-numbers {
    gap: 8px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 245px;
    display: grid;
    padding: var(--dl-space-space-halfunit);
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flashyre-assessment-text10 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text11 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text12 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text13 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text14 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text15 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text16 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text17 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text18 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text19 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text20 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text21 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text22 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text23 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text24 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text25 {
    width: 40px;
    height: 40px;
  }
  .flashyre-assessment-text30 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 500;
  }
  .flashyre-assessment-text55 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
 
@media(max-width: 767px) {
  .flashyre-assessment-container {
    height: 1058px;
    margin-top: 0px;
    justify-content: flex-start;
  }
  .flashyre-assessment-assessment-container {
    width: 100%;
    height: 760px;
  }
  .flashyre-assessment-header-container {
    width: 100%;
  }
  .flashyre-assessment-question-answer-container {
    width: 100%;
    height: 766px;
    align-self: center;
    margin-top: 100px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .flashyre-assessment-qas-container {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .flashyre-assessment-section-ab {
    display: none;
    flex-direction: column;
  }
  .flashyre-assessment-section-a {
    height: 100%;
  }
  .flashyre-assessment-q-and-a {
    width: 100%;
    flex-direction: column;
  }
  .flashyre-assessment-question-container {
    width: 100%;
    height: 331px;
    align-self: flex-start;
  }
  .flashyre-assessment-question-text {
    width: 100%;
  }
  .flashyre-assessment-previous-next-container {
    width: 100%;
    height: 40px;
  }
  .flashyre-assessment-previous-button {
    width: 100%;
    height: 40px;
  }
  .flashyre-assessment-next-button {
    height: 40px;
  }
  .flashyre-assessment-options-container {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
  .flashyre-assessment-opitons {
    width: 100%;
    height: 270px;
  }
  .flashyre-assessment-que-num-video {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .flashyre-assessment-previous-next-container {
    width: auto;
  }
  .flashyre-assessment-previous-button {
    width: 97px;
  }
  .flashyre-assessment-previous-text {
    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: transparent;
  }
  .flashyre-assessment-next-button {
    width: 110px;
  }
}
