<div class="flashyre-assessment-container">
  <div
    id="assessment-container"
    class="flashyre-assessment-assessment-container"
  >
    <div id="header-container" class="flashyre-assessment-header-container">
      <img
        id="Logo"
        [attr.alt]="imageAlt3"
        [attr.src]="imageSrc3"
        class="flashyre-assessment-logo"
      />
      <span id="timer" class="flashyre-assessment-timer">
        <ng-container>
          <ng-template #defaultText12>
            <div class="flashyre-assessment-fragment28">
              <span class="flashyre-assessment-text57">00:00</span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="text12 ? text12 : defaultText12"
          ></ng-container>
        </ng-container>
      </span>
      <button
        id="end-test-button"
        type="button"
        class="flashyre-assessment-end-test-button button"
      >
        <span id="end-test-text" class="flashyre-assessment-end-test-text">
          <ng-container>
            <ng-template #defaultButton6>
              <div class="flashyre-assessment-fragment35">
                <span class="flashyre-assessment-text66">End Test</span>
              </div>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="button6 ? button6 : defaultButton6"
            ></ng-container>
          </ng-container>
        </span>
      </button>
    </div>
    <div
      id="question-answer-container"
      class="flashyre-assessment-question-answer-container"
    >
      <div id="q-a-s-container" class="flashyre-assessment-qas-container">
        <div id="section-a-b" class="flashyre-assessment-section-ab">
          <div id="section-a" class="flashyre-assessment-section-a">
            <span
              id="section-a-text"
              class="flashyre-assessment-section-a-text"
            >
              <ng-container>
                <ng-template #defaultText5>
                  <div class="flashyre-assessment-fragment14">
                    <span class="flashyre-assessment-text32">Section A</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text5 ? text5 : defaultText5"
                ></ng-container>
              </ng-container>
            </span>
          </div>
          <div id="section-b" class="flashyre-assessment-section-b">
            <span
              id="section-b-text"
              class="flashyre-assessment-section-b-text"
            >
              <ng-container>
                <ng-template #defaultText52>
                  <div class="flashyre-assessment-fragment19">
                    <span class="flashyre-assessment-text39">Section B</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text52 ? text52 : defaultText52"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </div>
        <div id="q-and-a" class="flashyre-assessment-q-and-a">
          <div
            id="question-container"
            class="flashyre-assessment-question-container"
          >
            <h1
              id="question-heading"
              class="flashyre-assessment-question-heading"
            >
              <ng-container>
                <ng-template #defaultHeading>
                  <div class="flashyre-assessment-fragment13">
                    <span class="flashyre-assessment-text31">Question</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="heading ? heading : defaultHeading"
                ></ng-container>
              </ng-container>
            </h1>
            <div id="question" class="flashyre-assessment-question">
              <span
                id="question-text"
                class="flashyre-assessment-question-text"
              >
                <ng-container>
                  <ng-template #defaultText13>
                    <div class="flashyre-assessment-fragment21">
                      <span class="flashyre-assessment-text41">
                        <span>
                          1. What happens when no argument is happens when no
                          argument is supplied to reset() functi
                        </span>
                        <br />
                        <span>India</span>
                        <span>
                          ength of its &apos;Made in India&apos; initiative,
                          marking a significant milestone in the nation&apos;s
                          defence sector. In a landmark move, India has
                          confirmed a deal to export Brahmos missiles, valued at
                          approximately Rs 3800 crore (USD 450 million), to
                          Indonesia, News18 reported. This agreement highlights
                          India&apos;s growing self-reliance and capabilities in
                          defence manufacturing.India has once again
                          demonstrated the strength of its &apos;Made in
                          India&apos; initiative, marking a significant
                          milestone in the nation&apos;s defence sector. In a
                          landmark move, India has confirmed a deal to export
                          Brahmos missiles, valued at approximately Rs 3800
                          crore (USD 450 million), to Indonesia, News18
                          reported. This agreement highlights India&apos;s
                          growing self-reliance and capabilities in defence
                          manufacturing.India has once again demonstrated the
                          strength of its &apos;Made in India&apos; initiative,
                          marking a significant milestone in the nation&apos;s
                          defence sector. In a landmark move, India has
                          confirmed a deal to export Brahmos missiles, valued at
                          approximately Rs 3800 crore (USD 450 million), to
                          Indonesia, News18 reported. This agreement highlights
                          India&apos;s growing self-reliance and capabilities in
                          defence manufacturing.vIndia has once again
                          demonstrated the strength of its &apos;Made in
                          India&apos; initiative, marking a significant
                          milestone in the nation&apos;s defence sector. In a
                          landmark move, India has confirmed a deal to export
                          Brahmos missiles, valued at approximately Rs 3800
                          crore (USD 450 million), to Indonesia, News18
                          reported. This agreement highlights India&apos;s
                          growing self-reliance and capabilities in defence
                          manufacturing.vvvIndia has once again demonstrated the
                          strength of its &apos;Made in India&apos; initiative,
                          marking a significant milestone in the nation&apos;s
                          defence sector. In a landmark move, India has
                          confirmed a deal to export Brahmos missiles, valued at
                          approximately Rs 3800 crore (USD 450 million), to
                          Indonesia, News18 reported. This agreement highlights
                          India&apos;s growing self-reliance and capabilities in
                          defence manufacturing.India has once again
                          demonstrated the strength of its &apos;Made in
                          India&apos; initiative, marking a significant
                          milestone in the nation&apos;s defence sector. In a
                          landmark move, India has confirmed a deal to export
                          Brahmos missiles, valued at approximately Rs 3800
                          crore (USD 450 million), to Indonesia, News18
                          reported. This agreement highlights India&apos;s
                          growing self-reliance and capabilities in defence
                          manufacturing.India has once again demonstrated the
                          strength of its &apos;Made in India&apos; initiative,
                          marking a significant milestone in the nation&apos;s
                          defence sector. In a landmark move, India has
                          confirmed a deal to export Brahmos missiles, valued at
                          approximately Rs 3800 crore (USD 450 million), to
                          Indonesia, News18 reported. This agreement highlights
                          India&apos;s growing self-reliance and capabilities in
                          defence manufacturing.India has once again
                          demonstrated the strength of its &apos;Made in
                          India&apos; initiative, marking a significant
                          milestone in the nation&apos;s defence sector. In a
                          landmark move, India has confirmed a deal to export
                          Brahmos missiles, valued at approximately Rs 3800
                          crore (USD 450 million), to Indonesia, News18
                          reported. This agreement highlights India&apos;s
                          growing self-reliance and capabilities in defence
                          manufacturing.
                        </span>
                        <br class="flashyre-assessment-text46" />
                        <br />
                        <br />
                      </span>
                    </div>
                  </ng-template>
                  <ng-container
                    *ngTemplateOutlet="text13 ? text13 : defaultText13"
                  ></ng-container>
                </ng-container>
              </span>
            </div>
            <div
              id="previous-next-container"
              class="flashyre-assessment-previous-next-container"
            >
              <button
                id="previous-button-container"
                type="button"
                class="flashyre-assessment-previous-button button"
              >
                <span
                  id="previous-button"
                  class="flashyre-assessment-previous-text button"
                >
                  <ng-container>
                    <ng-template #defaultText>
                      <div class="flashyre-assessment-fragment26">
                        <span class="flashyre-assessment-text55">
                          &lt;- Previous
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text ? text : defaultText"
                    ></ng-container>
                  </ng-container>
                </span>
              </button>
              <button
                id="next-button"
                type="button"
                class="flashyre-assessment-next-button button"
              >
                <span id="next-text" class="flashyre-assessment-next-text">
                  <ng-container>
                    <ng-template #defaultButton1>
                      <div class="flashyre-assessment-fragment12">
                        <span class="flashyre-assessment-text30">
                          Next -&gt;
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="button1 ? button1 : defaultButton1"
                    ></ng-container>
                  </ng-container>
                </span>
              </button>
            </div>
          </div>
          <div
            id="options-container"
            class="flashyre-assessment-options-container"
          >
            <h1
              id="options-heading"
              class="flashyre-assessment-options-heading"
            >
              <ng-container>
                <ng-template #defaultHeading1>
                  <div class="flashyre-assessment-fragment17">
                    <span class="flashyre-assessment-text35">Options</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="heading1 ? heading1 : defaultHeading1"
                ></ng-container>
              </ng-container>
            </h1>
            <div id="options" class="flashyre-assessment-opitons">
              <div id="option1" class="flashyre-assessment-option1">
                <input
                  type="checkbox"
                  id="option1-checkbox"
                  [attr.checked]="false"
                  class="flashyre-assessment-option1-heckbox"
                />
                <span
                  id="option1-text"
                  class="flashyre-assessment-option1-text"
                >
                  <ng-container>
                    <ng-template #defaultText14>
                      <div class="flashyre-assessment-fragment31">
                        <span class="flashyre-assessment-text60">
                          <span>All bits are set to 1 in a bitset </span>
                          <br />
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text14 ? text14 : defaultText14"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div id="option2" class="flashyre-assessment-option2">
                <input
                  type="checkbox"
                  id="option2-checkbox"
                  [attr.checked]="false"
                  class="flashyre-assessment-option2-checkbox"
                />
                <span
                  id="option2-text"
                  class="flashyre-assessment-option2-text"
                >
                  <ng-container>
                    <ng-template #defaultText144>
                      <div class="flashyre-assessment-fragment18">
                        <span class="flashyre-assessment-text36">
                          <span>All bits are set to 1 in a bitset </span>
                          <br />
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text144 ? text144 : defaultText144"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div id="option3" class="flashyre-assessment-option3">
                <input
                  type="checkbox"
                  id="option3-checkbox"
                  [attr.checked]="false"
                  [attr.required]="false"
                  [attr.defaultChecked]="false"
                  class="flashyre-assessment-option3-checkbox"
                />
                <span
                  id="option3-text"
                  class="flashyre-assessment-option3-text"
                >
                  <ng-container>
                    <ng-template #defaultText1441>
                      <div class="flashyre-assessment-fragment11">
                        <span class="flashyre-assessment-text27">
                          <span>All bits are set to 1 in a bitset </span>
                          <br />
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text1441 ? text1441 : defaultText1441"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
              <div id="option4" class="flashyre-assessment-option4">
                <input
                  type="checkbox"
                  id="option4-checkbox"
                  [attr.checked]="false"
                  class="flashyre-assessment-option4-checkbox"
                />
                <span
                  id="option4-text"
                  class="flashyre-assessment-option4-text"
                >
                  <ng-container>
                    <ng-template #defaultText14411>
                      <div class="flashyre-assessment-fragment25">
                        <span class="flashyre-assessment-text52">
                          <span>All bits are set to 1 in a bitset</span>
                          <br />
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="text14411 ? text14411 : defaultText14411"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="que-num-video" class="flashyre-assessment-que-num-video">
        <div
          id="video-container"
          class="flashyre-assessment-video-container"
        ></div>
        <div id="question-numbers" class="flashyre-assessment-question-numbers">
          <span class="flashyre-assessment-text10">
            <ng-container>
              <ng-template #defaultText9>
                <div class="flashyre-assessment-fragment38">
                  <span class="flashyre-assessment-text69">1</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text9 ? text9 : defaultText9"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text11">
            <ng-container>
              <ng-template #defaultText915>
                <div class="flashyre-assessment-fragment29">
                  <span class="flashyre-assessment-text58">2</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text915 ? text915 : defaultText915"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text12">
            <ng-container>
              <ng-template #defaultText9151>
                <div class="flashyre-assessment-fragment36">
                  <span class="flashyre-assessment-text67">3</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text9151 ? text9151 : defaultText9151"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text13">
            <ng-container>
              <ng-template #defaultText914>
                <div class="flashyre-assessment-fragment34">
                  <span class="flashyre-assessment-text65">4</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text914 ? text914 : defaultText914"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text14">
            <ng-container>
              <ng-template #defaultText913>
                <div class="flashyre-assessment-fragment27">
                  <span class="flashyre-assessment-text56">5</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text913 ? text913 : defaultText913"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text15">
            <ng-container>
              <ng-template #defaultText912>
                <div class="flashyre-assessment-fragment10">
                  <span class="flashyre-assessment-text26">6</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text912 ? text912 : defaultText912"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text16">
            <ng-container>
              <ng-template #defaultText911>
                <div class="flashyre-assessment-fragment37">
                  <span class="flashyre-assessment-text68">7</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text911 ? text911 : defaultText911"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text17">
            <ng-container>
              <ng-template #defaultText910>
                <div class="flashyre-assessment-fragment30">
                  <span class="flashyre-assessment-text59">8</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text910 ? text910 : defaultText910"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text18">
            <ng-container>
              <ng-template #defaultText99>
                <div class="flashyre-assessment-fragment24">
                  <span class="flashyre-assessment-text51">9</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text99 ? text99 : defaultText99"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text19">
            <ng-container>
              <ng-template #defaultText98>
                <div class="flashyre-assessment-fragment32">
                  <span class="flashyre-assessment-text63">10</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text98 ? text98 : defaultText98"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text20">
            <ng-container>
              <ng-template #defaultText97>
                <div class="flashyre-assessment-fragment15">
                  <span class="flashyre-assessment-text33">11</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text97 ? text97 : defaultText97"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text21">
            <ng-container>
              <ng-template #defaultText96>
                <div class="flashyre-assessment-fragment23">
                  <span class="flashyre-assessment-text50">12</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text96 ? text96 : defaultText96"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text22">
            <ng-container>
              <ng-template #defaultText95>
                <div class="flashyre-assessment-fragment16">
                  <span class="flashyre-assessment-text34">13</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text95 ? text95 : defaultText95"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text23">
            <ng-container>
              <ng-template #defaultText94>
                <div class="flashyre-assessment-fragment20">
                  <span class="flashyre-assessment-text40">14</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text94 ? text94 : defaultText94"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text24">
            <ng-container>
              <ng-template #defaultText93>
                <div class="flashyre-assessment-fragment33">
                  <span class="flashyre-assessment-text64">15</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text93 ? text93 : defaultText93"
              ></ng-container>
            </ng-container>
          </span>
          <span class="flashyre-assessment-text25">
            <ng-container>
              <ng-template #defaultText92>
                <div class="flashyre-assessment-fragment22">
                  <span class="flashyre-assessment-text49">16</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text92 ? text92 : defaultText92"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
