:host { 
  display: contents; 
}
 
.date-selector1-date-selector {
  width: 672px;
  height: 76px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.date-selector1-container1 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.date-selector1-container2 {
  flex: 0 0 auto;
  width: 320px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.date-selector1-text1 {
  width: 320px;
  height: 24px;
}
 
.date-selector1-textinput {
  width: 320px;
  height: 48px;
  border-color: #A7A7A7;
}
 
.date-selector1-container3 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
 
.date-selector1-container4 {
  flex: 0 0 auto;
  width: 324px;
  height: 76px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.date-selector1-text2 {
  width: 324px;
  height: 24px;
}
 
.date-selector1-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.date-selector1-form {
  width: 324px;
  height: 48px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  padding-top: 0px;
  border-color: #A7A7A7;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.date-selector1-text3 {
  fill: #69737E;
  color: #69737E;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.date-selector1-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: auto;
  margin-top: -28px;
  border-color: var(--dl-color-theme-secondary1);
  border-width: 1px;
}
 
.date-selector1-fragment1 {
  display: contents;
}
 
.date-selector1-text4 {
  display: inline-block;
}
 
.date-selector1-fragment2 {
  display: contents;
}
 
.date-selector1-text5 {
  display: inline-block;
}
 
.date-selector1-fragment3 {
  display: contents;
}
 
.date-selector1-text6 {
  display: inline-block;
}
