:host { 
  display: contents; 
}
 
.profile-education-page-duplicate-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.profile-education-page-duplicate-container2 {
  flex: 0 0 auto;
  width: 1440px;
  height: 1020px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F4F4F4;
}
 
.profile-education-page-duplicate-container3 {
  gap: 24px;
  flex: 0 0 auto;
  width: 1440px;
  height: 704px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
 
.profile-education-page-duplicate-fragment10 {
  display: contents;
}
 
.profile-education-page-duplicate-text10 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment11 {
  display: contents;
}
 
.profile-education-page-duplicate-text11 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment12 {
  display: contents;
}
 
.profile-education-page-duplicate-text12 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment13 {
  display: contents;
}
 
.profile-education-page-duplicate-text13 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment14 {
  display: contents;
}
 
.profile-education-page-duplicate-text14 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment15 {
  display: contents;
}
 
.profile-education-page-duplicate-text15 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment16 {
  display: contents;
}
 
.profile-education-page-duplicate-text16 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment17 {
  display: contents;
}
 
.profile-education-page-duplicate-text17 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment18 {
  display: contents;
}
 
.profile-education-page-duplicate-text18 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment19 {
  display: contents;
}
 
.profile-education-page-duplicate-text19 {
  display: inline-block;
}
 
.profile-education-page-duplicate-container4 {
  gap: 16px;
  flex: 0 0 auto;
  width: 720px;
  height: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.profile-education-page-duplicate-fragment20 {
  display: contents;
}
 
.profile-education-page-duplicate-text20 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment21 {
  display: contents;
}
 
.profile-education-page-duplicate-text21 {
  color: #05356c;
  display: inline-block;
  font-weight: 600;
}
 
.profile-education-page-duplicate-fragment22 {
  display: contents;
}
 
.profile-education-page-duplicate-text22 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment23 {
  display: contents;
}
 
.profile-education-page-duplicate-text23 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment24 {
  display: contents;
}
 
.profile-education-page-duplicate-text26 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment25 {
  display: contents;
}
 
.profile-education-page-duplicate-text27 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment26 {
  display: contents;
}
 
.profile-education-page-duplicate-text28 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment27 {
  display: contents;
}
 
.profile-education-page-duplicate-text29 {
  color: #18191c;
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment28 {
  display: contents;
}
 
.profile-education-page-duplicate-text32 {
  color: rgb(24, 25, 28);
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment29 {
  display: contents;
}
 
.profile-education-page-duplicate-text35 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment30 {
  display: contents;
}
 
.profile-education-page-duplicate-text36 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment31 {
  display: contents;
}
 
.profile-education-page-duplicate-text37 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment32 {
  display: contents;
}
 
.profile-education-page-duplicate-text38 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment33 {
  display: contents;
}
 
.profile-education-page-duplicate-text39 {
  color: #05356c;
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment34 {
  display: contents;
}
 
.profile-education-page-duplicate-text42 {
  display: inline-block;
}
 
.profile-education-page-duplicate-fragment35 {
  display: contents;
}
 
.profile-education-page-duplicate-text43 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .profile-education-page-duplicate-container2 {
    width: 100%;
  }
  .profile-education-page-duplicate-container3 {
    width: 100%;
  }
  .profile-education-page-duplicate-text20 {
    color: #18191c;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
  .profile-education-page-duplicate-text21 {
    color: #05356c;
    font-weight: 600;
  }
}
 
@media(max-width: 767px) {
  .profile-education-page-duplicate-text13 {
    font-size: 14px;
    font-weight: 500;
  }
  .profile-education-page-duplicate-text14 {
    font-size: 10px;
  }
  .profile-education-page-duplicate-text15 {
    color: rgb(5, 53, 108);
    font-size: 14px;
  }
  .profile-education-page-duplicate-text16 {
    font-size: 10px;
  }
  .profile-education-page-duplicate-text17 {
    font-size: 10px;
  }
  .profile-education-page-duplicate-text18 {
    font-size: 10px;
  }
}
 
@media(max-width: 479px) {
  .profile-education-page-duplicate-container2 {
    height: 986px;
  }
  .profile-education-page-duplicate-container3 {
    width: 100%;
    height: auto;
  }
  .profile-education-page-duplicate-container4 {
    gap: 16px;
    width: 100%;
    height: 904px;
    position: relative;
    align-items: center;
  }
  .profile-education-page-duplicate-text39 {
    color: rgb(5, 53, 108);
  }
  .profile-education-page-duplicate-text40 {
    font-size: 14px;
  }
  .profile-education-page-duplicate-text42 {
    font-size: 14px;
  }
  .profile-education-page-duplicate-text43 {
    font-size: 14px;
  }
}
