<div class="profile-education-page-duplicate-container1">
  <div class="profile-education-page-duplicate-container2">
    <div class="profile-education-page-duplicate-container3">
      <navbar-for-candidate-view1
        rootClassName="navbar-for-candidate-view1root-class-name6"
      >
        <ng-template #text1>
          <div class="profile-education-page-duplicate-fragment10">
            <span class="profile-education-page-duplicate-text10">Profile</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="profile-education-page-duplicate-fragment11">
            <span class="profile-education-page-duplicate-text11">
              Preference
            </span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="profile-education-page-duplicate-fragment12">
            <span class="profile-education-page-duplicate-text12">
              Settings
            </span>
          </div>
        </ng-template>
        <ng-template #text4>
          <div class="profile-education-page-duplicate-fragment13">
            <span class="profile-education-page-duplicate-text13">
              Kathryn Murphy
            </span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="profile-education-page-duplicate-fragment14">
            <span class="profile-education-page-duplicate-text14">
              ✅ 90% Profile Completion
            </span>
          </div>
        </ng-template>
        <ng-template #text6>
          <div class="profile-education-page-duplicate-fragment15">
            <span class="profile-education-page-duplicate-text15">
              View &amp; edit profile
            </span>
          </div>
        </ng-template>
        <ng-template #text11>
          <div class="profile-education-page-duplicate-fragment16">
            <span class="profile-education-page-duplicate-text16">
              Preference
            </span>
          </div>
        </ng-template>
        <ng-template #text12>
          <div class="profile-education-page-duplicate-fragment17">
            <span class="profile-education-page-duplicate-text17">
              Settings
            </span>
          </div>
        </ng-template>
        <ng-template #text13>
          <div class="profile-education-page-duplicate-fragment18">
            <span class="profile-education-page-duplicate-text18">Logout</span>
          </div>
        </ng-template>
        <ng-template #text31>
          <div class="profile-education-page-duplicate-fragment19">
            <span class="profile-education-page-duplicate-text19">Logout</span>
          </div>
        </ng-template>
      </navbar-for-candidate-view1>
      <div class="profile-education-page-duplicate-container4">
        <progress-bar-step3
          rootClassName="progress-bar-step3root-class-name3"
        ></progress-bar-step3>
        <profile-education-component
          rootClassName="profile-education-componentroot-class-name2"
        >
          <ng-template #text>
            <div class="profile-education-page-duplicate-fragment20">
              <span class="profile-education-page-duplicate-text20">
                Education
              </span>
            </div>
          </ng-template>
          <ng-template #text1>
            <div class="profile-education-page-duplicate-fragment21">
              <span class="profile-education-page-duplicate-text21">
                + Add Education
              </span>
            </div>
          </ng-template>
          <ng-template #text2>
            <div class="profile-education-page-duplicate-fragment22">
              <span class="profile-education-page-duplicate-text22">
                Total Experience
              </span>
            </div>
          </ng-template>
          <ng-template #text111>
            <div class="profile-education-page-duplicate-fragment23">
              <span class="profile-education-page-duplicate-text23">
                <span>University/Institute</span>
                <br />
              </span>
            </div>
          </ng-template>
          <ng-template #text112>
            <div class="profile-education-page-duplicate-fragment24">
              <span class="profile-education-page-duplicate-text26">
                Education
              </span>
            </div>
          </ng-template>
          <ng-template #text313>
            <div class="profile-education-page-duplicate-fragment25">
              <span class="profile-education-page-duplicate-text27">
                Select
              </span>
            </div>
          </ng-template>
          <ng-template #text314>
            <div class="profile-education-page-duplicate-fragment26">
              <span class="profile-education-page-duplicate-text28">
                Select
              </span>
            </div>
          </ng-template>
          <ng-template #text1111>
            <div class="profile-education-page-duplicate-fragment27">
              <span class="profile-education-page-duplicate-text29">
                <span>Course</span>
                <br />
              </span>
            </div>
          </ng-template>
          <ng-template #text1112>
            <div class="profile-education-page-duplicate-fragment28">
              <span class="profile-education-page-duplicate-text32">
                <span>Specialization</span>
                <br />
              </span>
            </div>
          </ng-template>
          <ng-template #text3131>
            <div class="profile-education-page-duplicate-fragment29">
              <span class="profile-education-page-duplicate-text35">
                Select
              </span>
            </div>
          </ng-template>
          <ng-template #text3132>
            <div class="profile-education-page-duplicate-fragment30">
              <span class="profile-education-page-duplicate-text36">
                Select
              </span>
            </div>
          </ng-template>
          <ng-template #text3136>
            <div class="profile-education-page-duplicate-fragment31">
              <span class="profile-education-page-duplicate-text37">
                Select Year
              </span>
            </div>
          </ng-template>
          <ng-template #text3137>
            <div class="profile-education-page-duplicate-fragment32">
              <span class="profile-education-page-duplicate-text38">
                Select Month
              </span>
            </div>
          </ng-template>
        </profile-education-component>
        <profile-creation-navigation2
          rootClassName="profile-creation-navigation2root-class-name7"
        >
          <ng-template #text>
            <div class="profile-education-page-duplicate-fragment33">
              <span class="profile-education-page-duplicate-text39">
                <span class="profile-education-page-duplicate-text40">
                  &lt;- Previous
                </span>
                <br />
              </span>
            </div>
          </ng-template>
          <ng-template #button>
            <div class="profile-education-page-duplicate-fragment34">
              <span class="profile-education-page-duplicate-text42">Skip</span>
            </div>
          </ng-template>
          <ng-template #button1>
            <div class="profile-education-page-duplicate-fragment35">
              <span class="profile-education-page-duplicate-text43">
                Save &amp; Next -&gt;
              </span>
            </div>
          </ng-template>
        </profile-creation-navigation2>
      </div>
    </div>
  </div>
</div>
