<div id="signup-corporate" class="signup-corporate-container">
  <div id="main-container" class="signup-corporate-main-container">
    <signup-page-navbar
      rootClassName="signup-page-navbarroot-class-name"
    ></signup-page-navbar>
    <signup-corporate1 rootClassName="signup-corporate1root-class-name">
      <ng-template #text>
        <div class="signup-corporate-fragment10">
          <span class="signup-corporate-text10">First Name</span>
        </div>
      </ng-template>
      <ng-template #text1>
        <div class="signup-corporate-fragment11">
          <span class="signup-corporate-text11">Last Name</span>
        </div>
      </ng-template>
      <ng-template #text2>
        <div class="signup-corporate-fragment12">
          <span class="signup-corporate-text12">Show</span>
        </div>
      </ng-template>
      <ng-template #text5>
        <div class="signup-corporate-fragment13">
          <span class="signup-corporate-text13">Sign In</span>
        </div>
      </ng-template>
      <ng-template #text6>
        <div class="signup-corporate-fragment14">
          <span class="signup-corporate-text14">Already have an account?</span>
        </div>
      </ng-template>
      <ng-template #button>
        <div class="signup-corporate-fragment15">
          <span class="signup-corporate-text15">Sign Up</span>
        </div>
      </ng-template>
      <ng-template #text11>
        <div class="signup-corporate-fragment16">
          <span class="signup-corporate-text16">Email Id</span>
        </div>
      </ng-template>
      <ng-template #text12>
        <div class="signup-corporate-fragment17">
          <span class="signup-corporate-text17">Phone Number</span>
        </div>
      </ng-template>
      <ng-template #text13>
        <div class="signup-corporate-fragment18">
          <span class="signup-corporate-text18">Company Name</span>
        </div>
      </ng-template>
      <ng-template #text21>
        <div class="signup-corporate-fragment19">
          <span class="signup-corporate-text19">Show</span>
        </div>
      </ng-template>
      <ng-template #text71>
        <div class="signup-corporate-fragment20">
          <span class="signup-corporate-text20">
            Email or Phone Number already exists!
          </span>
        </div>
      </ng-template>
      <ng-template #heading>
        <div class="signup-corporate-fragment21">
          <span class="signup-corporate-text21">Welcome to Flashyre</span>
        </div>
      </ng-template>
      <ng-template #text111>
        <div class="signup-corporate-fragment22">
          <span class="signup-corporate-text22">Password</span>
        </div>
      </ng-template>
      <ng-template #text1111>
        <div class="signup-corporate-fragment23">
          <span class="signup-corporate-text23">Confirm Password</span>
        </div>
      </ng-template>
    </signup-corporate1>
  </div>
</div>
